@charset "utf-8";
.tit_label{
    display: block;
    width: 100%;
    height:100%;
    cursor: pointer;
}
.el-dialog{
    margin-top: 5% !important;
    max-height: 85%;
    max-width: 80%;
}
.el-dialog{
    overflow: scroll;
}
.el-dialog__title {
    color: #fff;
}
.basic_inf{
    border:1px solid  rgb(89, 89, 89);
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    overflow: hidden;
}
.basic_inf thead,.basic_inf thead th{
    background-color: rgba(195, 158, 250,0.2);
}
.basic_inf th,.basic_inf td{
    text-align: center;
}
a{
    text-decoration: none;
}
.cursor{
    cursor: pointer;
}
.c_black{
    color: #333;
}
.butt_sub{
    display: block;
    width: 60%;
    margin: 25px auto;
}
.bottom_wid {
    display: block;
    width: 30%;
    margin: 25px auto;
}
.customer .el-table td,.customer .el-table th{
    text-align: center;
}
.customer .el-table td .do_but{
    /*width: 90px;*/
    border-radius: 10px;
    outline: 0;
    border:none;
    color:#fff;
}
.vip_infor{
    margin-top: 10px;
}
.customer .el-tabs--card>.el-tabs__header{
    border-bottom:none;
    border-radius: 8px;
    background: #dedde1;
}
.vip_infor .el-tabs__nav{
    width: 100%;
    display: flex;
    border:none;
}
.vip_infor .el-tabs__nav .el-tabs__item{
    flex: 1;
    text-align: center;
    border-left:none;
    border-bottom:none;
}
.vip_infor .el-tabs__nav .el-tabs__item:hover{
    color:#fff;
}
.vip_infor .el-tabs__item.is-active {
    color: #fff;
    border-radius: 8px;
    background-image: -moz-linear-gradient( 90deg, rgb(67,191,243) 0%, rgb(59,236,194) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(67,191,243) 0%, rgb(59,236,194) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(67,191,243) 0%, rgb(59,236,194) 100%);
}

.app_li{
    background-color: #d5baf9 !important;
    text-indent: 1.5rem;
}
.t_input input{
    background-color: transparent !important;
    color: #000 !important;
    text-align: center;
}
*{
    font-size: 1.5rem;
}
img{
    vertical-align: middle;
}
.cus_center{
    padding: 5px 0;
    overflow: hidden;
}
.cus_seatch{
    width: 20%;
    margin-right: 20px;
}
.linr_four{
    padding-left: 12px;
    line-height: 40px;
}
.consume_list{

}
 .consume_list li{
    background: #fff;
    padding: 0.5rem 1.5rem;
    line-height: 40px;
    border-bottom: 1px  solid rgb(238, 238, 238);
}
 .consume_list li>span{
    display: inline-block;
 }
.g_name{
    width: 200px;
}
.p_wid{
    width:150px;
}
.in_wid{
    width:100px;
}
.do_blue {
    display: inline-block;
    border:1px solid rgb(129, 138, 248);
    color: rgb(129, 138, 248);
    line-height: 1.5;
    padding: 0 3px;
    border-radius: 5px;
    width: 60px;
    margin: 7px;
    text-align: center;
}
.cus_title{
    text-align: left;
    border-bottom:2px solid rgb(225, 225, 225);
    line-height: 41px;
    height: 41px;
}
.cus_title .el-breadcrumb {
    font-size: 1.5rem;
    line-height: 41px;
}
.purple {
  background-image: -moz-linear-gradient( -52deg, rgb(165,149,249) 0%, rgb(235,211,211) 100%);
  background-image: -webkit-linear-gradient( -52deg, rgb(165,149,249) 0%, rgb(235,211,211) 100%);
  background-image: -ms-linear-gradient( -52deg, rgb(165,149,249) 0%, rgb(235,211,211) 100%);
  box-shadow: 1px 1.732px 6px 0px rgba(65, 77, 110, 0.39);
}
.und_line input{
    border-radius: 0;
    border:none;
    border-bottom: 1px solid #ddd;
}
/*另一渐变*/
.other_back{
    background-image: -moz-linear-gradient(90deg, rgb(237, 230, 248) 0%, rgb(207, 212, 250) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(237, 230, 248) 0%, rgb(207, 212, 250) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(237, 230, 248) 0%, rgb(207, 212, 250) 100%);
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
}
.blue_c{
    color:#409EFF;
}
.black_c{
    color:#333 !important;
}
.green_c{
    color:#1cc9b5;
}
.mar_hun{
    margin-right: 100px;
}
.customer{
    padding: 10px 15px 0;
}
.posi_rela{
    position: relative;
}
.goods_edit {
    background: #fff;
    overflow: visible;
}
.goods_edit>li{
    padding: 0.5rem 1.5rem;
    line-height: 40px;
}
.goods_edit li .list_left{
    vertical-align: top;
    width: 25%;
    min-width: 80px;
    display: inline-block;
}
.goods_edit li .list_right{
    width: 65%;
    display: inline-block;
}
.goods_edit li .list_right .el-radio {
    margin-left: 0;
     margin-right: 20px; 
}
.el-dialog__header {
    line-height: 54px;
    padding: 0;
    color:#fff;
      background-image: -moz-linear-gradient(-52deg, rgb(67, 191, 243) 0%, rgb(59, 236, 194) 100%);
    background-image: -webkit-linear-gradient(-52deg, rgb(67, 191, 243) 0%, rgb(59, 236, 194) 100%);
    background-image: -ms-linear-gradient(-52deg, rgb(67, 191, 243) 0%, rgb(59, 236, 194) 100%);
}
.customer .el-dialog__header .el-dialog__title {
    color: #fff;
}
.white{
    color:white;
}
.p_text{
    text-align: center;
    line-height: 40px;
}
input{
    font-size: 15px !important;
}
img[src=""]{opacity: 0;}
.back_white{
	background: #fff;
}
.back_f6{
    background: #f6f6f6;
}
.send_y{
    color: rgb(247, 170, 22);
}
.co_green{
	color: rgb(16, 173, 0);
}
.co_blue{
	 color: rgb(126, 137, 248);
}
.common_page {
    width: 97%;
    margin: 0 auto;
    line-height: 1.2;
    overflow-x: scroll;
    overflow-y: scroll;
    white-space: nowrap;
}
.padding_top_ten{
    padding-top: 10px;
}
.padding_left_ten{
    padding-left: 10px;
}
.line_th{
	line-height: 36px;
}
body {
    padding: 0;
    margin: 0;
}
ol, ul, li {
    padding: 0;
    margin: 0;
    list-style: none
}
h1, h6, h2, h3, h4, h5, ul, li, p, hr {
    padding: 0;
    margin: 0;
}
input, button, textarea {
    outline: none;
}
input:focus, button:focus {
    outline: none;
}
html {
    padding: 0;
    margin: 0;
    font-size: 62.5%;
}
html, body {
    height: 100%;
}
i {
    font-style: normal;
}
em{
	font-style: normal;
}
img {
    border: none;
}
ul {
    list-style: none;
}
div {
    margin: 0;
}
body, h1, h2, h3, h4, h5, h6, div, span {
    font-family: "微软雅黑";
    font-weight: 400;
}
body {
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    background: #f6f6f6;
    width: 100%;
    overflow-x: hidden;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input, textarea {
    border: 0;
    -webkit-appearance: none;
    outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #999;
}
.header_mar{
    margin-bottom: 10px;
}
.height_fifty{
	height: 50px;
}
#loading {
    width: 55px;
    height: 55px;
    position: absolute;
    top: 50%;
    left: 45%;
}
#nothing{
    text-align:center;
    margin-top: 60%;
    background: #f6f6f6;
}
#nothing span{
    color:#bfbfbf;
}
.common_header {
    background-image: -moz-linear-gradient(90deg, rgb(198, 159, 250) 0%, rgb(108, 131, 247) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(198, 159, 250) 0%, rgb(108, 131, 247) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(198, 159, 250) 0%, rgb(108, 131, 247) 100%);
    box-shadow: 1px 1.732px 5px 0px rgba(107, 79, 146, 0.72);
    color: #fff;
    font-size: 2rem;
    text-align: center;
    line-height: 50px;
    position: fixed;
    width: 100%;
    z-index: 99;
}
.sea_wid{
    width: 82% !important;
}
.return {
    position: fixed;
    top: 15px;
    left: 16px;
    width: 11px;
    height: 20px;
    z-index: 100;
}
.page_common{
    width: 97%;
    margin: 0 auto;
    overflow: hidden;
}
.overflow_x{
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
}
.layui-layer-title {
    border-radius: 0 !important;
    color: #fff !important;
    text-align: center;
    height:36px !important;
    line-height: 36px !important;
    font-size: 1.6rem !important;
    background-image: -moz-linear-gradient(90deg, rgb(198, 159, 250) 0%, rgb(108, 131, 247) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(198, 159, 250) 0%, rgb(108, 131, 247) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(198, 159, 250) 0%, rgb(108, 131, 247) 100%);
}
.submit{
    color: #fff;
    text-align: center;
    line-height: 40px;
    width: 85%;
    margin: 30px 7.5%;
    border: none;
    border-radius: 10px;
    font-size: 1.8rem;
}
/*列表样式*/
.ul_list {
    background: #fff;
    overflow: visible;
}
.ul_list li{
    padding: 0.5rem 1.5rem;
    line-height: 40px;
    border-bottom: 1px  solid rgb(238, 238, 238);
}
.ul_list li .list_left{
    width: 25%;
    min-width: 80px;
    display: inline-block;
}
.ul_list li .list_right{
    width: 65%;
    display: inline-block;
}
.ul_list li .list_right input{
    font-size: 1.4rem !important;
    vertical-align: text-top;
}
.ul_list li:last-child{
    border:none;
}
.flex_auto>li{
    display: flex;
}
.flex_auto>li>a{
	color:#333 !important;
    flex:auto;
}
.item_Detail {
    margin: 18px 0 18px 0;
    width: 8.5px;
    height:auto;
}
/*蓝色背景渐变*/
.blue_back {
    background: -webkit-linear-gradient(#6c83f7, #c69ffa);
    background: -o-linear-gradient(#6c83f7, #c69ffa);
    background: -moz-linear-gradient(#6c83f7, #c69ffa);
}
/*蓝色背景渐变有阴影*/
.blue {
    background-image: -moz-linear-gradient(90deg, rgb(198, 159, 250) 0%, rgb(108, 131, 247) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(198, 159, 250) 0%, rgb(108, 131, 247) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(198, 159, 250) 0%, rgb(108, 131, 247) 100%);
    box-shadow: 1px 1.732px 5px 0px rgba(107, 79, 146, 0.72);
}
.red_box {
    background-image: -moz-linear-gradient(90deg, rgb(234, 131, 228) 0%, rgb(249, 191, 139) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(234, 131, 228) 0%, rgb(249, 191, 139) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(234, 131, 228) 0%, rgb(249, 191, 139) 100%);
    box-shadow: 1px 1.732px 7px 0px rgba(39, 39, 39, 0.3);
}
/*绿色背景渐变*/
.green {
    background-image: -moz-linear-gradient(-52deg, rgb(67, 191, 243) 0%, rgb(59, 236, 194) 100%);
    background-image: -webkit-linear-gradient(-52deg, rgb(67, 191, 243) 0%, rgb(59, 236, 194) 100%);
    background-image: -ms-linear-gradient(-52deg, rgb(67, 191, 243) 0%, rgb(59, 236, 194) 100%);
    box-shadow: 1px 1.732px 6px 0px rgba(65, 77, 110, 0.39);
}
.green a,.blue a,red_box a{
    color: white !important;
}
.huihui {
    color: rgb(153, 153, 153);
}
.fr{
    float: right !important;
}
.fl{
    float: left !important;
}
.cr{
	color:red;
}
.bule_color{
    color: rgb(129, 138, 248);
}
/*底部（Vip_index_bottom）*/
.Vip_index_bottom{
	height: 60px;
	background: #fff;
	width: 100%;
	position: fixed;
	bottom:0;
	font-size: 14px;
	border-top: 1px solid #e2e1e1;	
}
.Vip_index_bottom ul li>a{
	display: block;
	text-align: center;
	color: #333;
	height: 60px;
}
.Vip_index_bottom ul li.active_a>a{
	color: rgb(145, 143, 248);
}
.Vip_index_bottom ul li>a>img{
    width: 30px;
    height: 30px;
    margin-top: 4px;
}
.Vip_index_bottom ul li.Vip_index_c{
	position: relative;
	height: 60px;
}
.Vip_index_bottom ul li.Vip_index_c>a{
	display: block;
}
.Vip_index_bottom ul li.Vip_index_c>a>img{
	width: 50px;
	height: 50px;
	position: absolute;
	top: -20px;
	left: 50%;
	margin-left:-25px ;
}
.Vip_index_bottom ul li.Vip_li3>a>img{
	width: 25px;
	height: 25px;
	margin-top: 10px;
}
.Vip_index_bottom ul li.Vip_index_c>a>p{
	padding-top: 35px;
}
/*表格样式*/
.table_height{
    overflow-x: scroll;
    overflow-y: scroll;
    white-space: nowrap;
}
.align_center{
	text-align: center;
}
.table_td_width{
    max-width: 80px;
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.table_style {
    text-align: left;
    font-size: 1.5rem;
    border-spacing: 0;
    width: 100%;
    border-collapse: separate;
    border-radius: 0;
}
.table_style > thead > tr {
    background-image: -moz-linear-gradient(90deg, rgb(237, 230, 248) 0%, rgb(207, 212, 250) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(237, 230, 248) 0%, rgb(207, 212, 250) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(237, 230, 248) 0%, rgb(207, 212, 250) 100%);
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
}
.table_style > thead > tr > th {
    border: none;
    border-spacing: 0;
}
.table_style tr td {
    border-bottom: 1px solid #ddd;
}
.table_style tr {
    background-color: #fff;
}
.table_style td,.table_style th {
    padding: 1rem 8px !important;
}
.table_style  .do_thing {
    color: rgb(134, 139, 248) !important;
}

.inline_block {
    display: inline-block;
}
.block {
    display: block !important;
}
.over_hidden{
    overflow: hidden;
}
.align_left{
	text-align: left;
}
.mar_top_t{
	margin-top: 15px;
}
.back_gray{
	 background-color: rgb(244, 244, 244);
}
.button_submit {
    margin: 20px 0;
    width: 100%;
}
.button_submit button {
    width: 40%;
    display: block;
    margin: 0 auto;
}