.con_div{
margin-bottom: 10px;
    border-bottom: 1px  solid rgb(238, 238, 238);
  box-shadow: 0px 1px 2px 0px rgba(75, 74, 75, 0.2);
}
.el-collapse-item__header{
	padding-left: 15px;
}
.con .el-collapse-item__header {
  background-color: rgb(231, 220, 249);
}
.item .el-collapse-item__header {
  background-color: rgb(255, 221, 221);
}
.th .el-collapse-item__header{
  background-color: rgb(255, 247, 207);
}
.el-collapse-item{
	margin-bottom: 10px;
}
 .consume_list li{
	 background: #fff;
	 padding: 0.5rem 1.5rem;
    line-height: 40px;
    border-bottom: 1px  solid rgb(238, 238, 238);
}
.mar_hun{
 	margin-right: 100px;
}
 .consume_list li>span{
 	display: inline-block;
 }
.g_name{
	width: 200px;
}
.p_wid{
	width:150px;
}
.g_c_price{
  color: rgb(130, 136, 255);
}
.blue_c{
	color:#409EFF;
}
.p_div_b{
  background-color: rgb(184, 196, 255);
  height: 60px;
  line-height: 60px;
  padding-left: 12px;
}
.commission{
	overflow: hidden;
}
.commission>div{
	width: 40%;
}
.commission_list>li{
	display: flex;
	justify-content: space-between;
}
.commission_list>li input{
	border:none;
}
.pay_total{
	width: 100%;
	background:#fff;
	left: 0;
	bottom: 0;
	position: fixed;
	height:70px;
	line-height: 70px;
	z-index: 999;
}
.total_money{
	padding-left: 100px;
	display: inline-block;
	width: 90%;
	height:100%;
	border-top:1px solid rgb(225, 225, 225);
}
.pay{
	float: right;
	display: inline-block;
	width: 10%;
	height:100%;
	color:#fff;
	text-align: center;
	font-size: 1.8rem;
}
.close{
	font-size: 2.3rem;
	display: inline-block;width: 60px;
	margin: 7px;
}