.screen_page{
  width: 100%;
  height:100%;
    background-color: #f7f7ff;
}
.el-header {
    line-height:  88px;
  color:#fff;
  font-size: 2rem;
  }
  .el-header p{
    font-size: 1.6rem;
    line-height:  88px;
  }
  .el-header  i{
      margin:0 3px;
    }
    .el-header  .home_logo{
      margin-right:15px;
    }
     .el-header  .home_exit{
      margin-left:15px;
    }
.news {
    position: absolute;
    right: -5px;
    top: -11px;
    background-color: #f13333;
    border-radius: 50%;
    display: block;
    height: 8px;
    width: 8px;
}
  .el-aside {
    background: #dedeff;
  }
    .el-aside .el-menu{
      background: #c2c0ec;
    }
      .el-aside  a{
        width: 100%;
        height:100%;
        display: block;
        color:#fff;
        font-size: 1.6rem;
      }
       .el-aside  .el-submenu__title a:hover, .el-aside  .el-submenu__title a:focus, .el-aside  .el-submenu__title a:active{
        color:#fff;
       }
.el-aside  .el-submenu__title i{
  color:#fff;
  font-size: 1.6rem;
}
      .el-aside .el-menu-item{
         color:#fff;
        font-size: 1.5rem;
      }
.home_icon{
  height:20px;
  margin-right: 10px;
}
.home_new{
  width:20px;
  margin-right: 10px;
}
.el-submenu.is-opened,.el-menu-item.is-active {
    background: #938ef6;
}
iframe{
  border:none;
  width: 100%;
  height:99.5%;
}
.screen_page .el-main {
  padding: 0;
  background: #f7f7ff;
}
.span_img{
    display: inline-block;
    width: 32px;
    text-align: center;
}
.a_padd{
    padding-left: 30px;
}