.today_total thead,.today_total thead th{
    background-color: #dffdfa;
}
.today_total th,.today_total td{
    text-align: center;
}
.total_div{
    margin: 5px 0;
    overflow: hidden;
}
.tt_table{
    border:1px solid #ebeef5;
}
.total_sea{
    width: 20%;
}
.pay_ul li{
    line-height: 30px;
}