<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <title>美约会-登录</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/login.css">
</head>
<body>

<div id="login" class="login_apge">
    <div class="login_div">
        <img src="images/login_logo.png" class="login_logo">
        <p>美约会店务管理系统</p>
        <div class="login_form">
            <template>
                <el-tabs v-model="type">
                    <el-tab-pane label="主店登录" name="1">

                    </el-tab-pane>
                    <el-tab-pane label="店员登录" name="2">

                    </el-tab-pane>
                    <p>账号：
                        <el-input v-model="name" placeholder="请输入账号" type="text" class="in_mar">
                        </el-input>
                    </p>
                    <p>密码：
                        <el-input v-model="password" placeholder="请输入密码" type="password" class="in_mar">
                        </el-input>
                    </p>
                    <div class="forget_d">
                        <el-checkbox v-model="checked" class="fl">记住密码</el-checkbox>
                        <el-button type="text" class="fr" @click="centerDialogVisible = true">忘记密码？</el-button>
                    </div>
                    <el-button style="width: 200px" type="primary" @click="onSubmit">登录</el-button>
                </el-tabs>
            </template>
        </div>
    </div>
    <template>
        <el-dialog
                title="找回密码"
                :visible.sync="centerDialogVisible"
                width="400px"
                center>
            <div class="dia_div">
                <p>手机号：
                    <el-input v-model="input" placeholder="请输入手机号码" class="in_mar"></el-input>
                </p>
                <p>验证码：
                    <el-input v-model="input" placeholder="请输入验证码" disabled class="conf_i in_mar"></el-input>
                    <el-button type="info" round class="get_code" size="small">获取验证码</el-button>
                </p>
                <p>新密码：
                    <el-input v-model="input" placeholder="请输入新密码"></el-input>
                </p>
            </div>
            <span slot="footer" class="dialog-footer">
					    <el-button @click="centerDialogVisible = false">取 消</el-button>
					    <el-button type="primary" @click="centerDialogVisible = false">确 定</el-button>
					  </span>
        </el-dialog>
    </template>
</div>

</body>
<script src="js/jquery.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/index.js"></script>
<script src="js/func.js"></script>

<script>
    new Vue({
        el: '#login',
        data: {
            type: '1',
            checked: true,
            centerDialogVisible: false,
            name: '',
            password: '',
            input: '',
        },
        methods: {
            onSubmit: function(key, value) {
                if (this.name == '' || this.password == '') {
                    //this.$message.error('请填完以上内容');
                    error('请填完以上内容')
                    return
                }
                $.post(url(methods.login), {'username': this.name, 'type': this.type, 'password': this.password}, function (v) {
                    var rs = verify(v)
                    if (rs != false) {
                        var user = JSON.stringify(rs)
                        localStorage.setItem('user', user)
                        location.href = 'html/home_page.html'
                    }
                })
            },
            isLogin: function() {
                /*let s = false;
                $.post(url(methods.isLogin), v => {
                    if (v.data) {
                        //登录后跳转
                        location.href = 'html/home_page.html'
                    }
                })*/
                var user = localStorage.getItem('user')
                if (user != null) {
                    location.href = 'html/home_page.html'
                }
            },
        },
        mounted() {
            if(!isPC()){
                window.location.href = 'https://myh.myhkj.cn';
            }
            that = this;
            this.isLogin()
        }
    })
</script>
</html>