<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>方案管理</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/goods.css">
</head>
<body>

<div id="app" class="customer">
    <template>
        <p class="cus_title">
            <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item :to="{ path: '/' }">方案管理</el-breadcrumb-item>
                <el-breadcrumb-item>添加方案</el-breadcrumb-item>
            </el-breadcrumb>
        </p>
        <div class="cus_center">
            <ul class="goods_l">
                <li>
                    <span class="list_left">方案名称</span>
                    <span class="list_right">
                    <el-input v-model="name" placeholder="请输入方案名称"></el-input>
                </span>
                </li>
                <li>
                    <span class="list_left">售价</span>
                    <span class="list_right">
                    <el-input v-model="price" type="number" placeholder="请输入售价"></el-input>
                </span>
                </li>
                <li>
                    <span class="list_left">项目</span>
                    <span class="list_right">
                        <p class="other_back" style="height:40px" @click="zt=true">
                            <i class="fr el-icon-circle-plus-outline" style="font-size: 2.2rem;color:#ad97f9;
                            line-height:40px;margin-right: 20px;"></i>
                        </p>
                        <ul class="p_g_list">
                            <li v-for="(v, i) in need" v-if="v.type=='项目'">
                                <p class="linr_four">
                                    <span class="p_name">{{v.name}} </span>
                                    <i class="cr pri_wid">￥{{v.price}}</i>
                                    <span class="huihui">次数：{{v.times}}</span>
                                    <i class="el-icon-circle-close-outline fr" style="font-size: 2.2rem;line-height:40px;
                                    margin-right: 20px;" @click="del(i)"></i>
                                </p>
                                <p class="linr_four">
                                    <i>优惠方式</i>
                                    <el-radio-group v-model="v.state">
                                        <el-radio label="0">不使用</el-radio>
                                        <el-radio label="1">打折</el-radio>
                                        <el-radio label="2">赠送</el-radio>
                                    </el-radio-group>
                                    <el-checkbox v-model="v.edit" label="修改次数"></el-checkbox>
                                </p>
                                <p class="linr_four" v-if="v.state==1">
                                   <span class="list_left"> 打折</span>
                                    <el-input v-model="v.dis" placeholder="请输入" type="number"
                                                                               class="in_wid und_line"></el-input>折
                                </p>
                                <p class="linr_four" v-if="v.state==1">
                                    <span class="list_left">折后</span>
                                    <el-input v-model="v.price*v.dis/10" disabled placeholder="请输入" type="number"
                                                                               class="in_wid und_line"></el-input>元
                                </p>
                                <p class="linr_four" style="margin-bottom: 15px" v-if="v.edit">
                                  <span class="list_left"> 修改次数</span>
                                    <el-input v-model="v.times" placeholder="请输入" type="number"
                                                                                class="in_wid und_line"></el-input>次
                                </p>
                            </li>
                        </ul>
                </span>
                </li>
                <li>
                    <span class="list_left">套盒</span>
                    <span class="list_right">
                         <p class="other_back" style="height:40px" @click="zt2=true">
                            <i class="fr el-icon-circle-plus-outline"
                               style="font-size: 2.2rem;color:#ad97f9;line-height:40px;margin-right: 20px;"></i>
                        </p>
                        <ul class="p_g_list">
                            <li v-for="(v, i) in need" v-if="v.type=='套盒'">
                                <p class="linr_four">
                                    <span class="p_name">{{v.name}} </span>
                                    <i class="cr pri_wid">￥{{v.price}}</i>
                                    <span class="huihui">次数：{{v.times}}</span>
                                    <i class="el-icon-circle-close-outline fr" style="font-size: 2.2rem;line-height:40px;
                                    margin-right: 20px;" @click="del(i)"></i>
                                </p>
                                <p class="linr_four">
                                    <i>优惠方式</i>
                                    <el-radio-group v-model="v.state">
                                        <el-radio label="0">不使用</el-radio>
                                        <el-radio label="1">打折</el-radio>
                                        <el-radio label="2">赠送</el-radio>
                                    </el-radio-group>
                                    <el-checkbox v-model="v.edit" label="修改次数"></el-checkbox>
                                </p>
                                <p class="linr_four" v-if="v.state==1">
                                   <span class="list_left"> 打折</span>
                                    <el-input v-model="v.dis" placeholder="请输入" type="number"
                                              class="in_wid und_line"></el-input>折
                                </p>
                                <p class="linr_four" v-if="v.state==1">
                                    <span class="list_left">折后</span>
                                    <el-input v-model="v.price*v.dis/10" disabled placeholder="请输入" type="number"
                                              class="in_wid und_line"></el-input>元
                                </p>
                                <p class="linr_four" style="margin-bottom: 15px" v-if="v.edit">
                                  <span class="list_left"> 修改次数</span>
                                    <el-input v-model="v.times" placeholder="请输入" type="number"
                                              class="in_wid und_line"></el-input>次
                                </p>
                            </li>
                        </ul>
                </span>
                </li>
                <li>
                    <span class="list_left">产品</span>
                    <span class="list_right">
                        <p class="other_back" style="height:40px" @click="zt3=true">
                            <i class="fr el-icon-circle-plus-outline"
                               style="font-size: 2.2rem;color:#ad97f9;line-height:40px;margin-right: 20px;"></i>
                        </p>
                        <ul class="p_g_list">
                            <li v-for="(v, i) in need" v-if="v.type=='产品'">
                                <p class="linr_four">
                                    <span class="p_name">{{v.name}} </span>
                                    <i class="cr pri_wid">￥{{v.price}}</i>
                                    <span class="huihui">次数：{{v.times}}</span>
                                    <i class="el-icon-circle-close-outline fr" style="font-size: 2.2rem;line-height:40px;
                                    margin-right: 20px;" @click="del(i)"></i>
                                </p>
                                <p class="linr_four">
                                    <i>优惠方式</i>
                                    <el-radio-group v-model="v.state">
                                        <el-radio label="0">不使用</el-radio>
                                        <el-radio label="1">打折</el-radio>
                                        <el-radio label="2">赠送</el-radio>
                                    </el-radio-group>
                                    <el-checkbox v-model="v.edit" label="修改次数"></el-checkbox>
                                </p>
                                <p class="linr_four" v-if="v.state==1">
                                   <span class="list_left"> 打折</span>
                                    <el-input v-model="v.dis" placeholder="请输入" type="number"
                                              class="in_wid und_line"></el-input>折
                                </p>
                                <p class="linr_four" v-if="v.state==1">
                                    <span class="list_left">折后</span>
                                    <el-input v-model="v.price*v.dis/10" disabled placeholder="请输入" type="number"
                                              class="in_wid und_line"></el-input>元
                                </p>
                                <p class="linr_four" style="margin-bottom: 15px" v-if="v.edit">
                                  <span class="list_left"> 修改次数</span>
                                    <el-input v-model="v.times" placeholder="请输入" type="number"
                                              class="in_wid und_line"></el-input>次
                                </p>
                            </li>
                        </ul>
                </span>
                </li>
            </ul>
            <el-button type="primary" class="bottom_wid" @click="sub">提交</el-button>
        </div>
        <!--商品列表-->
        <el-dialog
                title=""
                :visible.sync="zt"
                center
                :before-close="close">
            <el-input class="g_search" style="margin-top: 20px"
                      placeholder="请输入商品名称"
                      prefix-icon="el-icon-search"
                      v-model="input">
            </el-input>
            <el-table border
                      :data="items.filter(data => !input || data.pro_name.toLowerCase().includes(input.toLowerCase()))"
                      tooltip-effect="dark">
                <!--<el-table-column
                        prop="class"
                        label="类别"
                        width="120">
                </el-table-column>-->
                <el-table-column
                        prop="pro_name"
                        label="商品名称">
                </el-table-column>
                <el-table-column
                        prop="price"
                        label="零售价">
                </el-table-column>
                <el-table-column
                        prop="frequency"
                        label="次数">
                </el-table-column>
                <el-table-column
                        label="数量">
                    <template slot-scope="scope">
                        <i class="el-icon-remove green_c" v-if="scope.row.number>0"></i>
                        <i v-if="scope.row.number>0">{{scope.row.number}}</i>
                        <i class="el-icon-circle-plus green_c" @click="add(scope.$index, 1)"></i>
                    </template>
                </el-table-column>
            </el-table>
        </el-dialog>

        <el-dialog
                title=""
                :visible.sync="zt2"
                center
                :before-close="close">
            <el-input class="g_search" style="margin-top: 20px"
                      placeholder="请输入商品名称"
                      prefix-icon="el-icon-search"
                      v-model="input">
            </el-input>
            <el-table border
                      :data="box.filter(data => !input || data.box_name.toLowerCase().includes(input.toLowerCase()))"
                      tooltip-effect="dark">
                <!--<el-table-column
                        prop="class"
                        label="类别"
                        width="120">
                </el-table-column>-->
                <el-table-column
                        prop="box_name"
                        label="商品名称">
                </el-table-column>
                <el-table-column
                        prop="price"
                        label="零售价">
                </el-table-column>
                <el-table-column
                        prop="times"
                        label="次数">
                </el-table-column>
                <el-table-column
                        label="数量">
                    <template slot-scope="scope">
                        <i class="el-icon-remove green_c" v-if="scope.row.number>0"></i>
                        <i v-if="scope.row.number>0">{{scope.row.number}}</i>
                        <i class="el-icon-circle-plus green_c" @click="add(scope.$index, 2)"></i>
                    </template>
                </el-table-column>
            </el-table>
        </el-dialog>

        <el-dialog
                title=""
                :visible.sync="zt3"
                center
                :before-close="close">
            <el-input class="g_search" style="margin-top: 20px"
                      placeholder="请输入商品名称"
                      prefix-icon="el-icon-search"
                      v-model="input">
            </el-input>
            <el-table border
                      :data="goods.filter(data => !input || data.goods_name.toLowerCase().includes(input.toLowerCase()))"
                      tooltip-effect="dark">
                <!--<el-table-column
                        prop="class"
                        label="类别"
                        width="120">
                </el-table-column>-->
                <el-table-column
                        prop="goods_name"
                        label="商品名称">
                </el-table-column>
                <el-table-column
                        prop="price"
                        label="零售价">
                </el-table-column>
                <!--<el-table-column
                        prop="fre"
                        label="次数">
                </el-table-column>-->
                <el-table-column
                        label="数量">
                    <template slot-scope="scope">
                        <i class="el-icon-remove green_c" v-if="scope.row.number>0"></i>
                        <i v-if="scope.row.number>0">{{scope.row.number}}</i>
                        <i class="el-icon-circle-plus green_c" @click="add(scope.$index, 3)"></i>
                    </template>
                </el-table-column>
            </el-table>
        </el-dialog>
    </template>
</div>

</body>
</html>
<script src="../js/jquery.min.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/func.js"></script>
<script src="../js/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            input: '',
            zt: false,
            zt2: false,
            zt3: false,
            tableData3: [{
                class: '产品',
                name: '补水面膜',
                price: '343',
                fre: '',
            }, {
                class: '套盒',
                name: '肩颈套',
                price: '343',
                fre: '12',
            }],
            box: [],
            goods: [],
            items: [],
            need: [],
            name: '',
            price: '',
        },
        methods: {
            sub() {
                if(this.need.length==0){
                    error('最少选择一个商品')
                    return
                }
                if(this.name=='' || this.price==''){
                    error('请填写方案名称和价格')
                    return
                }
                let arr = []
                for(let v of this.need) {
                    let p = v.price
                    if(v.state==0){
                        p = v.price
                    }else if(v.state==1) {
                        p = v.price * v.dis/10
                    }else if(v.state==2) {
                        p = 0
                    }
                    arr.push({price: p, id: v.id, name: v.name, type: v.type, cost: v.cost, times: v.times})
                }
                $.post(url(methods.addPlan), {
                    name: this.name, sale: this.price,
                    data: arr
                }, v=>{
                    if(v.code==1){
                        success(v.Msg)
                        setTimeout(()=>location.href = './plan.html', 1000)
                    }else{
                        error(v.error)
                    }
                })
            },
            del(i, type) {
                if(type==1){
                    for(let v of this.items) {
                        if(v.id==this.need[i].id){
                            v.number = 0
                            break
                        }
                    }
                }else if(type==2){
                    for(let v of this.box) {
                        if(v.id==this.need[i].id){
                            v.number = 0
                            break
                        }
                    }
                }else if(type==3){
                    for(let v of this.goods) {
                        if(v.id==this.need[i].id){
                            v.number = 0
                            break
                        }
                    }
                }
                this.need.splice(i, 1)
            },
            add(i, type) {
                if (type == 1) {
                    this.items[i].number++
                    let d = this.items[i]
                    this.need.unshift({
                        price: d.price, id: d.id, name: d.pro_name,
                        type: '项目', cost: d.cost, times: d.frequency,
                        dis: 10, state: '0', edit: false,
                    })
                } else if (type == 2) {
                    this.box[i].number++
                    let d = this.box[i]
                    this.need.unshift({
                        price: d.price, id: d.id, name: d.box_name,
                        type: '套盒', cost: d.cost, times: d.times
                    })
                } else if (type == 3) {
                    this.goods[i].number++
                    let d = this.goods[i]
                    this.need.unshift({
                        price: d.price, id: d.id, name: d.goods_name,
                        type: '产品', cost: d.cost, times: d.stock
                    })
                }
            },
            close() {
                this.zt = false
                this.zt2 = false
                this.zt3 = false
                this.input = ''
            },
            getData() {
                $.get(url(methods.addPlan), v => {
                    for (let x of v.data.box) {
                        x.number = 0
                    }
                    for (let x of v.data.goods) {
                        x.number = 0
                    }
                    for (let x of v.data.project) {
                        x.number = 0
                    }
                    this.box = v.data.box
                    this.goods = v.data.goods
                    this.items = v.data.project
                })
            }
        },
        mounted() {
            this.$nextTick(e => {
                //初始化
                that = this;
                loginState()
                this.getData()
            })
        }
    })
</script>