<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加档案</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/add_archives.css">
</head>
<body>

<div id="app" class="customer">
    <template>
        <p class="cus_title">
            <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item :to="{ path: '/' }">信息管理</el-breadcrumb-item>
                <el-breadcrumb-item>会员管理</el-breadcrumb-item>
                <el-breadcrumb-item>会员详情</el-breadcrumb-item>
                <el-breadcrumb-item>添加档案</el-breadcrumb-item>
            </el-breadcrumb>
        </p>
        <ul class="record_list">
            <li>
                <p>需要解决的皮肤问题：<span>干燥<span/></p>
                <!--<div>没有需要解决的问题喔~</div>-->
            </li>

            <li>
                <p>需要解决的身体问题：<span>没有需要解决的问题喔~<span/></p>
            </li>

            <li>
                过敏史：<el-input v-model="input" placeholder="请输入过敏史"></el-input>

            </li>

            <li>
                面部解决方案：<el-input v-model="input" placeholder="如没有请写‘无’"></el-input>

            </li>

            <li>
                身体解决方案：
                    <el-input v-model="input" placeholder="如没有请写‘无’"></el-input>
            </li>

            <li>
                单次操作项目及手法：
                <el-input v-model="input" placeholder="如没有请写‘无’"></el-input>
            </li>

            <li class="choice_goods">
                <i>品项设计：</i>
                <div>
                    <span class="select_style">
                        <el-select v-model="value" placeholder="请选择">
                            <el-option
                                    v-for="item in options"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                          </el-select>
                    </span>

                    <span class="select_style">
                        <el-select v-model="value" placeholder="请选择">
                            <el-option
                                    v-for="item in options"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                          </el-select>
                    </span>
                </div>
            </li>

            <li>
                <div class="choice_list">
                    <i ng-repeat="v in design_arr" ng-click="remove(v.design_id)">
                        <span class="product_red_color color_box">产品</span>
                        <span class="project_green_color color_box">项目</span>
                        <span class="taohe_color color_box">套盒</span>
                        <span class="plan_color color_box">方案</span>
                    </i>
                </div>
            </li>

            <li class="disflex">
               下次预约时间：
                    <el-time-select style="width: 250px;flex: none;"
                                        v-model="next_time"
                                        :picker-options="{
                start: '08:30',
                step: '00:15',
                end: '18:30'
              }"
                                        placeholder="选择时间">
            </el-time-select>

            </li>

            <li>
                <span>顾问：</span>
                <span class="adv_sel">
                    <el-select v-model="value" placeholder="请选择">
                            <el-option
                                    v-for="item in options"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                          </el-select>
                </span>
            </li>

            <li>
                备注：
                <el-input v-model="input" placeholder="请输入备注"></el-input>
            </li>
        </ul>
        <el-button type="primary" class="butt_sub">完成</el-button>
    </template>

</div>

</body>
</html>
<script src="../js/jquery.min.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/func.js"></script>
<script src="../js/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            next_time:'',
            input:'',
            options: [{
                value: '选项1',
                label: '套盒'
            }, {
                value: '选项2',
                label: '方案'
            }, {
                value: '选项3',
                label: '项目'
            }, {
                value: '选项4',
                label: '产品'
            }],
            value: ''
        },
        methods: {},
        mounted() {
            this.$nextTick(e=>{
                //初始化
                that = this;
                loginState()
            })
        }
    })
</script>