<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加档案</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/add_archives.css">
</head>
<body>

<div id="app" class="customer">
    <template>
        <p class="cus_title">
            <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item :to="{ path: '/' }">信息管理</el-breadcrumb-item>
                <el-breadcrumb-item>会员管理</el-breadcrumb-item>
                <el-breadcrumb-item>会员详情</el-breadcrumb-item>
                <el-breadcrumb-item>添加档案</el-breadcrumb-item>
            </el-breadcrumb>
        </p>
        <ul class="record_list">
            <li>
                <p>需要解决的皮肤问题：<span v-for="v in face_detail">{{v.title}}: {{v.content}}</span></p>
                <div v-if="face_detail.length==0">没有需要解决的问题喔~</div>
            </li>

            <li>
                <p>需要解决的身体问题：<span v-for="v in body_detail">{{v.title}}: {{v.content}}</span></p>
                <div v-if="body_detail.length==0">没有需要解决的问题喔~</div>
            </li>

            <li>
                过敏史：
                <el-input v-model="data.allergy" placeholder="请输入过敏史"></el-input>

            </li>

            <li>
                面部解决方案：
                <el-input v-model="data.skin_ok" placeholder="如没有请写‘无’"></el-input>

            </li>

            <li>
                身体解决方案：
                <el-input v-model="data.body_ok" placeholder="如没有请写‘无’"></el-input>
            </li>

            <li>
                单次操作项目及手法：
                <el-input v-model="data.one_opera" placeholder="如没有请写‘无’"></el-input>
            </li>

            <li class="choice_goods">
                <i>品项设计：</i>
                <div>
                    <span class="select_style">
                        <el-select v-model="now" placeholder="请选择">
                            <el-option
                                    v-for="item in options"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                          </el-select>
                    </span>

                    <span class="select_style">
                        <el-select v-model="nowGoods" placeholder="请选择" v-show="now==1">
                            <el-option
                                    v-for="item in goods"
                                    :label="item.goods_name"
                                    :value="item.id">
                            </el-option>
                        </el-select>
                        <el-select v-model="nowGoods2" placeholder="请选择" v-show="now==2">
                            <el-option
                                    v-for="item in goods"
                                    :label="item.box_name"
                                    :value="item.id">
                            </el-option>
                        </el-select>
                        <el-select v-model="nowGoods3" placeholder="请选择" v-show="now==3">
                            <el-option
                                    v-for="item in goods"
                                    :label="item.pro_name"
                                    :value="item.id">
                            </el-option>
                        </el-select>
                        <el-select v-model="nowGoods4" placeholder="请选择" v-show="now==4">
                            <el-option
                                    v-for="item in goods"
                                    :label="item.name"
                                    :value="item.id">
                            </el-option>
                        </el-select>
                    </span>
                </div>
            </li>

            <li>
                <div class="choice_list">
                    <i v-for="(v, i) in needGoods">
                        <span class="product_red_color color_box" v-if="v.cate==1" @click="del(i)">{{v.name}}</span>
                        <span class="project_green_color color_box" v-if="v.cate==2" @click="del(i)">{{v.name}}</span>
                        <span class="taohe_color color_box" v-if="v.cate==3" @click="del(i)">{{v.name}}</span>
                        <span class="plan_color color_box" v-if="v.cate==4" @click="del(i)">{{v.name}}</span>
                    </i>
                </div>
            </li>

            <li class="disflex">
                下次预约时间：
                <el-date-picker style="width: 250px;flex: none;"
                                v-model="data.next_time" type="date"
                                value-format="yyyy-MM-dd"
                                placeholder="选择时间">
                </el-date-picker>

            </li>

            <li>
                <span>顾问：</span>
                <span class="adv_sel">
                    <el-select v-model="data.gw" placeholder="请选择">
                            <el-option
                                    v-for="item in staff"
                                    :label="item.name"
                                    :value="item.id">
                            </el-option>
                    </el-select>
                </span>
            </li>

            <li>
                备注：
                <el-input v-model="data.remarks" placeholder="请输入备注"></el-input>
            </li>
        </ul>
        <div style="text-align: center;margin-top: 20px">
            <el-button type="warning" @click="back()">稍后填写</el-button>
            <el-button type="primary" @click="sub">完成</el-button>
        </div>
    </template>

</div>

</body>
</html>
<script src="../js/jquery.min.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/func.js"></script>
<script src="../js/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            next_time: '',
            input: '',
            options: [{
                value: '1',
                label: '产品'
            }, {
                value: '2',
                label: '套盒'
            }, {
                value: '3',
                label: '项目'
            }, {
                value: '4',
                label: '方案'
            }],
            value: '',
            arc: 0,
            userId: 0,
            now: '1',
            data: {
                allergy: '',
                skin_ok: '',
                body_ok: '',
                one_opera: '',
                remarks: '',
                gw: '',
                next_time: '',
            },
            design: [],
            goods: [],
            body_detail: [],
            face_detail: [],
            staff: [],
            nowGoods: '',
            nowGoods2: '',
            nowGoods3: '',
            nowGoods4: '',
            needGoods: [],
        },
        watch: {

            now(v) {
                this.nowGoods = ''
                this.nowGoods2 = ''
                this.nowGoods3 = ''
                this.nowGoods4 = ''
                this.getDetail(v)
            },
            nowGoods(v) {
                if(v==0){
                    return
                }
                for(let x of this.needGoods) {
                    if(v == x.design_id && x.cate == 1) {
                        return
                    }
                }
                for(let x of this.goods) {
                    if(v == x.id) {
                        this.needGoods.unshift({cate: 1, design_id: v, name: x.goods_name})
                    }
                }
            },
            nowGoods2(v) {
                if(v==0){
                    return
                }
                for(let x of this.needGoods) {
                    if(v == x.design_id && x.cate == 2) {
                        return
                    }
                }
                for(let x of this.goods) {
                    if(v == x.id) {
                        this.needGoods.unshift({cate: 2, design_id: v, name: x.box_name})
                    }
                }
            },
            nowGoods3(v) {
                if(v==0){
                    return
                }
                for(let x of this.needGoods) {
                    if(v == x.design_id && x.cate == 3) {
                        return
                    }
                }
                for(let x of this.goods) {
                    if(v == x.id) {
                        this.needGoods.unshift({cate: 3, design_id: v, name: x.pro_name})
                    }
                }
            },
            nowGoods4(v) {
                if(v==0){
                    return
                }
                for(let x of this.needGoods) {
                    if(v == x.design_id && x.cate == 4) {
                        return
                    }
                }
                for(let x of this.goods) {
                    if(v == x.id) {
                        this.needGoods.unshift({cate: 4, design_id: v, name: x.name})
                    }
                }
            },
        },
        methods: {
            back(){
                history.go(-2)
            },
            del(i) {
                this.nowGoods = ''
                this.nowGoods2 = ''
                this.nowGoods3 = ''
                this.nowGoods4 = ''
                this.needGoods.splice(i, 1)
            },
            getDetail(cate = 1) {
                $.get(url(methods.health) + `&cate=${cate}&id=${this.arc}&mid=${this.userId}`, v => {
                    if (v.code == 1) {
                        this.goods = v.res.all_goods
                        this.body_detail = v.res.body_detail
                        this.face_detail = v.res.face_detail
                        this.staff = v.res.returnStaffArr
                    } else {
                        error(v.error)
                    }
                })
            },
            sub() {
                if(this.data.allergy == '' || this.data.skin_ok==''||this.data.body_ok==''
                ||this.data.one_opera==''||this.data.gw==''||this.data.next_time==''){
                    error('请填完以上内容')
                    return
                }
                $.post(url(methods.health), {
                    data: this.data, arc: this.arc, mid: this.userId,
                    design: JSON.stringify(this.needGoods)
                }, v => {
                    if (v.code == 1) {
                        success(v.Msg)
                        setTimeout(()=>location.href='./vip_information.html', 1000)
                    } else {
                        error(v.error)
                    }
                })
            },
        },
        mounted() {
            this.$nextTick(e => {
                //初始化
                that = this;
                loginState()
                this.arc = localStorage.getItem('arc')
                this.userId = localStorage.getItem('user_id')
                this.getDetail()
            })
        }
    })
</script>