<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>预约</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
</head>
<body>

<div id="app" class="customer">
    <template>
        <p class="cus_title">
            <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item :to="{ path: '/' }">工作台首页</el-breadcrumb-item>
                <el-breadcrumb-item>预约</el-breadcrumb-item>
            </el-breadcrumb>
        </p>
        <el-table style="margin-top: 10px"
                  :data="list"
                  border
                  style="width: 100%">
            <el-table-column
                    prop="time"
                    label="创建时间">
            </el-table-column>
            <el-table-column
                    prop="name"
                    label="预约人"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="tel"
                    label="电话"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="staff_name"
                    label="美容师">
            </el-table-column>
            <el-table-column
                    prop="choice_time"
                    label="预约时间">
            </el-table-column>
            <el-table-column
                    prop="status"
                    label="状态"
                    :formatter="formatter">
            </el-table-column>
            <el-table-column
                    prop="m_remark"
                    label="备注">
            </el-table-column>
            <el-table-column
                    label="操作"
                    width="300"
                    fixed="right"
                    show-overflow-tooltip>
                <template slot-scope="scope">
                    <el-button type="danger" v-if="scope.status!=3 && scope.status!=4"
                               size="mini"
                               @click="now=scope.row;open2()">
                        取消预约
                    </el-button>
                    <el-button
                            size="mini"
                            @click="" type="success">确认到店
                    </el-button>
                    <el-button
                            size="mini"
                            @click="edit_dal=true;now=scope.row">编辑
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-dialog
                title="预约编辑"
                :visible.sync="edit_dal"
                width="400px"
                center>
            <div>
                <p class="p_text">请输入预约时间</p>
                <el-date-picker style="width: 80%;
    margin-left: 10%;"
                                v-model="time"
                                type="datetime"
                                value-format="yyyy-MM-dd HH:mm:ss"
                                placeholder="选择日期时间">
                </el-date-picker>
            </div>
            <span slot="footer" class="dialog-footer">
            <el-button @click="edit_dal = false">取 消</el-button>
            <el-button type="primary" @click="edit">确 定</el-button>
          </span>
        </el-dialog>
    </template>

</div>

</body>
</html>
<script src="../js/jquery.min.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/func.js"></script>
<script src="../js/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            edit_dal: false,
            value1: '',
            tableData: [{
                set_time: '2016-05-02 10:30',
                vip: '王小虎',
                tel: '15326354235',
                beautician: '丽萨',
                be_time: '2016-05-05 10:30',
                backup: 'dwjeidjwhnudfejhi'
            }, {
                set_time: '2016-05-02 10:30',
                vip: '王小虎',
                tel: '15326354235',
                beautician: '丽萨',
                be_time: '2016-05-05 10:30',
                backup: 'dwjeidjwhnudfejhi'
            }],
            list: [],
            time: '',
            now: '',
        },
        methods: {
            formatter(r, c){
                if(r.status == 1){
                    return '待确认'
                }else if(r.status == 2){
                    return '确认'
                }else if(r.status == 3){
                    return '店铺取消'
                }else if(r.status == 3){
                    return '会员取消'
                }
            },
            open2() {
                this.$confirm('是否取消预约?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.edit(2)
                })
            },
            edit(t=1) {
                if (t==1 && this.time == '') {
                    error('请选择时间')
                    return
                }
                $.post(url(methods.bespeakEdit), {time: this.time, id: this.now.id, type: t}, v => {
                    if (v.code == 0) {
                        this.edit_dal = false
                        this.getData()
                        success(v.data)
                    } else {
                        error(v.msg)
                    }
                })
            },
            getData() {
                $.get(url(methods.bespeakDetail), v => {
                    if (v.code == 1) {
                        this.list = v.res
                    } else {
                        error(v.error)
                    }
                })
            }
        },
        mounted() {
            this.$nextTick(e => {
                //初始化
                that = this;
                loginState()
                this.getData()
            })
        }
    })
</script>