<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>美约会-消费</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/customer.css">
    <link rel="stylesheet" type="text/css" href="../css/buy.css">
</head>
<body>

<div id="app" class="customer">
    <p class="cus_title">
        <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item :to="{ path: '/' }">信息管理</el-breadcrumb-item>
            <el-breadcrumb-item>会员管理</el-breadcrumb-item>
            <el-breadcrumb-item>消费</el-breadcrumb-item>
        </el-breadcrumb>
    </p>
    <template>

        <el-tabs @tab-click="handleClick"><!---->
            <el-tab-pane label="产品">
                <div>
                    <el-input style="margin:5px 0;" class="cus_seatch"
                              placeholder="请输入商品名称"
                              prefix-icon="el-icon-search"
                              v-model="input">
                    </el-input>
                </div>
                <el-table border
                          ref="multipleTable"
                          :data="list.filter(data => (!input || data.name.toLowerCase().includes(input.toLowerCase())) && data.type=='产品')"
                          tooltip-effect="dark"
                          style="width: 100%"
                          @selection-change="handleSelectionChange">
                    <el-table-column
                            type="selection"
                            width="55">
                    </el-table-column>
                    <el-table-column
                            label="品项"
                            width="120"
                            prop="type">
                    </el-table-column>
                    <el-table-column
                            prop="class"
                            label="类别"
                            width="120">
                    </el-table-column>
                    <el-table-column
                            prop="name"
                            label="商品名称">
                    </el-table-column>
                    <el-table-column
                            prop="price"
                            label="零售价">
                    </el-table-column>
                    <el-table-column
                            prop="stock"
                            label="库存">
                    </el-table-column>
                    <el-table-column
                            prop="fre"
                            label="次数">
                    </el-table-column>
                    <el-table-column
                            prop="free"
                            label="赠送"
                            :formatter="form">
                    </el-table-column>
                    <el-table-column
                            label="加入购物车"
                            show-overflow-tooltip>
                        <template slot-scope="scope">
                            <i class="el-icon-remove blue_c" @click="remove(scope.row)" v-if="scope.row.needNum>0"></i>
                            <i v-if="scope.row.needNum>0">{{scope.row.needNum}}</i>
                            <i class="el-icon-circle-plus blue_c" @click="add(scope.row)"></i>
                        </template>
                    </el-table-column>
                </el-table>
            </el-tab-pane>
            <el-tab-pane label="项目">
                <div>
                    <el-input style="margin:5px 0;" class="cus_seatch"
                              placeholder="请输入商品名称"
                              prefix-icon="el-icon-search"
                              v-model="input">
                    </el-input>
                </div>
                <el-table border
                          ref="multipleTable"
                          :data="list.filter(data => (!input || data.name.toLowerCase().includes(input.toLowerCase())) && data.type=='项目')"
                          tooltip-effect="dark"
                          style="width: 100%"
                          @selection-change="handleSelectionChange">
                    <el-table-column
                            type="selection"
                            width="55">
                    </el-table-column>
                    <el-table-column
                            label="品项"
                            width="120"
                            prop="type">
                    </el-table-column>
                    <el-table-column
                            prop="class"
                            label="类别"
                            width="120">
                    </el-table-column>
                    <el-table-column
                            prop="name"
                            label="商品名称">
                    </el-table-column>
                    <el-table-column
                            prop="price"
                            label="零售价">
                    </el-table-column>
                    <el-table-column
                            prop="stock"
                            label="库存">
                    </el-table-column>
                    <el-table-column
                            prop="fre"
                            label="次数">
                    </el-table-column>
                    <el-table-column
                            prop="free"
                            label="赠送"
                            :formatter="form">
                    </el-table-column>
                    <el-table-column
                            label="加入购物车"
                            show-overflow-tooltip>
                        <template slot-scope="scope">
                            <i class="el-icon-remove blue_c" @click="remove(scope.row)" v-if="scope.row.needNum>0"></i>
                            <i v-if="scope.row.needNum>0">{{scope.row.needNum}}</i>
                            <i class="el-icon-circle-plus blue_c" @click="add(scope.row)"></i>
                        </template>
                    </el-table-column>
                </el-table>
            </el-tab-pane>
            <el-tab-pane label="套盒">
                <div>
                    <el-input style="margin:5px 0;" class="cus_seatch"
                              placeholder="请输入商品名称"
                              prefix-icon="el-icon-search"
                              v-model="input">
                    </el-input>
                </div>
                <el-table border
                          ref="multipleTable"
                          :data="list.filter(data => (!input || data.name.toLowerCase().includes(input.toLowerCase())) && data.type=='套盒')"
                          tooltip-effect="dark"
                          style="width: 100%"
                          @selection-change="handleSelectionChange">
                    <el-table-column
                            type="selection"
                            width="55">
                    </el-table-column>
                    <el-table-column
                            label="品项"
                            width="120"
                            prop="type">
                    </el-table-column>
                    <el-table-column
                            prop="class"
                            label="类别"
                            width="120">
                    </el-table-column>
                    <el-table-column
                            prop="name"
                            label="商品名称">
                    </el-table-column>
                    <el-table-column
                            prop="price"
                            label="零售价">
                    </el-table-column>
                    <el-table-column
                            prop="stock"
                            label="库存">
                    </el-table-column>
                    <el-table-column
                            prop="fre"
                            label="次数">
                    </el-table-column>
                    <el-table-column
                            prop="free"
                            label="赠送"
                            :formatter="form">
                    </el-table-column>
                    <el-table-column
                            label="加入购物车"
                            show-overflow-tooltip>
                        <template slot-scope="scope">
                            <i class="el-icon-remove blue_c" @click="remove(scope.row)" v-if="scope.row.needNum>0"></i>
                            <i v-if="scope.row.needNum>0">{{scope.row.needNum}}</i>
                            <i class="el-icon-circle-plus blue_c" @click="add(scope.row)"></i>
                        </template>
                    </el-table-column>
                </el-table>
            </el-tab-pane>
        </el-tabs>


        <div v-if="need.length>0" style="height: 250px;"></div>
        <div v-if="need.length>0" class="cart_div" style="z-index: 10">
            <p class="cart_title">
                已选择（{{need.length}}）
                <span class="fr mar_hun" @click="allRemove">
                <img src="../images/delete.png">&nbsp;全部清空
               </span>
            </p>
            <div style="height: 200px;background: white;overflow: scroll;">
                <ul class="consume_list" style="margin-bottom: 50px">
                    <li v-for="v in need" class="linr_four">
                        <span class="g_name">
                             {{v.name}}
                        </span>
                        <span class="p_wid">￥{{v.price * v.discount/10}}</span>
                        <span>
                            优惠方式
                            <el-radio v-model="v.yh" label="1">打折</el-radio>
                            <el-input v-if="v.yh==1" v-model="v.discount" placeholder="请输入1到10的数字"
                                      class="in_wid und_line"></el-input>
                            <el-radio v-model="v.yh" label="2" v-if="v.free==1">赠送</el-radio>
                            <template v-if="v.type!='产品'">
                                <i class="check_box">
                                    <!--<el-checkbox v-model="checked">修改次数</el-checkbox>-->
                                    修改次数
                                </i>
                                <el-input v-model="v.fre" placeholder="请输入次数" class="in_wid und_line"></el-input>
                            </template>
                        </span>
                        <span class="fr mar_hun">
                             <i class="el-icon-remove blue_c" @click="remove(v)"></i>
                             <i>{{v.needNum}}</i>
                             <i class="el-icon-circle-plus blue_c" @click="add(v)"></i>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="cart_total">
                 <span class="fl cr total_money">
                     合计：{{total}}
                 </span>
                <span class="red_box pay" @click="sub">提交订单</span>
            </div>
        </div>
    </template>

</div>

</body>
</html>
<script src="../js/jquery.min.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/func.js"></script>
<script src="../js/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            input: '',
            radio: '',
            checked: '',
            centerDialogVisible: false,
            tableData3: [{
                px: '产品',
                class: '面部',
                name: '睡眠面膜',
                price: '231',
                stock: '12',
                fre: '',
                fee: '',
                give: '是'
            }, {
                px: '套盒',
                class: '身体',
                name: '肩颈套',
                price: '2310',
                stock: '12',
                fre: '12',
                fee: '5',
                give: '是'
            }],
            multipleSelection: [],

            list: [],
            r: '',
            fileList: [],
            zt: true,
            need: [],
            user_id: 0,
            tabIndex: 0,
        },
        methods: {
            subItems() {
                let items = []
                for(let v of this.need) {
                    if(v.type == '项目') {
                        if(v.yh!=0){
                            items.push({'price': v.yh==1?v.price * v.discount/10:0, [`p_dis_t${v.id}`]: v.discount, 'id': v.id,
                                'name': v.name, 'sum': v.needNum, 'times': v.fre, 'is_rate': v.yh})
                        }else{
                            items.push({'price': v.price, [`p_dis_t${v.id}`]: v.discount, 'id': v.id,
                                'name': v.name, 'sum': v.needNum, 'times': v.fre})
                        }
                    }
                }
                $.post(url(methods.buyItems)+`&id=${this.user_id}`, {
                    data: JSON.stringify(items)
                }, v=>{
                    if(v.code==1){
                        this.need = []
                        for (let v of this.list) {
                            v.needNum = 0;
                        }
                        success(v.Msg)
                        localStorage.setItem('orderId', v.res.orderId)
                        localStorage.setItem('arrearsRes', v.res.arrearsRes)
                        localStorage.setItem('type', 1)
                        setTimeout(()=>location.href = './pay_page.html', 1000)
                    }else{
                        error(v.errorMsg)
                    }
                })
            },
            subBox() {
                let th = []
                for(let v of this.need){
                    if(v.type == '套盒') {
                        if(v.yh!=0){
                            th.push({'price': v.yh==1?v.price * v.discount/10:0, [`p_dis_t${v.id}`]: v.discount, 'id': v.id,
                                'name': v.name, 'sum': v.needNum, 'times': v.fre, 'is_rate': v.yh})
                        }else{
                            th.push({'price': v.price, [`p_dis_t${v.id}`]: v.discount, 'id': v.id,
                                'name': v.name, 'sum': v.needNum, 'times': v.fre})
                        }
                    }
                }
                $.post(url(methods.buyTh)+`&id=${this.user_id}`, {
                    data: JSON.stringify(th)
                }, v=>{
                    if(v.code==1){
                        this.need = []
                        for (let v of this.list) {
                            v.needNum = 0;
                        }
                        success(v.Msg)
                        localStorage.setItem('orderId', v.res.orderId)
                        localStorage.setItem('arrearsRes', v.res.arrearsRes)
                        localStorage.setItem('type', 1)
                        setTimeout(()=>location.href = './pay_page.html', 1000)
                    }else{
                        error(v.errorMsg)
                    }
                })
            },
            subCp() {
                let goods = []
                for(let v of this.need) {
                    if(v.type == '产品') {
                        if(v.yh != 0){
                            goods.push({'price': v.yh==1?v.price * v.discount/10:0, [`p_dis_t${v.id}`]: v.discount, 'id': v.id,
                                'name': v.name, 'sum': v.needNum, 'spec': v.spec, 'is_rate': v.yh})
                        }else{
                            goods.push({'price': v.price, [`p_dis_t${v.id}`]: v.discount, 'id': v.id,
                                'name': v.name, 'sum': v.needNum, 'spec': v.spec})
                        }
                    }
                }
                //console.log(goods);return
                $.post(url(methods.buyGoods)+`&id=${this.user_id}`, {
                    data: JSON.stringify(goods)
                }, v=>{
                    if(v.code==1){
                        this.need = []
                        for (let v of this.list) {
                            v.needNum = 0;
                        }
                        success(v.Msg)
                        localStorage.setItem('orderId', v.res.orderId)
                        localStorage.setItem('arrearsRes', v.res.arrearsRes)
                        localStorage.setItem('type', 1)
                        setTimeout(()=>location.href = './pay_page.html', 1000)
                    }else{
                        error(v.errorMsg)
                    }
                })
            },
            sub() {
                if(this.tabIndex==0){
                    this.subCp()
                }else if(this.tabIndex==1) {
                    this.subItems()
                }else if(this.tabIndex==2) {
                    this.subBox()
                }
                /*if (this.need.length == 0) {
                    error('请选择商品')
                    return
                }
                let goods = [];
                let th = [];
                let items = [];
                for(let v of this.need) {
                    if(v.type == '项目'){
                        if(v.yh!=0){
                            items.push({'price': v.price, [`p_dis_t${v.id}`]: v.discount, 'id': v.id,
                                'name': v.name, 'sum': v.needNum, 'times': v.fre, 'is_rate': v.yh})
                        }else{
                            items.push({'price': v.price, [`p_dis_t${v.id}`]: v.discount, 'id': v.id,
                                'name': v.name, 'sum': v.needNum, 'times': v.fre})
                        }
                    }else if(v.type == '产品') {
                        if(v.yh != 0){
                            goods.push({'price': v.price, [`p_dis_t${v.id}`]: v.discount, 'id': v.id,
                                'name': v.name, 'sum': v.needNum, 'spec': v.spec, 'is_rate': v.yh})
                        }else{
                            goods.push({'price': v.price, [`p_dis_t${v.id}`]: v.discount, 'id': v.id,
                                'name': v.name, 'sum': v.needNum, 'spec': v.spec})
                        }

                    }else if(v.type == '套盒') {
                        if(v.yh!=0){
                            th.push({'price': v.price, [`p_dis_t${v.id}`]: v.discount, 'id': v.id,
                                'name': v.name, 'sum': v.needNum, 'times': v.fre, 'is_rate': v.yh})
                        }else{
                            th.push({'price': v.price, [`p_dis_t${v.id}`]: v.discount, 'id': v.id,
                                'name': v.name, 'sum': v.needNum, 'times': v.fre})
                        }
                    }
                }
                //console.log(goods, th, items);return
                $.post(url(methods.mergeBuy), {
                    'item': JSON.stringify(items),
                    'goods': JSON.stringify(goods), 'th': JSON.stringify(th), 'id': this.user_id}, v=>{
                    if(v.code==1){
                        localStorage.setItem('order_id', v.res)
                        success('购买成功，请在手机端补款')
                        setTimeout(()=>location.reload(), 1500)
                        /!*location.href = './pay_page.html'*!/
                    }else{
                        error(v.error)
                    }
                })*/
            },
            allRemove() {
                this.$confirm('是否全部清空?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.need = []
                    for (let v of this.list) {
                        v.needNum = 0;
                    }
                }).catch(e=>{

                })
            },
            form(r, c) {
                if (r.free == 1) {
                    return '是'
                } else {
                    return '否'
                }
            },
            remove(v) {
                if (v.needNum > 0) {
                    v.needNum--
                    for (let i in this.need) {
                        if (v.id == this.need[i].id && this.need[i].needNum > 0) {
                            z = false
                            break
                        }
                        if (this.need[i].needNum == 0) {
                            this.need.splice(i, 1)
                        }
                    }
                }
            },
            add(v) {
                v.needNum++
                let z = true;
                for (let x of this.need) {
                    if (v.id == x.id) {
                        z = false
                        break
                    }
                }
                if (z) {
                    this.need.unshift(v)
                }
                console.log(this.need)
            },
            toggleSelection(rows) {
                if (rows) {
                    rows.forEach(row => {
                        this.$refs.multipleTable.toggleRowSelection(row);
                    });
                } else {
                    this.$refs.multipleTable.clearSelection();
                }
            },
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },
            handleEdit(index, row) {
                console.log(index, row);
            },
            handleDelete(index, row) {
                console.log(index, row);
            },
            getGoods() {
                $.post(url(methods.getAllGoods), v => {
                    let rs = verify(v)
                    if (rs != false) {
                        for (let v of rs) {
                            v['needNum'] = 0
                            v['discount'] = 10
                            v['yh'] = 0
                        }
                        this.list = rs
                    }
                })
            },
            ok() {
                success('上传成功')
                this.fileList = []
                this.getGoods()
            },
            beforeUpload2(f) {
                let ext = f.name.toString().split('.')
                if (ext[1] != 'xlsx') {
                    error('请上传xlsx文件')
                    return false
                }
            },
            handleClick(tab, event) {
                //console.log(tab.index)
                this.tabIndex = tab.index
                this.need = []
                for (let v of this.list) {
                    v.needNum = 0;
                }
            },
        },
        computed: {
            total() {
                let all = 0
                for (let v of this.need) {
                    all += v.discount / 10 * v.price * v.needNum
                }
                return all
            }
        },
        mounted() {
            this.$nextTick(e => {
                //初始化
                that = this;
                this.user_id = localStorage.getItem('user_id')
                this.getGoods()
                loginState()
                this.r = url(methods.upload + '?type=2')
            })
        }
    })
</script>