<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>美约会-消费</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/customer.css">
    <link rel="stylesheet" type="text/css" href="../css/buy.css">
</head>
<body>

<div id="app" class="customer">
    <p class="cus_title">
        <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item><a href="home.html" target="iframe">工作台首页</a></el-breadcrumb-item>
            <el-breadcrumb-item><a href="customer.html" target="iframe">会员管理</a></el-breadcrumb-item>
            <el-breadcrumb-item>消费</el-breadcrumb-item>
        </el-breadcrumb>
    </p>
    <template>

        <el-tabs type="card" @tab-click="handleClick" class="vip_infor"><!---->
            <el-tab-pane label="产品">
                <div>
                    <el-input style="margin:5px 0;" class="cus_seatch"
                              placeholder="请输入商品名称"
                              prefix-icon="el-icon-search"
                              v-model="input">
                    </el-input>
                </div>
                <el-table border :max-height="max_ht"
                          ref="multipleTable"
                          :data="list.filter(data => (!input || data.name.toLowerCase().includes(input.toLowerCase())) && data.type=='产品')"
                          tooltip-effect="dark"
                          style="width: 100%">
                    <el-table-column
                            label="品项"
                            width="120"
                            prop="type">
                    </el-table-column>
                    <el-table-column
                            prop="class"
                            label="类别"
                            width="120">
                    </el-table-column>
                    <el-table-column
                            prop="name"
                            label="商品名称"
                            min-width="210">
                    </el-table-column>

                    <!--<el-table-column
                            prop=""
                            label="编号">
                    </el-table-column>
                    <el-table-column
                            prop=""
                            label="颜色">
                    </el-table-column>
                    <el-table-column
                            prop=""
                            label="大小">
                    </el-table-column>-->

                    <el-table-column
                            prop="price"
                            label="零售价">
                    </el-table-column>
                    <el-table-column
                            prop="stock"
                            label="库存">
                    </el-table-column>
                    <el-table-column
                            prop="beforehand_num"
                            label="预售">
                    </el-table-column>
                   <!-- <el-table-column
                            prop="fre"
                            label="次数">
                    </el-table-column>-->
                    <el-table-column
                            prop="free"
                            label="赠送"
                            :formatter="form">
                    </el-table-column>
                    <el-table-column
                            label="加入购物车"
                            show-overflow-tooltip>
                        <template slot-scope="scope">
                            <i class="el-icon-remove blue_c" @click="remove(scope.row)" v-if="scope.row.needNum>0"></i>
                            <i v-if="scope.row.needNum>0">{{scope.row.needNum}}</i>
                            <i class="el-icon-circle-plus blue_c" @click="add(scope.row)"></i>
                        </template>
                    </el-table-column>
                </el-table>
            </el-tab-pane>
            <el-tab-pane label="项目">
                <div>
                    <el-input style="margin:5px 0;" class="cus_seatch"
                              placeholder="请输入商品名称"
                              prefix-icon="el-icon-search"
                              v-model="input">
                    </el-input>
                </div>
                <el-table border :max-height="max_ht"
                          ref="multipleTable"
                          :data="list.filter(data => (!input || data.name.toLowerCase().includes(input.toLowerCase())) && data.type=='项目')"
                          tooltip-effect="dark"
                          style="width: 100%">
                    <el-table-column
                            label="品项"
                            width="120"
                            prop="type">
                    </el-table-column>
                    <el-table-column
                            prop="class"
                            label="类别"
                            width="120">
                    </el-table-column>
                    <el-table-column
                            prop="name"
                            label="商品名称" min-width="210">
                    </el-table-column>
                    <el-table-column
                            prop="price"
                            label="零售价">
                    </el-table-column>
                    <el-table-column
                            prop="stock"
                            label="库存">
                    </el-table-column>
                    <el-table-column
                            prop="beforehand_num"
                            label="预售">
                    </el-table-column>
                    <el-table-column
                            prop="fre"
                            label="次数">
                    </el-table-column>
                    <el-table-column
                            prop="free"
                            label="赠送"
                            :formatter="form">
                    </el-table-column>
                    <el-table-column
                            label="加入购物车"
                            show-overflow-tooltip>
                        <template slot-scope="scope">
                            <i class="el-icon-remove blue_c" @click="remove(scope.row)" v-if="scope.row.needNum>0"></i>
                            <i v-if="scope.row.needNum>0">{{scope.row.needNum}}</i>
                            <i class="el-icon-circle-plus blue_c" @click="add(scope.row)"></i>
                        </template>
                    </el-table-column>
                </el-table>
            </el-tab-pane>
            <el-tab-pane label="套盒">
                <div>
                    <el-input style="margin:5px 0;" class="cus_seatch"
                              placeholder="请输入商品名称"
                              prefix-icon="el-icon-search"
                              v-model="input">
                    </el-input>
                </div>
                <el-table border :max-height="max_ht"
                          ref="multipleTable"
                          :data="list.filter(data => (!input || data.name.toLowerCase().includes(input.toLowerCase())) && data.type=='套盒')"
                          tooltip-effect="dark"
                          style="width: 100%">
                    <el-table-column
                            label="品项"
                            width="120"
                            prop="type">
                    </el-table-column>
                    <el-table-column
                            prop="class"
                            label="类别"
                            width="120">
                    </el-table-column>
                    <el-table-column
                            prop="name"
                            label="商品名称" min-width="210">
                    </el-table-column>
                    <el-table-column
                            prop="price"
                            label="零售价">
                    </el-table-column>
                    <el-table-column
                            prop="stock"
                            label="库存">
                    </el-table-column>
                    <el-table-column
                            prop="beforehand_num"
                            label="预售">
                    </el-table-column>
                    <el-table-column
                            prop="fre"
                            label="次数">
                    </el-table-column>
                    <el-table-column
                            prop="free"
                            label="赠送"
                            :formatter="form">
                    </el-table-column>
                    <el-table-column
                            label="加入购物车"
                            show-overflow-tooltip>
                        <template slot-scope="scope">
                            <i class="el-icon-remove blue_c" @click="remove(scope.row)" v-if="scope.row.needNum>0"></i>
                            <i v-if="scope.row.needNum>0">{{scope.row.needNum}}</i>
                            <i class="el-icon-circle-plus blue_c" @click="add(scope.row)"></i>
                        </template>
                    </el-table-column>
                </el-table>
            </el-tab-pane>
            <el-tab-pane label="方案">
                <div>
                    <el-input style="margin:5px 0;" class="cus_seatch"
                              placeholder="请输入商品名称"
                              prefix-icon="el-icon-search"
                              v-model="input">
                    </el-input>
                </div>
                <el-table border :max-height="max_ht"
                          ref="multipleTable"
                          :data="list.filter(data => (!input || data.name.toLowerCase().includes(input.toLowerCase())) && data.type=='方案')"
                          tooltip-effect="dark"
                          style="width: 100%">
                    <el-table-column
                            prop="name"
                            label="商品名称" min-width="210">
                    </el-table-column>
                    <el-table-column
                            prop="sale"
                            label="零售价">
                    </el-table-column>
                    <el-table-column
                            prop="free"
                            label="赠送"
                            :formatter="form">
                    </el-table-column>
                    <el-table-column
                            label="加入购物车"
                            show-overflow-tooltip>
                        <template slot-scope="scope">
                            <i class="el-icon-remove blue_c" @click="remove(scope.row)" v-if="scope.row.needNum>0"></i>
                            <i v-if="scope.row.needNum>0">{{scope.row.needNum}}</i>
                            <i class="el-icon-circle-plus blue_c" @click="add(scope.row)"></i>
                        </template>
                    </el-table-column>
                </el-table>
            </el-tab-pane>
            <el-tab-pane label="卡项">
                <div>
                    <el-input style="margin:5px 0;" class="cus_seatch"
                              placeholder="请输入商品名称"
                              prefix-icon="el-icon-search"
                              v-model="input">
                    </el-input>
                </div>
                <el-table border :max-height="max_ht"
                          ref="multipleTable"
                          :data="card.filter(data => (!input || data.card_name.toLowerCase().includes(input.toLowerCase())))"
                          tooltip-effect="dark"
                          style="width: 100%">
                    <el-table-column
                            label="类型"
                            width="120"
                            prop="card_type">
                    </el-table-column>
                    <el-table-column
                            prop="card_name"
                            label="名称"
                            width="160">
                    </el-table-column>
                    <el-table-column
                            prop="amount"
                            label="余额">
                    </el-table-column>
                    <el-table-column
                            prop="price"
                            label="售价">
                    </el-table-column>
                    <!--<el-table-column
                            prop="stock"
                            label="库存">
                    </el-table-column>
                    <el-table-column
                            prop="beforehand_num"
                            label="预售">
                    </el-table-column>
                    <el-table-column
                            prop="fre"
                            label="次数">
                    </el-table-column>-->
                    <el-table-column
                            prop="send"
                            label="赠送"
                            :formatter="form2">
                    </el-table-column>
                    <el-table-column
                            label="加入购物车"
                            show-overflow-tooltip>
                        <template slot-scope="scope">
                            <i class="el-icon-remove blue_c" @click="remove2(scope.row)" v-if="scope.row.needNum>0"></i>
                            <i v-if="scope.row.needNum>0">{{scope.row.needNum}}</i>
                            <i class="el-icon-circle-plus blue_c" @click="add2(scope.row)"></i>
                        </template>
                    </el-table-column>
                </el-table>
            </el-tab-pane>

            <el-tab-pane v-if="user.mode==1" label="内衣">
                <div>
                    <el-input style="margin:5px 0;" class="cus_seatch"
                              placeholder="请输入商品名称"
                              prefix-icon="el-icon-search"
                              v-model="input">
                    </el-input>
                </div>
                <el-table border :max-height="max_ht"
                          ref="multipleTable"
                          :data="yf.filter(data => (!input || data.name.toLowerCase().includes(input.toLowerCase())))"
                          tooltip-effect="dark"
                          style="width: 100%">
                    <el-table-column
                            label="编号"
                            prop="sn" min-width="140">
                    </el-table-column>
                    <el-table-column
                            label="类型"
                            prop="type">
                    </el-table-column>
                    <el-table-column
                            prop="name"
                            label="名称"
                            min-width="210">
                    </el-table-column>
                    <el-table-column
                            prop="price"
                            label="价格">
                    </el-table-column>
                    <el-table-column
                            prop="color"
                            label="颜色">
                    </el-table-column>
                    <el-table-column
                            prop="size"
                            label="尺码">
                    </el-table-column>
                    <el-table-column
                            prop="cup"
                            label="罩杯">
                    </el-table-column>
                    <el-table-column
                            prop="unit"
                            label="单位">
                    </el-table-column>
                    <el-table-column
                            prop="sum"
                            label="数量">
                    </el-table-column>
                    <el-table-column
                            label="加入购物车"
                            show-overflow-tooltip>
                        <template slot-scope="scope">
                            <i class="el-icon-remove blue_c" @click="remove3(scope.row)" v-if="scope.row.needNum>0"></i>
                            <i v-if="scope.row.needNum>0">{{scope.row.needNum}}</i>
                            <i class="el-icon-circle-plus blue_c" @click="add3(scope.row)"></i>
                        </template>
                    </el-table-column>
                </el-table>
            </el-tab-pane>
           <!-- <el-tab-pane>
                <span slot="label" @click="recharge_dio=true">充值</span>
            </el-tab-pane>-->
        </el-tabs>


        <!--<div v-if="need.length>0" style="height: 250px;"></div>-->
        <div v-if="need.length>0" class="cart_div" style="z-index: 10">
            <p class="cart_title">
                已选择（{{need.length}}）
                <span class="fr mar_hun" @click="allRemove">
                <img src="../images/delete.png">&nbsp;全部清空
               </span>
            </p>
            <div style="height: 200px;background: white;overflow: scroll;">
                <ul class="consume_list" style="margin-bottom: 50px">
                    <li v-for="v in need" class="linr_four">
                        <span class="g_name">
                             {{v.name}}
                        </span><!--{{v.yh==1?v.price * v.discount/10*v.needNum:v.yh==2?0:v.price2}}-->
                        <span class="p_wid">￥{{v.yh==2?0:v.one*v.needNum}}</span>
                        <span>
                            优惠方式
                            <el-radio v-model="v.yh" label="1">打折</el-radio>
                            <el-input v-if="v.yh==1" v-model="v.discount" placeholder="请输入1到10的数字"
                                      class="in_wid und_line" type="number" v-on:input="getDis(v)"></el-input>
                            <el-radio v-model="v.yh" @change="v.discount=10" label="3">改价</el-radio>
                            <el-input v-if="v.yh==3" v-model="v.price2" placeholder="请输入价格"
                                      class="in_wid und_line" type="number" v-on:input="getPrice(v)"></el-input>
                            <el-radio v-model="v.yh" label="2" v-if="v.free==1">赠送</el-radio>
                            <template v-if="v.type!='产品' && v.type!='方案'">
                                <i class="check_box">
                                    <!--<el-checkbox v-model="checked">修改次数</el-checkbox>-->
                                    修改次数
                                </i>
                                <el-input v-model="v.fre" placeholder="请输入次数" class="in_wid und_line"></el-input>
                            </template>
                        </span>
                        <span class="fr mar_hun">
                             <i class="el-icon-remove blue_c" @click="remove(v)"></i>
                             <i>{{v.needNum}}</i>
                             <i class="el-icon-circle-plus blue_c" @click="add(v)"></i>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="cart_total">
                 <span class="fl cr total_money">
                     合计：{{total}}
                 </span>
                <span class="green pay cursor" @click="sub">提交订单</span>
            </div>
        </div>

        <div v-if="need2.length>0" class="cart_div" style="z-index: 10">
            <p class="cart_title">
                已选择（{{need2.length}}）
                <span class="fr mar_hun" @click="allRemove">
                <img src="../images/delete.png">&nbsp;全部清空
               </span>
            </p>
            <div style="height: 200px;background: white;overflow: scroll;">
                <ul class="consume_list" style="margin-bottom: 50px">
                    <li v-for="v in need2" class="linr_four">
                        <span class="g_name">
                             {{v.card_name}}
                        </span>
                        <span class="p_wid">￥{{v.yh==2?0:v.one*v.needNum}}</span>
                        <span class="span_bold">
                            优惠方式
                            <el-radio v-model="v.yh" label="1">打折</el-radio>
                            <el-input v-if="v.yh==1" v-model="v.discount" v-on:input="getDis(v)" placeholder="请输入1到10的数字"
                                      class="in_wid und_line"></el-input>
                            <el-radio v-model="v.yh" label="3" @change="v.discount=10">改价</el-radio>
                            <el-input v-if="v.yh==3" v-model="v.price2" v-on:input="getPrice(v)" placeholder="请输入价格"
                                      class="in_wid und_line"></el-input>
                            <el-radio v-model="v.yh" label="2" v-if="v.send==1">赠送</el-radio>
                        </span>
                        <span class="fr mar_hun">
                             <i class="el-icon-remove blue_c" @click="remove2(v)"></i>
                             <i>{{v.needNum}}</i>
                             <i class="el-icon-circle-plus blue_c" @click="add2(v)"></i>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="cart_total">
                 <span class="fl cr total_money">
                     合计：{{total2}}
                 </span>
                <span class="red_box pay" @click="subCard" style="cursor: pointer">提交订单</span>
            </div>
        </div>

        <div v-if="need3.length>0" class="cart_div" style="z-index: 10">
            <p class="cart_title">
                已选择（{{need3.length}}）
                <span class="fr mar_hun cursor" @click="allRemove">
                <img src="../images/delete.png">&nbsp;全部清空
               </span>
            </p>
            <div style="height: 200px;background: white;overflow: scroll;">
                <ul class="consume_list" style="margin-bottom: 50px">
                    <li v-for="v in need3" class="linr_four">
                        <span class="g_name">
                             {{v.name}}
                        </span>
                        <span class="p_wid">￥{{v.yh==2?0:v.one*v.needNum}}</span>
                        <span class="span_bold">
                            优惠方式
                            <el-radio v-model="v.yh" label="1">打折</el-radio>
                            <el-input v-if="v.yh==1" v-on:input="getDis(v)" v-model="v.discount" placeholder="请输入1到10的数字"
                                      class="in_wid und_line"></el-input>
                            <el-radio v-model="v.yh" @change="v.discount=10" label="3">改价</el-radio>
                            <el-input v-if="v.yh==3" v-model="v.price2" v-on:input="getPrice(v)" placeholder="请输入价格"
                                      class="in_wid und_line"></el-input>
                            <el-radio v-model="v.yh" label="2" v-if="v.send==1">赠送</el-radio>
                        </span>
                        <span class="fr mar_hun">
                             <i class="el-icon-remove blue_c" @click="remove3(v)"></i>
                             <i>{{v.needNum}}</i>
                             <i class="el-icon-circle-plus blue_c" @click="add3(v)"></i>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="cart_total">
                 <span class="fl cr total_money">
                     合计：{{total3}}
                 </span>
                <span class="red_box pay" @click="buyClothes()" style="cursor: pointer">提交订单</span>
            </div>
        </div>
        <!--充值弹窗-->
        <el-dialog
                title="充值"
                :visible.sync="recharge_dio"
                center
                :before-close="cancel">
            <ul class="goods_edit">
                <li>
                    <span class="list_left">选择</span>
                    <span class="list_right">
                        <el-radio v-model="rech_type" label="1">账户充值</el-radio>
                        <el-radio v-model="rech_type" label="2">卡项充值</el-radio>
                    </span>
                </li>

                <li v-if="rech_type==1">
                    <div class="cus_center">
                        <el-button
                                size="mini"
                                type="success"
                                @click="record_dio=true;get_record('balance')">充值记录
                        </el-button>
                    </div>
                    <ul class="goods_edit">
                        <li>
                            <span class="list_left">当前余额</span>
                            <span class="list_right">
                                156
                            </span>
                        </li>
                        <li>
                            <span class="list_left">充值金额</span>
                            <span class="list_right">
                                <el-input v-model="re_money" placeholder="请输入充值金额"></el-input>
                            </span>
                        <li>
                            <span class="list_left">赠送余额</span>
                            <span class="list_right">
                                <el-input v-model="send_money" placeholder="请输入赠送余额"></el-input>
                            </span>
                        </li>
                    </ul>
                </li>
                <li v-if="rech_type==2">
                    <ul class="card_li">
                        <li>
                            <div>
                                <p></p>
                                <p>金额:&#12288;卡类:</p>
                            </div>
                            <span>
                                <el-button
                                        size="mini"
                                        type="primary"
                                        @click="card_re_dio=true">充值
                                </el-button>
                            </span>
                        </li>
                    </ul>
                </li>
            </ul>
            <span slot="footer" class="dialog-footer">
            <el-button @click="">取 消</el-button>
            <el-button type="primary" @click="">确 定</el-button>
          </span>
        </el-dialog>
        <!--卡项充值内弹窗-->
        <el-dialog
                title="卡项充值"
                :visible.sync="card_re_dio"
                center
                :before-close="cancel">
            <div class="cus_center">
                <el-button
                        size="mini"
                        type="success"
                        @click="record_dio=true;get_record('card')">充值记录
                </el-button>
            </div>
            <ul class="goods_edit">
                <li>
                    <span class="list_left">卡余额</span>
                    <span class="list_right">
                        566
                    </span>
                </li>
                <li>
                    <span class="list_left">充值金额</span>
                    <span class="list_right">
                        <el-input v-model="card_money" placeholder="请输入充值金额"></el-input>
                    </span>
                </li>
            </ul>
            <span slot="footer" class="dialog-footer">
            <el-button @click="">取 消</el-button>
            <el-button type="primary" @click="">确 定</el-button>
          </span>
        </el-dialog>
        <!-- 卡项、账户充值记录 -->
        <el-dialog
                title="充值记录"
                :visible.sync="record_dio"
                center>
            <el-table border
                      :data="record"
                      style="width: 100%">
                <el-table-column
                        type="index"
                        width="50">
                </el-table-column>
                <el-table-column
                        label="类型">
                    <template slot-scope="scope">
                        <i v-if="scope.row.type==1">余额</i>
                        <i v-if="scope.row.type==2">卡项</i>
                    </template>
                </el-table-column>
                <el-table-column
                        prop="money"
                        label="金额">
                </el-table-column>
                <el-table-column
                        prop="send_money"
                        label="赠送金额">
                </el-table-column>
                <el-table-column
                        prop="time"
                        label="时间">
                </el-table-column>
            </el-table>
        </el-dialog>

    </template>

</div>

</body>
</html>
<script src="../js/jquery.min.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/func.js"></script>
<script src="../js/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            rech_type:'1',
            recharge_dio:false,
            record_dio:false,
            card_re_dio:false,
            re_money:'',
            send_money:'',
            card_money:'',
            index: 0,
            max_ht: 0,
            input: '',
            radio: '',
            checked: '',
            tableData3: [{
                px: '产品',
                class: '面部',
                name: '睡眠面膜',
                price: '231',
                stock: '12',
                fre: '',
                fee: '',
                give: '是'
            }, {
                px: '套盒',
                class: '身体',
                name: '肩颈套',
                price: '2310',
                stock: '12',
                fre: '12',
                fee: '5',
                give: '是'
            }],
            multipleSelection: [],
            list: [],
            r: '',
            fileList: [],
            zt: true,
            need: [],
            user_id: 0,
            tabIndex: 0,
            card: [],
            wear: [],
            need2: [],
            user: '',
            yf: [],
            need3: [],
            nowData: '',
            p: null,
            record:''
        },
        methods: {
            cancel(){
                this.recharge_dio=false;
                this.record_dio=false;
                this.card_re_dio=false;
            },
            get_record(type){
                $.post(url(methods.recharge_record),{mid:this.user_id,type:type},v=>{
                    if(v.record!=''){
                        this.record=v.record;
                    }
                })
            },
            getPrice(v){
                v.one = parseFloat(v.price2)/parseFloat(v.needNum)
                v.bf = v.price2
            },
            getDis(v){
                if(v.bf==null){
                    v.price2 = parseFloat(v.price)*parseFloat(v.needNum)*parseFloat(v.discount)/10
                    v.one = parseFloat(v.price2)/parseInt(v.needNum)
                }else{
                    v.price2 = parseFloat(v.bf)*parseFloat(v.discount)/10
                    v.one = parseFloat(v.price2)/parseInt(v.needNum)
                }
                /*v.price2 = parseFloat(v.price2)*parseFloat(v.discount)/10
                v.one = parseFloat(v.price2)/parseInt(v.needNum)*/
            },
            height() {
                var height = window.innerHeight;
                if(this.need.length>0||this.need2.length>0||this.need3.length>0){
                    this.max_ht = window.innerHeight - 415;
                }else{
                    this.max_ht = window.innerHeight - 165;
                }
            },
            buyClothes() {
                if (this.need3.length == 0) {
                    return error('请选择内衣')
                }
                let wear = []
                let all = 0
                for (let v of this.need3) {
                    all += parseFloat(v.one) * parseInt(v.needNum)
                    wear.push({
                            'price': v.price2 , [`p_dis_t${v.id}`]: v.yh,
                            'id': v.id,'name':v.name,'type':v.type,'spec':v.sum, 'sum': v.needNum
                        })
                }
                $.post(url(methods.buyWear),{data: JSON.stringify(wear),type: all > 0 ? 1 : 2,id: this.user_id}, v => {
                    console.log(v);
                    if (v.code == 1) {
                        this.need3 = []
                        for (let v of this.yf) {
                            v.needNum = 0;
                        }
                        success('购买成功')
                        localStorage.setItem('orderId', v.res.orderId)
                        localStorage.setItem('type', 1)
                        localStorage.setItem('arrearsRes', v.res.arrearsRes)
                        setTimeout(() => location.href = './pay_page.html', 1000)
                    }else{
                        error(v.error)
                    }
                })
            },
            subCard() {
                if (this.need2.length == 0) {
                    return
                }
                let card = []
                for (let v of this.need2) {
                    if (v.yh == 0 || v.yh == 3) {
                        card.push({'price': v.price2, 'id': v.id, 'sum': v.needNum})
                    } else {
                        card.push({
                            'price': v.yh == 1 ? v.price * v.dis / 10 : 0, [`p_dis_t${v.id}`]: v.yh,
                            'id': v.id, 'sum': v.needNum
                        })
                    }
                }
                //type>0传1 =0传2
                $.post(url(methods.buyCard) + `&id=${this.user_id}`, {data: JSON.stringify(card)}, v => {
                    if (v.code == 1) {
                        this.need = []
                        for (let v of this.list) {
                            v.needNum = 0;
                        }
                        success(v.Msg)
                        localStorage.setItem('orderId', v.res.orderId)
                        localStorage.setItem('arrearsRes', v.res.arrearsRes)
                        localStorage.setItem('type', 1)
                        setTimeout(() => location.href = './pay_page.html', 1000)
                    } else {
                        error(v.error)
                    }
                })
            },
            subItems() {
                let items = []
                let all = 0
                for (let v of this.need) {
                    all += parseFloat(v.one) * parseInt(v.needNum)
                    if (v.type == '项目') {
                        if (v.yh==2) {
                            items.push({
                                'price': 0, [`p_dis_t${v.id}`]: v.discount, 'id': v.id,
                                'name': v.name, 'sum': v.needNum, 'times': v.fre, 'is_rate': v.yh
                            })
                        } else {
                            items.push({
                                'price': v.price2, [`p_dis_t${v.id}`]: v.discount, 'id': v.id,
                                'name': v.name, 'sum': v.needNum, 'times': v.fre
                            })
                        }
                    }
                }
                $.post(url(methods.buyItems) + `&id=${this.user_id}`, {
                    data: JSON.stringify(items),
                    type: all > 0 ? 1 : 2
                }, v => {
                    if (v.code == 1) {
                        this.need = []
                        for (let v of this.list) {
                            v.needNum = 0;
                        }
                        success(v.Msg)
                        localStorage.setItem('orderId', v.res.orderId)
                        localStorage.setItem('arrearsRes', v.res.arrearsRes)
                        localStorage.setItem('type', 1)
                        setTimeout(() => location.href = './pay_page.html', 1000)
                    } else {
                        error(v.error)
                    }
                })
            },
            subBox() {
                let th = []
                let all = 0
                for (let v of this.need) {
                    all += parseFloat(v.one) * parseInt(v.needNum)
                    if (v.type == '套盒') {
                        if (v.yh ==2) {
                            th.push({
                                'price': 0, [`p_dis_t${v.id}`]: v.discount, 'id': v.id,
                                'name': v.name, 'sum': v.needNum, 'times': v.fre, 'is_rate': v.yh
                            })
                        } else {
                            th.push({
                                'price': v.price2, [`p_dis_t${v.id}`]: v.discount, 'id': v.id,
                                'name': v.name, 'sum': v.needNum, 'times': v.fre
                            })
                        }
                    }
                }
                $.post(url(methods.buyTh) + `&id=${this.user_id}`, {
                    data: JSON.stringify(th),
                    type: all > 0 ? 1 : 2
                }, v => {
                    if (v.code == 1) {
                        this.need = []
                        for (let v of this.list) {
                            v.needNum = 0;
                        }
                        success(v.Msg)
                        localStorage.setItem('orderId', v.res.orderId)
                        localStorage.setItem('arrearsRes', v.res.arrearsRes)
                        localStorage.setItem('type', 1)
                        setTimeout(() => location.href = './pay_page.html', 1000)
                    } else {
                        error(v.error)
                    }
                })
            },
            subCp() {
                let goods = []
                let all = 0
                for (let v of this.need) {
                    all += parseFloat(v.one) * parseInt(v.needNum)
                    if (v.type == '产品') {
                        if(v.yh==2){
                            v.price2=0;
                            goods.push({
                                'price': 0, [`p_dis_t${v.id}`]: v.discount, 'id': v.id,
                                'name': v.name, 'sum': v.needNum, 'spec': v.spec
                            })
                        }else{
                            goods.push({
                                'price': v.price2, [`p_dis_t${v.id}`]: v.discount, 'id': v.id,
                                'name': v.name, 'sum': v.needNum, 'spec': v.spec
                            })
                        }
                    }
                }
                $.post(url(methods.buyGoods) + `&id=${this.user_id}`, {
                    data: JSON.stringify(goods),
                    type: all > 0 ? 1 : 2,
                }, v => {
                    if (v.code == 1) {
                        this.need = []
                        for (let v of this.list) {
                            v.needNum = 0;
                        }
                        success(v.Msg)
                        localStorage.setItem('orderId', v.res.orderId)
                        localStorage.setItem('arrearsRes', v.res.arrearsRes)
                        localStorage.setItem('type', 1)
                        setTimeout(() => location.href = './pay_page.html', 1000)
                    } else {
                        error(v.error)
                    }
                })
            },
            subPlan() {
                let goods = []
                for (let v of this.need) {
                    if (v.type == '方案') {
                        if(v.yh==2){
                            v.price2=0;
                            goods.push({
                                'price': 0, [`p_dis_t${v.id}`]: v.discount, 'id': v.id, 'sum': v.needNum
                            })
                        }else{
                            goods.push({'price': v.price2, [`p_dis_t${v.id}`]: v.discount,'id': v.id, 'sum': v.needNum})
                        }
                    }
                }
                $.post(url(methods.buyPlan) + `&id=${this.user_id}`, {
                    data: JSON.stringify(goods)
                }, v => {
                    if (v.code == 1) {
                        this.need = []
                        for (let v of this.list) {
                            v.needNum = 0;
                        }
                        success(v.Msg)
                        localStorage.setItem('orderId', v.res.orderId)
                        localStorage.setItem('arrearsRes', v.res.arrearsRes)
                        localStorage.setItem('type', 1)
                        setTimeout(() => location.href = './pay_page.html', 1000)
                    } else {
                        error(v.error)
                    }
                })
            },
            sub() {
                if (this.tabIndex == 0) {
                    this.subCp()
                } else if (this.tabIndex == 1) {
                    this.subItems()
                } else if (this.tabIndex == 2) {
                    this.subBox()
                } else if (this.tabIndex == 3) {
                    this.subPlan()
                }
            },
            allRemove() {
                this.$confirm('是否全部清空?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.need = []
                    for (let v of this.list) {
                        v.needNum = 0;
                        v.price2 = v.price
                        v.yh = 0
                    }
                    this.need2 = []
                    for (let v of this.card) {
                        v.needNum = 0;
                        v.price2 = v.price
                        v.yh = 0
                    }
                    this.need3 = []
                    for (let v of this.yf) {
                        v.needNum = 0;
                        v.price2 = v.price
                        v.yh = 0
                    }
                }).catch(e => {

                })
                this.height();
            },
            form(r, c) {
                if (r.free == 1) {
                    return '是'
                } else {
                    return '否'
                }
            },
            form2(r, c) {
                if (r.send == 1) {
                    return '是'
                } else {
                    return '否'
                }
            },
            remove(v) {
                if (v.needNum > 0) {
                    v.needNum--
                    v.price2 = parseFloat(v.price2)-parseFloat(v.one)
                    for (let i in this.need) {
                        if (v.id == this.need[i].id && this.need[i].needNum > 0) {
                            z = false
                            break
                        }
                        if (this.need[i].needNum == 0) {
                            this.need[i].needNum = 0
                            this.need[i].price2 = this.need[i].price
                            this.need[i].yh = 0
                            this.need[i].bf = null
                            this.need.splice(i, 1)
                        }
                    }
                }
                this.height();
            },
            remove2(v) {
                if (v.needNum > 0) {
                    v.needNum--
                    v.price2 = parseFloat(v.price2)-parseFloat(v.one)
                    for (let i in this.need2) {
                        if (v.id == this.need2[i].id && this.need2[i].needNum > 0) {
                            z = false
                            break
                        }
                        if (this.need2[i].needNum == 0) {
                            this.need[i].needNum = 0
                            this.need[i].price2 = this.need[i].price
                            this.need[i].yh = 0
                            this.need[i].bf = null
                            this.need2.splice(i, 1)
                        }
                    }
                }
                this.height();
            },
            remove3(v) {
                if (v.needNum > 0) {
                    v.needNum--
                    v.price2 = parseFloat(v.price2)-parseFloat(v.one)
                    for (let i in this.need3) {
                        if (v.id == this.need3[i].id && this.need3[i].needNum > 0) {
                            z = false
                            break
                        }
                        if (this.need3[i].needNum == 0) {
                            this.need[i].needNum = 0
                            this.need[i].price2 = this.need[i].price
                            this.need[i].yh = 0
                            this.need[i].bf = null
                            this.need3.splice(i, 1)
                        }
                    }
                }
                this.height();
            },
            add(v) {
                v.needNum++
                let z = true;
                for (let x of this.need) {
                    if (v.id == x.id) {
                        x.price2 = (parseFloat(x.price2)+parseFloat(x.one)).toFixed(2)
                        z = false
                        break
                    }
                }
                if (z) {
                    this.need.unshift(v)
                }
                this.height();
            },
            add2(v) {
                v.needNum++
                let z = true;
                for (let x of this.need2) {
                    if (v.id == x.id) {
                        x.price2 = parseFloat(x.price2)+parseFloat(x.one)
                        z = false
                        break
                    }
                }
                if (z) {
                    this.need2.unshift(v)
                }
                this.height();
            },
            add3(v) {
                v.needNum++
                console.log(v)
                let z = true;
                for (let x of this.need3) {
                    if (v.id == x.id) {
                        x.price2 = parseFloat(x.price2)+parseFloat(x.one)
                        z = false
                        break
                    }
                }
                if (z) {
                    this.need3.unshift(v)
                }
                this.height();
            },
            toggleSelection(rows) {
                if (rows) {
                    rows.forEach(row => {
                        this.$refs.multipleTable.toggleRowSelection(row);
                    });
                } else {
                    this.$refs.multipleTable.clearSelection();
                }
            },
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },
            handleEdit(index, row) {
                console.log(index, row);
            },
            handleDelete(index, row) {
                console.log(index, row);
            },
            getGoods() {
                $.post(url(methods.getAllGoods), v => {
                    let rs = verify(v)
                    if (rs != false) {
                        for (let v of rs) {
                            v['needNum'] = 0
                            v['discount'] = 10
                            v['yh'] = 0
                            v['price2'] = v.price
                            v.one = v.price
                            v.bf = null
                        }
                        this.list = rs
                    }
                })
            },
            ok() {
                success('上传成功')
                this.fileList = []
                this.getGoods()
            },
            beforeUpload2(f) {
                let ext = f.name.toString().split('.')
                if (ext[1] != 'xlsx') {
                    error('请上传xlsx文件')
                    return false
                }
            },
            handleClick(tab, event) {
                //console.log(tab.index)
                this.tabIndex = tab.index
                this.need = []
                this.need2 = []
                this.need3 = []
                for (let v of this.list) {
                    v.needNum = 0;
                }
                for (let v of this.card) {
                    v.needNum = 0;
                }
                for (let v of this.yf) {
                    v.needNum = 0;
                }
                this.height()
            },
            getCard() {
                $.post(url(methods.getCardList), v => {
                    if (v.code == 1) {
                        for (let x of v.card.list) {
                            x.discount = 10
                            x.yh = 0
                            x.needNum = 0
                            x.price2 = x.price
                            x.one = x.price
                            v.bf = null
                        }
                        this.card = v.card.list
                    } else {
                        error(v.error)
                    }
                })
            },
            getYf() {
                $.get(url(methods.getUnderwear), v => {
                    for (let x of v.res) {
                        x['type'] = x['type'].toString()
                        x['needNum'] = 0
                        x['discount'] = 10
                        x['yh'] = 0
                        x['price2'] = x.price
                        x['one'] = x.price
                        v.bf = null
                    }
                    this.yf = v.res
                })
            },
        },
        computed: {
            total() {
                let all = 0
                for (let v of this.need) {
                    if(v.yh!=2){
                        all += parseFloat(v.one) * parseInt(v.needNum)
                    }
                }
                return all
            },
            total2() {
                let all = 0
                for (let v of this.need2) {
                    if(v.yh!=2){
                        all += parseFloat(v.one) * parseInt(v.needNum)
                    }
                }
                return all
            },
            total3() {
                let all = 0
                for (let v of this.need3) {
                    if(v.yh!=2){
                        all += parseFloat(v.one) * parseInt(v.needNum)
                    }
                }
                return all
            },
        },
        mounted() {
            this.$nextTick(e => {
                //初始化
                that = this;
                this.user_id = localStorage.getItem('user_id')
                this.user = JSON.parse(localStorage.getItem('user'))
                if (this.user.mode == 1) {
                    this.getYf()
                }
                this.getGoods()
                this.getCard()
                loginState()
                this.r = url(methods.upload + '?type=2')
                this.height()
            })
        }
    })
</script>