<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>卡项管理</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <style>
        .dis_div {
            display: flex;
            flex-wrap: wrap;
        }

        .dis_div > span {
            display: inline-block;
            width: 46%;
            margin-bottom: 5px;
        }
    </style>
</head>
<body>

<div id="app" class="customer">
    <template>
        <p class="cus_title">
            <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item :to="{ path: '/' }">卡项管理</el-breadcrumb-item>
            </el-breadcrumb>
        </p>
        <div class="cus_center">
            <el-button type="success" class="fr" @click="add_card = true" style="margin-bottom: 5px">新增卡项</el-button>
        </div>
        <el-table
                :data="list"
                border
                style="width: 100%">
            <el-table-column
                    prop="card_type"
                    label="卡类"
                    width="180"
                    :formatter="formatter">
            </el-table-column>
            <el-table-column
                    prop="card_name"
                    label="卡名称"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="amount"
                    label="卡金额">
            </el-table-column>
            <el-table-column
                    label="操作"
                    fixed="right"
                    show-overflow-tooltip>
                <template slot-scope="scope">
                    <el-button
                            size="mini"
                            @click="detail(scope.row.id)">编辑
                    </el-button>
                    <el-button
                            size="mini"
                            type="danger"
                            @click="">删除
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-dialog title="新增卡项"
                   :visible.sync="add_card"
                   width="660px"
                   center
                   :before-close="close">
            <ul class="goods_edit">
                <li>
                    <span class="list_left">卡类</span>
                    <span class="list_right">
                        <el-radio v-model="sj2.type" label="1">储值卡</el-radio>
                        <el-radio v-model="sj2.type" label="2">折扣储值卡</el-radio>
                        <el-radio v-model="sj2.type" label="3">全场折扣卡</el-radio>
                    </span>
                </li>
                <li>
                    <span class="list_left">卡名</span>
                    <span class="list_right">
                    <el-input v-model="sj2.name" placeholder="请输入卡名"></el-input>
                </span>
                </li>
                <li>
                    <span class="list_left">售价</span>
                    <span class="list_right">
                    <el-input v-model="sj2.price" type="number" placeholder="请输入售价"></el-input>
                </span>
                </li>
                <li>
                    <span class="list_left">额度</span>
                    <span class="list_right">
                    <el-input v-model="sj2.amount" type="number" placeholder="请输入额度"></el-input>
                </span>
                </li>
                <li v-if="sj2.type==3">
                    <span class="list_left">折扣</span>
                    <span class="list_right">
                    <el-input v-model="sj2.discount" placeholder="请输入折扣"></el-input>
                </span>
                </li>
                <li>
                    <span class="list_left">是否允许赠送</span>
                    <span class="list_right">
                       <el-radio v-model="sj2.send" label="1">允许</el-radio>
                        <el-radio v-model="sj2.send" label="2">不允许</el-radio>
                    </span>
                </li>
                <li v-if="sj2.type==2" class="dis_div">
                    <span>
                        套盒折扣：&#12288;
                        <el-input v-model="sj2.suitbox" type="number" placeholder="0" class="in_wid"></el-input>&nbsp;%
                    </span>
                    <span>
                        产品折扣：&#12288;
                        <el-input v-model="sj2.pro" type="number" placeholder="0" class="in_wid"></el-input>&nbsp;%
                    </span>
                    <span>
                        礼包折扣：&#12288;
                        <el-input v-model="sj2.gift" type="number" placeholder="0" class="in_wid"></el-input>&nbsp;%
                    </span>
                    <span>
                        项目折扣：&#12288;
                        <el-input v-model="sj2.items" type="number" placeholder="0" class="in_wid"></el-input>&nbsp;%
                    </span>
                </li>
            </ul>
            <span slot="footer" class="dialog-footer">
            <el-button @click="add_card = false">取 消</el-button>
            <el-button type="primary" @click="addCard">确 定</el-button>
          </span>
        </el-dialog>
    </template>
</div>

</body>
</html>
<script src="../js/jquery.min.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/func.js"></script>
<script src="../js/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            input: '',
            sj: {
                type: '1', //产品，套盒，项目
                name: '',
                price: '',
                stock: '',
                fre: '',
                fee: '',
                cid: ''
            },
            add_card: false,
            radio: '',
            options: [{
                value: '选项1',
                label: '折扣卡'
            }, {
                value: '选项2',
                label: '折扣储值卡'
            }, {
                value: '选项3',
                label: '全场折扣卡'
            }],
            value: '',
            tableData: [{
                date: '2016-05-02',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1518 弄'
            }, {
                date: '2016-05-04',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1517 弄'
            }, {
                date: '2016-05-01',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1519 弄'
            }, {
                date: '2016-05-03',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1516 弄'
            }],

            sj2: {
                type: '1',
                name: '',
                amount: '',
                discount: '',
                suitbox: '',
                pro: '',
                gift: '',
                items: '',
                send: '1',
                price: '',
            },
            list: [],
        },
        methods: {
            detail(id) {
                this.add_card = true
                $.post(url(methods.getCardDetails), {id: id}, v=>{
                    if(v.code==1){

                    }else{
                        error(v.error)
                    }
                })
            },
            close() {
                this.add_card = false
                this.sj2 = {
                    type: '1',
                    name: '',
                    amount: '',
                    discount: '',
                    suitbox: '',
                    pro: '',
                    gift: '',
                    items: '',
                    send: '1',
                    price: '',
                }
            },
            formatter(r, c) {
                if(r.card_type==1){
                    return '储值卡'
                }else if(r.card_type==2) {
                    return '折扣储值卡'
                }else if(r.card_type==3) {
                    return '全场折扣卡'
                }
            },
            addCard() {
                $.post(url(methods.addCard), {data: this.sj2}, v=>{
                    if(v.code==1){
                        this.getData()
                        this.sj2 = {
                            type: '1',
                            name: '',
                            amount: '',
                            discount: '',
                            suitbox: '',
                            pro: '',
                            gift: '',
                            items: '',
                            send: '1',
                            price: '',
                        }
                        success(v.Msg)
                    }else{
                        error(v.error)
                    }
                })
            },
            getData() {
                $.get(url(methods.getCardList), v=>{
                    if(v.code==1){
                        this.list = v.card.list
                    }else{
                        error(v.error)
                    }
                })
            },
        },
        mounted() {
            this.$nextTick(e => {
                //初始化
                that = this;
                loginState()
                this.getData()
            })
        }
    })
</script>