<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>提成人员录入</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/consume.css">
    <style>
        .bottom_submit {
            margin-top: 20px;
            width: 100%;
        }

        .bottom_submit button {
            width: 40%;
            display: block;
            margin: 0 auto;
        }
        .fix_ul>li{
            margin-bottom: 15px;
        }
        .raise_list{
            width: 100%;
        }
    </style>
</head>
<body>
<div id="app" class="customer">
    <template>
        <p class="cus_title">
            <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item><a href="home.html" target="iframe">工作台首页</a></el-breadcrumb-item>
                <el-breadcrumb-item><a href="customer.html" target="iframe">会员管理</a></el-breadcrumb-item>
                <el-breadcrumb-item><a href="buy.html" target="iframe">消费</a></el-breadcrumb-item>
                <el-breadcrumb-item><a href="pay_page.html" target="iframe">支付</a></el-breadcrumb-item>
                <el-breadcrumb-item>提成人员录入</el-breadcrumb-item>
            </el-breadcrumb>
        </p>
        <div class="cus_center">
            <el-button style="float: right;margin: 4.5px;" type="warning" @click="location.href = './customer.html'">取消提成
            </el-button>
        </div>
        <el-tabs type="card" @tab-click="handleClick"
                 class="vip_infor">
            <el-tab-pane label="普通提成">
            <div class="" style="margin:10px 0 15px;">
                <div style="height: 50px;width: 100%;line-height:50px;padding-left:15px;font-size:1.8rem;background: white;">
                    消费可提成金额 ：<span class="cr" style="font-size: 1.8rem;">&yen;{{total}}</span>
                </div>
                <div v-if="goods_additional_price > 0" style="height: 50px;width: 100%;line-height:50px;padding-left:15px;font-size:1.8rem;background: white;">
                    产品附加提成金额 ：<span class="cr" style="font-size: 1.8rem;">&yen;{{goods_additional_price}}</span>
                </div>
            </div>
            <div class="" v-if="total>0">
                <p class="p_div_b">
                    消费提成录入
                </p>
                <ul class="consume_list commission_list">
                    <li>
                        美容师
                        <el-select type="number" v-model="two.id" placeholder="请选择" class="in_wid">
                            <el-option
                                    v-for="item in m"
                                    :label="item.name"
                                    :value="item.id">
                            </el-option>
                        </el-select>
                        <el-input type="number" v-model="two.rate" placeholder="请输入" class="in_wid" @blur="check_number(2,two.rate)"></el-input>&nbsp;%
                        <p class="do_blue cursor" @click="add(2)">添加</p>
                    </li>
                    <li v-for="(v, i) in twoArr" style="background: #d5baf9;">
                        &nbsp;&nbsp;&nbsp;
                        <div>{{v.name}}</div>
                        <el-input type="number" :value="v.rate" placeholder="请输入" class="in_wid t_input" disabled></el-input>&nbsp;%
                        <i class="el-icon-circle-close-outline close cursor" @click="del(2, i)"></i>
                    </li>
                    <li>
                        顾问
                        <el-select v-model="three.id" placeholder="请选择" class="in_wid">
                            <el-option
                                    v-for="item in gw"
                                    :key="item.value"
                                    :label="item.name"
                                    :value="item.id">
                            </el-option>
                        </el-select>
                        <el-input type="number" v-model="three.rate" placeholder="请输入" class="in_wid" @blur="check_number(3,three.rate)"></el-input>&nbsp;%
                        <p class="do_blue cursor" @click="add(3)">添加</p>
                    </li>
                    <li v-for="(v, i) in threeArr" style="background: #d5baf9;">
                        &nbsp;&nbsp;&nbsp;
                        <div>{{v.name}}</div>
                        <el-input type="number" :value="v.rate" placeholder="请输入" class="in_wid t_input" disabled></el-input>&nbsp;%
                        <i class="el-icon-circle-close-outline close cursor" @click="del(3, i)"></i>
                    </li>

                    <li>
                        店长
                        <el-select v-model="four.id" placeholder="请选择" class="in_wid">
                            <el-option
                                    v-for="item in d"
                                    :key="item.value"
                                    :label="item.name"
                                    :value="item.id">
                            </el-option>
                        </el-select>
                        <el-input type="number" v-model="four.rate" placeholder="请输入" class="in_wid" @blur="check_number(4,four.rate)"></el-input>&nbsp;%
                        <p class="do_blue cursor" @click="add(4)">添加</p>
                    </li>
                    <li v-for="(v, i) in fourArr" style="background: #d5baf9;">
                        &nbsp;&nbsp;&nbsp;
                        <div>{{v.name}}</div>
                        <el-input type="number" :value="v.rate" placeholder="请输入" class="in_wid t_input" disabled></el-input>&nbsp;%
                        <i class="el-icon-circle-close-outline close cursor" @click="del(4, i)"></i>
                    </li>
                </ul>
            </div>

            <div class="" v-if="ac_card_total>0">
                <div class="" style="margin:10px 0 15px;">
                    <div style="height: 50px;width: 100%;line-height:50px;padding-left:15px;font-size:1.8rem;background: white;">
                        卡扣可提成金额 ：<span class="cr" style="font-size: 1.8rem;">&yen;{{ac_card_total}}</span>
                    </div>
                </div>
                <div class="">
                    <p class="p_div_b">
                        卡扣提成录入
                    </p>
                    <ul class="consume_list commission_list">
                        <li>
                            美容师
                            <el-select type="number" v-model="two2.id" placeholder="请选择" class="in_wid">
                                <el-option
                                        v-for="item in m"
                                        :label="item.name"
                                        :value="item.id">
                                </el-option>
                            </el-select>
                            <el-input type="number" v-model="two2.rate" placeholder="请输入" class="in_wid" @blur="check_number(22,two2.rate)"></el-input>&nbsp;%
                            <p class="do_blue cursor" @click="add2(2)">添加</p>
                        </li>
                        <li v-for="(v, i) in twoArr2" style="background: #d5baf9;">
                            &nbsp;&nbsp;&nbsp;
                            <div>{{v.name}}</div>
                            <el-input type="number" :value="v.rate" placeholder="请输入" class="in_wid t_input" disabled></el-input>&nbsp;%
                            <i class="el-icon-circle-close-outline close cursor" @click="del2(2, i)"></i>
                        </li>
                        <li>
                            顾问
                            <el-select v-model="three2.id" placeholder="请选择" class="in_wid">
                                <el-option
                                        v-for="item in gw"
                                        :key="item.value"
                                        :label="item.name"
                                        :value="item.id">
                                </el-option>
                            </el-select>
                            <el-input type="number" v-model="three2.rate" placeholder="请输入" class="in_wid" @blur="check_number(32,three2.rate)"></el-input>&nbsp;%
                            <p class="do_blue cursor" @click="add2(3)">添加</p>
                        </li>
                        <li v-for="(v, i) in threeArr2" style="background: #d5baf9;">
                            &nbsp;&nbsp;&nbsp;
                            <div>{{v.name}}</div>
                            <el-input type="number" :value="v.rate" placeholder="请输入" class="in_wid t_input" disabled></el-input>&nbsp;%
                            <i class="el-icon-circle-close-outline close cursor" @click="del2(3, i)"></i>
                        </li>

                        <li>
                            店长
                            <el-select v-model="four2.id" placeholder="请选择" class="in_wid">
                                <el-option
                                        v-for="item in d"
                                        :key="item.value"
                                        :label="item.name"
                                        :value="item.id">
                                </el-option>
                            </el-select>
                            <el-input type="number" v-model="four2.rate" placeholder="请输入" class="in_wid" @blur="check_number(42,four2.rate)"></el-input>&nbsp;%
                            <p class="do_blue cursor" @click="add2(4)">添加</p>
                        </li>
                        <li v-for="(v, i) in fourArr2" style="background: #d5baf9;">
                            &nbsp;&nbsp;&nbsp;
                            <div>{{v.name}}</div>
                            <el-input type="number" :value="v.rate" placeholder="请输入" class="in_wid t_input" disabled></el-input>&nbsp;%
                            <i class="el-icon-circle-close-outline close cursor" @click="del2(4, i)"></i>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bottom_submit">
                <el-button type="success" @click="sub" v-if="type==1">提交</el-button>
                <el-button type="success" @click="sub2" v-else>提交</el-button>
            </div>
            </el-tab-pane>
            <el-tab-pane label="固定提成">
                <p v-if="fixdata.length==0" style="color:red">补提暂时不能固定提成额</p>
                <ul class="fix_ul">
                    <li v-for="(g,index) in fixdata">
                        <div class="">
                            <div class="in_money">
                                商品名称：{{g.name}}&#12288;数量：{{g.sum}}
                                &#12288;金额 ：<span class="cr" style="font-size: 1.8rem;">&yen;{{g.discount_price}}</span>
                            </div>
                        </div>
                        <div class="">
                            <p class="p_div_b">
                                消费提成录入
                            </p>
                            <ul class="consume_list commission_list">
                                <li>
                                    美容师
                                    <el-select type="number" v-model="g.name_in" placeholder="请选择" class="in_wid">
                                        <el-option
                                                v-for="item in m"
                                                :label="item.name"
                                                :value="item.id">
                                        </el-option>
                                    </el-select>
                                    <el-input type="number" v-model="g.per_in"  v-change="check_per(g.per_in,'mrs',index)" placeholder="请输入" class="in_wid"></el-input>&nbsp;%
                                    <p class="do_blue cursor" @click="add_per('mrs',index,g.name_in,g.per_in)">添加</p>
                                </li>
                                <li>
                                    <ul class="raise_list">
                                        <li v-for="(v, key) in g.ra_mrs" style="background: #d5baf9;">
                                            &nbsp;&nbsp;&nbsp;
                                            <div>{{v.name}}</div>
                                            <el-input type="number" :value="v.money" placeholder="请输入" class="in_wid t_input" disabled></el-input>&nbsp;%
                                            <i class="el-icon-circle-close-outline close cursor" @click="del_per('mrs',index,key)"></i>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    顾问
                                    <el-select v-model="g.gw_name_in" placeholder="请选择" class="in_wid">
                                        <el-option
                                                v-for="item in gw"
                                                :label="item.name"
                                                :value="item.id">
                                        </el-option>
                                    </el-select>
                                    <el-input type="number" v-model="g.gw_per_in" v-change="check_per(g.gw_per_in,'gw',index)" placeholder="请输入" class="in_wid"></el-input>&nbsp;%
                                    <p class="do_blue cursor" @click="add_per('gw',index,g.gw_name_in,g.gw_per_in)">添加</p>
                                </li>
                                <li>
                                    <ul class="raise_list">
                                        <li v-for="(v, key) in g.ra_gw" style="background: #d5baf9;">
                                            &nbsp;&nbsp;&nbsp;
                                            <div>{{v.name}}</div>
                                            <el-input type="number" :value="v.money" placeholder="请输入" class="in_wid t_input" disabled></el-input>&nbsp;%
                                            <i class="el-icon-circle-close-outline close cursor" @click="del_per('gw',index,key)"></i>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    店长
                                    <el-select v-model="g.dz_name_in" placeholder="请选择" class="in_wid">
                                        <el-option
                                                v-for="item in d"
                                                :label="item.name"
                                                :value="item.id">
                                        </el-option>
                                    </el-select>
                                    <el-input type="number" v-model="g.dz_per_in" v-change="check_per(g.dz_per_in,'dz',index)" placeholder="请输入" class="in_wid"></el-input>&nbsp;%
                                    <p class="do_blue cursor" @click="add_per('dz',index,g.dz_name_in,g.dz_per_in)">添加</p>
                                </li>
                                <li>
                                    <ul class="raise_list">
                                        <li v-for="(v, key) in g.ra_dz" style="background: #d5baf9;">
                                            &nbsp;&nbsp;&nbsp;
                                            <div>{{v.name}}</div>
                                            <el-input type="number" :value="v.money" placeholder="请输入" class="in_wid t_input" disabled></el-input>&nbsp;%
                                            <i class="el-icon-circle-close-outline close cursor" @click="del_per('dz',index,key)"></i>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <div class="bottom_submit" v-if="fixdata.length!=0">
                    <el-button type="success" @click="fix_sure">提交</el-button>
                </div>
            </el-tab-pane>
        </el-tabs>
    </template>
</div>


</body>
</html>
<script src="../js/jquery.min.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/func.js"></script>
<script src="../js/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            arrears_id:'',
            mrs: [],
            staff: [],
            one: {rate: '', id: ''},
            two: {rate: '', id: ''},
            three: {rate: '', id: ''},
            four: {rate: '', id: ''},
            oneArr: [],
            twoArr: [],
            threeArr: [],
            fourArr: [],
            orderId: 0,
            cost: 0,
            total: 0,
            gw: [],
            m: [],
            type: 0,
            d: [],
            ac_card_total: 0,
            goods_additional_price:0,
            one2: {rate: '', id: ''},
            two2: {rate: '', id: ''},
            three2: {rate: '', id: ''},
            four2: {rate: '', id: ''},
            oneArr2: [],
            twoArr2: [],
            threeArr2: [],
            fourArr2: [],
            buy_list:'',
            fixdata:[],
            up_data:[],
        },
        methods: {
            check_number(t,v){
                if(isNaN(v)){
                    error("只能输入数字");
                    this.empty(t);
                }else if(v<0||v>100){
                    error("只能在0-100范围之内");
                    this.empty(t);
                }
            },
            empty(a){
                switch (a){
                    case 2:
                        this.two.rate=''
                        break;
                    case 3:
                        this.three.rate=''
                        break;
                    case 4:
                        this.four.rate=''
                        break;
                    case 22:
                        this.two2.rate=''
                        break;
                    case 32:
                        this.three2.rate=''
                        break;
                    case 42:
                        this.four2.rate=''
                        break;
                    default:
                        break;
                }
            },
            handleClick(tab, event) {
                if (tab.index == 0) {

                } else if (tab.index == 1) {
                    if(this.buy_list==''){
                        $.post(url(methods.change_percentage), {oid: this.orderId}, v => {
                            if (v.code == 1) {
                                this.buy_list = v.res;
                                for (let i of this.buy_list) {
                                    let mk = {
                                        'id': i.id,
                                        'name': i.name,
                                        'sum': i.sum,
                                        'discount_price': i.discount_price,
                                        'name_in': '',
                                        "per_in": '',
                                        'gw_name_in': '',
                                        "gw_per_in": '',
                                        'dz_name_in': '',
                                        "dz_per_in": '',
                                        'ra_mrs': [],
                                        'ra_gw': [],
                                        'ra_dz': [],
                                    };
                                    this.fixdata.push(mk);
                                }
                            }
                        })
                    }
                }
            },
            check_per(money, type, index) {
                if (type == 'mrs' && money > 100) {
                    this.fixdata[index].per_in = "";
                    error("最大比例为100%");
                    return false;
                } else if (type == 'gw' && money > 100) {
                    this.fixdata[index].gw_per_in = "";
                    error("最大比例为100%");
                    return false;
                } else if (type == 'dz' && money > 100) {
                    this.fixdata[index].dz_per_in = "";
                    error("最大比例为100%");
                    return false;
                }
            },
            add_per(type, index, name, per) {
                if (type == 'mrs') {
                    if (name == '') {
                        error('请选择美容师！');
                    } else if (name != '') {
                        var n = 0;
                        for(let i of this.fixdata[index].ra_mrs){
                            if (i.id == name) {
                                n = 1;
                            }
                        };
                        if (n == 0) {
                            if (per != '' && per != null) {
                                for (let v of this.m) {
                                    if (v.id == name) {
                                        var empty = {
                                            id: name,
                                            money: this.fixdata[index].per_in,
                                            name: v.name,
                                            g_id:this.fixdata[index].id
                                        };
                                        this.fixdata[index].ra_mrs.push(empty);
                                    }
                                }
                            } else {
                                error('请先填写可用提成的金额比例！');
                            }
                        } else {
                            error('当前美容师已存在列表！');
                        }
                    }
                } else if (type == 'gw') {
                    if (name == '') {
                        error('请选择顾问！');
                    } else if (name != '') {
                        var n = 0;
                        for(let i of this.fixdata[index].ra_gw){
                            if (i.id == name) {
                                n = 1;
                            }
                        };
                        if (n == 0) {
                            if (per != '' && per != null) {
                                for (let v of this.gw) {
                                    if (v.id == name) {
                                        var empty = {
                                            id: name,
                                            money: this.fixdata[index].gw_per_in,
                                            name: v.name,
                                            g_id:this.fixdata[index].id
                                        };
                                        this.fixdata[index].ra_gw.push(empty);
                                    }
                                }
                            } else {
                                error('请先填写可用提成的金额比例！');
                            }
                        } else {
                            error('当前顾问已存在列表！');
                        }
                    }
                } else if (type == 'dz') {
                    if (name == '') {
                        error('请选择店长！');
                    } else if (name != '') {
                        var n = 0;
                        for(let i of this.fixdata[index].ra_dz){
                            if (i.id == name) {
                                n = 1;
                            }
                        };
                        if (n == 0) {
                            if (per != '' && per != null) {
                                for (let v of this.d) {
                                    if (v.id == name) {
                                        var empty = {
                                            id: name,
                                            money: this.fixdata[index].dz_per_in,
                                            name: v.name,
                                            g_id:this.fixdata[index].id
                                        };
                                        this.fixdata[index].ra_dz.push(empty);
                                    }
                                }
                            } else {
                                error('请先填写可用提成的金额比例！');
                            }
                        } else {
                            error('当前店长已存在列表！');
                        }
                    }
                }
            },
            del_per(type, index, key) {
                if (type == 'mrs') {
                    this.fixdata[index].ra_mrs.splice(key, 1);
                } else if (type == 'gw') {
                    this.fixdata[index].ra_gw.splice(key, 1);
                } else if (type == 'dz') {
                    this.fixdata[index].ra_dz.splice(key, 1);
                }
            },
            fix_sure() {
                // 固定提成的提交
                this.up_data = [];
                var k = 0;
                for(let i of this.fixdata){
                    let mda = {
                        'ra_mrs': [],
                        'ra_gw': [],
                        'ra_dz': [],
                    };
                    if (i.ra_mrs.length != 0 || i.ra_gw.length != 0 || i.ra_dz.length != 0) {
                        k = 1;
                        this.up_data.push(mda);
                        var md = this.up_data.length - 1;
                        this.up_data[md].ra_mrs = i.ra_mrs;
                        this.up_data[md].ra_gw = i.ra_gw;
                        this.up_data[md].ra_dz = i.ra_dz;
                    }
                };

                if (k == 0) {
                    error('请先添加需要提成的员工');
                } else if (k == 1) {
                    $.post(url(methods.change_save_commission), {
                        oid: this.orderId,
                        data: this.up_data
                    },v=>{
                        if (v.code == 1) {
                            success('成功！')
                            location.href = './customer.html'
                        } else {
                            error(v.error);
                        }
                    });
                }
            },
            sub2() {
                if (this.twoArr.length == 0 && this.threeArr.length == 0 && this.fourArr.length == 0) {
                    error('请选择提成员工')
                    return
                }
                let arr2 = []
                let arr3 = []
                let arr4 = []

                let arr5 = []
                let arr6 = []
                let arr7 = []
                if (this.twoArr.length > 0) {
                    for (let v of this.twoArr) {
                        arr2.push({'money': v.rate, 'id': v.id, 'name': v.name})
                    }
                }
                if (this.threeArr.length > 0) {
                    for (let v of this.threeArr) {
                        arr3.push({'money': v.rate, 'id': v.id, 'name': v.name})
                    }
                }
                if (this.fourArr.length > 0) {
                    for (let v of this.fourArr) {
                        arr4.push({'money': v.rate, 'id': v.id, 'name': v.name})
                    }
                }
                if (this.twoArr2.length > 0) {
                    for (let v of this.twoArr2) {
                        arr5.push({'money': v.rate, 'id': v.id, 'name': v.name})
                    }
                }
                if (this.threeArr2.length > 0) {
                    for (let v of this.threeArr2) {
                        arr6.push({'money': v.rate, 'id': v.id, 'name': v.name})
                    }
                }
                if (this.fourArr2.length > 0) {
                    for (let v of this.fourArr2) {
                        arr7.push({'money': v.rate, 'id': v.id, 'name': v.name})
                    }
                }
                $.post(url(methods.saveCommission), {
                    data: JSON.stringify({
                        raise_m: arr2,
                        raise_g: arr3,
                        raise_d: arr4,
                        type: 'supp',
                        supp: this.cost,
                        ka_raise_m: arr5,
                        ka_raise_g: arr6,
                        ka_raise_d: arr7,
                        arrears_id: this.arrears_id
                    })
                }, v => {
                    if (v.code == 1) {
                        success(v.Msg)
                        setTimeout(() => location.href = './customer.html', 1000)
                    } else {
                        error(v.error)
                    }
                })
            },
            sub() {
                if (this.twoArr.length == 0 && this.threeArr.length == 0 && this.fourArr.length == 0 && this.twoArr2.length == 0
                    && this.threeArr2.length == 0 && this.fourArr2.length == 0) {
                    error('请选择提成员工')
                    return
                }
                let arr2 = []
                let arr3 = []
                let arr4 = []

                let arr5 = []
                let arr6 = []
                let arr7 = []
                if (this.twoArr.length > 0) {
                    for (let v of this.twoArr) {
                        arr2.push({'money': v.rate, 'id': v.id, 'name': v.name})
                    }
                }
                if (this.threeArr.length > 0) {
                    for (let v of this.threeArr) {
                        arr3.push({'money': v.rate, 'id': v.id, 'name': v.name})
                    }
                }
                if (this.fourArr.length > 0) {
                    for (let v of this.fourArr) {
                        arr4.push({'money': v.rate, 'id': v.id, 'name': v.name})
                    }
                }
                if (this.twoArr2.length > 0) {
                    for (let v of this.twoArr2) {
                        arr5.push({'money': v.rate, 'id': v.id, 'name': v.name})
                    }
                }
                if (this.threeArr2.length > 0) {
                    for (let v of this.threeArr2) {
                        arr6.push({'money': v.rate, 'id': v.id, 'name': v.name})
                    }
                }
                if (this.fourArr2.length > 0) {
                    for (let v of this.fourArr2) {
                        arr7.push({'money': v.rate, 'id': v.id, 'name': v.name})
                    }
                }
                $.post(url(methods.saveCommission), {
                    data: JSON.stringify({
                        raise_m: arr2,
                        raise_g: arr3,
                        raise_d: arr4,
                        ka_raise_m: arr5,
                        ka_raise_g: arr6,
                        ka_raise_d: arr7,
                        order: this.orderId,
                        type: '',
                        cost: this.cost,
                    })
                }, v => {
                    if (v.code == 1) {
                        success(v.Msg)
                        setTimeout(() => location.href = './customer.html', 1000)
                    } else {
                        error(v.error)
                    }
                })
            },
            del(type, i) {
                if (type == 1) {
                    this.oneArr.splice(i, 1)
                } else if (type == 2) {
                    this.twoArr.splice(i, 1)
                } else if (type == 3) {
                    this.threeArr.splice(i, 1)
                } else if (type == 4) {
                    this.fourArr.splice(i, 1)
                }
            },
            add(type) {
                if (type == 2) {
                    if (this.two.id == '' || this.two.rate == '') {
                        error('请选择美容师或填写提成比例')
                        return
                    }
                    for (let v of this.twoArr) {
                        if (v.id == this.two.id) {
                            error('美容师已存在')
                            return
                        }
                    }
                    for (let v of this.m) {
                        if (v.id == this.two.id) {
                            this.twoArr.unshift({name: v.name, rate: this.two.rate, id: v.id})
                        }
                    }
                } else if (type == 3) {
                    if (this.three.id == '' || this.three.rate == '') {
                        error('请选择顾问或填写提成比例')
                        return
                    }
                    for (let v of this.threeArr) {
                        if (v.id == this.three.id) {
                            error('顾问已存在')
                            return
                        }
                    }
                    for (let v of this.gw) {
                        if (v.id == this.three.id) {
                            this.threeArr.unshift({name: v.name, rate: this.three.rate, id: v.id})
                        }
                    }
                } else if (type == 4) {
                    if (this.four.id == '' || this.four.rate == '') {
                        error('请选择店长或填写提成比例')
                        return
                    }
                    for (let v of this.fourArr) {
                        if (v.id == this.four.id) {
                            error('店长已存在')
                            return
                        }
                    }
                    for (let v of this.d) {
                        if (v.id == this.four.id) {
                            this.fourArr.unshift({name: v.name, rate: this.four.rate, id: v.id})
                        }
                    }
                }
            },
            getData() {
                $.get(url(methods.saveCommission) + `&order=${this.orderId}&type=`, v => {
                    if (v.code == 1) {
                        if (v.res.print_type == 1) {
                            this.isPrint()
                        }
                        this.total = v.res.total
                        this.gw = v.res.g
                        this.m = v.res.m
                        this.d = v.res.d
                        this.ac_card_total = v.res.ac_card_total
                        this.goods_additional_price = v.res.goods_additional_price;
                    } else {
                        error(v.errorMsg)
                    }
                })
            },
            isPrint() {
                this.$confirm('是否打印消费单?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    $.post(url(methods.print), {order: this.orderId}, v => {

                    })
                }).catch(e=>{

                })
            },
            getData2() {
                $.get(url(methods.saveCommission) + `&supp=${this.cost}&type=supp&arrears_id=${this.arrears_id}`, v => {
                    if (v.code == 1) {
                        if (v.res.print_type == 1) {
                            this.isPrint()
                        }
                        this.total = v.res.total
                        this.gw= v.res.g
                        this.m = v.res.m
                        this.d = v.res.d
                    } else {
                        error(v.errorMsg)
                    }
                })
            },
            del2(type, i) {
                if (type == 1) {
                    this.oneArr2.splice(i, 1)
                } else if (type == 2) {
                    this.twoArr2.splice(i, 1)
                } else if (type == 3) {
                    this.threeArr2.splice(i, 1)
                } else if (type == 4) {
                    this.fourArr2.splice(i, 1)
                }
            },
            add2(type) {
                if (type == 2) {
                    if (this.two2.id == '' || this.two2.rate == '') {
                        error('请选择美容师或填写提成比例')
                        return
                    }
                    for (let v of this.twoArr2) {
                        if (v.id == this.two2.id) {
                            error('美容师已存在')
                            return
                        }
                    }
                    for (let v of this.m) {
                        if (v.id == this.two2.id) {
                            this.twoArr2.unshift({name: v.name, rate: this.two2.rate, id: v.id})
                        }
                    }
                } else if (type == 3) {
                    if (this.three2.id == '' || this.three2.rate == '') {
                        error('请选择顾问或填写提成比例')
                        return
                    }
                    for (let v of this.threeArr2) {
                        if (v.id == this.three2.id) {
                            error('顾问已存在')
                            return
                        }
                    }
                    for (let v of this.gw) {
                        if (v.id == this.three2.id) {
                            this.threeArr2.unshift({name: v.name, rate: this.three2.rate, id: v.id})
                        }
                    }
                } else if (type == 4) {
                    if (this.four2.id == '' || this.four2.rate == '') {
                        error('请选择店长或填写提成比例')
                        return
                    }
                    for (let v of this.fourArr2) {
                        if (v.id == this.four2.id) {
                            error('店长已存在')
                            return
                        }
                    }
                    for (let v of this.d) {
                        if (v.id == this.four2.id) {
                            this.fourArr2.unshift({name: v.name, rate: this.four2.rate, id: v.id})
                        }
                    }
                }
            },
        },
        mounted() {
            this.$nextTick(e => {
                //初始化
                that = this;
                loginState()
                this.cost = localStorage.getItem('cost')
                this.type = localStorage.getItem('type')
                this.arrears_id = localStorage.getItem('arrears_id')
                if (this.type == 1) {
                    this.orderId = localStorage.getItem('orderId')
                    this.getData()
                } else {
                    this.getData2()
                }
            })
        }
    })
</script>
