<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>消耗</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/consume.css">
</head>
<body>

<div id="app" class="customer">
    <template>
        <p class="cus_title">
            <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item :to="{ path: '/' }">信息管理</el-breadcrumb-item>
                <el-breadcrumb-item>会员管理</el-breadcrumb-item>
                <el-breadcrumb-item>消耗</el-breadcrumb-item>
            </el-breadcrumb>
        </p>
        <el-collapse v-model="activeNames">
            <p class="cr linr_four">
                会员余额：￥{{balance}}
            </p>
            <el-collapse-item name="1" class="con">
                <template slot="title">
                    <p>
                        <el-radio v-model="c_b" label="1">会员余额</el-radio>
                        <el-radio v-model="c_b" v-for="v in card" :label="v.id">{{v.name}}</el-radio>
                    </p>
                </template>
                <div class="con_div" v-if="items.length>0">
                    <ul class="consume_list">
                        <li v-for="(v, i) in items">
                            <span class="g_name">
                                 {{v.pro_name}}
                            </span>
                            <span class="cr p_wid">￥{{v.check_num>0?v.price * v.check_num:v.price}}</span>
                            <span class="g_c_price" @click="open3(v)">
                                   修改价格
                               </span>
                            <span class="fr mar_hun">
                                 <template v-if="v.check_num>0">
                                     <i class="el-icon-remove blue_c" @click="jian(1, i)"></i>
                                     <i>{{v.check_num}}</i>
                                 </template>
                                 <i class="el-icon-circle-plus blue_c" @click="jia(1, i)"></i>
                            </span>
                        </li>
                        <!--<li>
                        <span class="g_name">
                             面部护理
                        </span>
                            <span class="cr p_wid">￥298.00</span>
                            <span class="g_c_price">
                           修改价格
                       </span>
                            <span class="fr mar_hun">
                             <i class="el-icon-remove blue_c"></i>
                             <i>5</i>
                             <i class="el-icon-circle-plus blue_c"></i>
                        </span>
                        </li>-->
                    </ul>
                </div>
            </el-collapse-item>
            <el-collapse-item name="2" class="item">
                <template slot="title">
                    <p>
                        会员自有套盒
                    </p>
                </template>
                <div class="con_div" v-if="myBox.length>0">
                    <ul class="consume_list">
                        <li v-for="(v,i) in myBox">
                            <span class="g_name">
                                 {{v.name}}
                            </span>
                            <span class="cr p_wid">￥298.00</span>
                            <span class="huihui p_wid">
                               剩余次数：{{v.current_num}}
                           </span>
                            <span class="huihui p_wid">
                               共有次数：{{v.originally_num}}
                           </span>
                            <span class="fr mar_hun">
                                 <template v-if="v.check_num>0">
                                     <i class="el-icon-remove blue_c" @click="jian(2, i)"></i>
                                     <i>{{v.check_num}}</i>
                                 </template>
                                 <i class="el-icon-circle-plus blue_c" @click="jia(2, i)"></i>
                            </span>
                        </li>
                        <!--<li>
                            <span class="g_name">
                                 面部护理
                            </span>
                                <span class="cr p_wid">￥298.00</span>
                                <span class="huihui p_wid">
                               剩余次数：3
                           </span>
                                <span class="huihui p_wid">
                               共有次数：12
                           </span>
                                <span class="fr mar_hun">
                                 <i class="el-icon-remove blue_c"></i>
                                 <i>5</i>
                                 <i class="el-icon-circle-plus blue_c"></i>
                            </span>
                        </li>-->
                    </ul>
                </div>
            </el-collapse-item>
            <el-collapse-item name="3" class="th">
                <template slot="title">
                    <p>
                        会员自有项目
                    </p>
                </template>
                <div class="con_div" v-if="myItems.length>0">
                    <ul class="consume_list">
                        <li v-for="(v,i) in myItems">
                            <span class="g_name">
                                 {{v.name}}
                            </span>
                            <span class="cr p_wid">￥298.00</span>
                            <span class="huihui p_wid">
                               剩余次数：{{v.current_num}}
                           </span>
                            <span class="huihui p_wid">
                               共有次数：{{v.originally_num}}
                           </span>
                            <span class="fr mar_hun">
                                 <template v-if="v.check_num>0">
                                     <i class="el-icon-remove blue_c" @click="jian(3, i)"></i>
                                     <i>{{v.check_num}}</i>
                                 </template>
                                 <i class="el-icon-circle-plus blue_c" @click="jia(3, i)"></i>
                            </span>
                        </li>
                    </ul>
                </div>
            </el-collapse-item>
            <el-collapse-item name="4" class="plan">
                <template slot="title">
                    <p>
                        会员自有方案
                    </p>
                </template>
                <div class="con_div" v-if="myPlan.length>0">
                    <ul class="consume_list">
                        <li v-for="(v,i) in myPlan">
                            <span class="g_name">
                                 {{v.name}}
                            </span>
                            <span class="cr p_wid">￥298.00</span>
                            <span class="huihui p_wid">
                               剩余次数：{{v.current_num}}
                           </span>
                            <span class="huihui p_wid">
                               共有次数：{{v.originally_num}}
                           </span>
                            <span class="fr mar_hun">
                                 <template v-if="v.check_num>0">
                                     <i class="el-icon-remove blue_c" @click="jian(4, i)"></i>
                                     <i>{{v.check_num}}</i>
                                 </template>
                                 <i class="el-icon-circle-plus blue_c" @click="jia(4, i)"></i>
                            </span>
                        </li>
                    </ul>
                </div>
            </el-collapse-item>
        </el-collapse>
        <!--<p class="cr linr_four">
        会员余额：￥{{balance}}
        </p>
        <div class="con_div" v-if="items.length>0">
        <p class="con_list linr_four">
        会员余额消费
        </p>
        <ul class="consume_list">
        <li v-for="(v, i) in items">
        <span class="g_name">
        {{v.pro_name}}
        </span>
        <span class="cr p_wid">￥{{v.check_num>0?v.price * v.check_num:v.price}}</span>
        <span class="g_c_price" @click="open3(v)">
        修改价格
        </span>
        <span class="fr mar_hun">
        <template v-if="v.check_num>0">
        <i class="el-icon-remove blue_c" @click="jian(1, i)"></i>
        <i>{{v.check_num}}</i>
        </template>
        <i class="el-icon-circle-plus blue_c" @click="jia(1, i)"></i>
        </span>
        </li>
        &lt;!&ndash;<li>
        <span class="g_name">
        面部护理
        </span>
        <span class="cr p_wid">￥298.00</span>
        <span class="g_c_price">
        修改价格
        </span>
        <span class="fr mar_hun">
        <i class="el-icon-remove blue_c"></i>
        <i>5</i>
        <i class="el-icon-circle-plus blue_c"></i>
        </span>
        </li>&ndash;&gt;
        </ul>
        </div>

        <div class="con_div" v-if="myBox.length>0">
        <p class="item_list linr_four">
        会员自有套盒
        </p>
        <ul class="consume_list">
        <li v-for="(v,i) in myBox">
        <span class="g_name">
        {{v.name}}
        </span>
        <span class="cr p_wid">￥298.00</span>
        <span class="huihui p_wid">
        剩余次数：{{v.current_num}}
        </span>
        <span class="huihui p_wid">
        共有次数：{{v.originally_num}}
        </span>
        <span class="fr mar_hun">
        <template v-if="v.check_num>0">
        <i class="el-icon-remove blue_c" @click="jian(2, i)"></i>
        <i>{{v.check_num}}</i>
        </template>
        <i class="el-icon-circle-plus blue_c" @click="jia(2, i)"></i>
        </span>
        </li>
        &lt;!&ndash;<li>
        <span class="g_name">
        面部护理
        </span>
        <span class="cr p_wid">￥298.00</span>
        <span class="huihui p_wid">
        剩余次数：3
        </span>
        <span class="huihui p_wid">
        共有次数：12
        </span>
        <span class="fr mar_hun">
        <i class="el-icon-remove blue_c"></i>
        <i>5</i>
        <i class="el-icon-circle-plus blue_c"></i>
        </span>
        </li>&ndash;&gt;
        </ul>
        </div>

        <div class="con_div" v-if="myItems.length>0">
        <p class="th_list linr_four">
        会员项目消耗
        </p>
        <ul class="consume_list">
        <li v-for="(v,i) in myItems">
        <span class="g_name">
        {{v.name}}
        </span>
        <span class="cr p_wid">￥298.00</span>
        <span class="huihui p_wid">
        剩余次数：{{v.current_num}}
        </span>
        <span class="huihui p_wid">
        共有次数：{{v.originally_num}}
        </span>
        <span class="fr mar_hun">
        <template v-if="v.check_num>0">
        <i class="el-icon-remove blue_c" @click="jian(3, i)"></i>
        <i>{{v.check_num}}</i>
        </template>
        <i class="el-icon-circle-plus blue_c" @click="jia(3, i)"></i>
        </span>
        </li>
        </ul>
        </div>-->
        <div class="commission">
            <div class="mar_hun fl">
                <p class="p_div_b">
                    消耗手工录入
                </p>
                <ul class="consume_list commission_list">
                    <li>
                        操作人
                        <el-select v-model="one.id" placeholder="请选择" class="in_wid">
                            <el-option
                                    v-for="v in staff"
                                    :label="v.name"
                                    :value="v.id">
                            </el-option>
                        </el-select>
                        <el-input v-model="one.rate" placeholder="请输入" class="in_wid"></el-input>&nbsp;%
                        <p class="do_blue" @click="add(1)">添加</p>
                    </li>
                    <li v-for="(v, i) in oneArr" class="app_li">
                        &nbsp;&nbsp;&nbsp;
                        <div>{{v.name}}</div>
                        <el-input :value="v.rate" placeholder="请输入" class="in_wid t_input" disabled></el-input>&nbsp;%
                        <i class="el-icon-circle-close-outline close" @click="del(1, i)"></i>
                    </li>
                </ul>
            </div>
            <div class="fr">
                <p class="p_div_b">
                    消耗提成录入
                </p>
                <ul class="consume_list commission_list">
                    <li>
                        美容师
                        <el-select v-model="two.id" placeholder="请选择" class="in_wid">
                            <el-option
                                    v-for="item in mrs"
                                    :label="item.name"
                                    :value="item.id">
                            </el-option>
                        </el-select>
                        <el-input v-model="two.rate" placeholder="请输入" class="in_wid"></el-input>&nbsp;%
                        <p class="do_blue" @click="add(2)">添加</p>
                    </li>
                    <li v-for="(v, i) in twoArr" class="app_li">
                        &nbsp;&nbsp;&nbsp;
                        <div>{{v.name}}</div>
                        <el-input :value="v.rate" placeholder="请输入" class="in_wid t_input" disabled></el-input>&nbsp;%
                        <i class="el-icon-circle-close-outline close" @click="del(2, i)"></i>
                    </li>
                    <li>
                        顾问
                        <el-select v-model="three.id" placeholder="请选择" class="in_wid">
                            <el-option
                                    v-for="item in gw"
                                    :key="item.value"
                                    :label="item.name"
                                    :value="item.id">
                            </el-option>
                        </el-select>
                        <el-input v-model="three.rate" placeholder="请输入" class="in_wid"></el-input>&nbsp;%
                        <p class="do_blue" @click="add(3)">添加</p>
                    </li>
                    <li v-for="(v, i) in threeArr" class="app_li">
                        &nbsp;&nbsp;&nbsp;
                        <div>{{v.name}}</div>
                        <el-input :value="v.rate" placeholder="请输入" class="in_wid t_input" disabled></el-input>&nbsp;%
                        <i class="el-icon-circle-close-outline close" @click="del(3, i)"></i>
                    </li>

                    <li>
                        店长
                        <el-select v-model="four.id" placeholder="请选择" class="in_wid">
                            <el-option
                                    v-for="item in dz"
                                    :key="item.value"
                                    :label="item.name"
                                    :value="item.id">
                            </el-option>
                        </el-select>
                        <el-input v-model="four.rate" placeholder="请输入" class="in_wid"></el-input>&nbsp;%
                        <p class="do_blue" @click="add(4)">添加</p>
                    </li>
                    <li v-for="(v, i) in fourArr" class="app_li">
                        &nbsp;&nbsp;&nbsp;
                        <div>{{v.name}}</div>
                        <el-input :value="v.rate" placeholder="请输入" class="in_wid t_input" disabled></el-input>&nbsp;%
                        <i class="el-icon-circle-close-outline close" @click="del(4, i)"></i>
                    </li>
                </ul>
            </div>
        </div>
        <div style="height:70px"></div>
        <div class="pay_total">
        <span class="fl cr total_money">
         </span>
            <span class="green pay" @click="sub">确认录入</span>
        </div>
    </template>
</div>

</body>
</html>
<script src="../js/jquery.min.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/func.js"></script>
<script src="../js/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            activeNames: ['2'],
            radio: '1',
            input: '',
            userId: 0,
            items: [],
            myItems: [],
            myBox: [],
            myPlan: [],
            gw: [],
            mrs: [],
            dz: [],
            staff: [],
            one: {rate: '', id: ''},
            two: {rate: '', id: ''},
            three: {rate: '', id: ''},
            four: {rate: '', id: ''},
            oneArr: [],
            twoArr: [],
            threeArr: [],
            fourArr: [],
            balance: 0,
            balance2: 0,
            roomId: 0,
            c_b: '1', //1余额，2会员卡
            card: [],
        },
        methods: {
            sub() {
                this.$confirm('是否确认录入?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    let arr = []
                    let arr2 = []
                    let arr3 = []
                    let arr4 = []
                    if (this.oneArr.length > 0) {
                        for (let v of this.oneArr) {
                            arr.push({'money': v.rate, 'id': v.id})
                        }
                    }
                    if (this.twoArr.length > 0) {
                        for (let v of this.twoArr) {
                            arr2.push({'money': v.rate, 'id': v.id})
                        }
                    }
                    if (this.threeArr.length > 0) {
                        for (let v of this.threeArr) {
                            arr3.push({'money': v.rate, 'id': v.id})
                        }
                    }
                    if (this.fourArr.length > 0) {
                        for (let v of this.fourArr) {
                            arr4.push({'money': v.rate, 'id': v.id})
                        }
                    }
                    $.post(url(methods.entry), {
                        'data': JSON.stringify({
                            'box': this.myBox, 'items': this.myItems, 'plan': this.myPlan,
                            'amount_items': this.items, 'mid': this.userId,
                            'arr': this.roomId, 's': arr, 'm': arr2, 'g': arr3, 'd': arr4,
                            'c_b': this.c_b==1?1:2, 'consume_card': this.c_b==1?0:this.c_b,
                        })
                    }, v => {
                        if (v.code == 1) {
                            success(v.Msg)
                            setTimeout(() => location.href = './shop_store.html', 1000)
                        } else {
                            error(v.error)
                        }
                    })
                }).catch(e=>{

                })
            },
            open3(v) {
                this.$prompt('请输入数字', v.pro_name, {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    inputErrorMessage: '请输入正确的数字',
                    inputType: 'number'
                }).then(x => {
                    v.price = x.value
                })
            },
            jian(type, i) {
                if (type == 1) {
                    if (this.items[i].check_num > 0) {
                        this.items[i].check_num--
                    }
                } else if (type == 2) {
                    if (this.myBox[i].check_num > 0) {
                        this.myBox[i].check_num--
                    }
                } else if (type == 3) {
                    if (this.myItems[i].check_num > 0) {
                        this.myItems[i].check_num--
                    }
                } else if (type == 4) {
                    if (this.myPlan[i].check_num > 0) {
                        this.myPlan[i].check_num--
                    }
                }
            },
            jia(type, i) {
                if (type == 1) {
                    this.items[i].check_num++
                } else if (type == 2) {
                    if (this.myBox[i].current_num <= this.myBox[i].check_num) {
                        //error('数量不足')
                        return
                    }
                    this.myBox[i].check_num++
                } else if (type == 3) {
                    if (this.myItems[i].current_num <= this.myItems[i].check_num) {
                        return
                    }
                    this.myItems[i].check_num++
                } else if (type == 4) {
                    if (this.myPlan[i].current_num <= this.myPlan[i].check_num) {
                        return
                    }
                    this.myPlan[i].check_num++
                }
            },
            del(type, i) {
                if (type == 1) {
                    this.oneArr.splice(i, 1)
                } else if (type == 2) {
                    this.twoArr.splice(i, 1)
                } else if (type == 3) {
                    this.threeArr.splice(i, 1)
                } else if (type == 4) {
                    this.fourArr.splice(i, 1)
                }
            },
            add(type) {
                if (type == 1) {
                    if (this.one.id == '' || this.one.rate == '') {
                        error('请选择操作人或填写提成比例')
                        return
                    }
                    for (let v of this.oneArr) {
                        if (v.id == this.one.id) {
                            error('操作人已存在')
                            return
                        }
                    }
                    for (let v of this.staff) {
                        if (v.id == this.one.id) {
                            this.oneArr.unshift({name: v.name, rate: this.one.rate, id: v.id})
                        }
                    }
                } else if (type == 2) {
                    if (this.two.id == '' || this.two.rate == '') {
                        error('请选择美容师或填写提成比例')
                        return
                    }
                    for (let v of this.twoArr) {
                        if (v.id == this.two.id) {
                            error('美容师已存在')
                            return
                        }
                    }
                    for (let v of this.mrs) {
                        if (v.id == this.two.id) {
                            this.twoArr.unshift({name: v.name, rate: this.two.rate, id: v.id})
                        }
                    }
                } else if (type == 3) {
                    if (this.three.id == '' || this.three.rate == '') {
                        error('请选择顾问或填写提成比例')
                        return
                    }
                    for (let v of this.threeArr) {
                        if (v.id == this.three.id) {
                            error('顾问已存在')
                            return
                        }
                    }
                    for (let v of this.gw) {
                        if (v.id == this.three.id) {
                            this.threeArr.unshift({name: v.name, rate: this.three.rate, id: v.id})
                        }
                    }
                } else if (type == 4) {
                    if (this.four.id == '' || this.four.rate == '') {
                        error('请选择店长或填写提成比例')
                        return
                    }
                    for (let v of this.fourArr) {
                        if (v.id == this.four.id) {
                            error('店长已存在')
                            return
                        }
                    }
                    for (let v of this.dz) {
                        if (v.id == this.four.id) {
                            this.fourArr.unshift({name: v.name, rate: this.four.rate, id: v.id})
                        }
                    }
                }
            },
            getDetail() {
                $.get(url(methods.getDetails) + `&mid=${this.userId}`, v => {
                    if (v.code == 1) {
                        for (let x of v.back.store_items) {
                            x.check_num = 0
                        }
                        this.items = v.back.store_items
                        for (let x of v.back.itemsArr) {
                            x.check_num = 0
                        }
                        this.myItems = v.back.itemsArr
                        for (let x of v.back.boxArr) {
                            x.check_num = 0
                        }
                        this.myBox = v.back.boxArr
                        this.myPlan = v.back.planArr
                        this.gw = v.back.g
                        this.mrs = v.back.m
                        this.dz = v.back.d
                        this.staff = v.back.staff
                        this.balance = v.back.balance
                        this.balance2 = v.back.balance
                        this.card = v.back.card
                    }
                })
            }
        },
        watch: {
            c_b(v) {
                if(v==1){
                    this.balance = this.balance2
                }else{
                    for(let x of this.card) {
                        if(v == x.id){
                            this.balance = x.amount
                            return
                        }
                    }
                }
            }
        },
        mounted() {
            this.$nextTick(e => {
                //初始化
                that = this;
                loginState()
                this.userId = localStorage.getItem('user_id')
                this.roomId = localStorage.getItem('roomId')
                this.getDetail()
            })
        }
    })
</script>