<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>美约会-会员管理</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/customer.css">
    <style>
        .choice_in {
            width: 60px;
        }

        .choice_in > input {
            text-align: center;
            height: 30px;
            padding: 0;
        }

        .in_left {
            margin-right: 10px;
        }

        .in_right {
            margin: 0 30px 0 10px;
        }
        .cell{
            padding: 0 !important;
        }
    </style>
</head>
<body>

<div id="app" class="customer">
    <p class="cus_title">
        <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item><a href="home.html" target="iframe">工作台首页</a></el-breadcrumb-item>
            <el-breadcrumb-item>会员管理</el-breadcrumb-item>
        </el-breadcrumb>
    </p>
    <template>
        <div class="cus_center">
            <el-input class="cus_seatch" style="float: left"
                      placeholder="请输入内容"
                      prefix-icon="el-icon-search"
                      v-model="input">
            </el-input>
            <!--<el-button @click="import2" type="success" id="file" native-type="submit">导入会员表</el-button>-->
            <el-upload
                    style="float: left"
                    class="upload-demo"
                    :action="r"
                    multiple
                    :limit="1"
                    show-file-list="false"
                    :before-upload="beforeUpload2"
                    :on-success="ok"
                    :file-list="fileList">
                <el-button type="primary">导入会员表</el-button>
                <!--<div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>-->
            </el-upload>

            <el-button type="success" @click="exportData">导出Excel表</el-button>
            <a href="https://www.myhkj.cn/会员信息及会员持有卡项套盒项目表.xlsx">
                <el-button type="success">会员表模板下载</el-button>
            </a>
            <el-button type="success" class="fr" @click="del">批量删除</el-button>
            <el-button type="success" class="fr" @click="addDialogVisible = true">新增会员
            </el-button>
            <el-button type="primary" class="fr" @click="hel_filter"
                       style="margin-bottom: 5px">健康筛选
            </el-button>
        </div>
        <div class="cus_center">
            每月到店：
            <el-input v-model="ddNum" type="number" placeholder="次" class="choice_in in_left"></el-input>
            至
            <el-input v-model="ddNum2" type="number" placeholder="次" class="choice_in in_right"></el-input>
            剩余次数：
            <el-input v-model="syNum" type="number" placeholder="次" class="choice_in in_left"></el-input>
            至
            <el-input v-model="syNum2" type="number" placeholder="次" class="choice_in in_right"></el-input>
            会员余额：
            <el-input v-model="memberBalance" type="number" placeholder="元" class="choice_in in_left"></el-input>
            至
            <el-input v-model="memberBalance2" type="number" placeholder="元" class="choice_in in_right"></el-input>
            <!--<el-button type="primary" style="height: 30px;padding: 0 15px">查询</el-button>-->
        </div>
        <el-table border :max-height="max_ht"
                  ref="multipleTable"
                  :data="list.filter(
                  data => (!input || data.name.toLowerCase().includes(input.toLowerCase()) ||
                  data.tel.toLowerCase().includes(input.toLowerCase())||(data.shop_num==null?false:data.shop_num.toLowerCase().includes(input.toLowerCase()))) &&

                  ((!memberBalance || parseFloat(data.balance)>=parseFloat(memberBalance)) &&
                  (!memberBalance2 || parseFloat(data.balance)<=parseFloat(memberBalance2))) &&

                  ((!syNum || parseFloat(data.num)>=parseFloat(syNum)) &&
                  (!syNum2 || parseFloat(data.num)<=parseFloat(syNum2))) &&

                  ((!ddNum || parseFloat(data.arrival_num)>=parseFloat(ddNum)) &&
                  (!ddNum2 || parseFloat(data.arrival_num)<=parseFloat(ddNum2)))
                  )"
                  tooltip-effect="dark"
                  style="width: 100%"
                  @selection-change="handleSelectionChange">
            <el-table-column
                    type="selection"
                    min-width="25">
            </el-table-column>
            <el-table-column
                    label="会员名"
                    prop="name" min-width="70">
            </el-table-column>
            <el-table-column
                    prop="shop_num"
                    label="会员编号" min-width="70">
            </el-table-column>
            <el-table-column
                    label="来源" min-width="70">
                <template slot-scope="scope">
                    <i v-if="scope.row.old_status==1" style="color:red">会员</i>
                    <i v-if="scope.row.old_status==2" style="color:green">新客</i>
                    <i v-if="scope.row.old_status==3" style="color:blue">嘉宾</i>
                </template>
            </el-table-column>
            <el-table-column
                    label="余额"
                    prop="balance" min-width="80">
            </el-table-column>
            <el-table-column min-width="100"
                             prop="tel"
                             label="会员电话">
            </el-table-column>
            <el-table-column min-width="90"
                             prop="birthday"
                             label="会员生日">
            </el-table-column>
            <el-table-column
                    prop="arrival_num"
                    label="到店率" min-width="70">
            </el-table-column>
            <!--<el-table-column
                    prop="num"
                    label="剩余次数">
            </el-table-column>-->
            <el-table-column
                             prop="bir_type"
                             label="类型" min-width="45"
                             :formatter="formatter">
            </el-table-column>
            <el-table-column
                    label="操作"
                    min-width="580"
                    fixed="right"
                    show-overflow-tooltip>
                <template slot-scope="scope">
                    <el-button
                            size="mini"
                            @click="storeDialogVisible=true;now=scope.row" class="green do_but">到店
                    </el-button>
                    <el-button
                            size="mini"
                            @click="jump(1, scope.row)" class="purple do_but">
                        消费
                    </el-button>
                    <el-button
                            size="mini"
                            @click="jump(2, scope.row)" class="red_box do_but">
                        消耗
                    </el-button>
                    <el-button
                            size="mini"
                            @click="leaveDialogVisible=true;now=scope.row" class="blue do_but">离店
                    </el-button>
                    <el-button
                            size="mini" @click="jump(3, scope.row)">查看
                    </el-button>
                    <el-button
                            size="mini"
                            @click="now=scope.row;setVal()">编辑
                    </el-button>
                    <el-button
                            size="mini"
                            type="danger"
                            @click="delOne(scope.row.id)">删除
                    </el-button>
                    <el-button
                            size="mini"
                            type="warning"
                            @click="entering_dio=true;in_id=scope.row.id">录入
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
        <!--<el-pagination
                background
                layout="prev, pager, next"
                :total="1000">
        </el-pagination>-->
        <el-dialog
                title="新增会员"
                :visible.sync="addDialogVisible"
                min-width="400px"
                center
                :before-close="close">
            <ul class="goods_edit">
                <li>
                    <span class="list_left">会员编号</span>
                    <span class="list_right">
                    <el-input v-model="user.num" placeholder="请输入会员编号"></el-input>
                </span>
                </li>
                <li>
                    <span class="list_left">会员名</span>
                    <span class="list_right">
                    <el-input v-model="user.name" placeholder="请输入会员名"></el-input>
                </span>

                <li>
                    <span class="list_left">年龄</span>
                    <span class="list_right">
                    <el-input v-model="user.age" placeholder="请输入年龄"></el-input>
                </span>
                </li>
                <li>
                    <span class="list_left">手机号</span>
                    <span class="list_right">
                    <el-input v-model="user.tel" placeholder="请输入手机号"></el-input>
                </span>
                </li>
                <li>
                    <span class="list_left">密码</span>
                    <span class="list_right">
                    <el-input v-model="user.password" placeholder="默认密码为123456"></el-input>
                </span>
                </li>
                <li>
                    <span class="list_left">微信</span>
                    <span class="list_right">
                    <el-input v-model="user.weixin" placeholder="请输入微信"></el-input>
                </span>
                </li>
                <!--<li>
                    <span class="list_left">类别</span>
                    <span class="list_right">
                        <el-radio v-model="user.vip_status" label="1">会员</el-radio>
                        <el-radio v-model="user.vip_status" label="2">散客</el-radio>
                    </span>
                </li>-->
                <li>
                    <span class="list_left">性别</span>
                    <span class="list_right">
                        <el-radio v-model="user.sex" label="1">女</el-radio>
                        <el-radio v-model="user.sex" label="2">男</el-radio>
                    </span>
                </li>
                <li>
                    <span class="list_left">婚姻状况</span>
                    <span class="list_right">
                        <el-radio v-model="user.marital" label="1">已婚</el-radio>
                        <el-radio v-model="user.marital" label="2">未婚</el-radio>
                    </span>
                </li>
                <li>
                    <span class="list_left">生日类别</span>
                    <span class="list_right">
                        <el-radio v-model="user.bir_type" label="1">阳历</el-radio>
                        <el-radio v-model="user.bir_type" label="2">阴历</el-radio>
                    </span>
                </li>
                <li>
                    <span class="list_left">生日</span>
                    <span class="list_right">
                    <el-date-picker
                            v-model="user.birthday"
                            type="date"
                            value-format="yyyy-MM-dd"
                            placeholder="选择生日">
                    </el-date-picker>
                </span>
                </li>

                <li>
                    <span class="list_left">顾问</span>
                    <span class="list_right">
                    <el-select v-model="user.adviser" placeholder="请选择">
                        <el-option
                                v-for="item in adviser_list"
                                :label="item.name"
                                :value="item.id">
                        </el-option>
                    </el-select>
                </span>
                </li>
            </ul>
            <span slot="footer" class="dialog-footer">
            <el-button @click="cancel">取 消</el-button>
            <el-button type="primary" @click="add">确 定</el-button>
          </span>
        </el-dialog>

        <!-- 删除弹窗 -->
        <el-dialog
                title="删除会员"
                :visible.sync="deleteDialogVisible"
                min-width="400px"
                center>
            <span>确认删除所选的客户</span>
            <span slot="footer" class="dialog-footer">
            <el-button @click="deleteDialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="del">确 定</el-button>
          </span>
        </el-dialog>
        <!-- 到店弹窗 -->
        <el-dialog
                title="房间号"
                :visible.sync="storeDialogVisible"
                min-width="400px"
                center>
            <div>
                <p class="p_text">请输入房间号</p>
                <el-input v-model="room" placeholder="请输入房间号"></el-input>
            </div>
            <span slot="footer" class="dialog-footer">
            <el-button @click="storeDialogVisible = false;room='';">取 消</el-button>
            <el-button type="primary" @click="comeShop">确 定</el-button>
          </span>
        </el-dialog>
        <!-- 离店弹窗 -->
        <el-dialog
                title="离店号"
                :visible.sync="leaveDialogVisible"
                min-width="400px"
                center>
            <div>
                <p class="p_text">确认现在离店</p>
            </div>
            <span slot="footer" class="dialog-footer">
            <el-button @click="leaveDialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="leave">确 定</el-button>
          </span>
        </el-dialog>

        <!--修改会员-->
        <el-dialog
                title="编辑会员"
                :visible.sync="zt"
                min-width="400px"
                center
                :before-close="close">
            <ul class="goods_edit">
                <li>
                    <span class="list_left">会员名</span>
                    <span class="list_right">
                    <el-input v-model="user.name" placeholder="请输入会员名"></el-input>
                </span>
                </li>
                <li>
                    <span class="list_left">会员编号</span>
                    <span class="list_right">
                    <el-input v-model="user.shop_num" placeholder="请输入会员编号"></el-input>
                </span>
                </li>
                <li>
                    <span class="list_left">年龄</span>
                    <span class="list_right">
                    <el-input v-model="user.age" placeholder="请输入年龄"></el-input>
                </span>
                </li>
                <li>
                    <span class="list_left">手机号</span>
                    <span class="list_right">
                    <el-input v-model="user.tel" placeholder="请输入手机号"></el-input>
                </span>
                </li>
                <li>
                    <span class="list_left">性别</span>
                    <span class="list_right">
                    <el-radio v-model="user.sex" label="1">女</el-radio>
                    <el-radio v-model="user.sex" label="2">男</el-radio>
                </span>
                </li>
                <li>
                    <span class="list_left">生日类别</span>
                    <span class="list_right">
                        <el-radio v-model="user.bir_type" label="1">阳历</el-radio>
                        <el-radio v-model="user.bir_type" label="2">阴历</el-radio>
                    </span>
                </li>
                <li>
                    <span class="list_left">生日</span>
                    <span class="list_right">
                        <el-date-picker
                                v-model="user.birthday"
                                type="date"
                                value-format="yyyy-MM-dd"
                                placeholder="选择生日">
                        </el-date-picker>
                    </span>
                </li>
            </ul>
            <span slot="footer" class="dialog-footer">
            <el-button @click="cancel">取 消</el-button>
            <el-button type="primary" @click="edit">确 定</el-button>
          </span>
        </el-dialog>
        <!--录入弹窗-->
        <el-dialog title="会员持有商品录入"
                   :visible.sync="entering_dio"
                   min-width="460px"
                   center :before-close="close">
            <ul class="goods_edit" style="padding: 0 1.5rem">
                <li>
                    <span class="list_left">品项</span>
                    <span class="list_right">
                        <el-radio v-model="data.cate_c" label="3">余额</el-radio>
                        <span @click="check_entry_name(1)">
                             <el-radio v-model="data.cate_c" label="1" >套盒</el-radio>
                        </span>
                         <span @click="check_entry_name(6)">
                             <el-radio v-model="data.cate_c" label="6" >产品</el-radio>
                        </span>
                        <span @click="check_entry_name(2)">
                            <el-radio v-model="data.cate_c" label="2" >项目</el-radio>
                        </span>
                         <span @click="check_entry_name(3)">
                             <el-radio v-model="data.cate_c" label="4" >卡项</el-radio>
                        </span>
                         <span @click="check_entry_name(4)">
                             <el-radio v-model="data.cate_c" label="5" >方案</el-radio>
                        </span>
</span>
                </li>
                <li v-if="data.cate_c==3">
                    <ul class="goods_edit">
                        <li>
                            <span class="list_left">原始余额</span>
                            <span class="list_right">
                        <el-input v-model="data.balance" placeholder="0.00"></el-input>
                    </span>
                        </li>
                        <li>
                            <span class="list_left">赠送余额</span>
                            <span class="list_right">
                        <el-input v-model="data.send_balance" placeholder="0.00"></el-input>
                    </span>
                        </li>
                    </ul>
                </li>

                <li v-if="data.cate_c == 1">
                    <span class="list_left">套盒名称</span>
                    <span class="list_right">
                        <el-autocomplete @blur="th_blur(th_name)"
                                v-model="th_name"
                                :fetch-suggestions="querySearchAsync"
                                placeholder="请输入内容" @select="handleSelect_th"></el-autocomplete>
                    </span>
                </li>
                <li v-if="data.cate_c == 2">
                    <span class="list_left">项目名称</span>
                    <span class="list_right">
                       <el-autocomplete @blur="xm_blur(xm_name)"
                               v-model="xm_name"
                               :fetch-suggestions="querySearchAsync"
                               placeholder="请输入内容" @select="handleSelect_xm"
                       ></el-autocomplete>
                    </span>
                </li>
                <li v-if="data.cate_c == 6">
                    <span class="list_left">产品名称</span>
                    <span class="list_right">
                       <el-autocomplete @blur="cp_blur(cp_name)"
                                        v-model="cp_name"
                                        :fetch-suggestions="querySearchAsync"
                                        placeholder="请输入内容" @select="handleSelect_cp"
                       ></el-autocomplete>
                    </span>
                </li>
                <li v-if="data.cate_c == 1">
                    <span class="list_left">所属类别</span>
                    <span class="list_right">
                        <el-radio v-for="v in boxArr" v-model="data.cateId"
                                  :label="v.id">{{v.name}}
                        </el-radio>
                    </span>
                </li>
                <li v-if="data.cate_c == 2">
                    <span class="list_left">所属类别</span>
                    <span class="list_right">
                        <el-radio v-for="v in itemsArr" v-model="data.cateId"
                                  :label="v.id">{{v.name}}
                        </el-radio>
                    </span>
                </li>
                <li v-if="data.cate_c == 6">
                    <span class="list_left">所属类别</span>
                    <span class="list_right">
                        <el-radio v-for="v in goodsArr" v-model="data.cateId"
                                  :label="v.id">{{v.name}}
                        </el-radio>
                    </span>
                </li>
                <li v-if="data.cate_c == 2||data.cate_c == 1||data.cate_c == 6">
                    <ul class="goods_edit">
                        <li>
                            <span class="list_left">价格</span>
                            <span class="list_right">
                        <el-input v-model="data.price" placeholder="请输入当时购买价格"></el-input>
                    </span>
                        </li>
                        <li v-if="data.cate_c == 6">
                            <span class="list_left">数量</span>
                            <span class="list_right">
                        <el-input v-model="data.sum" placeholder="请输入产品数量"></el-input>
                    </span>
                        </li>
                        <li>
                            <span class="list_left">欠款</span>
                            <span class="list_right">
                        <el-input v-model="data.arrears_money" placeholder="如未欠款请填写0"></el-input>
                    </span>
                        </li>
                        <li v-if="data.cate_c != 6">
                            <span class="list_left">原有次数</span>
                            <span class="list_right">
                        <el-input v-model="data.originally_num" placeholder="请输入原有次数"></el-input>
                    </span>
                        </li>
                        <li v-if="data.cate_c != 6">
                            <span class="list_left">剩余次数</span>
                            <span class="list_right">
                        <el-input v-model="data.current_num" placeholder="请输入剩余次数"></el-input>
                    </span>
                        </li>
                        <li v-if="data.cate_c != 6">
                            <span class="list_left">手工费</span>
                            <span class="list_right">
                        <el-input v-model="data.fee" placeholder="请输入手工费"></el-input>
                    </span>
                        </li>
                        <li v-if="data.cate_c != 6">
                            <span class="list_left">护理周期</span>
                            <span class="list_right">
                        <el-radio v-model="data.cycle" label="1" >每周一次</el-radio>
                            <el-radio v-model="data.cycle" label="2" >每
                                <el-input class="choice_in" v-model="data.days" placeholder="请输入" style="margin:0 5px" :disabled="data.cycle==1?true:false"></el-input>天一次
                            </el-radio>
                    </span>
                        </li>
                        <li>
                            <span class="list_left">期限范围</span>
                            <span class="list_right">
                         <el-date-picker style="width: 390px"
                                 v-model="time_limit"
                                 type="daterange"
                                 range-separator="至"
                                 start-placeholder="开始日期"
                                 end-placeholder="结束日期">
                        </el-date-picker>
                    </span>
                        </li>
                        <li>
                            <span style="color: red">
                                注意：
                            </span>
                            <span>
                                如没有到期日期可不选择日期 则表示无使用期限
                            </span>
                        </li>
                    </ul>
                </li>
                <li v-if="data.cate_c == 4">
                    <ul class="goods_edit">
                        <li>
                            <span class="list_left">卡类型</span>
                            <span class="list_right">
                                <el-select v-model="data.c_type" placeholder="请选择">
                                 <el-option
                                         v-for="item in card_type"
                                         :label="item.name"
                                         :value="item.value">
                                </el-option>
                            </el-select>
                            </span>
                        </li>
                        <li>
                            <span class="list_left">卡名</span>
                            <span class="list_right">
                                <el-autocomplete @blur="card_blur(card_name)"
                                                 v-model="card_name"
                                                 :fetch-suggestions="querySearchAsync"
                                                 placeholder="请输入卡名" @select="handleSelect_ca"></el-autocomplete>
                    </span>
                        </li>
                        <li>
                            <span class="list_left">额度</span>
                            <span class="list_right">
                        <el-input v-model="data.c_amount" placeholder="请输入额度"></el-input>
                    </span>
                        </li>
                        <li v-if="data.c_type == 3">
                            <span class="list_left">折扣</span>
                            <span class="list_right">
                        <el-input v-model="data.c_discount" placeholder="请输入原有次数">
                             <template slot="append">%</template>
                        </el-input>
                    </span>
                        </li>
                        <li v-if="data.c_type ==2" class="dis_div">
                    <span>
                        套盒折扣：&#12288;
                        <el-input v-model="data.suitbox" type="number" placeholder="0" class="s_in_wid"></el-input>&nbsp;%
                    </span>
                            <span>
                        产品折扣：&#12288;
                        <el-input v-model="data.product" type="number" placeholder="0" class="s_in_wid"></el-input>&nbsp;%
                    </span>
                            <span>
                        礼包折扣：&#12288;
                        <el-input v-model="data.gift" type="number" placeholder="0" class="s_in_wid"></el-input>&nbsp;%
                    </span>
                            <span>
                        项目折扣：&#12288;
                        <el-input v-model="data.items" type="number" placeholder="0" class="s_in_wid"></el-input>&nbsp;%
                    </span>
                        </li>
                    </ul>
                </li>
                <li v-if="data.cate_c == 5">
                    <el-table
                            :data="name_list"
                            border
                            style="width: 100%">
                        <el-table-column
                                prop="name"
                                label="方案名称"
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="sale"
                                label="价格">
                        </el-table-column>
                        <el-table-column
                                label="操作"
                                fixed="right"
                                show-overflow-tooltip>
                            <template slot-scope="scope">
                                <el-button
                                        size="mini"
                                        @click="setplan(scope.row.detail);getDetail=true">查看
                                </el-button>
                                <el-button
                                        size="mini"
                                        type="success"
                                        @click="plan_entry(scope.row.id)">录入
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </li>

            </ul>
            <span slot="footer" class="dialog-footer">
            <el-button @click="entering_dio = false;cancel()">取 消</el-button>
            <el-button type="primary" @click="entry" v-if="data.cate_c != 5">确 定</el-button>
          </span>
        </el-dialog>
        <!-- 查看详情 -->
        <el-dialog  append-to-body
                title="方案详情"
                :visible.sync="getDetail"
                center>
            <el-table border center
                      :data="detail"
                      style="width: 100%">
                <el-table-column
                        prop="type"
                        label="类别"
                        width="80">
                </el-table-column>
                <el-table-column
                        prop="name"
                        label="名称"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="price"
                        label="售价">
                </el-table-column>
                <el-table-column
                        prop="times"
                        label="次数">
                </el-table-column>
            </el-table>
        </el-dialog>
    </template>

</div>

</body>
</html>
<script src="../js/jquery.min.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/func.js"></script>
<script src="../js/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            card_type:[{
                value:1,
                name:'储值卡'
            },{
                value:2,
                name:'普通折扣卡'
            },{
                value:3,
                name:'全场折扣卡'
            }],
            time_limit:'',
            start:'',
            end:'',
            m_arr:'',
            mem_arr:[],
            member_arr:[],
            max_ht:0,
            input: '',
            radio: '',
            detail:[],
            getDetail: false,
            entering_dio: false,
            addDialogVisible: false,
            deleteDialogVisible: false,
            storeDialogVisible: false,
            leaveDialogVisible: false,
            birthday: '',
            name: '',
            adviser_list:[],
            options: [{
                value: '选项1',
                label: '张三'
            }, {
                value: '选项2',
                label: '丽萨'
            }],
            value: '',
            tableData3: [{
                name: '张三',
                number: '7000123',
                tel: '15212645632'
            }, {
                name: '丽萨',
                number: '7000125',
                tel: '15212645632'
            }],
            multipleSelection: [],
            total: 0,
            list: [],
            fileList: [],
            r: '',
            user: {
                'name': '',
                'age': '',
                'shop_num': '',
                'password':'',
                'weixin':'',
                'sex':'1',
                'tel':'',
                'marital': '1',
                'bir_type': '1',
                'birthday': '',
                'adviser': '',
            },
            room: '',
            now: '',
            zt: false,
            ddNum: '',
            ddNum2: '',
            syNum: '',
            syNum2: '',
            memberBalance: '',
            memberBalance2: '',
            member_all:'',
            in_id:'',
            name_list:'',
            data:{
                mid: '',
                cate_c: '3',
                name: '',
                price: '',
                arrears_money: '',
                originally_num: '',
                current_num: '',
                cateId: '',
                fee: '',
                cycle: '1',
                start: '',
                end: '',
                balance: '',
                send_balance: '',
                c_name: '',
                c_amount: '',
                c_discount: '',
                c_type: 0,
                card_name: '',
                box_name: 0,
                item_name: 0,
                plan_id: '',
                suitbox:'',
                product:'',
                items:'',
                gift:'',
                goods_name:'',
                sum:''
            },
            th_name: '',
            xm_name: '',
            cp_name: '',
            th_list: '',
            xm_list: '',
            cp_list: '',
            ca_list: '',
            boxArr: '',
            itemsArr: '',
            goodsArr:'',
            card_name: '',
        },
        methods: {
            getQueryString(name) {
                var url=window.location.href;
                if(url.indexOf("mid")!=-1){
                    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
                    var r = window.location.search.substr(1).match(reg);
                    if (r != null){
                        return unescape(r[2]);
                    }else{
                        return null;
                    }
                }else{
                    return 'wu'
                }
            },
            hel_filter(){
                localStorage.setItem('search_sh', 'list')
                location.href='health_pro.html';
            },
            get_advister(){
                $.get(url(methods.get_advister),v=>{
                    this.adviser_list=v.res;
                })
            },
            height(){
                    var height=window.innerHeight;
                    this.max_ht=window.innerHeight-142;
            },
            exportData() {
                /*$.get(url(methods.exportMember), v=>{

                })*/
                window.open(url(methods.exportMember))
            },
            jump(type, v) {
                if (type == 1) {
                    localStorage.setItem('user_id', v.id)
                    location.href = './buy.html'
                } else if (type == 2) {
                    $.post(url(methods.isLeave), {'id': v.id}, x => {
                        if (x.code != 0) {
                            error('请求出错')
                            return
                        }
                        if (x.data == false) {
                            error('用户未到店')
                            return
                        }
                        localStorage.setItem('roomId', x.data.id)
                        localStorage.setItem('user_id', v.id)
                        location.href = './consume.html'
                    })
                } else if (type == 3) {
                    localStorage.setItem('user_id', v.id)
                    location.href = 'vip_information.html'
                }
            },
            edit() {
                /*if (this.user.name == '' || this.user.tel == '') {
                    error('请填完以上内容')
                    return
                }*/
                let obj = this.user
                obj.id = this.now.id
                $.post(url(methods.editMember), {'data': JSON.stringify(obj)}, v => {
                    let rs = verify(v)
                    if (rs != false) {
                        this.zt = false
                        this.user = {
                            'name': '',
                            'age': '',
                            'shop_num':'',
                            'password':'',
                            'weixin':'',
                            'sex': '1',
                            'tel': '',
                            'marital': '1',
                            'bir_type': '1',
                            'birthday': '',
                            'adviser':''
                        }
                        success('修改成功')
                        this.getMember()
                    }
                })
            },
            setVal() {
                this.user.shop_num = this.now.shop_num
                this.user.name = this.now.name
                this.user.age = this.now.age
                this.user.tel = this.now.tel
                this.user.password = this.now.password
                this.user.weixin = this.now.weixin
                this.user.adviser = this.now.adviser
                this.user.marital = this.now.marital
                this.user.sex = this.now.sex == null ? '1' : '2'
                this.user.bir_type = this.now.bir_type + ''
                this.user.birthday = this.now.birthday
                this.zt = true
            },
            del() {
                if (this.multipleSelection.length == 0) {
                    return
                }
                if (this.multipleSelection.length > 0) {
                    this.$confirm('是否删除选中会员?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        let arr = [];
                        for (let v of this.multipleSelection) {
                            arr.push({'id': v.id, 'type': v.vipStatus == 1 ? 'member' : 'new'})
                        }
                        $.post(url(methods.delCheckedMember), {'data': JSON.stringify(arr)}, v => {
                            if (v.code == 0) {
                                success('删除成功')
                                this.getMember()
                            } else {
                                error('删除失败')
                            }
                        })
                    }).catch(e => {

                    })
                }
                this.deleteDialogVisible = false
            },
            delOne(id) {
                this.$confirm('是否删除?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    $.post(url(methods.delMember), {
                        'id': id,
                        'type': this.now.vip_status == 1 ? 'member' : 'new'
                    }, v => {
                        if (v.code == 1) {
                            success(v.Msg)
                            this.getMember()
                        } else {
                            error(v.error)
                        }
                    })
                }).catch(e => {

                })
            },
            leave() {
                $.post(url(methods.leave), {'mid': this.now.id, 'arrId': ''}, v => {
                    if (v.code == 1) {
                        success(v.Msg)
                        this.leaveDialogVisible = false
                        if (v.res.time != null) {
                            this.isPrint(v.res.id)
                        }
                        this.getMember()
                    } else {
                        error(v.error)
                        this.leaveDialogVisible = false
                    }
                })
            },
            isPrint(rid) {
                this.$confirm('是否打印消耗账单?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    $.post(url(methods.consumePrint), {mid: this.now.id, room: rid}, v => {
                        if (v.code == 1) {
                            success('打印成功')
                        } else {
                            error(v.error)
                        }
                    })
                }).catch(e => {

                })
            },
            comeShop() {
                if (this.room == '') {
                    error('请输入房间号')
                    return
                }
                $.post(url(methods.addArrive), {'mid': this.now.id, 'room': this.room}, v => {
                    if (v.code == -1) {
                        error(v.errorMsg)
                    } else {
                        success(v.Msg)
                        this.storeDialogVisible = false
                        this.room = ''
                        location.href = './shop_store.html'
                    }
                })
            },
            add() {
                /*if (this.user.name == '' || this.user.age === '' || this.user.tel == '' || this.user.birthday == '') {
                    error('请填完以上内容')
                    return
                }*/
                $.post(url(methods.addVip), {'data': this.user}, v => {
                    let rs = verify(v)
                    if (rs != false) {
                        success('添加成功')
                        this.user = {
                            'name': '',
                            'age': '',
                            'shop_num': '',
                            'password':'',
                            'weixin':'',
                            'sex':'1',
                            'tel':'',
                            'marital': '1',
                            'bir_type': '1',
                            'birthday': '',
                            'adviser': '',
                        }
                        this.addDialogVisible = false
                        this.getMember()
                    } else {
                        error('新增失败')
                    }
                })
            },
            close() {
                //alert(1)
                this.user = {
                    'name': '',
                    'age': '',
                    'shop_num': '',
                    'password':'',
                    'weixin':'',
                    'sex':'1',
                    'tel':'',
                    'marital': '1',
                    'bir_type': '1',
                    'birthday': '',
                    'adviser': '',
                }
                this.data = {
                    mid: this.in_id,
                    cate_c: '3',
                    name: '',
                    price: '',
                    arrears_money: '',
                    originally_num: '',
                    current_num: '',
                    cateId: '',
                    fee: '',
                    cycle: '1',
                    start: '',
                    end: '',
                    balance: '',
                    send_balance: '',
                    c_name: '',
                    c_amount: '',
                    c_discount: '',
                    c_type: 0,
                    card_name: '',
                    box_name: 0,
                    item_name: 0,
                    plan_id: '',
                    suitbox:'',
                    product:'',
                    items:'',
                    gift:'',
                    goods_name:'',
                    sum:''
                };
                this.addDialogVisible = false
                this.zt = false
                this.entering_dio= false
            },
            cancel() {
                this.addDialogVisible = false
                this.zt = false
                this.entering_dio= false
                this.user = {
                    'name': '',
                    'age': '',
                    'shop_num': '',
                    'password':'',
                    'weixin':'',
                    'sex':'1',
                    'tel':'',
                    'marital': '1',
                    'bir_type': '1',
                    'birthday': '1',
                    'adviser': '',
                };
                this.data = {
                    mid: this.in_id,
                    cate_c: '3',
                    name: '',
                    price: '',
                    arrears_money: '',
                    originally_num: '',
                    current_num: '',
                    cateId: '',
                    fee: '',
                    cycle: '1',
                    start: '',
                    end: '',
                    balance: '',
                    send_balance: '',
                    c_name: '',
                    c_amount: '',
                    c_discount: '',
                    c_type: 0,
                    card_name: '',
                    box_name: 0,
                    item_name: 0,
                    plan_id: '',
                    suitbox:'',
                    product:'',
                    items:'',
                    gift:'',
                    goods_name:'',
                    sum:''
                };
            },
            toggleSelection(rows) {
                if (rows) {
                    rows.forEach(row => {
                        this.$refs.multipleTable.toggleRowSelection(row);
                    });
                } else {
                    this.$refs.multipleTable.clearSelection();
                }
            },
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },
            handleEdit(index, row) {
                console.log(index, row);
            },
            handleDelete(index, row) {
                console.log(index, row);
            },
            handleExceed(files, fileList) {
                console.log(files, fileList)
            },
            beforeUpload2(f) {
                let ext = f.name.toString().split('.')
                if (ext[1] != 'xlsx') {
                    error('请上传xlsx文件')
                    return false
                }
            },
            ok(v, file, fileList) {
                if (v.code == 0) {
                    success(v.msg)
                    this.getMember()
                } else {
                    error('导入失败，请检查数据是否填写正确  ' + v.msg)
                }
                this.fileList = []
            },
            getMember() {
                if(this.m_arr=='wu'){
                    $.get(url(methods.get_member_list), v => {
                        let rs = verify(v)
                        if (rs != false) {
                            this.total = rs.page_count
                            this.list = rs.all_member
                        }
                    })
                }else{
                    if(this.m_arr!=null){
                        this.mem_arr=this.m_arr.split(',');
                        $.get(url(methods.get_member_list), v => {
                            let rs = verify(v)
                            if (rs != false) {
                                this.member_all = rs.all_member;
                                this.list =[];
                                for(let v of this.mem_arr){
                                    for(let m of this.member_all){
                                        if(v==m.id){
                                            this.list.push(m)
                                        }
                                    }
                                }
                            }
                        })

                    }else if(this.m_arr==null){
                        this.list=[]
                    }
                }
            },
            import2() {
                let data = document.getElementById("file").files[0];
            },
            formatter(r, c) {
                if (r.bir_type == 1) {
                    return '阳历'
                } else {
                    return '农历'
                }
            },
            check_entry_name(type){
                $.post(url(methods.check_entry_name),{type: type},v=>{
                    this.name_list=v.res;
                    if(type==1||type==2||type==6){
                        $.post(url(methods.get_cate),v=> {
                            this.boxArr=v.res.box;
                            this.itemsArr=v.res.items;
                            this.goodsArr=v.res.goods;
                        })
                        if(type==1){
                            this.th_list=v.res;
                            for(let i of this.name_list){
                                i.value = i.box_name;
                            }
                        }else if(type==2){
                            this.xm_list=v.res;
                            for(let i of this.name_list){
                                i.value = i.pro_name;
                            }
                        }
                        else if(type==6){
                            this.cp_list=v.res;
                            for(let i of this.name_list){
                                i.value = i.goods_name;
                            }
                        }
                    }else if(type==3){
                        this.ca_list=v.res;
                        for(let i of this.name_list){
                            i.value = i.card_name;
                        }
                    }

                })
            },
            querySearchAsync(queryString, cb) {
                var list = this.name_list;
                var results = queryString ? list.filter(this.createStateFilter(queryString)) : list;

                clearTimeout(this.timeout);
                this.timeout = setTimeout(() => {
                    cb(results);
                }, 3000 * Math.random());
            },
            createStateFilter(queryString) {
                return (state) => {
                    return (state.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
                };
            },
            handleSelect_th(item) {
                this.data.box_name=item.id;
            },
            handleSelect_xm(item) {
                this.data.item_name=item.id;
            },
            handleSelect_cp(item) {
                this.data.goods_name=item.id;
//do something
            },
            handleSelect_ca(item) {
                this.data.card_name=item.id;
//do something
            },
            th_blur(th){
                for(let t of this.th_list){
                    if(t.box_name==th){
                       this.data.box_name = t.id;
                    }else{
                        this.data.name=th;
                        this.data.box_name='';
                    }
                }
            },
            xm_blur(xm){
                for(let t of this.xm_list){
                    if(t.pro_name==xm){
                        this.data.item_name = t.id;
                    }else{
                        this.data.name=xm;
                        this.data.item_name='';
                    }
                }
            },
            cp_blur(xm){
                for(let t of this.cp_list){
                    if(t.goods_name==xm){
                        this.data.goods_name = t.id;
                    }else{
                        this.data.name=xm;
                        this.data.goods_name='';
                    }
                }
            },
            card_blur(card){
                for(let t of this.ca_list){
                    if(t.card_name==card){
                        this.data.card_name = t.id;
                    }else{
                        this.data.c_name=card;
                        this.data.card_name='';
                    }
                }
            },
            entry_in(){
                this.data.mid=this.in_id;
                $.post(url(methods.oldentry),{data:this.data},v=>{
                    if(v.code==1){
                            success(v.Msg)
                            this.data = {
                                mid: this.in_id,
                                cate_c: '3',
                                name: '',
                                price: '',
                                arrears_money: '',
                                originally_num: '',
                                current_num: '',
                                cateId: '',
                                fee: '',
                                cycle: '1',
                                start: '',
                                end: '',
                                balance: '',
                                send_balance: '',
                                c_name: '',
                                c_amount: '',
                                c_discount: '',
                                c_type: 0,
                                card_name: '',
                                box_name: 0,
                                item_name: 0,
                                plan_id: '',
                                suitbox:'',
                                product:'',
                                items:'',
                                gift:'',
                                goods_name:'',
                                sum:''
                            };
                    }else{
                        error(v.error)
                    }
                })
            },
            entry(){
                if(this.data.cate_c == 1 || this.data.cate_c == 2){
                    if(this.data.price==''){
                        error("请填写价格")
                    }else if(this.data.originally_num==''){
                        error("请填写原有次数")
                    }else if(this.data.current_num==''){
                        error("请填写剩余次数")
                    }else if(this.data.cateId==''){
                        error("请选择分类")
                    }else{
                        this.entry_in()
                    }
                }else if(this.data.cate_c ==6){
                    if(this.data.price==''){
                        error("请填写价格")
                    }else if(this.data.sum==''){
                        error("请填写产品数量")
                    }else if(this.data.cateId==''){
                        error("请选择分类")
                    }else{
                        this.entry_in()
                    }
                }else if(this.data.cate_c == 3){
                    if (this.data.balance == "" && this.data.send_balance == "") {
                        error("请至少录入一项")
                    }else{
                        this.entry_in()
                    }
                }else if(this.data.cate_c == 4){
                    if(this.data.c_name == "" && this.card_name == ""){
                        error("请输入卡名称")
                    }else if(this.data.c_amount == 0 || this.data.c_amount == ""){
                        error("请输入正确的余额")
                    }else if(this.data.c_type == 3 && this.data.c_discount == ""){
                        error("请输入正确的正确的折扣")
                    }else if(this.data.c_type == 3 && this.data.c_discount == 0){
                        error("请输入正确的正确的折扣")
                    }else{
                        this.entry_in()
                    }
                }
            },
            setplan(plan){
                for(var key in plan){
                    this.detail.push(plan[key]);
                }
            },
            plan_entry(id){
                this.data.plan_id = id;
                this.$confirm('是否录入此方案?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.entry_in()
                }).catch(()=>{
                    this.data.plan_id=''
                    })
            }
        },
        watch: {
            user: {
                handler(x) {
                    if (x.birthday != '' && x.birthday != null) {
                        let arr = x.birthday.split('-')
                        let bir_year = arr[0]
                        let date = new Date()
                        x.age = date.getUTCFullYear() - bir_year
                    } else {
                        x.age = ''
                    }
                },
                deep: true
            },
            time_limit(v) {
                if (v != null) {
                    this.start = v[0]
                    this.end = v[1]
                }
            }
        },
        mounted() {
            this.$nextTick(e => {
                //初始化
                that = this
                this.m_arr=this.getQueryString('mid');
                this.getMember()
                this.get_advister()
                this.height()
                this.r = url(methods.upload)
                loginState();
            })
        }
    })
</script>