<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>美约会-商品管理</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/customer.css">
    <link rel="stylesheet" type="text/css" href="../css/goods.css">
</head>
<body>

<div id="app" class="customer">
    <p class="cus_title">
        <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item :to="{ path: '/' }">信息管理</el-breadcrumb-item>
            <el-breadcrumb-item>商品管理</el-breadcrumb-item>
        </el-breadcrumb>
    </p>
    <template>
        <div class="cus_center">
            <el-input style="float:left;" class="cus_seatch"
                      placeholder="请输入商品名称"
                      prefix-icon="el-icon-search"
                      v-model="input">
            </el-input>
            <el-upload
                    style="float: left"
                    class="upload-demo"
                    :action="r"
                    multiple
                    :limit="1"
                    show-file-list="false"
                    :before-upload="beforeUpload2"
                    :on-success="ok"
                    :file-list="fileList">
                <el-button type="primary">导入商品表</el-button>
                <!--<div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>-->
            </el-upload>
            <el-button type="success">导出商品表</el-button>
            <el-button type="success" class="fr">批量删除</el-button>
            <el-button type="success" class="fr" @click="centerDialogVisible = true">新增商品</el-button>
            <el-button type="success" class="fr">批量新增</el-button>
        </div>
        <el-table border
                  ref="multipleTable"
                  :data="list"
                  tooltip-effect="dark"
                  style="width: 100%"
                  @selection-change="handleSelectionChange">
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column
                    label="品项"
                    width="120"
                    prop="type">
            </el-table-column>
            <el-table-column
                    prop="class"
                    label="类别"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="name"
                    label="商品名称">
            </el-table-column>
            <el-table-column
                    prop="price"
                    label="零售价">
            </el-table-column>
            <el-table-column
                    prop="stock"
                    label="库存">
            </el-table-column>
            <el-table-column
                    prop="fre"
                    label="次数">
            </el-table-column>
            <el-table-column
                    prop="fee"
                    label="手工">
            </el-table-column>
            <el-table-column
                    prop="give"
                    label="赠送">
            </el-table-column>
            <el-table-column
                    label="操作"
                    show-overflow-tooltip>
                <template slot-scope="scope">
                    <el-button
                            size="mini"
                             @click="centerDialogVisible = false">编辑
                    </el-button>
                    <el-button
                            size="mini"
                            type="danger"
                            @click="handleDelete(scope.$index, scope.row)">删除
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-dialog
          title="编辑商品"
          :visible.sync="centerDialogVisible"
          width="400px"
          center>
          <ul class="goods_edit">
              <li>
                <span class="list_left">品项</span>
                <span class="list_right">产品</span>
              </li>
              <li>
                <span class="list_left">商品名称</span>
                <span class="list_right">
                    <el-input v-model="input" placeholder="请输入商品名称" value="补水面膜"></el-input>
                </span>
              </li>
              <li>
                <span class="list_left">售价</span>
                <span class="list_right">
                    <el-input v-model="input" placeholder="请输入售价" value="补水面膜"></el-input>
                </span>
              </li>
              <li>
                <span class="list_left">库存</span>
                <span class="list_right">
                    <el-input v-model="input" placeholder="请输入库存" value="补水面膜"></el-input>
                </span>
              </li>
              <li>
                <span class="list_left">次数</span>
                <span class="list_right">
                    <el-input v-model="input" placeholder="请输入次数" value="补水面膜"></el-input>
                </span>
              </li>
              <li>
                <span class="list_left">手工费</span>
                <span class="list_right">
                    <el-input v-model="input" placeholder="请输入手工费" value="补水面膜"></el-input>
                </span>
              </li>
               <li>
                <span class="list_left">类别</span>
                <span class="list_right">
                    <el-radio v-model="radio" label="1">身体</el-radio>
                    <el-radio v-model="radio" label="2">面部</el-radio>
                    <el-radio v-model="radio" label="3">头部</el-radio>
                    <el-radio v-model="radio" label="4">其他</el-radio>
                </span>
            </li>
          </ul>
          <span slot="footer" class="dialog-footer">
            <el-button @click="centerDialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="centerDialogVisible = false">确 定</el-button>
          </span>
        </el-dialog>
    </template>

</div>

</body>
</html>
<script src="../js/jquery.min.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/func.js"></script>
<script src="../js/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            input: '',
            radio:'',
             centerDialogVisible: false,
             tableData3: [{
                px: '产品',
                class: '面部',
                name: '睡眠面膜',
                price: '231',
                stock: '12',
                fre: '',
                fee: '',
                give: '是'
            }, {
                px: '套盒',
                class: '身体',
                name: '肩颈套',
                price: '2310',
                stock: '12',
                fre: '12',
                fee: '5',
                give: '是'
            }],
            multipleSelection: [],

            list: [],
            r: '',
            fileList: [],
        },
        methods: {
            toggleSelection(rows) {
                if (rows) {
                    rows.forEach(row => {
                        this.$refs.multipleTable.toggleRowSelection(row);
                    });
                } else {
                    this.$refs.multipleTable.clearSelection();
                }
            },
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },
            handleEdit(index, row) {
                console.log(index, row);
            },
            handleDelete(index, row) {
                console.log(index, row);
            },
            getGoods() {
                $.post(url(methods.getAllGoods), v=>{
                    let rs = verify(v)
                    if(rs != false){
                        this.list = rs
                    }
                })
            },
            ok() {
                success('上传成功')
                this.getGoods()
            },
            beforeUpload2(f) {
                let ext = f.name.toString().split('.')
                if(ext[1] != 'xlsx') {
                    error('请上传xlsx文件')
                    return false
                }
            },
        },
        mounted() {
            this.$nextTick(e => {
                //初始化
                that = this;
                this.getGoods()
                this.r = url(methods.upload+'?type=2')
            })
        }
    })
</script>