<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>美约会-首页</title>
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/home_page.css">
</head>
<body>
<div id="app" class="screen_page">
    <template>
        <el-container class="screen_page">
            <el-header class="blue_back" style="height:88px">
                <img src="../images/home_logo.png" class="home_logo">美约会店务管理系统
                <p class="fr">
                    {{user.name}}<i class="el-icon-caret-bottom"></i>&#12288;
                    <span @click="change_dio=true" style="cursor: pointer"><i class="el-icon-setting"></i>修改密码</span>
                    &#12288;
                    <a href="bespeak.html" target="iframe" style="position: relative">
                        <span class="news"></span>
                        <img src="../images/news.png" class="home_birth">
                    </a>
                    <img @click="logout" src="../images/home_exit.png" class="home_exit">
                </p>
            </el-header>
            <el-container>
                <el-aside width="200px">
                    <el-menu :default-openeds="['2']" unique-opened="true">
                        <el-menu-item index="1">
                            <a href="home.html" target="iframe">
                                <span class="span_img">
                                    <img src="../images/home.png" class="home_icon">
                                </span>
                                <span slot="title">工作台首页</span>
                            </a>
                        </el-menu-item>
                        <el-menu-item index="2">
                            <a href="customer.html" target="iframe">
                                <span class="span_img">
                                    <img src="../images/home_cus.png" class="home_icon">
                                </span>
                                <span slot="title">会员管理</span>
                            </a>
                        </el-menu-item>
                        <el-menu-item index="99999">
                            <a href="new_member.html" target="iframe">
                                <span class="span_img">
                                    <img src="../images/home_cus.png" class="home_icon">
                                </span>
                                <span slot="title">散客管理</span>
                            </a>
                        </el-menu-item>
                        <el-menu-item index="4">
                            <a href="shop_store.html" target="iframe">
                                <span class="span_img">
                                    <img src="../images/store.png" class="home_icon" style="width: 24px">
                                </span>
                                <span slot="title">到店管理</span>
                            </a>
                        </el-menu-item>
                        <el-menu-item index="3">
                            <a href="goods.html" target="iframe">
                                <span class="span_img">
                                    <img src="../images/home_goods.png" class="home_icon">
                                </span>
                                <span slot="title">商品管理</span>
                            </a>
                        </el-menu-item>
                        <el-menu-item index="14" v-if="user.mode==1">
                            <a href="goods2.html" target="iframe">
                                <span class="span_img">
                                    <img src="../images/wear.png" class="home_icon">
                                </span>
                                <span slot="title">内衣管理</span>
                            </a>
                        </el-menu-item>

                        <el-menu-item index="5">
                            <a href="card.html" target="iframe">
                                <span class="span_img">
                                    <img src="../images/card.png" class="home_icon" style="height: 18px">
                                </span>
                                <span slot="title">卡项管理</span>
                            </a>
                        </el-menu-item>

                        <el-menu-item index="6">
                            <a href="plan.html" target="iframe">
                                <span class="span_img">
                                    <img src="../images/plan.png" class="home_icon" style="height: 18px;width: 19px;">
                                </span>
                                <span slot="title">方案管理</span>
                            </a>
                        </el-menu-item>
                        <el-menu-item index="7">
                            <a href="ware_mange.html" target="iframe">
                                <span class="span_img">
                                    <img src="../images/ware.png" class="home_icon" style="height: 18px;width: 20px;">
                                </span>
                                <span slot="title">仓库管理</span>
                            </a>
                        </el-menu-item>
                        <el-menu-item index="8">
                            <a href="consumeables.html" target="iframe">
                                <span class="span_img">
                                    <img src="../images/court.png" class="home_icon" style="height: 18px;width: 22px;">
                                </span>
                                <span slot="title">院装消耗</span>
                            </a>
                        </el-menu-item>
                        <!--<el-menu-item index="9">
                            <a href="order.html" target="iframe">
                                <span class="span_img">
                                    <img src="../images/order.png" class="home_icon" style="height: 18px;width: 22px;">
                                </span>
                                <span slot="title">订单中心</span>
                            </a>
                        </el-menu-item>
                        <el-menu-item index="10">
                            <a href="performance_check.html" target="iframe">
                                <span class="span_img">
                                    <img src="../images/performance.png" class="home_icon">
                                </span>
                                <span slot="title">业绩核对</span>
                            </a>
                        </el-menu-item>
                        <el-menu-item index="11">
                            <a href="staff.html" target="iframe">
                                <span class="span_img">
                                    <img src="../images/per_perfor.png" class="home_icon">
                                </span>
                                <span slot="title">员工工资</span>
                            </a>
                        </el-menu-item>-->
                        <el-submenu index="12">
                            <template slot="title">
                                <span class="span_img">
                                    <img src="../images/analysis.png" class="home_icon">
                                </span>
                                <span class="white">店务分析</span>
                            </template>
                            <el-menu-item index="12-1"><a href="staff_analysis.html" target="iframe" class="a_padd">员工分析</a></el-menu-item>
                            <el-menu-item index="12-2"><a href="data_analysis.html" target="iframe" class="a_padd">数据分析</a></el-menu-item>
                            <el-menu-item index="12-3"><a href="arrear_analysis.html" target="iframe" class="a_padd">负债率分析</a></el-menu-item>
                        </el-submenu>
                        </el-menu-item>
                        <el-menu-item index="13" v-if="user.pid==0">
                            <a href="branch_store.html" target="iframe">
                                <span class="span_img">
                                    <img src="../images/branch.png" class="home_icon" style="height: 18px">
                                </span>
                                <span slot="title">分店管理</span>
                            </a>
                        </el-menu-item>
                        <!--已经有14了-->
                    </el-menu>
                </el-aside>
                <el-main>
                    <iframe src="every_count.html" name="iframe"></iframe>
                </el-main>
            </el-container>
        </el-container>
        <el-dialog title="修改密码"
                   :visible.sync="change_dio"
                   width="460px"
                   center>
            <ul class="goods_edit">
                <li>
                    <span class="list_left">原密码</span>
                    <span class="list_right">
                    <el-input v-model="yuan" placeholder="请输入原密码" @blur="get_pass()"></el-input>
                </span>
                </li>
                <li>
                    <span class="list_left">新密码</span>
                    <span class="list_right">
                    <el-input v-model="xin" placeholder="请输入新密码"></el-input>
                </span>
                </li>
                <li>
                    <span class="list_left">确认新密码</span>
                    <span class="list_right">
                    <el-input v-model="con_xin" placeholder="请确认新密码"></el-input>
                </span>
                </li>
            </ul>
            <span slot="footer" class="dialog-footer">
            <el-button @click="change_dio = false">取 消</el-button>
            <el-button type="primary" @click="modify_pass()">确 定</el-button>
          </span>
        </el-dialog>
    </template>
</div>
</body>
</html>
<script src="../js/jquery.min.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/func.js"></script>
<script src="../js/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            user: '',
            change_dio:false,
            yuan: '',
            xin: '',
            con_xin: '',
            pass_sta:false,
            password:''
        },
        methods: {
            logout() {
                this.$confirm('是否退出?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    $.post(url(methods.logout), v => {
                        localStorage.removeItem('user')
                        setTimeout(() => location.href = '../login.html', 100)
                    })
                }).catch(e => {

                })
            },
            get_pass(){
                if(this.yuan==''){
                    error('请输入原始密码')
                }else if(this.yuan!=''&&this.password==this.yuan){}else{
                    $.post(url(methods.check),{orig: this.yuan},v=>{
                        if(v.code==-1){
                            error('原始密码错误')
                        }else if(v.code==1){
                            this.password=this.yuan;
                        }
                    })
                }
            },
            modify_pass(){
                if(this.yuan==''){
                    error('请输入原始密码')
                }else if(this.yuan!=this.password){
                    error('原始密码错误')
                }else if(this.xin==''){
                    error('请输入新密码')
                }else if(this.con_xin==''){
                    error('请再次输入新密码')
                }else if(this.xin!=this.con_xin){
                    error('两次密码输入不一致，请重新输入')
                }else{
                    $.post(url(methods.ModifyPassword), {orig: this.yuan,
                        password: this.xin,
                        confirm: this.xin
                    },v=>{
                        if(v.code==1){
                            success("密码修改成功")
                            this.change_dio=false;
                        }else{
                            error(v.Msg)
                        }
                    })
                }
            }
        },
        mounted() {
            this.$nextTick(e => {
                if (!isPC()) {
                    window.location.href = 'https://myh.myhkj.cn';
                }
                //初始化
                that = this;
                this.user = JSON.parse(localStorage.getItem('user'))
                loginState()
            })
        }
    })
</script>