<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/home.css">
</head>
<body>

<div id="app">
    <div class="index_top">
        <i style="font-size: 1.7rem;line-height: 56px;"><img src="../images/home_birth.png" class="home_birth"/>本周生日&nbsp;|&nbsp;</i>
        <ul class="bir_ul" id="scrollobj">
            <li v-for="v in sj.bir_member">
                <a href="birthday.html" target="iframe">
                    {{v.name}}&nbsp;{{v.birthday}}
                </a>
            </li>
        </ul>
    </div>
    <ul class="intex_center">
        <li>
            <a href="today_total.html" target="iframe">
                <p>今日总营业额</p>
                <span class="cr">
                    {{sj.today_money}}
                </span>
                <p class="index_detail">详情</p>
            </a>
        </li>
        <li>
            <a href="today_do.html" target="iframe">
                <p>消耗金额</p>
                <span class="cr">
                    {{sj.consume_total | two}}
                </span>
                <p>操作项目数：{{sj.items_total}}</p>
                <p class="index_detail">详情</p>
            </a>
        </li>
        <li>
            <a href="./today_store.html">
                <p>今日到店：{{sj.arrival_total}}</p>
                <p>新客户：{{sj.new_customer}}</p>
                <p class="index_detail">详情</p>
            </a>
        </li>
        <li>
            <ul>
                <li>
                    <a href="./lost_vip.html" class="black_c">
                        流失会员预警：{{sj.lost_member}}
                    </a>
                </li>
                <li>
                    <a href="./free_member.html" class="black_c">
                        游离会员：{{sj.untime_member}}
                    </a>
                </li>
                <li>
                    <a href="./new_member.html" class="black_c">
                        新客户追踪：{{sj.new_customer}}
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="index_bottom">
        <li>
            <a href="every_count.html" target="iframe">
                <img src="../images/everyday.png" class="index_img"/>
                <p>每日流水</p>
            </a>
        </li>
        <li>
            <a href="performance_check.html" target="iframe">
                <img src="../images/performance_check.png" class="index_img"/>
                <p>业绩核对</p>
            </a>
        </li>
        <li>
            <a href="populaity.html" target="iframe">
                <img src="../images/populaity_rate.png" class="index_img"/>
                <p>普及率</p>
            </a>
        </li>
        <li>
            <a href="ware_warning.html" target="iframe" style="position: relative;display: inline-block;width: fit-content">
                <i class="warn_circle" v-if="warning_total != ''">{{warning_total}}</i>
                <img src="../images/early_warning.png" class="index_img"/>
                <p>仓库预警</p>
            </a>
        </li>

        <li>
            <a href="power.html" target="iframe">
                <img src="../images/ccquanxian.png" class="index_img"/>
                <p>权限管理</p>
            </a>
        </li>
        <li>
            <a href="staff_mange.html" target="iframe">
                <img src="../images/ccdianyuan.png" class="index_img"/>
                <p>店员管理</p>
            </a>
        </li>
        <li>
            <a href="staff.html" target="iframe">
                <img src="../images/lthe8.png" class="index_img"/>
                <p>员工工资</p>
            </a>
        </li>
        <li>
            <a href="cus_distri.html" target="iframe">
                <img src="../images/customerDistribution.png" class="index_img"/>
                <p>客户分配</p>
            </a>
        </li>

        <li>
            <a href="order.html" target="iframe">
                <img src="../images/order_pg.png" class="index_img"/>
                <p>订单中心</p>
            </a>
        </li>
        <li>
            <a href="order.html" target="iframe">
                <img src="../images/ranking_list.png" class="index_img"/>
                <p>排行榜</p>
            </a>
        </li>
        <li>
            <a href="be_recommend.html" target="iframe">
                <img src="../images/resom.png" class="index_img"/>
                <p>预约推荐</p>
            </a>
        </li>
        <li>
            <a href="recycle.html" target="iframe">
                <img src="../images/recycle.png" class="index_img"/>
                <p>回收站</p>
            </a>
        </li>
        <li>
            <a href="coupon.html" target="iframe">
                <img src="../images/ccyouhui.png" class="index_img"/>
                <p>优惠券</p>
            </a>
        </li>
        <!--<li>
            <a href="integration.html" target="iframe">
                <img src="../images/integration_manage.png" class="index_img"/>
                <p>积分管理</p>
            </a>
        </li>-->
        <li @click="print_dio=true;get_print()">
            <a href="#">
                <img src="../images/print.png" class="index_img"/>
                <p>打印设置</p>
            </a>
        </li>
        <li>
            <a href="arrear.html" target="iframe">
                <img src="../images/home_arrear.png" class="index_img"/>
                <p>欠款跟进</p>
            </a>
        </li>

    </ul>

    <templte>
        <el-dialog
                title="打印设置"
                :visible.sync="print_dio"
                min-width="400px"
                center
                :before-close="close">
            <ul class="goods_edit">
                <li>
                    <span class="list_left">打印标题</span>
                    <span class="list_right">
                        <el-input v-model="print_data.print_title" placeholder="请输入打印标题"></el-input>
                    </el-select>
                </span>
                </li>
                <li>
                    <span class="list_left">打印机编号</span>
                    <span class="list_right">
                    <el-input v-model="print_data.sn" placeholder="请输入打印机编号"></el-input>
                </span>
                </li>
                <li>
                    <span class="list_left">打印机密钥</span>
                    <span class="list_right">
                    <el-input v-model="print_data.key" placeholder="请输入打印机密钥"></el-input>
                </span>
                </li>
            </ul>
            <span slot="footer" class="dialog-footer">
            <el-button @click="close">取 消</el-button>
            <el-button type="primary" @click="edit()">确 定</el-button>
          </span>
        </el-dialog>
    </templte>
</div>

</body>
</html>
<script src="../js/jquery.min.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/func.js"></script>
<script src="../js/index.js"></script>
<script type="text/javascript">
    var ss = $("#scrollobj>li").length;

    function scroll(obj) {
        var tmp = (obj.scrollLeft)++;
        //当滚动条到达右边顶端时
        if (obj.scrollLeft == tmp) obj.innerHTML += obj.innerHTML;
        //当滚动条滚动了初始内容的宽度时滚动条回到最左端 (此处可以根据需要选择是否注释)
        // if (obj.scrollLeft>=obj.firstChild.offsetWidth) obj.scrollLeft=0;
    }

    if (ss >= 10) {
        setInterval("scroll(document.getElementById('scrollobj'))", 20);

    }

</script>
<script type="text/javascript">
    new Vue({
        el: '#app',
        data: {
            sj: '',
            warning_total: '',
            print_dio:false,
            print_data:{
                print_title: '',
                sn: '',
                key: ''
            }
        },
        filters: {
            two(v) {
                if(v == undefined){
                    return 0
                }
                return v.toFixed(2)
            }
        },
        methods: {
            getData() {
                $.post(url(methods.manager), v => {
                    let rs = verify(v)
                    if (rs != false) {
                        this.sj = rs
                        console.log(this.sj)
                    }
                })
            },
            get_warning() {
                $.get(url(methods.get_warn), (r) => {
                    this.warning_total = r.res.warning_count;
                });
            },
            get_print(){
                $.get(url(methods.printset), (r) => {
                    this.print_data = r.res;
                });
            },
            close(){
                this.print_dio=false;
                print_data={
                    print_title: '',
                        sn: '',
                        key: ''
                }
            },
            edit(){
                if (this.print_data.print_title == "") {
                    error('请填写打印标题');
                } else if (this.print_data.sn == "") {
                    error('请填写打印机编号');
                } else if (this.print_data.key == "") {
                    error('请填写打印机密钥');
                }else{
                    $.post(url(methods.printset),{data:this.print_data}, (r) => {
                        if(r.code==1){
                            success(r.Msg)
                            this.print_dio=false;
                        }else{
                            error('设置失败')
                        }
                    });
                }
            }
        },
        mounted() {
            this.$nextTick(e => {
                //初始化
                //parent.location.href='../login.html'
                that = this;
                this.getData()
                this.get_warning();
            })
        }
    })
</script>