<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>支付页面</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/pay_page.css">
</head>
<body class="posi_rela">

<div id="app">
    <template>
        <p class="cus_title">
            <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item :to="{ path: '/' }">信息管理</el-breadcrumb-item>
                <el-breadcrumb-item>会员管理</el-breadcrumb-item>
                <el-breadcrumb-item>消费</el-breadcrumb-item>
                <el-breadcrumb-item>支付</el-breadcrumb-item>
            </el-breadcrumb>
        </p>
        <div class="pay_page">
            <p class="other_back order_detail" v-if="type==1">
                <span class="de_title">确认订单信息</span>
                订单编号：{{order.sn}}&#12288;下单时间：{{order.create_time}}
            </p>
            <p class="other_back order_detail" v-else>
                <span class="de_title">补款信息</span>
                品项：{{detail.type | type}}&#12288;会员：{{detail.name}}
            </p>
            <p class="order_detail" v-if="type==1">
                会员：<i class="cr">{{member.name}}</i>&#12288;订单金额：{{order.price}}
            </p>
            <p class="order_detail" v-else>
                总金额:<i class="cr">{{detail.price}}</i>&#12288;已支付：{{detail.pay_money}}&#12288;未结清：{{detail.money}}
            </p>
            <p class="other_back order_detail">支付方式</p>
            <div class="pay_div">
                <p style="margin: 12px 0;">
                    <img src="../images/pay(1).png" height="100%"> 现金支付：
                    <el-input type="number" v-model="cash_pay" placeholder="0.00" class="pay_input"></el-input>
                </p>
                <p><img src="../images/pay_way1.png" height="100%">第三方支付</p>
                <ul class="pay_ul">
                    <li>
                        <img src="../images/pay(3).png" height="100%">支付宝　
                        <el-input type="number" v-model="zfb_pay" placeholder="0.00" class="fr pay_input"></el-input>
                    </li>
                    <li>
                        <img src="../images/pay(2).png" height="100%">微信　
                        <el-input type="number" v-model="wx_pay" placeholder="0.00" class="fr pay_input"></el-input>
                    </li>
                    <li>
                        <img src="../images/pay(4).png" height="100%">POS机
                        <el-input type="number" v-model="bank_pay" placeholder="0.00" class="fr pay_input"></el-input>
                    </li>
                    <li>
                        <img src="../images/pay_way2.png" height="100%">大众点评　
                        <el-input type="number" v-model="dzdp_pay" placeholder="0.00" class="fr pay_input"></el-input>
                    </li>
                    <li>
                        <img src="../images/pay_way3.png" height="100%">收钱吧　
                        <el-input type="number" v-model="sqb_pay" placeholder="0.00" class="fr pay_input"></el-input>
                    </li>
                    <li>
                        <img src="../images/pay_way4.png" height="100%">美团　
                        <el-input type="number" v-model="mt_pay" placeholder="0.00" class="fr pay_input"></el-input>
                    </li>
                </ul>
                <template v-if="type==1">
                    <p><img src="../images/pay(9).png" height="100%">会员储值卡</p>
                    <div class="pay_other">
                     <span class="pay_have">
                         卡项：<el-select v-model="card" placeholder="请选择" style="width: 160px;">
                            <el-option
                                    v-for="item in cardList"
                                    :label="item.name"
                                    :value="item.id">
                            </el-option>
                          </el-select>
                     </span>
                        <span style="width: 454.44px;display: inline-block;">
                         卡内余额：{{getCard}}
                         <span class="fr">划扣金额：<el-input type="number" v-model="card_pay" placeholder="0.00"
                                                         class="pay_input"></el-input></span>
                     </span>
                    </div>
                    <p><img src="../images/pay(5).png" height="100%">余额抵扣</p>
                    <div class="pay_other">
                     <span class="pay_have">
                         会员余额：{{myBalance}}&nbsp;&nbsp;&nbsp;
                         会员赠额：{{mySendBalance}}
                     </span>
                        <span>
                         使用余额：<el-input type="number" v-model="balance_pay" placeholder="0.00"
                                        class="pay_input"></el-input>
                         使用赠额：<el-input type="number" v-model="send_balance_pay" placeholder="0.00"
                                        class="pay_input"></el-input>
                     </span>
                    </div>
                    <p><img src="../images/pay(8).png" height="100%">积分抵扣</p>
                    <div class="pay_other">
                     <span class="pay_have">
                         累计积分：0.0&#12288;可用积分：{{canUseIntegral}}
                     </span>
                        <span>
                         使用积分：<el-input type="number" v-model="integral" placeholder="0.00"
                                        class="pay_input"></el-input>&#12288;
                         抵扣金额：<el-input type="number" v-model="integral_pay" placeholder="0.00"
                                        class="pay_input"></el-input>
                     </span>
                    </div>
                    <p><img src="../images/pay(7).png" height="100%">赠送</p>
                    <div class="pay_other">
                     <span class="pay_have">
                        赠送积分：<el-input v-model="send_integral" placeholder="0" class="pay_input"></el-input>
                     </span>
                        <span>
                         赠送金额：<el-input v-model="send_money" placeholder="0.00" class="pay_input"></el-input>
                         &#12288;经手人：<el-input v-model="person" placeholder="请填写经手人" class="pay_input"></el-input>
                     </span>
                    </div>
                    <template v-if="couponList.length>0">
                        <p><img src="../images/pay(6).png" height="100%">使用优惠券（共{{couponList.length}}张优惠券）</p>
                        <div class="pay_coupon">
                            <el-tabs type="border-card">
                                <el-tab-pane label="可用优惠券">
                                    以下是该订单可用优惠券，你可以查看优惠券规则说明
                                </el-tab-pane>
                                <el-tab-pane label="不可用优惠券">
                                    以下是该订单不可用优惠券，你可以查看优惠券规则说明
                                </el-tab-pane>
                            </el-tabs>
                        </div>
                    </template>
                </template>
            </div>
        </div>
        <div class="pay_infor" v-if="type==1">
            <p>
                剩余未支付<span class="fr"><i class="cr">￥</i>{{needPay}}</span>
            </p>
            <p>
                优惠券减免<span class="fr"><i class="cr">-￥</i>{{coupon==''?0:coupon}}</span>
            </p>
            <p>
                积分抵扣金额<span class="fr"><i class="cr">-￥</i>{{integral_pay==''?0:integral_pay}}</span>
            </p>
            <p>
                赠送金额<span class="fr"><i class="cr">-￥</i>{{send_money==''?0:send_money}}</span>
            </p>
        </div>
        <div style="height:70px"></div>
        <div class="pay_total">
         <span class="fl cr total_money">
             {{type==1?'合计':'合计补款'}}：{{getTotal}}
         </span>
            <span class="red_box pay cursor" @click="sub" v-if="type==1">提交订单</span>
            <span class="red_box pay cursor" @click="sub2" v-else>补款</span>
        </div>
    </template>

</div>

</body>
</html>
<script src="../js/jquery.min.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/func.js"></script>
<script src="../js/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            input: '',
            id: 0,
            order: '',
            member: '',
            couponList: [],
            cardList: [],
            arrears: 0,
            cash_pay: '', //现金
            zfb_pay: '',
            wx_pay: '',
            dzdp_pay: '',   //大众
            mt_pay: '', //美团
            sqb_pay: '',    //收钱吧
            bank_pay: '',   //pos机
            balance_pay: '',
            send_balance_pay: '',
            send_integral: '',
            send_money: '',
            person: '',
            integral: '',
            integral_pay: '',
            coupon: '',
            value: '',
            options: [{
                value: '选项1',
                label: '金卡'
            }, {
                value: '选项2',
                label: '银卡'
            }],
            card: '',
            card_pay: '',
            card_balance: 0,
            type: 0, //1购买，2补款
            bkId: 0,
            detail: '',
        },
        methods: {
            sub2() {
                let total = parseFloat(this.zfb_pay == '' ? 0 : this.zfb_pay) + parseFloat(this.wx_pay == '' ? 0 : this.wx_pay)
                    + parseFloat(this.wx_pay == '' ? 0 : this.wx_pay)
                    + parseFloat(this.bank_pay == '' ? 0 : this.bank_pay) + parseFloat(this.dzdp_pay == '' ? 0 : this.dzdp_pay)
                    + parseFloat(this.sqb_pay == '' ? 0 : this.sqb_pay) + parseFloat(this.mt_pay == '' ? 0 : this.mt_pay)
                    + parseFloat(this.send_balance_pay == '' ? 0 : this.send_balance_pay) + parseFloat(this.balance_pay == '' ? 0 : this.balance_pay)
                    + parseFloat(this.integral_pay == '' ? 0 : this.integral_pay) + parseFloat(this.send_money == '' ? 0 : this.send_money)
                    + parseFloat(this.cash_pay == '' ? 0 : this.cash_pay)
                    + parseFloat(this.card_pay == '' ? 0 : this.card_pay)
                if(total != this.detail.money){
                    error(`补款金额必须是${this.detail.money}元`)
                    return
                }
                $.post(url(methods.suppDetail), {
                    'data': JSON.stringify({
                        'id': this.bkId,
                        'cash_pay': this.cash_pay,
                        'zfb_pay': this.zfb_pay,
                        'wx_pay': this.wx_pay,
                        'dzdp_pay': this.dzdp_pay,
                        'mt_pay': this.mt_pay,
                        'sqb_pay': this.sqb_pay,
                        'bank_pay': this.bank_pay,
                    })
                }, v => {
                    if (v.code == 1) {
                        if(this.type==1){
                            localStorage.setItem('cost', v.cost)
                        }else{
                            localStorage.setItem('cost', v.supp)
                        }
                        success(v.Msg)
                        setTimeout(() => location.href = './commission.html', 1000)
                    } else {
                        error(v.error)
                    }
                })
            },
            sub() {
                $.post(url(methods.getPayDetail), {
                    'data': JSON.stringify({
                        'order': this.id,
                        'arrears': this.arrears,
                        'card': this.card,
                        'cash_pay': this.cash_pay,
                        'zfb_pay': this.zfb_pay,
                        'wx_pay': this.wx_pay,
                        'dzdp_pay': this.dzdp_pay,
                        'mt_pay': this.mt_pay,
                        'sqb_pay': this.sqb_pay,
                        'bank_pay': this.bank_pay,
                        'balance_pay': this.balance_pay,
                        'send_balance_pay': this.send_balance_pay,
                        'integral_pay': this.integral_pay,
                        'integral': this.integral,
                        'send_integral': this.send_integral,
                        'card_pay': this.card_pay,
                        'send_money': this.send_money,
                        'person': this.person,
                        'coupon': this.coupon
                    })
                }, v => {
                    if (v.code == 1) {
                        localStorage.setItem('cost', v.cost)
                        success(v.Msg)
                        setTimeout(() => location.href = './commission.html', 1000)
                    } else {
                        error(v.error)
                    }
                })
            },
            getDetail() {
                $.get(url(methods.getPayDetail) + '&order=' + this.id, v => {
                    if (v.code == 1) {
                        this.order = v.res.orderDetail
                        this.member = v.res.member_one
                        this.couponList = v.res.couponList
                        this.cardList = v.res.cardList
                    }
                })
            },
            getDetail2() {
                $.get(url(methods.suppDetail) + `&id=${this.bkId}`, v => {
                    if (v.code == 1) {
                        this.detail = v.detail
                    } else {
                        error(v.error)
                    }
                })
            },
        },
        filters: {
            type(v) {
                if (v == 1) {
                    return '产品'
                } else if (v == 2) {
                    return '套盒'
                } else if (v == 3) {
                    return '项目'
                }
            }
        },
        watch: {
            card(v) {
                for (let x of this.cardList) {
                    if (x.id == v) {
                        this.card_balance = x.amount
                    }
                }
            }
            /*balance_pay(v) {
                if(parseFloat(v) > parseFloat(this.member.balance)) {
                    v = 0
                }
                this.balance_pay = v
            },*/
        },
        computed: {
            getCard() {
                return parseFloat(this.card_balance) - parseFloat(this.card_pay == '' ? 0 : this.card_pay)
            },
            canUseIntegral() {
                return parseFloat(this.member.integral) - parseFloat(this.integral == '' ? 0 : this.integral)
            },
            myBalance() {
                return parseFloat(this.member.balance) - parseFloat(this.balance_pay == "" ? 0 : this.balance_pay)
            },
            mySendBalance() {
                return parseFloat(this.member.send_balance) - parseFloat(this.send_balance_pay == "" ? 0 : this.send_balance_pay)
            },
            needPay() {
                return parseFloat(this.order.price) - parseFloat(this.zfb_pay == '' ? 0 : this.zfb_pay) -
                    parseFloat(this.wx_pay == '' ? 0 : this.wx_pay) - parseFloat(this.wx_pay == '' ? 0 : this.wx_pay)
                    - parseFloat(this.bank_pay == '' ? 0 : this.bank_pay) - parseFloat(this.dzdp_pay == '' ? 0 : this.dzdp_pay)
                    - parseFloat(this.sqb_pay == '' ? 0 : this.sqb_pay) - parseFloat(this.mt_pay == '' ? 0 : this.mt_pay)
                    - parseFloat(this.send_balance_pay == '' ? 0 : this.send_balance_pay) - parseFloat(this.balance_pay == '' ? 0 : this.balance_pay)
                    - parseFloat(this.integral_pay == '' ? 0 : this.integral_pay) - parseFloat(this.send_money == '' ? 0 : this.send_money)
                    - parseFloat(this.cash_pay == '' ? 0 : this.cash_pay)
                    - parseFloat(this.card_pay == '' ? 0 : this.card_pay)
            },
            getTotal() {
                return parseFloat(this.zfb_pay == '' ? 0 : this.zfb_pay) + parseFloat(this.wx_pay == '' ? 0 : this.wx_pay)
                    + parseFloat(this.wx_pay == '' ? 0 : this.wx_pay)
                    + parseFloat(this.bank_pay == '' ? 0 : this.bank_pay) + parseFloat(this.dzdp_pay == '' ? 0 : this.dzdp_pay)
                    + parseFloat(this.sqb_pay == '' ? 0 : this.sqb_pay) + parseFloat(this.mt_pay == '' ? 0 : this.mt_pay)
                    + parseFloat(this.send_balance_pay == '' ? 0 : this.send_balance_pay) + parseFloat(this.balance_pay == '' ? 0 : this.balance_pay)
                    + parseFloat(this.integral_pay == '' ? 0 : this.integral_pay) + parseFloat(this.send_money == '' ? 0 : this.send_money)
                    + parseFloat(this.cash_pay == '' ? 0 : this.cash_pay)
                    + parseFloat(this.card_pay == '' ? 0 : this.card_pay)
            },
        },
        mounted() {
            this.$nextTick(e => {
                //初始化
                that = this;
                this.id = localStorage.getItem('orderId')
                this.arrears = localStorage.getItem('arrearsRes')
                this.type = localStorage.getItem('type')
                if (this.type == 1) {
                    this.getDetail()
                } else {
                    this.bkId = localStorage.getItem('bkId')
                    this.getDetail2()
                }
            })
        }
    })
</script>