<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>业绩核对</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
</head>
<body>
<div id="app" class="customer">
    <template>
        <p class="cus_title">
            <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item><a href="home.html" target="iframe">工作台首页</a></el-breadcrumb-item>
                <el-breadcrumb-item>业绩核对</el-breadcrumb-item>
            </el-breadcrumb>
        </p>
        <div class="cus_center">
            <el-date-picker class="cus_seatch"
                            v-model="time"
                            value-format="yyyy-MM-dd"
                            type="month"
                            placeholder="选择月份查询">
            </el-date-picker>
            <el-button type="danger" class="fr" @click=""> <a class="white" href="not_raise.html" target="iframe">未提成业绩</a></el-button>
            <el-button type="primary" class="fr" @click="" style="margin-right: 20px"> <a class="white" href="day_performance.html" target="iframe">每日业绩核对</a></el-button>
            <el-button type="success" class="fr" @click="time=null" style="margin-right: 20px">本月总业绩</el-button>
        </div>
        <div>
            <el-button type="primary">消费总业绩：{{xf_zyj}}</el-button>
            <el-button type="danger">消耗总业绩：{{xh_zyj}}</el-button>
            <el-button type="warning">总手工：{{zsg}}</el-button>
            <el-button type="success">总提成：{{ztc}}</el-button>
        </div>
        <div class="basic_inf">
            <el-table
                    :data="list"
                    style="width: 100%">
                <el-table-column
                        prop="name"
                        label="员工">
                </el-table-column>
                <el-table-column
                        label="总消费">
                    <template slot-scope="scope">
                        <el-button type="primary" size="mini" @click="getDetail(scope.row.id, 1)">
                            {{scope.row.xf_total}}
                        </el-button>
                    </template>
                </el-table-column>
                <el-table-column
                        prop="xf_total_raise"
                        label="消费提成">
                </el-table-column>
                <el-table-column
                        label="总消耗">
                    <template slot-scope="scope">
                        <el-button type="danger" size="mini" @click="getDetail(scope.row.id, 2)">
                            {{scope.row.xh_total}}
                        </el-button>
                    </template>
                </el-table-column>
                <el-table-column
                        prop="xh_total_raise"
                        label="消耗提成">
                </el-table-column>
                <el-table-column
                        label="卡扣">
                    <template slot-scope="scope">
                        <el-button type="danger" size="mini" @click="getDetail(scope.row.id, 4)">
                            {{scope.row.card_total}}
                        </el-button>
                    </template>
                </el-table-column>
                <el-table-column
                        prop="card_total_raise"
                        label="卡扣提成">
                </el-table-column>
                <el-table-column
                        label="附加提成">
                    <template slot-scope="scope">
                        <el-button type="success" plain size="mini" @click="getDetail(scope.row.id, 5)">
                            {{scope.row.other_raise}}
                        </el-button>
                    </template>
                </el-table-column>
                <el-table-column
                        label="总手工">
                    <template slot-scope="scope">
                        <el-button type="warning" size="mini" @click="getDetail(scope.row.id, 3)">
                            {{scope.row.fee_total}}
                        </el-button>
                    </template>
                </el-table-column>
                <el-table-column
                        :formatter="formatter"
                        label="总提成">
                </el-table-column>

            </el-table>
        </div>
        <!-- 员工消费业绩详情查看详情   1-->
        <el-dialog
                title="员工消费业绩详情"
                :visible.sync="state"
                :before-close="close2"
                center>
            <!--<el-date-picker style="margin-bottom: 10px"
                            v-model="time2"
                            type="datetimerange"
                            value-format="yyyy-MM-dd HH:mm:ss"
                            range-separator="至"
                            start-placeholder="开始日期"
                            end-placeholder="结束日期">
            </el-date-picker>-->
            <el-table border
                      :data="arr"
                      style="width: 100%">
                <el-table-column
                        prop="raise_type"
                        :formatter="formatter2"
                        label="提成类型">
                </el-table-column>
                <el-table-column
                        prop="c_name"
                        label="名称"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="v_name"
                        label="客户">
                </el-table-column>
                <el-table-column
                        prop="actual"
                        label="消费金额">
                </el-table-column>
                <el-table-column
                        prop="money"
                        label="提成业绩">
                </el-table-column>
                <el-table-column
                        prop="raise_money"
                        label="提成">
                </el-table-column>
                <el-table-column
                        prop="time"
                        label="时间">
                </el-table-column>
                <el-table-column
                        label="操作"
                        show-overflow-tooltip>
                    <template slot-scope="scope">
                        <el-button type="danger" plain size="mini" @click="now=scope.row;type=1;zt=true;console()">修改</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </el-dialog>
        <!--员工消耗业绩详情   2-->
        <el-dialog
                title="员工消耗业绩详情"
                :visible.sync="state2"
                :before-close="close2"
                center>
            <!--<el-date-picker style="margin-bottom: 10px"
                            v-model="time2"
                            type="datetimerange"
                            value-format="yyyy-MM-dd HH:mm:ss"
                            range-separator="至"
                            start-placeholder="开始日期"
                            end-placeholder="结束日期">
            </el-date-picker>-->
            <el-table border
                      :data="arr"
                      style="width: 100%">
                <el-table-column
                        prop="raise_type"
                        :formatter="formatter2"
                        label="提成类型">
                </el-table-column>
                <el-table-column
                        prop="v_name"
                        label="名称"
                        width="180">
                </el-table-column>
                <!-- <el-table-column
                         prop="vip"
                         label="客户">
                 </el-table-column>-->
                <el-table-column
                        prop="total_price"
                        label="总消耗">
                </el-table-column>
                <el-table-column
                        prop="money"
                        label="提成业绩">
                </el-table-column>
                <el-table-column
                        prop="raise_money"
                        label="提成">
                </el-table-column>
                <el-table-column
                        prop="time"
                        label="时间">
                </el-table-column>
                <el-table-column
                        label="操作"
                        show-overflow-tooltip>
                    <template slot-scope="scope">
                        <el-button type="danger" plain size="mini" @click="now=scope.row;type=2;zt=true;console()">修改</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </el-dialog>
        <!--员工手工业绩详情  3-->
        <el-dialog
                title="员工手工业绩详情"
                :visible.sync="state3"
                :before-close="close2"
                center>
            <!-- <el-date-picker style="margin-bottom: 10px"
                             v-model="time2"
                             type="datetimerange"
                             value-format="yyyy-MM-dd HH:mm:ss"
                             range-separator="至"
                             start-placeholder="开始日期"
                             end-placeholder="结束日期">
             </el-date-picker>-->
            <el-table border
                      :data="arr"
                      style="width: 100%">
                <!-- <el-table-column
                         prop="name"
                         label="名称"
                         width="180">
                 </el-table-column>-->
                <el-table-column
                        prop="v_name"
                        label="客户">
                </el-table-column>
                <el-table-column
                        prop="total_fee"
                        label="总手工">
                </el-table-column>
                <el-table-column
                        prop="fee"
                        label="获得手工">
                </el-table-column>
                <!--<el-table-column
                        prop="tc_yj"
                        label="提成业绩">
                </el-table-column>-->
                <el-table-column
                        prop="time"
                        label="时间">
                </el-table-column>
                <el-table-column
                        label="操作"
                        show-overflow-tooltip>
                    <template slot-scope="scope">
                        <el-button type="danger" plain size="mini" @click="now=scope.row;type=3;zt=true;console()">修改</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </el-dialog>
        <!--员工卡扣业绩详情  4-->
        <el-dialog
                title="员工卡扣业绩详情"
                :visible.sync="state4"
                :before-close="close2"
                center>
            <!-- <el-date-picker style="margin-bottom: 10px"
                             v-model="time2"
                             type="datetimerange"
                             value-format="yyyy-MM-dd HH:mm:ss"
                             range-separator="至"
                             start-placeholder="开始日期"
                             end-placeholder="结束日期">
             </el-date-picker>-->
            <el-table border
                      :data="arr"
                      style="width: 100%">
                <el-table-column
                        prop="raise_type"
                        :formatter="formatter2"
                        label="提成类型">
                </el-table-column>
                <!-- <el-table-column
                         prop="name"
                         label="名称"
                         width="180">
                 </el-table-column>-->
                <el-table-column
                        prop="v_name"
                        label="客户">
                </el-table-column>
                <el-table-column
                        prop="total_price"
                        label="总卡扣">
                </el-table-column>
                <el-table-column
                        prop="money"
                        label="提成业绩">
                </el-table-column>
                <el-table-column
                        prop="raise_money"
                        label="提成">
                </el-table-column>
                <!--<el-table-column
                        prop="tc_yj"
                        label="提成业绩">
                </el-table-column>-->
                <el-table-column
                        prop="time"
                        label="时间">
                </el-table-column>
                <el-table-column
                        label="操作"
                        show-overflow-tooltip>
                    <template slot-scope="scope">
                        <el-button type="danger" plain size="mini" @click="now=scope.row;type=4;zt=true;console()">修改</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </el-dialog>
        <!--员工附加提成详情  5-->
        <el-dialog
                title="员工附加提成详情"
                :visible.sync="state5"
                :before-close="close2"
                center>
            <!-- <el-date-picker style="margin-bottom: 10px"
                             v-model="time2"
                             type="datetimerange"
                             value-format="yyyy-MM-dd HH:mm:ss"
                             range-separator="至"
                             start-placeholder="开始日期"
                             end-placeholder="结束日期">
             </el-date-picker>-->
            <el-table border
                      :data="arr"
                      style="width: 100%">
                <el-table-column
                        prop="v_name"
                        label="客户">
                </el-table-column>
                <el-table-column
                        prop="other_raise"
                        label="附加提成">
                </el-table-column>
                <el-table-column
                        prop="time"
                        label="时间">
                </el-table-column>
                <el-table-column
                        label="操作"
                        show-overflow-tooltip>
                    <template slot-scope="scope">
                        <el-button type="danger" plain size="mini" @click="now=scope.row;type=5;zt=true;console()">修改</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </el-dialog>
        <el-dialog
                title="修改业绩"
                :before-close="close"
                :visible.sync="zt"
                width="400px"
                center>
            <ul class="goods_edit">
                <li>
                    <span class="list_left" v-if="type == 1 || type == 2 || type == 4">总业绩</span>
                    <span class="list_left" v-if="type == 3">总手工</span>
                    <span class="list_left" v-if="type == 5">会员</span>
                    <span class="list_right">
                        <i v-if="type == 5">{{now.v_name}}</i>
                        <i v-if="type == 1">{{now.actual}}</i>
                        <i v-if="type == 2 || type == 4">{{now.total_price}}</i>
                    <el-input v-if="type == 3" v-model="now.total_fee" disabled></el-input>
                </span>
                </li>

                <li>
                    <span class="list_left" v-if="type == 1 || type == 2 || type == 4">获得提成</span>
                    <span class="list_left" v-if="type == 3">获得手工</span>
                    <span class="list_left" v-if="type == 5">附加提成</span>
                    <span class="list_right">
                        <i v-if="type == 5">{{now.other_raise}}</i>
                        <i v-if="type == 1 || type == 2 || type == 4">{{now.money}}</i>
                    <el-input v-if="type == 3" v-model="now.fee" disabled></el-input>
                </span>
                </li>
                <li v-if="type == 5">
                    <span class="list_left">新附加提成：</span>
                    <span class="list_right">
                        <el-input v-model="other_money" placeholder="请输入新的附加提成" type="number"></el-input>
                    </span>
                </li>
                <li v-if="type == 1 || type == 2 || type == 4">
                    <span class="list_left">修改业绩</span>
                    <span class="list_right">
                    <el-input v-model="money" placeholder="请输入要变更的提成业绩" type="number"></el-input>
                </span>
                </li>
                <li v-if="type == 3">
                    <span class="list_left">修改手工</span>
                    <span class="list_right">
                    <el-input v-model="money" placeholder="请输入要变更的手工业绩" type="number"></el-input>
                </span>
                </li>
            </ul>
            <span slot="footer" class="dialog-footer">
            <el-button @click="close">取 消</el-button>
            <el-button type="primary" @click="edit">确 定</el-button>
          </span>
        </el-dialog>
    </template>
</div>

</body>
</html>
<script src="../js/jquery.min.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/func.js"></script>
<script src="../js/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            other_money: '',
            edit_per: false,
            zxf_dio: false,
            zxh_dio: false,
            zsg_dio: false,
            value: '',
            xf: '452',
            xh: '452',
            sg: '452',
            zt: false,
            tc: '452',
            list: [],
            xf_zyj: 0,
            xh_zyj: 0,
            zsg: 0,
            ztc: 0,
            state: false,
            state2: false,
            state3: false,
            state4: false,
            state5: false,
            arr: [],
            money: '',
            new_raise_fee: '',
            now: '',
            type: 1,
            userId: '',
            time: '',
            time2: '',
            type2: 1,
        },
        methods: {
            console(){
                console.log(this.type)
            },
            edit() {
                if (this.money == ''&&this.other_money== ''&&this.new_raise_fee== '') {
                    return error('请输入金额')
                }
                if (this.type == 1) {
                    if (parseFloat(this.money) > parseFloat(this.now.actual)) {
                        return error('不能超出总业绩')
                    }
                } else if (this.type == 2||this.type == 4) {
                    if (parseFloat(this.money) > parseFloat(this.now.total_price)) {
                        return error('不能超出总业绩')
                    }
                } else if (this.type == 3) {
                    if (parseFloat(this.money) > parseFloat(this.now.total_fee)) {
                        return error('不能超出总手工')
                    }
                }
                console.log(this.type)
                if(this.type == 3){
                    this.new_raise_fee=this.money;
                    console.log(this.new_raise_fee)
                }else{
                    this.new_raise_fee=''
                }
                $.post(url(methods.raiseDetailOperation), {
                    type: this.type,
                    data: {new_raise_fee: this.new_raise_fee, money: this.money,other_money:this.other_money},
                    id: this.now.id
                }, v => {
                    if (v.code == 1) {
                        success(v['Msg'])
                        this.close()
                        this.getData()
                        this.getDetail(this.userId, this.type)
                    } else {
                        error(v['error'])
                    }
                })
            },
            getDetail(id, type) {
                this.userId = id
                this.type = type
                if (type == 1) {
                    this.state = true
                } else if (type == 2) {
                    this.state2 = true
                } else if (type == 3) {
                    this.state3 = true
                } else if (type == 4) {
                    this.state4 = true
                }else if (type == 5) {
                    this.state5 = true
                }
                $.post(url(methods.performanceFeiDetails), {
                    staff: id,
                    type: type,
                    start: this.time2 == '' || this.time2 == null ? '' : this.time2[0],
                    end: this.time2 == '' || this.time2 == null ? '' : this.time2[1]
                }, v => {
                    if (v.code == 1) {
                        this.arr = v.res
                    } else {
                        error(v.error)
                    }
                })
            },
            formatter(r, c) {
                return (r.fee_total +r.card_total_raise +r.xf_total_raise + r.xh_total_raise+r.other_raise).toFixed(2)
            },
            formatter2(r, c) {
                if (r.raise_type == 1) {
                    return '按提成'
                } else if (r.raise_type == 2) {
                    return '按业绩'
                }
            },
            close() {
                this.zt = false
                this.now = ''
                this.money = ''
            },
            close2() {
                this.state = false
                this.state2 = false
                this.state3 = false
                this.state4 = false
                this.state5 = false
                this.time2 = ''
            },
            getData() {
                this.xf_zyj = 0
                this.xh_zyj = 0
                this.zsg = 0
                this.ztc = 0
                this.list = []
                $.get(url(methods.getPerDetail) + `&type=${this.time == null || this.time == '' ? 'list' : 'search'}&time=` + this.time, v => {
                    if (v.code == 1) {
                        for (let x of v.res.staffArr) {
                            this.xf_zyj += x.xf_total
                            this.xh_zyj += x.xh_total
                            this.zsg += x.fee_total
                            this.ztc += x.xf_total_raise + x.xh_total_raise
                        }
                        this.xf_zyj = this.xf_zyj.toFixed(2)
                        this.xh_zyj = this.xh_zyj.toFixed(2)
                        this.zsg = this.zsg.toFixed(2)
                        this.ztc = this.ztc.toFixed(2)
                        this.list = v.res.staffArr
                    } else {
                        error(v.error)
                    }
                })
            }
        },
        watch: {
            time(v) {
                this.getData()
            },
            time2() {
                if(this.state || this.state2 || this.state3||this.state4||this.state5){
                    this.getDetail(this.userId, this.type)
                }
            }
        },
        mounted() {
            this.$nextTick(e => {
                //初始化
                that = this;
                loginState()
                this.getData()
            })
        }
    })
</script>