<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>业绩核对</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
</head>
<body>

<div id="app" class="customer">
    <template>
        <p class="cus_title">
            <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item :to="{ path: '/' }">业绩核对</el-breadcrumb-item>
            </el-breadcrumb>
        </p>
        <div class="cus_center">
            <el-date-picker class="cus_seatch"
                            v-model="value"
                            type="month"
                            placeholder="选择月份查询">
            </el-date-picker>
            <el-button type="success" class="fr" @click="">本月总业绩</el-button>
        </div>
        <div>
            <el-button type="primary" disabled>消费总业绩：1235</el-button>
            <el-button type="danger" disabled>消耗总业绩：1235</el-button>
            <el-button type="warning" disabled>总手工：1235</el-button>
            <el-button type="success" disabled>总提成：1235</el-button>
        </div>
        <div class="basic_inf">
            <el-table
                    :data="performance"
                    style="width: 100%">
                <el-table-column
                        prop="staff"
                        label="员工">
                </el-table-column>
                <el-table-column
                        label="总消费">
                    <template slot-scope="scope">
                        <el-button type="primary" size="mini"  @click="zxf_dio=true">{{scope.row.zxf}}</el-button>
                    </template>
                </el-table-column>
                <el-table-column
                        prop="xftc"
                        label="消费提成">
                </el-table-column>
                <el-table-column
                        label="总消耗">
                    <template slot-scope="scope">
                        <el-button type="danger" size="mini" @click="zxh_dio=true">{{scope.row.zxh}}</el-button>
                    </template>
                </el-table-column>
                <el-table-column
                        prop="xftc"
                        label="消耗提成">
                </el-table-column>
                <el-table-column
                        label="总手工">
                    <template slot-scope="scope">
                        <el-button type="warning" size="mini"  @click="zsg_dio=true">{{scope.row.zsg}}</el-button>
                    </template>
                </el-table-column>
                <el-table-column
                        prop="zsgtc"
                        label="总提成">
                </el-table-column>

            </el-table>
        </div>
        <el-dialog
                title="修改业绩"
                :visible.sync="edit_per"
                width="400px"
                center append-to-body>
                <ul class="goods_edit">
                <li>
                    <span class="list_left">总消费金额</span>
                    <span class="list_right">
                    <el-input v-model="xf" placeholder="请输入修改后的金额"></el-input>
                </span>
                </li>
                <li>
                    <span class="list_left">总消耗金额</span>
                    <span class="list_right">
                    <el-input v-model="xh" placeholder="请输入修改后的金额"></el-input>
                </span>
                </li>
                <li>
                    <span class="list_left">总手工</span>
                    <span class="list_right">
                    <el-input v-model="sg" placeholder="请输入修改后的金额"></el-input>
                </span>
                </li>
            </ul>
            <span slot="footer" class="dialog-footer">
            <el-button @click="edit_per=false">取 消</el-button>
            <el-button type="primary" @click="">确 定</el-button>
          </span>
        </el-dialog>
        <!-- 查看详情 -->
        <el-dialog
                title="员工消费业绩详情"
                :visible.sync="zxf_dio"
                center>
            <el-table border
                      :data="detail"
                      style="width: 100%">
                <el-table-column
                        prop="type"
                        label="提成类型">
                </el-table-column>
                <el-table-column
                        prop="name"
                        label="名称"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="vip"
                        label="客户">
                </el-table-column>
                <el-table-column
                        prop="xf_mon"
                        label="消费金额">
                </el-table-column>
                <el-table-column
                        prop="tc_yj"
                        label="提成业绩">
                </el-table-column>
                <el-table-column
                        prop="times"
                        label="时间">
                </el-table-column>
                <el-table-column
                        label="操作"
                        show-overflow-tooltip>
                    <template slot-scope="scope">
                        <el-button type="danger" plain size="mini" @click="zt=true">修改</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </el-dialog>
        <el-dialog
                title="员工消耗业绩详情"
                :visible.sync="zxh_dio"
                center>
            <el-table border
                      :data="detail"
                      style="width: 100%">
                <el-table-column
                        prop="type"
                        label="提成类型">
                </el-table-column>
                <el-table-column
                        prop="name"
                        label="名称"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="vip"
                        label="客户">
                </el-table-column>
                <el-table-column
                        prop="xf_mon"
                        label="总消耗">
                </el-table-column>
                <el-table-column
                        prop="tc_yj"
                        label="提成业绩">
                </el-table-column>
                <el-table-column
                        prop="times"
                        label="时间">
                </el-table-column>
                <el-table-column
                        label="操作"
                        show-overflow-tooltip>
                    <template slot-scope="scope">
                        <el-button type="danger" plain size="mini" @click="edit_per=true">修改</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </el-dialog>
        <el-dialog
                title="员工手工业绩详情"
                :visible.sync="zsg_dio"
                center>
            <el-table border
                      :data="detail"
                      style="width: 100%">
                <el-table-column
                        prop="name"
                        label="名称"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="vip"
                        label="客户">
                </el-table-column>
                <el-table-column
                        prop="xf_mon"
                        label="获得手工">
                </el-table-column>
                <el-table-column
                        prop="tc_yj"
                        label="提成业绩">
                </el-table-column>
                <el-table-column
                        prop="times"
                        label="时间">
                </el-table-column>
                <el-table-column
                        label="操作"
                        show-overflow-tooltip>
                    <template slot-scope="scope">
                        <el-button type="danger" plain size="mini" @click="edit_per=true">修改</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </el-dialog>

        <el-dialog
                title="修改业绩"
                :before-close="close"
                :visible.sync="zt"
                width="400px"
                center>
            <ul class="goods_edit">
                <li>
                    <span class="list_left">总消费金额</span>
                    <span class="list_right">
                    <el-input v-model="edit.xf" placeholder="请输入修改后的金额"></el-input>
                </span>
                </li>
                <li>
                    <span class="list_left">总消耗金额</span>
                    <span class="list_right">
                    <el-input v-model="edit.xh" placeholder="请输入修改后的金额"></el-input>
                </span>
                </li>
                <li>
                    <span class="list_left">总手工</span>
                    <span class="list_right">
                    <el-input v-model="edit.fee" placeholder="请输入修改后的金额"></el-input>
                </span>
                </li>
            </ul>
            <span slot="footer" class="dialog-footer">
            <el-button @click="edit_per=false">取 消</el-button>
            <el-button type="primary" @click="">确 定</el-button>
          </span>
        </el-dialog>
    </template>
</div>

</body>
</html>
<script src="../js/jquery.min.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/func.js"></script>
<script src="../js/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            edit_per:false,
            zxf_dio:false,
            zxh_dio:false,
            zsg_dio:false,
            value:'',
            xf:'452',
            xh:'452',
            sg:'452',
            detail:[{
                type:'按业绩',
                name:'补水面膜',
                vip:'汪洋',
                xf_mon:'123',
                tc_yj:'756',
                times:'2019-12-02'
            },{
            type:'按业绩',
            name:'补水面膜',
            vip:'汪洋',
            xf_mon:'123',
            tc_yj:'756',
            times:'2019-12-02'
        }],
            performance:[{
                staff:'丽丽',
                zxf:'3533',
                xftc:'322',
                zxh:'3232',
                xhtc:'432',
                zsg:'123',
                zsgtc:'32'
            },{
                staff:'王莉',
                zxf:'3533',
                xftc:'322',
                zxh:'3232',
                xhtc:'432',
                zsg:'123',
                zsgtc:'32'}],
            edit_per: false,
            zt: false,
            value: '',
            xf: '452',
            xh: '452',
            tc: '452',
            performance: [{
                staff: '丽丽',
                zxf: '3533',
                xftc: '322',
                zxh: '3232',
                xhtc: '432',
                zsg: '123',
                zsgtc: '32'
            }, {
                staff: '王莉',
                zxf: '3533',
                xftc: '322',
                zxh: '3232',
                xhtc: '432',
                zsg: '123',
                zsgtc: '32'
            }],

            edit: {
                xf: '',
                xh: '',
                fee: '',
            },
        },
        methods: {
            close() {
                this.zt = false;
            }
        },
        mounted() {
            this.$nextTick(e => {
                //初始化
                that = this;
                loginState()
            })
        }
    })
</script>