<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>提成设置</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/raise.css">
</head>
<body>

<div id="app" class="customer">
    <template>
        <p class="cus_title">
            <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item><a href="home.html" target="iframe">工作台首页</a></el-breadcrumb-item>
                <el-breadcrumb-item><a href="staff_mange.html" target="iframe">店员管理</a></el-breadcrumb-item>
                <el-breadcrumb-item>提成设置</el-breadcrumb-item>
            </el-breadcrumb>
        </p>
        <div class="over_hidden">
            <div class="f_div fl">
                <p class="other_back linr_four all_ra_p">套盒</p>
                <div class="f_pad">
                    <p>
                        <el-button type="success" size="mini" round class="bu_mar">消费提成</el-button>
                        <el-checkbox v-model="box_xf_state" class="per_add">业绩叠加</el-checkbox>
                    </p>
                    <p>
                        <el-radio v-model="data.box_xf_type" label="1">按提成数</el-radio>
                        <el-input v-model="data.box_xf_raise" @focus="c_one(1)" @blur="check_number(1,data.box_xf_raise)" placeholder="0-100" class="un_line_h"></el-input>%
                    </p>

                    <p>
                        <el-radio v-model="data.box_xf_type" label="2">业绩提成</el-radio>
                        <el-button type="primary" round plain size="mini" class="add" @click="add(1)">添加一条</el-button>
                    </p>

                    <ul class="ra_ul">
                        <li v-for="(v,index) in box_xf_arr">
                            达标<el-input v-model="v.money" type="number" placeholder="限数字" class="un_line_cc" @blur="check(1,v.money,v.money2,index,v.raise)"></el-input>至<el-input v-model="v.money2" type="number" placeholder="限数字" class="un_line_cc" @blur="check(1,v.money,v.money2,index,v.raise)"></el-input>元
                            提成
                            <el-input v-model="v.raise" placeholder="0-100" class="un_line_h" @blur="check(1,v.money,v.money2,index,v.raise)"></el-input>%
                            <el-button type="info" round plain size="mini" class="add" @click="delarr(1,index)">删除</el-button>
                        </li>
                    </ul>
                </div>
                <p class="other_back linr_four ra_p">项目</p>
                <div class="f_pad">
                    <p>
                        <el-button type="success" size="mini" round class="bu_mar">消费提成</el-button>
                        <el-checkbox v-model="items_xf_state" class="per_add">业绩叠加</el-checkbox>
                    </p>

                    <p>
                        <el-radio v-model="data.project_xf_type" label="1">按提成数</el-radio>
                        <el-input v-model="data.project_xf_raise"  @focus="c_one(2)" @blur="check_number(2,data.project_xf_raise)" placeholder="0-100" class="un_line_h"></el-input>%
                    </p>

                    <p>
                        <el-radio v-model="data.project_xf_type" label="2">业绩提成</el-radio><el-button type="primary" round plain size="mini" class="add" @click="add(2)">添加一条</el-button>
                    </p>

                    <ul class="ra_ul">
                        <li v-for="(v,index) in project_xf_arr">
                            达标<el-input v-model="v.money" type="number" placeholder="限数字" class="un_line_cc" @blur="check(2,v.money,v.money2,index,v.raise)"></el-input>至<el-input v-model="v.money2" type="number" placeholder="限数字" class="un_line_cc" @blur="check(2,v.money,v.money2,index,v.raise)"></el-input>元
                            提成
                            <el-input v-model="v.raise" placeholder="0-100" class="un_line_h" @blur="check(2,v.money,v.money2,index,v.raise)"></el-input>%
                            <el-button type="info" round plain size="mini" class="add" @click="delarr(2,index)">删除</el-button>
                        </li>
                    </ul>
                </div>
                <p class="other_back linr_four ra_p">产品</p>
                <div class="f_pad">
                    <p>
                        <el-button type="success" size="mini" round class="bu_mar">消费提成</el-button>
                        <el-checkbox v-model="cp_xf_state" class="per_add">业绩叠加</el-checkbox>
                    </p>

                    <p>
                        <el-radio v-model="data.product_type" label="1">按提成数</el-radio>
                        <el-input v-model="data.product_raise"  @focus="c_one(3)" @blur="check_number(3,data.product_raise)" placeholder="0-100" class="un_line_h"></el-input>%
                    </p>

                    <p>
                        <el-radio v-model="data.product_type" label="2">业绩提成</el-radio><el-button type="primary" round plain size="mini" class="add" @click="add(3)">添加一条</el-button>
                    </p>

                    <ul class="ra_ul">
                        <li v-for="(v,index) in product_arr">
                            达标<el-input v-model="v.money" type="number" placeholder="限数字" class="un_line_cc" @blur="check(3,v.money,v.money2,index,v.raise)"></el-input>至<el-input v-model="v.money2" type="number" placeholder="限数字" class="un_line_cc" @blur="check(3,v.money,v.money2,index,v.raise)"></el-input>元
                            提成
                            <el-input v-model="v.raise" placeholder="0-100" class="un_line_h" @blur="check(3,v.money,v.money2,index,v.raise)"></el-input>%
                            <el-button type="info" round plain size="mini" class="add" @click="delarr(3,index)">删除</el-button>
                        </li>
                    </ul>
                </div>
                <p class="other_back linr_four ra_p">售卡</p>
                <div class="f_pad">
                    <p>
                        <el-button type="success" size="mini" round class="bu_mar">消费提成</el-button>
                        <el-checkbox v-model="kk_xf_state" class="per_add">业绩叠加</el-checkbox>
                    </p>

                    <p>
                        <el-radio v-model="data.card_type" label="1">按提成数</el-radio>
                        <el-input v-model="data.card_raise"  @focus="c_one(4)" @blur="check_number(4,data.card_raise)" placeholder="0-100" class="un_line_h"></el-input>%
                    </p>

                    <p>
                        <el-radio v-model="data.card_type" label="2">业绩提成</el-radio><el-button type="primary" round plain size="mini" class="add" @click="add(4)">添加一条</el-button>
                    </p>

                    <ul class="ra_ul">
                        <li v-for="(v,index) in card_arr">
                            达标<el-input v-model="v.money" type="number" placeholder="限数字" class="un_line_cc" @blur="check(4,v.money,v.money2,index,v.raise)"></el-input>至<el-input v-model="v.money2" type="number" placeholder="限数字" class="un_line_cc" @blur="check(4,v.money,v.money2,index,v.raise)"></el-input>元
                            提成
                            <el-input v-model="v.raise" placeholder="0-100" class="un_line_h" @blur="check(4,v.money,v.money2,index,v.raise)"></el-input>%
                            <el-button type="info" round plain size="mini" class="add" @click="delarr(4,index)">删除</el-button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="f_div fr">
                <p class="other_back linr_four all_ra_p">套盒</p>
                <div class="f_pad">
                    <p>
                        <el-button type="warning" size="mini" round class="bu_mar">消耗提成</el-button>
                        <el-checkbox v-model="box_xh_state" class="per_add">业绩叠加</el-checkbox>
                    </p>
                    <p>
                        <el-radio v-model="data.box_xh_type" label="1">按提成数</el-radio>
                        <el-input v-model="data.box_xh_raise"  @focus="c_one(5)" @blur="check_number(5,data.box_xh_raise)" placeholder="0-100" class="un_line_h"></el-input>%
                    </p>
                    <el-radio v-model="data.box_xh_type" label="2">业绩提成</el-radio><el-button type="primary" round plain size="mini" class="add" @click="add(5)">添加一条</el-button>
                    <ul class="ra_ul">
                        <li v-for="(v,index) in box_xh_arr">
                            达标<el-input v-model="v.money" type="number" placeholder="限数字" class="un_line_cc" @blur="check(5,v.money,v.money2,index,v.raise)"></el-input>至<el-input v-model="v.money2" type="number" placeholder="限数字" class="un_line_cc" @blur="check(5,v.money,v.money2,index,v.raise)"></el-input>元
                            提成
                            <el-input v-model="v.raise" placeholder="0-100" class="un_line_h" @blur="check(5,v.money,v.money2,index,v.raise)"></el-input>%
                            <el-button type="info" round plain size="mini" class="add" @click="delarr(5,index)">删除</el-button>
                        </li>
                    </ul>
                </div>
                <p class="other_back linr_four ra_p">项目</p>
                <div class="f_pad">
                    <p>
                        <el-button type="warning" size="mini" round class="bu_mar">消耗提成</el-button>
                        <el-checkbox v-model="items_xh_state" class="per_add">业绩叠加</el-checkbox>
                    </p>
                    <p>
                        <el-radio v-model="data.project_xh_type" label="1">按提成数</el-radio>
                        <el-input v-model="data.project_xh_raise"  @focus="c_one(6)" @blur="check_number(6,data.project_xh_raise)" placeholder="0-100" class="un_line_h"></el-input>%
                    </p>
                    <el-radio v-model="data.project_xh_type" label="2">业绩提成</el-radio><el-button type="primary" round plain size="mini" class="add" @click="add(6)">添加一条</el-button>
                    <ul class="ra_ul">
                        <li v-for="(v,index) in project_xh_arr">
                            达标<el-input v-model="v.money" type="number" placeholder="限数字" class="un_line_cc" @blur="check(6,v.money,v.money2,index,v.raise)"></el-input>至<el-input v-model="v.money2" type="number" placeholder="限数字" class="un_line_cc" @blur="check(6,v.money,v.money2,index,v.raise)"></el-input>元
                            提成
                            <el-input v-model="v.raise" placeholder="0-100" class="un_line_h" @blur="check(6,v.money,v.money2,index,v.raise)"></el-input>%
                            <el-button type="info" round plain size="mini" class="add" @click="delarr(6,index)">删除</el-button>
                        </li>
                    </ul>
                </div>
                <p class="other_back linr_four ra_p">方案</p>
                <div class="f_pad">
                    <p>
                        <el-button type="success" size="mini" round class="bu_mar">消费提成</el-button>
                        <el-checkbox v-model="plan_xf_state" class="per_add">业绩叠加</el-checkbox>
                    </p>

                    <p>
                        <el-radio v-model="data.plan_xf_type" label="1">按提成数</el-radio>
                        <el-input v-model="data.plan_xf_raise"  @focus="c_one(7)" @blur="check_number(7,data.plan_xf_raise)" placeholder="0-100" class="un_line_h"></el-input>%
                    </p>

                    <p>
                        <el-radio v-model="data.plan_xf_type" label="2">业绩提成</el-radio><el-button type="primary" round plain size="mini" class="add" @click="add(7)">添加一条</el-button>
                    </p>

                    <ul class="ra_ul">
                        <li v-for="(v,index) in plan_xf_arr">
                            达标<el-input v-model="v.money" type="number" placeholder="限数字" class="un_line_cc" @blur="check(7,v.money,v.money2,index,v.raise)"></el-input>至<el-input v-model="v.money2" type="number" placeholder="限数字" class="un_line_cc" @blur="check(7,v.money,v.money2,index,v.raise)"></el-input>元
                            提成
                            <el-input v-model="v.raise" placeholder="0-100" class="un_line_h" @blur="check(7,v.money,v.money2,index,v.raise)"></el-input>%
                            <el-button type="info" round plain size="mini" class="add" @click="delarr(7,index)">删除</el-button>
                        </li>
                    </ul>
                </div>
                <p class="other_back linr_four ra_p">卡扣</p>
                <div class="f_pad">
                    <p class="over_hidden">
                        <el-checkbox v-model="kk_xf_state" class="fl per_add">消费业绩叠加</el-checkbox>

                        <el-checkbox v-model="kk_xh_state" class="fr per_add">消耗业绩叠加</el-checkbox>
                    </p>
                    <p>
                        <el-radio v-model="data.card_use_xh_type" label="1">按提成数</el-radio>
                        <el-input v-model="data.card_use_xh_raise"  @focus="c_one(8)" @blur="check_number(8,data.card_use_xh_raise)" placeholder="0-100" class="un_line_h"></el-input>%
                    </p>
                    <el-radio v-model="data.card_use_xh_type" label="2">业绩提成</el-radio><el-button type="primary" round plain size="mini" class="add" @click="add(8)">添加一条</el-button>
                    <ul class="ra_ul">
                        <li v-for="(v,index) in card_use_xh_arr">
                            达标<el-input v-model="v.money" type="number" placeholder="限数字" class="un_line_cc" @blur="check(8,v.money,v.money2,index,v.raise)"></el-input>至<el-input v-model="v.money2" type="number" placeholder="限数字" class="un_line_cc" @blur="check(8,v.money,v.money2,index,v.raise)"></el-input>元
                            提成
                            <el-input v-model="v.raise" placeholder="0-100" class="un_line_h" @blur="check(8,v.money,v.money2,index,v.raise)"></el-input>%
                            <el-button type="info" round plain size="mini" class="add" @click="delarr(8,index)">删除</el-button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bottom_submit">
            <!--<el-button type="danger" @click="sub" v-if="type==1">提交</el-button>-->
            <el-button type="danger" @click="set_royalty">保存</el-button>
        </div>
    </template>
</div>

</body>
</html>
<script src="../js/jquery.min.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/func.js"></script>
<script src="../js/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            per_check:'',
            input:'',
            box_xf_state:false,
            box_xh_state:false,
            items_xf_state:false,
            items_xh_state:false,
            plan_xf_state:false,
            card_xf_state:false,
            kk_xf_state:false,
            kk_xh_state:false,
            cp_xf_state:false,
            detail:'',
            data :{
                box_xf_type: '1',     //套盒消费方式 1比例 2业绩
                box_xf_raise: '',   //套盒消费提成比例
                box_xf_enough: '',  //套盒消费提成业绩

                project_xf_type: '1',     //项目消费方式 1比例 2业绩
                project_xf_raise: '',   //项目消费提成比例
                project_xf_enough: '',  //项目消费提成业绩

                product_type: '1',    //产品提成方式 1比例 2业绩
                product_raise: '',  //产品提成比例
                product_enough: '', //产品提成业绩

                card_type: '1',           //售卡提成方式 1比例 2业绩
                card_raise: '',         //售卡提成比例
                card_enough: '',        //售卡提成业绩

                box_xh_type: '1',     //套盒消耗方式 1比例 2业绩
                box_xh_raise: '',   //套盒消耗提成比例
                box_xh_enough: '',  //套盒消耗提成业绩

                project_xh_type: '1',     //项目消费方式 1比例 2业绩
                project_xh_raise: '',   //项目消耗提成比例
                project_xh_enough: '',  //项目消耗提成业绩

                plan_xf_type: '1',       //方案消费提成方式 1比例 2业绩
                plan_xf_raise: '',     //方案消费提成比例
                plan_xf_enough: '',    //方案消费提成业绩

                card_use_xh_type: '1',    //耗卡提成方式 1比例 2业绩
                card_use_xh_raise: '',  //耗卡消耗提成比例
                card_use_xh_enough: '', //耗卡消耗提成业绩
            },
            box_xf_arr:[],
            project_xf_arr:[],
            product_arr:[],
            card_arr:[],
            box_xh_arr:[],
            project_xh_arr:[],
            plan_xf_arr:[],
            card_use_xh_arr:[],
            zz_box_xf_arr:[],
            zz_project_xf_arr:[],
            zz_product_arr:[],
            zz_card_arr:[],
            zz_box_xh_arr:[],
            zz_project_xh_arr:[],
            zz_plan_xf_arr:[],
            zz_card_use_xh_arr:[],
        },
        methods: {
            choice(a){
                switch (a){
                    case 1:
                        return this.box_xf_arr
                        break;
                    case 2:
                        return this.project_xf_arr;
                        break;
                    case 3:
                        return this.product_arr;
                        break;
                    case 4:
                        return this.card_arr;
                        break;
                    case 5:
                        return this.box_xh_arr;
                        break;
                    case 6:
                        return this.project_xh_arr;
                        break;
                    case 7:
                        return this.plan_xf_arr;
                        break;
                    case 8:
                        return this.card_use_xh_arr;
                        break;
                    default:
                        break;
                }
            },
            empty(a){
                switch (a){
                    case 1:
                        this.data.box_xf_raise=''
                        break;
                    case 2:
                        this.data.project_xf_raise=''
                        break;
                    case 3:
                        this.data.product_raise=''
                        break;
                    case 4:
                        this.data.card_raise=''
                        break;
                    case 5:
                        this.data.box_xh_raise=''
                        break;
                    case 6:
                        this.data.project_xh_raise=''
                        break;
                    case 7:
                        this.data.plan_xf_raise=''
                        break;
                    case 8:
                        this.data.card_use_xh_raise=''
                        break;
                    default:
                        break;
                }
            },
            c_one(a){
                switch (a){
                    case 1:
                        this.data.box_xf_type='1'
                        break;
                    case 2:
                        this.data.project_xf_type='1'
                        break;
                    case 3:
                        this.data.product_type='1'
                        break;
                    case 4:
                        this.data.card_type='1'
                        break;
                    case 5:
                        this.data.box_xh_type='1'
                        break;
                    case 6:
                        this.data.project_xh_type='1'
                        break;
                    case 7:
                        this.data.plan_xf_type='1'
                        break;
                    case 8:
                        this.data.card_use_xh_type='1'
                        break;
                    default:
                        break;
                }
            },
            check_number(t,v){
                if(isNaN(v)){
                    error("只能输入数字");
                    this.empty(t);
                }else if(v<0||v>100){
                    error("只能在0-100范围之内");
                    this.empty(t);
                }
            },
            layer(arr,n1,n2,index,r){
                if(isNaN(n1)){
                    error("只能输入数字");
                    arr[index].money=''
                }else if(isNaN(n2)){
                    error("只能输入数字");
                    arr[index].money2=''
                }else if(isNaN(r)){
                    error("只能输入数字");
                    arr[index].raise=''
                }else if(r<0||r>100){
                    error("只能输入0-100之内数字");
                    arr[index].raise=''
                }else if(parseFloat(n1)>parseFloat(n2)){
                    error("阶段提成最大金额不能小于最小金额");
                    arr[index].money2=''
                }else{
                    for(let i in arr){
                        if(i!=index){
                            if(r!=''&&arr[i].raise==r){
                                error("阶段提成比例不能重复")
                                arr[index].raise=''
                            }else if((parseFloat(arr[i].money)<=parseFloat(n1))&&(parseFloat(n1)<=parseFloat(arr[i].money2))){
                                error("阶段提成不能在其它已提成范围之间")
                                arr[index].money=''
                            }else if((parseFloat(arr[i].money)<=parseFloat(n2))&&(parseFloat(n2)<=parseFloat(arr[i].money2))){
                                error("阶段提成不能在其它已提成范围之间")
                                arr[index].money2=''
                            }
                        }
                    }
                }
            },
            check(t,n1,n2,index,r){
                var zhi=this.choice(t);
                this.layer(zhi,n1,n2,index,r)
        },
            add(a){
                let empty={
                    money:'',
                    money2:'',
                    raise:''
                }
                switch (a){
                    case 1:
                        this.box_xf_arr.push(empty);
                        this.data.box_xf_type='2'
                        break;
                    case 2:
                        this.project_xf_arr.push(empty);
                        this.data.project_xf_type='2'
                        break;
                    case 3:
                        this.product_arr.push(empty);
                        this.data.product_type='2'
                        break;
                    case 4:
                        this.card_arr.push(empty);
                        this.data.card_type='2'
                        break;
                    case 5:
                        this.box_xh_arr.push(empty);
                        this.data.box_xh_type='2'
                        break;
                    case 6:
                        this.project_xh_arr.push(empty);
                        this.data.project_xh_type='2'
                        break;
                    case 7:
                        this.plan_xf_arr.push(empty);
                        this.data.plan_xf_type='2'
                        break;
                    case 8:
                        this.card_use_xh_arr.push(empty);
                        this.data.card_use_xh_type='2'
                        break;
                    default:
                        break;
                }
            },
            delarr(d,index){
                switch (d){
                    case 1:
                        this.box_xf_arr.splice(index,1);
                        break;
                    case 2:
                        this.project_xf_arr.splice(index,1);
                        break;
                    case 3:
                        this.product_arr.splice(index,1);
                        break;
                    case 4:
                        this.card_arr.splice(index,1);
                        break;
                    case 5:
                        this.box_xh_arr.splice(index,1);
                        break;
                    case 6:
                        this.project_xh_arr.splice(index,1);
                        break;
                    case 7:
                        this.plan_xf_arr.splice(index,1);
                        break;
                    case 8:
                        this.card_use_xh_arr.splice(index,1);
                        break;
                    default:
                        break;
                }
            },
            split(zz,arr){
                var tmtm=0;
                for(let i in arr){
                    if(i<arr.length) {
                        if (arr[i].money == '' || arr[i].money2 == '' || arr[i].raise == '') {
                            error("阶段提成金额和比例不能为空,请填写完整");
                            tmtm++;
                        } else {
                            var obj1 = {
                                money: arr[i].money,
                                raise: arr[i].raise,
                            }
                            var obj2 = {
                                money: arr[i].money2,
                                raise: arr[i].raise,
                            }
                            zz.push(obj1, obj2)

                        }
                    }
                }
                return tmtm;
            },
            set_royalty(){
                    var mm1=0;
                var mm2=0;
                    var mm3=0;
                    var mm4=0;
                    var mm5=0;
                    var mm6=0;
                    var mm7=0;
                    var mm8=0;
                    this.zz_product_arr = [];
                    this.zz_box_xf_arr = [];
                    this.zz_box_xh_arr = [];
                    this.zz_project_xf_arr = [];
                    this.zz_project_xh_arr = [];
                    this.zz_plan_xf_arr = [];
                    this.zz_card_arr = [];
                    this.zz_card_use_xh_arr = [];
                    if(this.data.box_xf_type=='2'){
                        mm1=this.split(this.zz_box_xf_arr,this.box_xf_arr);
                        this.data.box_xf_enough= this.zz_box_xf_arr;
                        this.data.box_xf_raise='';
                    }else{
                        this.data.box_xf_enough=''
                    }
                    if(this.data.project_xf_type=='2'){
                        mm2=this.split(this.zz_project_xf_arr,this.project_xf_arr)
                        this.data.project_xf_enough=this.zz_project_xf_arr;
                        this.data.box_xf_raise='';
                    }else{
                        this.data.project_xf_enough=''
                    }
                    if(this.data.product_type=='2'){
                        mm3=this.split(this.zz_product_arr,this.product_arr)
                        this.data.product_enough=this.zz_product_arr;
                        this.data.box_xf_raise='';
                    }else{
                        this.data.product_enough=''
                    }
                    if(this.data.card_type=='2'){
                        mm4=this.split(this.zz_card_arr,this.card_arr)
                        this.data.card_enough=this.zz_card_arr;
                        this.data.box_xf_raise='';
                    }else{
                        this.data.card_enough=''
                    }
                    if(this.data.box_xh_type=='2'){
                        mm5=this.split(this.zz_box_xh_arr,this.box_xh_arr)
                        this.data.box_xh_enough=this.zz_box_xh_arr;
                        this.data.box_xf_raise='';
                    }else{
                        this.data.box_xh_enough=''
                    }
                    if(this.data.project_xh_type=='2'){
                        mm6=this.split(this.zz_project_xh_arr,this.project_xh_arr)
                        this.data.project_xh_enough=this.zz_project_xh_arr;
                        this.data.box_xf_raise='';
                    }else{
                        this.data.project_xh_enough=''
                    }
                    if( this.data.plan_xf_type=='2'){
                        mm7=this.split(this.zz_plan_xf_arr,this.plan_xf_arr)
                        this.data.plan_xf_enough=this.zz_plan_xf_arr;
                        this.data.box_xf_raise='';
                    }else{
                        this.data.plan_xf_enough=''
                    }
                    if(this.data.card_use_xh_type=='2'){
                        mm8=this.split(this.zz_card_use_xh_arr,this.card_use_xh_arr)
                        this.data.card_use_xh_enough=this.zz_card_use_xh_arr;
                        this.data.box_xf_raise='';
                    }else {
                        this.data.card_use_xh_enough=''
                    }

                    if(mm1==0&&mm2==0&&mm3==0&&mm4==0&&mm5==0&&mm6==0&&mm7==0&&mm8==0) {
                        /*this.split(this.zz_box_xf_arr, this.box_xf_arr)
                        this.data.box_xf_enough = this.zz_box_xf_arr;

                        this.split(this.zz_project_xf_arr, this.project_xf_arr)
                        this.data.project_xf_enough = this.zz_project_xf_arr;

                        this.split(this.zz_product_arr, this.product_arr)
                        this.data.product_enough = this.zz_product_arr;

                        this.split(this.zz_card_arr, this.card_arr)
                        this.data.card_enough = this.zz_card_arr;

                        this.split(this.zz_box_xh_arr, this.box_xh_arr)
                        this.data.box_xh_enough = this.zz_box_xh_arr;

                        this.split(this.zz_project_xh_arr, this.project_xh_arr)
                        this.data.project_xh_enough = this.zz_project_xh_arr;

                        this.split(this.zz_plan_xf_arr, this.plan_xf_arr)
                        this.data.plan_xf_enough = this.zz_plan_xf_arr;

                        this.split(this.zz_card_use_xh_arr, this.card_use_xh_arr)
                        this.data.card_use_xh_enough = this.zz_card_use_xh_arr;*/
                        $.post(url(methods.raise),
                            {
                                data: this.data,
                                staff: this.id,
                                state: {
                                    box_xf_state: this.box_xf_state ? 1 : 0,
                                    box_xh_state: this.box_xh_state ? 1 : 0,
                                    items_xf_state: this.items_xf_state ? 1 : 0,
                                    items_xh_state: this.items_xh_state ? 1 : 0,
                                    plan_xf_state: this.plan_xf_state ? 1 : 0,
                                    card_xf_state: this.card_xf_state ? 1 : 0,
                                    kk_xf_state: this.kk_xf_state ? 1 : 0,
                                    kk_xh_state: this.kk_xh_state ? 1 : 0,
                                    cp_xf_state: this.cp_xf_state ? 1 : 0,
                                },
                            }, v => {
                                if (v.code == 1) {
                                    success('设置成功')
                                    location.href = './staff_mange.html';
                                } else {
                                    error(v.error)
                                }
                            })
                    }
            },
            compose(zz,arr){
                var arr_raise=[];
                for(let i in zz){
                    if(arr_raise.indexOf(zz[i].raise)==-1){
                        for (let z in zz) {
                            if (i != z && zz[i].raise == zz[z].raise&&arr_raise.indexOf(zz[z].raise)==-1){
                                if (parseFloat(zz[i].money) <= parseFloat(zz[z].money)) {
                                    var m = zz[i].money;
                                    var m2 = zz[z].money;
                                } else {
                                    var m = zz[z].money;
                                    var m2 = zz[i].money;
                                }
                                var obj = {
                                    money: m,
                                    money2: m2,
                                    raise: zz[z].raise
                                }
                                arr.push(obj);
                                arr_raise.push(zz[z].raise)
                            }
                        }
                    }
                }
                for(let i in zz){
                    if(arr_raise.indexOf(zz[i].raise)==-1){
                        var obj = {
                            money: '',
                            money2: zz[i].money,
                            raise: zz[i].raise
                        }
                        arr.push(obj);
                        arr_raise.push(zz[i].raise)
                    }
                }
            },
            get_raise(){
                    $.post(url(methods.raise_edit_details),{staff:this.id},v=>{
                         this.box_xf_state = v.res.box_xf_state==0?false:true;
                         this.box_xh_state = v.res.box_xh_state==0?false:true;
                         this.items_xf_state = v.res.items_xf_state==0?false:true;
                         this.items_xh_state = v.res.items_xh_state==0?false:true;
                         this.plan_xf_state = v.res.plan_xf_state==0?false:true;
                         this.card_xf_state = v.res.card_xf_state==0?false:true;
                         this.kk_xf_state = v.res.kk_xf_state==0?false:true;
                         this.kk_xh_state = v.res.kk_xh_state==0?false:true;
                         this.cp_xf_state = v.res.cp_xf_state==0?false:true;
                        if (v.res.box_xf_enough == null || v.res.box_xf_enough == '') {
                            this.data.box_xf_type= '1';
                            this.box_xf_arr=[]
                            this.data.box_xf_raise=v.res.box_xf_raise
                        } else {
                            this.data.box_xf_type= '2';
                            this.zz_box_xf_arr=v.res.box_xf_enough;
                            this.compose(this.zz_box_xf_arr,this.box_xf_arr)
                        }
                        if (v.res.project_xf_enough == null || v.res.project_xf_enough == '') {
                            this.data.project_xf_type= '1';
                            this.project_xf_arr=[]
                            this.data.project_xf_raise=v.res.project_xf_raise
                        } else {
                            this.data.project_xf_type= '2';
                            this.zz_project_xf_arr=v.res.project_xf_enough
                            this.compose(this.zz_project_xf_arr,this.project_xf_arr)
                        }
                        if (v.res.product_enough == null || v.res.product_enough == '') {
                            this.data.product_type= '1';
                            this.product_arr=[]
                            this.data.product_raise=v.res.product_raise
                        } else {
                            this.data.product_type= '2';
                            this.zz_product_arr=v.res.product_enough
                            this.compose(this.zz_product_arr,this.product_arr)
                        }
                        if (v.res.sell_card_enough == null || v.res.sell_card_enough == '') {
                            this.data.card_type= '1';
                            this.card_arr=[]
                            this.data.card_raise=v.res.sell_card_raise
                        } else {
                            this.data.card_type= '2';
                            this.zz_card_arr=v.res.sell_card_enough
                            this.compose(this.zz_card_arr,this.card_arr)
                        }
                        if (v.res.box_xh_enough == null || v.res.box_xh_enough == '') {
                            this.data.box_xh_type= '1';
                            this.box_xh_arr=[]
                            this.data.box_xh_raise=v.res.box_xh_raise
                        } else {
                            this.data.box_xh_type= '2';
                            this.zz_box_xh_arr=v.res.box_xh_enough
                            this.compose(this.zz_box_xh_arr,this.box_xh_arr)
                        }
                        if (v.res.project_xh_enough == null || v.res.project_xh_enough == '') {
                            this.data.project_xh_type= '1';
                            this.project_xh_arr=[]
                            this.data.project_xh_raise=v.res.project_xh_raise
                        } else {
                            this.data.project_xh_type= '2';
                            this.zz_project_xh_arr=v.res.project_xh_enough
                            this.compose(this.zz_project_xh_arr,this.project_xh_arr)
                        }
                        if (v.res.plan_xf_enough == null || v.res.plan_xf_enough == '') {
                            this.data.plan_xf_type= '1';
                            this.plan_xf_arr=[]
                            this.data.plan_xf_raise=v.res.plan_xf_raise
                        } else {
                            this.data.plan_xf_type= '2';
                            this.zz_plan_xf_arr=v.res.plan_xf_enough
                            this.compose(this.zz_plan_xf_arr,this.plan_xf_arr)
                        }
                        if (v.res.use_card_xh_enough == null || v.res.use_card_xh_enough == '') {
                            this.data.card_use_xh_type= '1';
                            this.card_use_xh_arr=[]
                            this.data.card_use_xh_raise=v.res.use_card_xh_raise
                        } else {
                            this.data.card_use_xh_type= '2';
                            this.zz_card_use_xh_arr=v.res.use_card_xh_enough
                            this.compose(this.zz_card_use_xh_arr,this.card_use_xh_arr)
                        }
                    })
            }
        },
        mounted() {
            this.$nextTick(e=>{
                //初始化
                that = this;
                this.id = localStorage.getItem('staff')
                this.type = localStorage.getItem('raise_type')
                this.get_raise()
                loginState()
            })
        }
    })
</script>