<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>提成设置</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/raise.css">
</head>
<body>

<div id="app" class="customer">
    <template>
        <p class="cus_title">
            <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item :to="{ path: '/' }">店员管理</el-breadcrumb-item>
                <el-breadcrumb-item>提成设置</el-breadcrumb-item>
            </el-breadcrumb>
        </p>
        <div class="over_hidden">
            <div class="f_div fl">
                <p class="other_back linr_four all_ra_p">套盒</p>
                <div class="f_pad">
                    <p>
                        <el-button type="success" size="mini" round class="bu_mar">消费提成</el-button>
                        <el-checkbox v-model="box_xf_state" class="per_add">业绩叠加</el-checkbox>
                    </p>
                    <p>
                        <el-radio v-model="data.box_xf_type" label="1">按提成数</el-radio>
                        <el-input v-model="data.box_xf_raise" placeholder="0-100" class="un_line_h"></el-input>%
                    </p>

                    <p>
                        <el-radio v-model="data.box_xf_type" label="2">业绩提成</el-radio>
                        <el-button type="primary" round plain size="mini" class="add" @click="add(1)">添加一条</el-button>
                    </p>

                    <ul class="ra_ul">
                        <li v-for="(v,index) in box_xf_arr">
                            达标<el-input v-model="v.money" class="un_line_cc"></el-input>元
                            提成
                            <el-input v-model="v.raise" placeholder="0-100" class="un_line_h"></el-input>%
                            <el-button type="info" round plain size="mini" class="add" @click="delarr(1,index)">删除</el-button>
                        </li>
                    </ul>
                </div>
                <p class="other_back linr_four ra_p">项目</p>
                <div class="f_pad">
                    <p>
                        <el-button type="success" size="mini" round class="bu_mar">消费提成</el-button>
                        <el-checkbox v-model="items_xf_state" class="per_add">业绩叠加</el-checkbox>
                    </p>

                    <p>
                        <el-radio v-model="data.project_xf_type" label="1">按提成数</el-radio>
                        <el-input v-model="data.project_xf_raise" placeholder="0-100" class="un_line_h"></el-input>%
                    </p>

                    <p>
                        <el-radio v-model="data.project_xf_type" label="2">业绩提成</el-radio><el-button type="primary" round plain size="mini" class="add" @click="add(2)">添加一条</el-button>
                    </p>

                    <ul class="ra_ul">
                        <li v-for="(v,index) in project_xf_arr">
                            达标<el-input v-model="v.money" class="un_line_cc"></el-input>元
                            提成
                            <el-input v-model="v.raise" placeholder="0-100" class="un_line_h"></el-input>%
                            <el-button type="info" round plain size="mini" class="add" @click="delarr(2,index)">删除</el-button>
                        </li>
                    </ul>
                </div>
                <p class="other_back linr_four ra_p">产品</p>
                <div class="f_pad">
                    <p>
                        <el-button type="success" size="mini" round class="bu_mar">消费提成</el-button>
                        <el-checkbox v-model="cp_xf_state" class="per_add">业绩叠加</el-checkbox>
                    </p>

                    <p>
                        <el-radio v-model="data.product_type" label="1">按提成数</el-radio>
                        <el-input v-model="data.product_raise" placeholder="0-100" class="un_line_h"></el-input>%
                    </p>

                    <p>
                        <el-radio v-model="data.product_type" label="2">业绩提成</el-radio><el-button type="primary" round plain size="mini" class="add" @click="add(3)">添加一条</el-button>
                    </p>

                    <ul class="ra_ul">
                        <li v-for="(v,index) in product_arr">
                            达标<el-input v-model="v.money" class="un_line_cc"></el-input>元
                            提成
                            <el-input v-model="v.raise" placeholder="0-100" class="un_line_h"></el-input>%
                            <el-button type="info" round plain size="mini" class="add" @click="delarr(3,index)">删除</el-button>
                        </li>
                    </ul>
                </div>
                <p class="other_back linr_four ra_p">售卡</p>
                <div class="f_pad">
                    <p>
                        <el-button type="success" size="mini" round class="bu_mar">消费提成</el-button>
                        <el-checkbox v-model="kk_xf_state" class="per_add">业绩叠加</el-checkbox>
                    </p>

                    <p>
                        <el-radio v-model="data.card_type" label="1">按提成数</el-radio>
                        <el-input v-model="data.card_raise" placeholder="0-100" class="un_line_h"></el-input>%
                    </p>

                    <p>
                        <el-radio v-model="data.card_type" label="2">业绩提成</el-radio><el-button type="primary" round plain size="mini" class="add" @click="add(4)">添加一条</el-button>
                    </p>

                    <ul class="ra_ul">
                        <li v-for="(v,index) in card_arr">
                            达标<el-input v-model="v.money" class="un_line_cc"></el-input>元
                            提成
                            <el-input v-model="v.raise" placeholder="0-100" class="un_line_h"></el-input>%
                            <el-button type="info" round plain size="mini" class="add" @click="delarr(4,index)">删除</el-button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="f_div fr">
                <p class="other_back linr_four all_ra_p">套盒</p>
                <div class="f_pad">
                    <p>
                        <el-button type="warning" size="mini" round class="bu_mar">消耗提成</el-button>
                        <el-checkbox v-model="box_xh_state" class="per_add">业绩叠加</el-checkbox>
                    </p>
                    <p>
                        <el-radio v-model="data.box_xh_type" label="1">按提成数</el-radio>
                        <el-input v-model="data.box_xh_raise" placeholder="0-100" class="un_line_h"></el-input>%
                    </p>
                    <el-radio v-model="data.box_xh_type" label="2">业绩提成</el-radio><el-button type="primary" round plain size="mini" class="add" @click="add(5)">添加一条</el-button>
                    <ul class="ra_ul">
                        <li v-for="(v,index) in box_xh_arr">
                            达标<el-input v-model="v.money" class="un_line_cc"></el-input>元
                            提成
                            <el-input v-model="v.raise" placeholder="0-100" class="un_line_h"></el-input>%
                            <el-button type="info" round plain size="mini" class="add" @click="delarr(5,index)">删除</el-button>
                        </li>
                    </ul>
                </div>
                <p class="other_back linr_four ra_p">项目</p>
                <div class="f_pad">
                    <p>
                        <el-button type="warning" size="mini" round class="bu_mar">消耗提成</el-button>
                        <el-checkbox v-model="items_xh_state" class="per_add">业绩叠加</el-checkbox>
                    </p>
                    <p>
                        <el-radio v-model="data.project_xh_type" label="1">按提成数</el-radio>
                        <el-input v-model="data.project_xh_raise" placeholder="0-100" class="un_line_h"></el-input>%
                    </p>
                    <el-radio v-model="data.project_xh_type" label="2">业绩提成</el-radio><el-button type="primary" round plain size="mini" class="add" @click="add(6)">添加一条</el-button>
                    <ul class="ra_ul">
                        <li v-for="(v,index) in project_xh_arr">
                            达标<el-input v-model="v.money" class="un_line_cc"></el-input>元
                            提成
                            <el-input v-model="v.raise" placeholder="0-100" class="un_line_h"></el-input>%
                            <el-button type="info" round plain size="mini" class="add" @click="delarr(6,index)">删除</el-button>
                        </li>
                    </ul>
                </div>
                <p class="other_back linr_four ra_p">方案</p>
                <div class="f_pad">
                    <p>
                        <el-button type="success" size="mini" round class="bu_mar">消费提成</el-button>
                        <el-checkbox v-model="plan_xf_state" class="per_add">业绩叠加</el-checkbox>
                    </p>

                    <p>
                        <el-radio v-model="data.plan_xf_type" label="1">按提成数</el-radio>
                        <el-input v-model="data.plan_xf_raise" placeholder="0-100" class="un_line_h"></el-input>%
                    </p>

                    <p>
                        <el-radio v-model="data.plan_xf_type" label="2">业绩提成</el-radio><el-button type="primary" round plain size="mini" class="add" @click="add(7)">添加一条</el-button>
                    </p>

                    <ul class="ra_ul">
                        <li v-for="(v,index) in plan_xf_arr">
                            达标<el-input v-model="v.money" class="un_line_cc"></el-input>元
                            提成
                            <el-input v-model="v.raise" placeholder="0-100" class="un_line_h"></el-input>%
                            <el-button type="info" round plain size="mini" class="add" @click="delarr(7,index)">删除</el-button>
                        </li>
                    </ul>
                </div>
                <p class="other_back linr_four ra_p">卡扣</p>
                <div class="f_pad">
                    <p class="over_hidden">
                        <el-checkbox v-model="kk_xf_state" class="fl per_add">消费业绩叠加</el-checkbox>

                        <el-checkbox v-model="kk_xh_state" class="fr per_add">消耗业绩叠加</el-checkbox>
                    </p>
                    <p>
                        <el-radio v-model="data.card_use_xh_type" label="1">按提成数</el-radio>
                        <el-input v-model="data.card_use_xh_raise" placeholder="0-100" class="un_line_h"></el-input>%
                    </p>
                    <el-radio v-model="data.card_use_xh_type" label="2">业绩提成</el-radio><el-button type="primary" round plain size="mini" class="add" @click="add(8)">添加一条</el-button>
                    <ul class="ra_ul">
                        <li v-for="(v,index) in card_use_xh_arr">
                            达标<el-input v-model="v.money" class="un_line_cc"></el-input>元
                            提成
                            <el-input v-model="v.raise" placeholder="0-100" class="un_line_h"></el-input>%
                            <el-button type="info" round plain size="mini" class="add" @click="delarr(8,index)">删除</el-button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bottom_submit">
            <!--<el-button type="danger" @click="sub" v-if="type==1">提交</el-button>-->
            <el-button type="danger" @click="set_royalty">保存</el-button>
        </div>
    </template>
</div>

</body>
</html>
<script src="../js/jquery.min.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/func.js"></script>
<script src="../js/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            per_check:'',
            input:'',
            box_xf_state:false,
            box_xh_state:false,
            items_xf_state:false,
            items_xh_state:false,
            plan_xf_state:false,
            card_xf_state:false,
            kk_xf_state:false,
            kk_xh_state:false,
            cp_xf_state:false,

            detail:'',

            up_data :{
                box_xf_type: 1,     //套盒消费方式 1比例 2业绩
                box_xf_raise: '',   //套盒消费提成比例
                box_xf_enough: '',  //套盒消费提成业绩

                project_xf_type: 1,     //项目消耗方式 1比例 2业绩
                project_xf_raise: '',   //项目消费提成比例
                project_xf_enough: '',  //项目消费提成业绩

                product_type: 1,    //产品提成方式 1比例 2业绩
                product_raise: '',  //产品提成比例
                product_enough: '', //产品提成业绩

                card_type: 1,           //售卡提成方式 1比例 2业绩
                card_raise: '',         //售卡提成比例
                card_enough: '',        //售卡提成业绩

                box_xh_type: 1,     //套盒消耗方式 1比例 2业绩
                box_xh_raise: '',   //套盒消耗提成比例
                box_xh_enough: '',  //套盒消耗提成业绩

                project_xh_type: 1,     //项目消费方式 1比例 2业绩
                project_xh_raise: '',   //项目消耗提成比例
                project_xh_enough: '',  //项目消耗提成业绩

                plan_xf_type: 1,       //方案消费提成方式 1比例 2业绩
                plan_xf_raise: '',     //方案消费提成比例
                plan_xf_enough: '',    //方案消费提成业绩

                card_use_xh_type: 1,    //耗卡提成方式 1比例 2业绩
                card_use_xh_raise: '',  //耗卡消耗提成比例
                card_use_xh_enough: '', //耗卡消耗提成业绩
            },
            data :{
                box_xf_type: '1',     //套盒消费方式 1比例 2业绩
                box_xf_raise: '',   //套盒消费提成比例
                box_xf_enough: '',  //套盒消费提成业绩

                project_xf_type: '1',     //项目消费方式 1比例 2业绩
                project_xf_raise: '',   //项目消费提成比例
                project_xf_enough: '',  //项目消费提成业绩

                product_type: '1',    //产品提成方式 1比例 2业绩
                product_raise: '',  //产品提成比例
                product_enough: '', //产品提成业绩

                card_type: '1',           //售卡提成方式 1比例 2业绩
                card_raise: '',         //售卡提成比例
                card_enough: '',        //售卡提成业绩

                box_xh_type: '1',     //套盒消耗方式 1比例 2业绩
                box_xh_raise: '',   //套盒消耗提成比例
                box_xh_enough: '',  //套盒消耗提成业绩

                project_xh_type: '1',     //项目消费方式 1比例 2业绩
                project_xh_raise: '',   //项目消耗提成比例
                project_xh_enough: '',  //项目消耗提成业绩

                plan_xf_type: '1',       //方案消费提成方式 1比例 2业绩
                plan_xf_raise: '',     //方案消费提成比例
                plan_xf_enough: '',    //方案消费提成业绩

                card_use_xh_type: '1',    //耗卡提成方式 1比例 2业绩
                card_use_xh_raise: '',  //耗卡消耗提成比例
                card_use_xh_enough: '', //耗卡消耗提成业绩
            },

            box_xf_arr:[],
            project_xf_arr:[],
            product_arr:[],
            card_arr:[],
            box_xh_arr:[],
            project_xh_arr:[],
            plan_xf_arr:[],
            card_use_xh_arr:[],
        },
        methods: {
            add(a){
                let empty={
                    money:'',
                    raise:''
                }
                console.log(a)
                switch (a){
                    case 1:
                        this.box_xf_arr.push(empty);
                        this.data.box_xf_type='2'
                        break;
                    case 2:
                        this.project_xf_arr.push(empty);
                        this.data.project_xf_type='2'
                        break;
                    case 3:
                        this.product_arr.push(empty);
                        this.data.product_type='2'
                        break;
                    case 4:
                        this.card_arr.push(empty);
                        this.data.card_type='2'
                        break;
                    case 5:
                        this.box_xh_arr.push(empty);
                        this.data.box_xh_type='2'
                        break;
                    case 6:
                        this.project_xh_arr.push(empty);
                        this.data.project_xh_type='2'
                        break;
                    case 7:
                        this.plan_xf_arr.push(empty);
                        this.data.plan_xf_type='2'
                        break;
                    case 8:
                        this.card_use_xh_arr.push(empty);
                        this.data.card_use_xh_type='2'
                        break;
                    default:
                        break;
                }
            },
            delarr(d,index){
                console.log(d)
                switch (d){
                    case 1:
                        this.box_xf_arr.splice(index,1);
                        break;
                    case 2:
                        this.project_xf_arr.splice(index,1);
                        break;
                    case 3:
                        this.product_arr.splice(index,1);
                        break;
                    case 4:
                        this.card_arr.splice(index,1);
                        break;
                    case 5:
                        this.box_xh_arr.splice(index,1);
                        break;
                    case 6:
                        this.project_xh_arr.splice(index,1);
                        break;
                    case 7:
                        this.plan_xf_arr.splice(index,1);
                        break;
                    case 8:
                        this.card_use_xh_arr.splice(index,1);
                        break;
                    default:
                        break;
                }
            },
            set_royalty(){
                this.$confirm('确定保存提成设置?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.data.box_xf_enough=this.box_xf_arr;
                    this.data.project_xf_enough=this.project_xf_arr;
                    this.data.product_enough=this.product_arr;
                    this.data.card_enough=this.card_arr;
                    this.data.box_xh_enough=this.box_xh_arr;
                    this.data.project_xh_enough=this.project_xh_arr;
                    this.data.plan_xf_enough=this.plan_xf_arr;
                    this.data.card_use_xh_enough=this.card_use_xh_arr;
                    console.log(this.box_xf_state);
                    $.post(url(methods.raise),
                        {
                            data:this.data,
                            staff:this.id,
                            state: {
                                box_xf_state: this.box_xf_state?1:0,
                                box_xh_state: this.box_xh_state?1:0,
                                items_xf_state: this.items_xf_state?1:0,
                                items_xh_state: this.items_xh_state?1:0,
                                plan_xf_state: this.plan_xf_state?1:0,
                                card_xf_state: this.card_xf_state?1:0,
                                kk_xf_state: this.kk_xf_state?1:0,
                                kk_xh_state: this.kk_xh_state?1:0,
                                cp_xf_state: this.cp_xf_state?1:0,
                            },
                        },v=> {
                            console.log(v)
                            if(v.code==1){
                                success('设置成功')
                                this.$confirm('已设置成功，是否继续其他设置员工提成?', '提示', {
                                    confirmButtonText: '确定',
                                    cancelButtonText: '取消',
                                    type: 'warning'
                                }).then(() => {
                                    location.href = './staff_mange.html';
                                }).catch(e => {
                                    location.href = './home.html';
                                })
                            }else{
                                error(v.error)
                            }
                        })
                }).catch(e => {
                })
            },
            get_raise(){
                console.log(this.id)
                    $.post(url(methods.raise_edit_details),{staff:this.id},v=>{
                        console.log(v)
                         this.box_xf_state = v.res.box_xf_state==0?false:true;
                         this.box_xh_state = v.res.box_xh_state==0?false:true;
                         this.items_xf_state = v.res.items_xf_state==0?false:true;
                         this.items_xh_state = v.res.items_xh_state==0?false:true;
                         this.plan_xf_state = v.res.plan_xf_state==0?false:true;
                         this.card_xf_state = v.res.card_xf_state==0?false:true;
                         this.kk_xf_state = v.res.kk_xf_state==0?false:true;
                         this.kk_xh_state = v.res.kk_xh_state==0?false:true;
                         this.cp_xf_state = v.res.cp_xf_state==0?false:true;
                        if (v.res.box_xf_enough == null || v.res.box_xf_enough == '') {
                            this.data.box_xf_type= '1';
                            this.box_xf_arr=[]
                            this.data.box_xf_raise=v.res.box_xf_raise
                        } else {
                            this.data.box_xf_type= '2';
                            this.box_xf_arr=v.res.box_xf_enough
                        }
                        if (v.res.project_xf_enough == null || v.res.project_xf_enough == '') {
                            this.data.project_xf_type= '1';
                            this.project_xf_arr=[]
                            this.data.project_xf_raise=v.res.project_xf_raise
                        } else {
                            this.data.project_xf_type= '2';
                            this.project_xf_arr=v.res.project_xf_enough
                        }
                        if (v.res.product_enough == null || v.res.product_enough == '') {
                            this.data.product_type= '1';
                            this.product_arr=[]
                            this.data.product_raise=v.res.product_raise
                        } else {
                            this.data.product_type= '2';
                            this.product_arr=v.res.product_enough
                        }
                        if (v.res.card_enough == null || v.res.card_enough == '') {
                            this.data.card_type= '1';
                            this.card_arr=[]
                            this.data.card_raise=v.res.card_raise
                        } else {
                            this.data.card_type= '2';
                            this.card_arr=v.res.card_enough
                        }
                        if (v.res.box_xh_enough == null || v.res.box_xh_enough == '') {
                            this.data.box_xh_type= '1';
                            this.box_xh_arr=[]
                            this.data.box_xh_raise=v.res.box_xh_raise
                        } else {
                            this.data.box_xh_type= '2';
                            this.box_xh_arr=v.res.box_xh_enough
                        }
                        if (v.res.project_xh_enough == null || v.res.project_xh_enough == '') {
                            this.data.project_xh_type= '1';
                            this.project_xh_arr=[]
                            this.data.project_xh_raise=v.res.project_xh_raise
                        } else {
                            this.data.project_xh_type= '2';
                            this.project_xh_arr=v.res.project_xh_enough
                        }
                        if (v.res.plan_xf_enough == null || v.res.plan_xf_enough == '') {
                            this.data.plan_xf_type= '1';
                            this.plan_xf_arr=[]
                            this.data.plan_xf_raise=v.res.plan_xf_raise
                        } else {
                            this.data.plan_xf_type= '2';
                            this.plan_xf_arr=v.res.plan_xf_enough
                        }
                        if (v.res.card_use_xh_enough == null || v.res.card_use_xh_enough == '') {
                            this.data.card_use_xh_type= '1';
                            this.card_use_xh_arr=[]
                            this.data.card_use_xh_raise=v.res.card_use_xh_raise
                        } else {
                            this.data.card_use_xh_type= '2';
                            this.card_use_xh_arr=v.res.card_use_xh_enough
                        }
                        console.log(this.data)
                    })
            }
        },
        mounted() {
            this.$nextTick(e=>{
                //初始化
                that = this;
                this.id = localStorage.getItem('staff')
                this.type = localStorage.getItem('raise_type')
                this.get_raise()
                loginState()
            })
        }
    })
</script>