<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>扫码录入</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <style>
        .ti_dan{
            line-height: 40px;
            font-size: 2rem;
            font-weight: bold;
        }
    </style>
</head>
<body>

<div id="app" class="customer">
    <template>
        <p class="cus_title">
            <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item><a href="home.html" target="iframe">工作台首页</a></el-breadcrumb-item>
                <el-breadcrumb-item><a href="ware_mange.html" target="iframe">仓库管理</a></el-breadcrumb-item>
                <el-breadcrumb-item><a href="ware_detail.html" target="iframe">仓库出入库</a></el-breadcrumb-item>
                <el-breadcrumb-item>扫码录入</el-breadcrumb-item>
            </el-breadcrumb>
        </p>
        <div class="cus_center linr_four" style="background: white;margin: 10px 0;padding: 10px 15px">
            <h2 class="align_center ti_dan">{{title}}入库单</h2>
            <ul style="display: flex;justify-content: space-between;">
                <li>
                    入库单编号：356216156415
                </li>
                <li>
                    入库日期：2002
                </li>
                <li>
                    操作人：大胃王
                </li>
            </ul>
            <p style="display: flex;flex-wrap: nowrap;margin-top: 10px">
                <i style="line-height: 33px">备注：</i>
                <el-input style="flex:1"
                    type="textarea"
                    autosize clearable
                    placeholder="请输入内容"
                    v-model="textarea">
            </el-input>
            </p>
            </div>
            <div class="cus_center">
                <el-input class="cus_seatch" style="float: left"
                          placeholder="开始扫码"
                          prefix-icon="el-icon-search"
                          v-model="scan_in" @change="get_data()">
                </el-input>
                <el-button type="success" class="fr" @click="">一键入库</el-button>
            </div>
        <div class="basic_inf">
            <el-table :data="scan_list" :max-height="max_ht" show-summary>
                <el-table-column min-width="200"
                        label="商品编号">
                    <template slot-scope="scope">
                        <el-input size="mini"
                                placeholder="请输入商品编号"
                                v-model="scope.row.sn" :disabled="scope.row.disabled"
                                clearable>
                        </el-input>
                    </template>
                </el-table-column>
                <el-table-column min-width="200"
                        label="商品名称">
                    <template slot-scope="scope">
                        <el-input size="mini"
                                  placeholder="请输入商品名称"
                                  v-model="scope.row.name" :disabled="scope.row.disabled"
                                  clearable>
                        </el-input>
                    </template>
                </el-table-column>
                <el-table-column min-width="100" v-if="px==4"
                                 label="类型">
                    <template slot-scope="scope">
                            <el-input size="mini" v-if="scope.row.type==1"
                                      placeholder="请输入数字(1:内衣,2:其它)" value="内衣"
                                       :disabled="scope.row.disabled"
                            >
                            </el-input>
                        <el-input size="mini" v-if="scope.row.type==2" value="其它"
                                  placeholder="请输入数字(1:内衣,2:其它)" :disabled="scope.row.disabled"
                        >
                        </el-input>
                        <!--<i v-if="scope.row.type==2">其它</i>-->
                        <el-input size="mini" v-if="scope.row.type==''"
                                  placeholder="请输入数字(1:内衣,2:其它)"
                                  v-model="scope.row.type" :disabled="scope.row.disabled"
                                  >
                        </el-input>
                    </template>
                </el-table-column>
                <el-table-column min-width="100"
                        label="单价">
                    <template slot-scope="scope">
                        <el-input size="mini"
                                  placeholder="请输入单价"
                                  v-model="scope.row.price" :disabled="scope.row.disabled"
                                  >
                        </el-input>
                    </template>
                </el-table-column>
                <el-table-column min-width="50"
                        label="数量">
                    <template slot-scope="scope">
                        <el-input size="mini" type="number"
                                  placeholder="请输入商品数量"
                                  v-model="scope.row.num"
                                  >
                        </el-input>
                    </template>
                </el-table-column>
                <el-table-column v-if="px==4"  min-width="60"
                        label="颜色">
                    <template slot-scope="scope">
                        <el-input size="mini"
                                  placeholder="请输入商品颜色"
                                  v-model="scope.row.color" :disabled="scope.row.disabled"
                                  >
                        </el-input>
                    </template>
                </el-table-column>
                <el-table-column v-if="px==4"  min-width="60"
                        label="尺码">
                    <template slot-scope="scope">
                        <el-input size="mini" v-if="scope.row.type==1"
                                  placeholder="例:内衣(75B)"
                                  v-model="scope.row.cup" :disabled="scope.row.disabled"
                                  >
                        </el-input>
                        <el-input size="mini" v-if="scope.row.type==2"
                                  placeholder="例:其它(76L)"
                                  v-model="scope.row.size" :disabled="scope.row.disabled"
                                  >
                        </el-input>
                    </template>
                </el-table-column>
                <el-table-column  min-width="100" prop="total"
                        label="总额" :formatter="formatter">
                    <!--<template slot-scope="scope">
                        <el-input size="mini"
                                  placeholder=""
                                  v-model="scope.row.total" :disabled="scope.row.disabled"
                                  clearable>
                        </el-input>
                    </template>-->
                </el-table-column>
            </el-table>
        </div>
    </template>
</div>
</body>
</html>
<script src="../js/jquery.min.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/func.js"></script>
<script src="../js/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            title:'',
            scan_in:'',
            textarea:'',
            max_ht:0,
            px:'',
            dd:{
                sn: '',
                name: '',
                price: '',
                num: '',
                total: '',
                color: '',
                type: '',
                cup: '',
                size: '',
            },
            scan_list:[],
            list:'',
            now:'',
        },
        methods: {
            formatter(r){
                if(r.num==''){
                    return '0'
                }else{
                    return  (parseFloat(r.price)*parseInt(r.num)).toFixed(2)
                }
            },
            height(){
                var height=window.innerHeight;
                this.max_ht=window.innerHeight-112;
            },
            get_list(){
                $.get(url(methods.bills_info),{type:this.px},v=>{
                    this.list=v.res.list;
                    this.now=v.res.time;
                })
            },
            get_data(){
                console.log(this.scan_in)
                console.log(this.list)
                let y=0;
                for(let i of this.list){
                    if(i.sn==this.scan_in){
                        y=1;
                        let empty={
                            sn: this.scan_in,
                            name: i.name,
                            price: i.price,
                            num: '',
                            total: i.total,
                            color: i.color,
                            type: i.type,
                            cup:  i.cup,
                            size: i.size,
                            disabled:true,
                        }
                        this.scan_list.push(empty);
                    }
                }
                console.log(y)
                if(y==0){
                    let empty={
                        sn: this.scan_in,
                        name: '',
                        price: '',
                        num: '',
                        total: '',
                        color: '',
                        type: '',
                        cup: '',
                        size: '',
                        disabled:false
                    }
                    this.scan_list.push(empty);
                }
            }
        },
        mounted() {
            this.$nextTick(e=>{
                //初始化
                that = this;
                loginState()
                this.height()
                this.px = localStorage.getItem('px');
                switch (parseInt(this.px)){
                    case 1:
                        this.title='产品';
                        break;
                    case 2:
                        this.title='套盒';
                        break;
                    case 3:
                        this.title='项目耗材';
                        break;
                    case 4:
                        this.title='内衣';
                        break;
                    default:
                        break;
                }
                this.get_list()
            })
        }
    })
</script>