<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>今日总营业额</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/today_total.css">
</head>
<body class="today_total">

<div id="app" class="customer">
    <template>
        <p class="cus_title">
            <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item><a href="home.html" target="iframe">工作台首页</a></el-breadcrumb-item>
                <el-breadcrumb-item>今日总营业额</el-breadcrumb-item>
            </el-breadcrumb>
        </p>
        <div class="total_div">
            <!--<el-button type="primary">按日<i class="el-icon-refresh"></i></el-button>
            <el-date-picker
                    v-model="value7"
                    type="daterange"
                    align="right"
                    unlink-panels
                    range-separator="至"
                    start-placeholder="开始日期"
                    end-placeholder="结束日期"
                    :picker-options="pickerOptions2">
            </el-date-picker>-->
            <div class="block" style="width:400px">
                <el-date-picker style="float: left;"
                        v-model="time"
                        type="daterange"
                        range-separator="至"
                        value-format="yyyy-MM-dd"
                        start-placeholder="开始日期"
                        end-placeholder="结束日期">
                </el-date-picker>
            </div>
            <el-input class="total_sea" style="float: right;"
                    placeholder="请输入会员姓名搜索"
                    prefix-icon="el-icon-search"
                    v-model="input">
            </el-input>
        </div>
        <el-table class="tt_table"
                  :data="list.filter(data => !input || data.name.toLowerCase().includes(input.toLowerCase()))"
                  style="width: 100%">
            <el-table-column
                    :formatter="formatter"
                    prop="type"
                    label="品项">
            </el-table-column>
            <el-table-column
                    prop="time"
                    label="时间">
            </el-table-column>
            <el-table-column
                    label="客户">
                <template slot-scope="scope">
                    <i class="cursor" @click="jump(scope.row)">{{scope.row.name}}</i>
                </template>
            </el-table-column>
            <el-table-column
                    prop="goods_name"
                    label="商品名称" min-width="170">
            </el-table-column>
            <el-table-column
                    prop="total_price"
                    label="总金额">
            </el-table-column>
            <el-table-column
                    label="已支付">
                <template slot-scope="scope">
                    <i v-if="scope.row.status==1||scope.row.status==2">{{scope.row.one_total}}</i>
                    <i v-if="scope.row.status==3">{{scope.row.money}}</i>
                </template>
            </el-table-column>
            <el-table-column
                    :formatter="formatterw"
                    label="未支付">
            </el-table-column>
            <el-table-column
                    prop="status"
                    label="类型"
                    :formatter="formatter2">
            </el-table-column>
            <el-table-column
                    prop="is_back"
                    label="状态"
                    :formatter="formatter3">
            </el-table-column>
            <el-table-column label="支付明细">
                <template slot-scope="scope">
                    <el-button type="primary" @click="pay_data=scope.row;pay_dio=true" plain size="mini">查看</el-button>
                </template>
            </el-table-column>
        </el-table>
        <!--<p class="linr_four">
            <i class="cr">总营业额：￥{{total}}</i>
            <el-pagination class="fr"
                           @size-change="handleSizeChange"
                           @current-change="handleCurrentChange"
                           :current-page="currentPage4"
                           :page-sizes="[100, 200, 300, 400]"
                           :page-size="100"
                           layout="total, sizes, prev, pager, next, jumper"
                           :total="400">
            </el-pagination>
        </p>-->

        <!--支付明细-->
        <el-dialog
                title="支付明细"
                :visible.sync="pay_dio"
                center>
            <ul class="pay_ul">
                <li>
                    卡扣支付：{{pay_data.card_pay}}
                </li>
                <li>
                    余额支付：{{pay_data.account_pay}}
                </li>
                <li>
                    赠额支付：{{pay_data.send_money_pay}}
                </li>
                <li>
                    现金支付：{{pay_data.cash_pay}}
                </li>
                <li>
                    微信支付：{{pay_data.wx_pay}}
                </li>
                <li>
                    支付宝支付：{{pay_data.zfb_pay}}
                </li>
                <li>
                    银行卡支付：{{pay_data.bank_pay}}
                </li>
                <li>
                    美团支付：{{pay_data.mt_pay}}
                </li>
                <li>
                    大众点评支付：{{pay_data.dzdp_pay}}
                </li>
                <li>
                    收钱吧支付：{{pay_data.sqb_pay}}
                </li>
                <li>
                    优惠券支付：{{pay_data.coupon_pay}}
                </li>
                <li>
                    合计消费：{{pay_data.money}}
                </li>
            </ul>
        </el-dialog>
    </template>
</div>

</body>
</html>
<script src="../js/jquery.min.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/func.js"></script>
<script src="../js/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            pay_data:'',
            pay_dio:false,
            input:'',
            pickerOptions2: {
                shortcuts: [{
                    text: '最近一周',
                    onClick(picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                        picker.$emit('pick', [start, end]);
                    }
                }, {
                    text: '最近一个月',
                    onClick(picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                        picker.$emit('pick', [start, end]);
                    }
                }, {
                    text: '最近三个月',
                    onClick(picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                        picker.$emit('pick', [start, end]);
                    }
                }]
            },
            value7: '',
            currentPage4: 4,
            tableData: [{
                pro_item: '项目',
                pro_name: '肩颈理疗',
                con_money:'26526',
                beautician:'丽萨'
            }, {
                pro_item: '项目',
                pro_name: '肩颈理疗',
                con_money:'26526',
                beautician:'丽萨'
            }, {
                pro_item: '项目',
                pro_name: '肩颈理疗',
                con_money:'26526',
                beautician:'丽萨'
            }, {
                pro_item: '项目',
                pro_name: '肩颈理疗',
                con_money:'26526',
                beautician:'丽萨'
            }],

            list: [],
            total: 0,
            time: '',
            s: '',
            e: '',
        },
        watch: {
            time(v){
                if(v!=null){
                    this.s = v[0]
                    this.e = v[1]
                }
                this.getData()
            }
        },
        methods: {
            formatter3(r, c) {
                if(r.is_back==1){
                    return '正常';
                }else if(r.is_back==2){
                    return '退单';
                }else if(r.is_back==3){
                    return '欠款';
                }else if(r.is_back==4){
                    return '赠送';
                }
            },
            formatterw(r, c) {
                if(r.status==1||r.status==2){
                    if(r.is_back!=4){
                        return (parseFloat(r.total_price)-parseFloat(r.one_total)).toFixed(2);
                    }else if(r.is_back==4){
                        return 0;
                    }
                }else if(r.status==3){
                    if(r.is_back!=4) {
                        return (parseFloat(r.total_price) - parseFloat(r.money)).toFixed(2);
                    }else if(r.is_back==4){
                        return 0;
                    }
                }
            },
            formatter2(r, c) {
                if(r.status == 1 && r.type != 6){
                    if(r.card_pay!=0){
                        return '消费/卡扣'
                    }else{
                        return '消费'
                    }
                }else if(r.status == 2 && r.type != 6){
                    return '消耗'
                }else if(r.status == 3){
                    return '充值'
                }
            },
            jump(v) {
                localStorage.setItem('user_id', v.uid)
                location.href = 'vip_information.html'
            },
            formatter(r, c) {
                if(r.type == 1){
                    return '产品'
                }else if(r.type == 2) {
                    return '套盒'
                }else if(r.type == 3) {
                    return '项目'
                }else if(r.type == 4) {
                    return '方案'
                }else if(r.type == 5) {
                    return '卡项'
                }else if(r.type == 6) {
                    return '账户'
                }else if(r.type == 7) {
                    return '内衣'
                }
            },
            getData() {
                $.get(url(methods.total)+`&start=${this.s}&end=${this.e}`, v=>{
                    if(v.code==1){
                        this.list = v.res.arr
                        this.total = v.res.xf_total_money
                    }else{
                        error('请求失败')
                    }
                })
            },
            handleSizeChange(val) {
                console.log(`每页 ${val} 条`);
            },
            handleCurrentChange(val) {
                console.log(`当前页: ${val}`);
            }
        },
        mounted() {
            this.$nextTick(e=>{
                //初始化
                that = this;
                loginState()
                this.getData()
            })
        }
    })
</script>