<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>会员档案</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/vip_information.css">
</head>
<body class="information">

<div id="app" class="customer">
    <template>
        <p class="cus_title">
            <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item :to="{ path: '/' }">信息管理</el-breadcrumb-item>
                <el-breadcrumb-item>会员管理</el-breadcrumb-item>
                <el-breadcrumb-item>会员档案</el-breadcrumb-item>
            </el-breadcrumb>
        </p>
        <el-tabs type="card" @tab-click="handleClick"
                 class="vip_infor" v-if="userInfo != null">
            <el-tab-pane label="基本资料">
                <div class="basic_inf">
                    <ul class="basic_ul">
                        <li>
                            <p>
                                姓名：
                                <el-input v-model="userInfo.name" placeholder="请输入"
                                          class="infor_wid un_line_h"></el-input>
                            </p>
                            <p>
                                性别：
                                <el-select v-model="userInfo.sex" placeholder="请选择" class="sele_wid">
                                    <el-option
                                            v-for="item in options"
                                            :label="item.label"
                                            :value="item.value">
                                    </el-option>
                                </el-select>
                            </p>
                            <p>会员编号：
                                <el-input v-model="userInfo.num" placeholder="请输入" disabled
                                          class="infor_wid un_line_h"></el-input>
                            </p>
                        </li>
                        <li>
                            <p>
                                手机：
                                <el-input v-model="userInfo.tel" placeholder="请输入"
                                          class="infor_wid un_line_h"></el-input>
                            </p>
                            <p>
                                生日：
                                <el-select v-model="userInfo.bir_type" placeholder="请选择" class="sele_wid">
                                    <el-option
                                            v-for="item in calss"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                    </el-option>
                                </el-select>
                                <el-date-picker
                                        v-model="userInfo.yl"
                                        type="date"
                                        value-format="yyyy-MM-dd"
                                        placeholder="选择日期" class="time_wid">
                                </el-date-picker>
                            </p>
                            <p>
                                入会时间：
                                <el-date-picker
                                        disabled
                                        v-model="userInfo.create_time"
                                        type="date"
                                        placeholder="选择日期" class="time_wid">
                                </el-date-picker>
                            </p>
                        </li>
                        <li>
                            <p>
                                地址：
                                <el-input v-model="userInfo.address" placeholder="请输入"
                                          class="infor_wid un_line_h"></el-input>
                            </p>
                            <p>
                                婚姻状况：
                                <el-select v-model="userInfo.marital" placeholder="请选择" class="sele_wid">
                                    <el-option
                                            v-for="item in status"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                    </el-option>
                                </el-select>
                                <!--<el-date-picker
                                        v-model="birth"
                                        type="date"
                                        placeholder="选择日期" class="time_wid">
                                </el-date-picker>-->
                            </p>
                            <p>&nbsp;</p>
                    </ul>
                    <div class="bottom_but">
                        <el-button type="success" @click="modifyUser">修改</el-button>
                    </div>
                </div>
            </el-tab-pane>
            <el-tab-pane label="会员产品">
                <div class="basic_inf">
                    <el-button type="success" class="fr" @click="del(1)"
                               style="margin:5px 10px;">批量删除
                    </el-button>
                    <el-table
                            :data="cpList"
                            style="width: 100%"
                            @selection-change="handle">
                        <el-table-column
                                type="selection"
                                width="60">
                        </el-table-column>
                        <el-table-column
                                prop="goods_name"
                                label="产品名称">
                        </el-table-column>
                        <el-table-column
                                prop="price"
                                label="价格">
                        </el-table-column>
                        <el-table-column
                                prop="time"
                                label="时间">
                        </el-table-column>
                        <el-table-column
                                prop="sum"
                                label="数量">
                        </el-table-column>
                        <!--<el-table-column
                                prop="dis_price"
                                label="折后金额">-->
                        </el-table-column>
                        <el-table-column label="操作">
                            <template slot-scope="scope">
                                <el-button type="danger" size="mini" @click="del(1, scope.row, 2)">删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <div class="total">
                      <span class="fl">
                      <p class="cr">汇总：</p>
                    <p class="money_total">累计购买金额：{{total}}</p>
                    <p class="money_total">欠款：{{arrears}}</p>
                  </span>
                        <el-button type="success" class="go_buy fr" @click="jump">购买产品</el-button>
                    </div>
                </div>
            </el-tab-pane>
            <el-tab-pane label="会员项目">
                <div class="basic_inf">
                    <el-button type="success" class="fr" @click="del(2)" style="margin:5px 10px;">批量删除</el-button>
                    <el-table
                            :data="itemsList"
                            style="width: 100%"
                            @selection-change="handle2">
                        <el-table-column
                                type="selection"
                                width="60">
                        </el-table-column>
                        <el-table-column
                                prop="name"
                                label="项目名称">
                        </el-table-column>
                        <el-table-column
                                prop="price"
                                label="价格">
                        </el-table-column>
                        <el-table-column
                                prop="current_num"
                                label="剩余次数">
                        </el-table-column>
                        <el-table-column
                                prop="originally_num"

                                label="总次数">
                        </el-table-column>
                        <!--<el-table-column
                                prop="dis_price"
                                label="折后金额">
                        </el-table-column>-->
                        <el-table-column label="操作">
                            <template slot-scope="scope">
                                <el-button type="danger" size="mini" @click="del(2, scope.row, 2)">删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <div class="total">
                    <span class="fl">
                          <p class="cr">汇总：</p>
                        <p class="money_total">剩余次数：{{num}}</p>
                        <p class="money_total">欠款：{{arrears2}}</p>
                    </span>
                        <el-button type="success" class="go_buy fr" @click="jump">购买项目</el-button>
                    </div>
                </div>
            </el-tab-pane>
            <el-tab-pane label="会员套盒">
                <div class="basic_inf">
                    <el-button type="success" class="fr" @click="del(3)" style="margin:5px 10px;">批量删除</el-button>
                    <el-table
                            :data="boxList"
                            style="width: 100%"
                            @selection-change="handle3">
                        <el-table-column
                                type="selection"
                                width="60">
                        </el-table-column>
                        <el-table-column
                                prop="name"
                                label="套盒名称">
                        </el-table-column>
                        <el-table-column
                                prop="price"
                                label="价格">
                        </el-table-column>
                        <el-table-column
                                prop="current_num"
                                label="剩余次数">
                        </el-table-column>
                        <el-table-column
                                prop="originally_num"
                                label="总次数">
                        </el-table-column>
                        <!--<el-table-column
                                prop="dis_price"
                                label="折后金额">
                        </el-table-column>-->
                        <el-table-column label="操作">
                            <template slot-scope="scope">
                                <el-button type="danger" size="mini" @click="del(3, scope.row, 2)">删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <div class="total">
                      <span class="fl">
                      <p class="cr">汇总：</p>
                    <p class="money_total">剩余次数：{{num2}}</p>
                    <p class="money_total">欠款：{{arrears3}}</p>
                  </span>
                        <el-button type="success" class="go_buy fr" @click="jump">购买套盒</el-button>
                    </div>
                </div>
            </el-tab-pane>
            <el-tab-pane label="优惠券查看">
                <div class="basic_inf">
                    <el-table
                            :data="coupon"
                            style="width: 100%">
                        <el-table-column
                                prop="coupon_name"
                                label="优惠券类型">
                        </el-table-column>
                        <el-table-column
                                prop="coupon_num"
                                label="数量">
                        </el-table-column>
                        <el-table-column
                                prop="start_time"
                                label="开始时间">
                        </el-table-column>
                        <el-table-column
                                prop="end_time"
                                label="结束时间">
                        </el-table-column>
                    </el-table>
                </div>
            </el-tab-pane>
            <el-tab-pane label="所持卡项">
                <div class="basic_inf">
                    <el-table
                            :data="card"
                            style="width: 100%">
                        <el-table-column
                                :formatter="formatter"
                                prop="name"
                                label="类型">
                        </el-table-column>
                        <el-table-column
                                prop="name"
                                label="名称">
                        </el-table-column>
                        <el-table-column
                                prop="amount"
                                label="余额">
                        </el-table-column>
                        <!--<el-table-column label="操作">
                            <template slot-scope="scope">
                                <a href="#" class="cr">删除</a>
                            </template>
                        </el-table-column>-->
                    </el-table>
                </div>
            </el-tab-pane>
            <el-tab-pane label="积分">
                <div class="basic_inf">
                    <el-table
                            :data="integer"
                            style="width: 100%">
                        <el-table-column
                                prop="time"
                                label="日期">
                        </el-table-column>
                        <el-table-column
                                :formatter="formatter"
                                prop="status"
                                label="状态">
                        </el-table-column>
                        <el-table-column
                                prop="integral"
                                label="积分">
                        </el-table-column>
                        <!--<el-table-column
                                prop="status"
                                label="消费商品">
                        </el-table-column>
                        <el-table-column
                                prop="time"
                                label="划扣积分">
                        </el-table-column>
                        <el-table-column
                                prop="time"
                                label="存入积分">
                        </el-table-column>
                        <el-table-column
                                prop="time"
                                label="经手人">
                        </el-table-column>-->
                        <!--<el-table-column label="操作">
                            <template slot-scope="scope">
                                <a href="#" class="cr">删除</a>
                            </template>
                        </el-table-column>-->
                    </el-table>
                    <!--<div class="total">
                    <span class="fl">
                          <p class="cr">汇总：</p>
                        <p class="money_total">累计积分：23565分</p>
                        <p class="money_total">可用积分：562分</p>
                    </span>
                        <el-button type="success" class="go_buy fr">新增记录</el-button>
                    </div>-->
                </div>
            </el-tab-pane>
            <el-tab-pane label="欠款">
                <div class="basic_inf">
                    <el-table
                            :data="arrearsList"
                            style="width: 100%">
                        <el-table-column
                                prop="time"
                                label="购买日期">
                        </el-table-column>
                        <el-table-column
                                prop="buy_name"
                                label="消费商品">
                        </el-table-column>
                        <!--<el-table-column
                                prop="time"
                                label="摘要">
                        </el-table-column>-->
                        <el-table-column
                                prop="money"
                                label="欠款金额">
                        </el-table-column>
                        <!--<el-table-column
                                prop="time"
                                label="经手人">
                        </el-table-column>-->
                        <el-table-column label="操作">
                            <template slot-scope="scope">
                                <a href="#" class="cr" @click="bk(scope.row.id)">补款</a>
                            </template>
                        </el-table-column>
                    </el-table>
                    <div class="total">
                    <span class="fl">
                          <p class="cr">汇总：</p>
                        <p class="money_total">欠款合计：{{totalArrears}}元</p>
                    </span>
                    </div>
                </div>
            </el-tab-pane>
            <el-tab-pane label="健康档案">
                <div class="basic_inf height">
                    <p class="body_c p_div">身体问题</p>
                    <div class="pro_div">
                        <el-button type="primary" round size="mini" @click="dialogVisible = true">头部</el-button>
                        <el-button round size="mini">头部</el-button>
                    </div>
                    <p class="skin_c p_div">皮肤问题</p>
                    <div class="pro_div">
                        <el-button type="primary" round size="mini">面部</el-button>
                        <el-button round size="mini">面部</el-button>
                    </div>
                    <div class="choiced" style="width: 100%;">
                        <p class="heal_title">已选择</p>
                        <ul class="pro_ul">
                            <li class="c_title p_div">
                                面部：
                                <el-button type="primary" round size="mini">长痘</el-button>
                                <i class="el-icon-error"></i>
                            </li>
                            <li class="c_title p_div">
                                面部：
                                <el-button type="primary" round size="mini">长痘</el-button>
                            </li>
                        </ul>

                        <div class="bottom_but">
                            <el-button type="success">提交</el-button>
                        </div>
                    </div>
                </div>
            </el-tab-pane>
        </el-tabs>
        <el-dialog
                title="面部"
                :visible.sync="dialogVisible"
                width="30%" center>
            <div>
                <el-checkbox-group v-model="checkList">
                    <el-checkbox label="复选框 A"></el-checkbox>
                    <el-checkbox label="复选框 B"></el-checkbox>
                    <el-checkbox label="复选框 C"></el-checkbox>
                    <el-checkbox label="ded"></el-checkbox>
                    <el-checkbox label="dwd"></el-checkbox>
                </el-checkbox-group>
            </div>
            <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
      </span>
        </el-dialog>
    </template>
</div>

</body>
</html>
<script src="../js/jquery.min.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/func.js"></script>
<script src="../js/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            checkList: '',
            dialogVisible: false,
            input: '',
            options: [{
                value: '2',
                label: '男'
            }, {
                value: '1',
                label: '女'
            }],
            calss: [{
                value: 2,
                label: '农历'
            }, {
                value: 1,
                label: '阳历'
            }],
            status: [{
                value: 1,
                label: '已婚'
            }, {
                value: 2,
                label: '未婚'
            }],
            value: '',
            birth: '',
            tableData: [{
                classify: '面部',
                name: '补水面膜',
                price: '1235',
                time: '2019-02-12',
                discount: '4折',
                dis_price: '262'
            }, {
                classify: '面部',
                name: '补水面膜',
                price: '1235',
                time: '2019-02-12',
                discount: '4折',
                dis_price: '262'
            }, {
                classify: '面部',
                name: '补水面膜',
                price: '1235',
                time: '2019-02-12',
                discount: '4折',
                dis_price: '262'
            }, {
                classify: '面部',
                name: '补水面膜',
                price: '1235',
                time: '2019-02-12',
                discount: '4折',
                dis_price: '262'
            }],

            userId: 0,
            userInfo: null,
            cpList: [],
            arrears: 0,
            total: 0,
            num: 0,
            arrears2: 0,
            itemsList: [],
            num2: 0,
            arrears3: 0,
            boxList: [],
            coupon: [],
            card: [],
            integer: [],
            arrearsList: [],
            totalArrears: 0,
            arr: [],
            arr2: [],
            arr3: [],
        },
        methods: {
            bk(id) {
                localStorage.setItem('type', 2)
                localStorage.setItem('bkId', id)
                location.href = './pay_page.html'
            },
            handle(val) {
                if (val.length == 0) {
                    this.arr = []
                    return
                }
                for (let v of val) {
                    this.arr.push(v.id)
                }
            },
            handle2(val) {
                if (val.length == 0) {
                    this.arr2 = []
                    return
                }
                for (let v of val) {
                    this.arr2.push(v.id)
                }
            },
            handle3(val) {
                if (val.length == 0) {
                    this.arr3 = []
                    return
                }
                for (let v of val) {
                    this.arr3.push(v.id)
                }
            },
            del(t, v, t2 = 1) {
                if (!confirm('是否删除')) {
                    return
                }
                let a = []
                if (t == 1) {
                    if (t2 == 1 && this.arr.length == 0) {
                        return
                    }
                    if (t2 == 1) {
                        a = this.arr
                    } else {
                        a.push(v.id)
                    }
                } else if (t == 2) {
                    if (t2 == 1 && this.arr2.length == 0) {
                        return
                    }
                    if (t2 == 1) {
                        a = this.arr2
                    } else {
                        a.push(v.id)
                    }
                } else if (t == 3) {
                    if (t2 == 1 && this.arr3.length == 0) {
                        return
                    }
                    if (t2 == 1) {
                        a = this.arr3
                    } else {
                        a.push(v.id)
                    }
                }
                $.post(url(methods.delWhich), {data: JSON.stringify(a), type: t}, v => {
                    if (v.code == 0) {
                        if (t == 1) {
                            this.getCp()
                        } else if (t == 2) {
                            this.getBoxItems('items')
                        } else if (t == 3) {
                            this.getBoxItems('box')
                        }
                        success(v.data)
                    } else {
                        error(v.msg)
                    }
                })
            },
            jump() {
                location.href = './buy.html'
            },
            getArrears() {
                $.get(url(methods.aloneArrears) + `&mid=${this.userId}`, v => {
                    this.arrearsList = v.list
                    for (let x of v.list) {
                        this.totalArrears += parseFloat(x.price)
                    }
                })
            },
            getIntegral() {
                $.get(url(methods.integralRecord) + `&mid=${this.userId}`, v => {
                    this.integer = v.record
                })
            },
            formatter2(r, c) {
                if (r.bir_type == 1) {
                    return '赠送'
                } else {
                    return '划扣'
                }
            },
            formatter(r, c) {
                if (r.bir_type == 1) {
                    return '无折扣消费卡'
                } else {
                    return '折扣消费卡'
                }
            },
            getCard() {
                $.get(url(methods.cardList) + `&mid=${this.userId}`, v => {
                    this.card = v.res
                })
            },
            getCoupon() {
                $.post(url(methods.haveCoupon), {mid: this.userId}, v => {
                    this.coupon = v.data
                })
            },
            handleClick(tab, event) {
                if (tab.index == 0) {
                    this.getDetail()
                } else if (tab.index == 1) {
                    this.getCp()
                } else if (tab.index == 2) {
                    this.getBoxItems('items')
                } else if (tab.index == 3) {
                    this.getBoxItems('box')
                } else if (tab.index == 4) {
                    this.getCoupon()
                } else if (tab.index == 5) {
                    this.getCard()
                } else if (tab.index == 6) {
                    this.getIntegral()
                } else if (tab.index == 7) {
                    this.getArrears()
                }
            },
            getBoxItems(t) {
                $.get(url(methods.boxItems) + `&mid=${this.userId}&type=${t}`, v => {
                    if (v.code == 1) {
                        if (t == 'items') {
                            this.num = v.res.total_num
                            this.itemsList = v.res.list
                            this.arrears2 = v.res.total_arrears
                        } else {
                            this.num2 = v.res.total_num
                            this.boxList = v.res.list
                            this.arrears3 = v.res.total_arrears
                        }
                    } else {
                        error('请求出错')
                    }
                })
            },
            getCp() {
                $.post(url(methods.haveProductList), {mid: this.userId}, v => {
                    if (v.code == 1) {
                        let t = 0
                        for (let x of v.list) {
                            t += x.sum * x.price
                        }
                        this.total = t
                        this.cpList = v.list
                        this.arrears = v.arrears
                    } else {
                        error('请求出错')
                    }
                })
            },
            modifyUser() {
                if (this.userInfo.name == '' || this.userInfo.tel == '' || this.userInfo.address == '' || this.userInfo.marital == ''
                    || this.userInfo.id == '' || this.userInfo.bir_type == '' || this.userInfo.birthday == '' || this.userInfo.sex == '') {
                    error('请填完以上内容')
                    return
                }
                $.post(url(methods.editUser), {
                    data: {
                        name: this.userInfo.name,
                        tel: this.userInfo.tel,
                        address: this.userInfo.address,
                        id: this.userInfo.id,
                        bir_type: this.userInfo.bir_type,
                        birthday: this.userInfo.yl,
                        marital: this.userInfo.marital,
                        sex: this.userInfo.sex,
                    }
                }, v => {
                    if (v.code == 1) {
                        success(v.Msg)
                    } else {
                        error(v.errorMsg)
                    }
                })
            },
            getDetail() {
                $.get(url(methods.userInfo) + `&id=${this.userId}`, v => {
                    if (v.code == 0) {
                        v.data.sex = v.data.sex.toString()
                        this.userInfo = v.data
                    } else {
                        error('请求出错')
                    }
                })
            },
        },
        mounted() {
            this.$nextTick(e => {
                //初始化
                that = this;
                loginState()
                this.userId = localStorage.getItem('user_id')
                this.getDetail()
            })
        }
    })
</script>