<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>仓库详情</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/vip_information.css">
    <link rel="stylesheet" type="text/css" href="../css/add_archives.css">
    <style>
        .line_input {
            width: 50px;
        }

        .line_input input {
            border: none;
            border-bottom: 1px solid #dcdfe6;
            border-radius: 0;
            background: transparent;
        }

        .li_input {
            width: 60px;
            margin: 0 10px;
        }

        .store_tabs {
            width: 70%;
            margin: 5px auto;
            display: block;
        }

        .store_tabs label {
            display: inline-block;
            width:25%;
        }

        .store_tabs label span {
            display: inline-block;
            width: 100%;
        }
    </style>
</head>
<body class="information">

<div id="app" class="customer">
    <template>
        <p class="cus_title">
            <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item><a href="home.html" target="iframe">工作台首页</a></el-breadcrumb-item>
                <el-breadcrumb-item>仓库管理</el-breadcrumb-item>
            </el-breadcrumb>
        </p>
        <el-tabs type="card" @tab-click="myClick" class="vip_infor">
            <el-tab-pane label="出入库管理/其他设置">
                <div class="cus_center">
                    <el-input class="cus_seatch" style="float: left"
                              placeholder="请输入内容"
                              prefix-icon="el-icon-search"
                              v-model="input">
                    </el-input>
                    <!--<span>
                            按数量查找：
                        <el-radio v-model="radio" label="1">
                            大于等于
                            <el-input style="width: 80px" v-model="one" type="number" placeholder=""
                                      class="line_input" @blur="con(one)"></el-input>个
                        </el-radio>
                        <el-radio v-model="radio" label="2">
                          小于等于
                            <el-input style="width: 80px" v-model="two" type="number" placeholder=""
                                      class="line_input" @blur="con(two)"></el-input>个
                      </el-radio>
                    </span>-->
                    <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span>
                        库存小于(x)预警：
                        <el-input v-model="warning.start_num" type="number" placeholder="" class="li_input"></el-input>
                        <i class="blue_c" @click="yjSet">修改</i>
                    </span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span>
                        库存大于(x)预警：
                        <el-input v-model="warning.end_num" type="number" placeholder="" class="li_input"></el-input>
                        <i class="blue_c" @click="yjSet">修改</i>
                    </span>-->
                    <el-button type="success" class="fr" @click="pull">同步商品</el-button>
                </div>
                <div>
                    库存小于(x)预警：
                    <el-input v-model="warning.start_num" type="number" placeholder="" class="li_input"></el-input>
                    <i class="blue_c" @click="yjSet">修改</i>
                    <!--<el-button type="warning" class="fr" @click="scan_Dio=true">批量扫码入库</el-button>-->
                </div>
                <div>
                    库存大于(x)预警：
                    <el-input v-model="warning.end_num" type="number" placeholder="" class="li_input"></el-input>
                    <i class="blue_c" @click="yjSet">修改</i>
                </div>
                <!--:data="list.filter( data => (!input || data.name.toLowerCase().includes(input.toLowerCase()))
                && (one>0?data.stock>=one:true || two>0?data.stock<=two:true))"-->
                <div class="basic_inf">
                    <el-table
                            :data="list.filter( data => (!input ||(data.name==null?false:data.name.toLowerCase().includes(input.toLowerCase()))))"
                            style="width: 100%">
                        <el-table-column
                                prop="type"
                                label="品项"
                                :formatter="formatter">
                        </el-table-column>
                        <el-table-column
                                prop="name"
                                label="名称">
                        </el-table-column>
                        <el-table-column
                                prop="stock"
                                label="实时库存">
                        </el-table-column>
                        <el-table-column
                                prop="beforehand_num"
                                label="已预售">
                        </el-table-column>
                        <el-table-column label="操作">
                            <template slot-scope="scope">
                                <el-button type="success" size="mini" @click="now=scope.row;in_ware=true">入库</el-button>
                                <el-button type="danger" size="mini" @click="now=scope.row;out_ware=true">出库</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
            </el-tab-pane>

            <el-tab-pane label="出库流水记录">
                <div class="cus_center">
                    <el-input class="cus_seatch"
                              placeholder="请输入商品名称/操作人"
                              v-model="input2">
                        <i slot="prefix" class="el-input__icon el-icon-search"></i>
                    </el-input>
                    <el-date-picker class="cus_seatch"
                                    value-format="yyyy-MM-dd"
                                    v-model="value"
                                    type="date"
                                    placeholder="选择日期查询">
                    </el-date-picker>
                </div>
                <div class="basic_inf">
                    <el-table
                            :data="myOut.filter(data => !input2 || data.name.toLowerCase().includes(input2.toLowerCase()) ||
                            data.operation_human.toLowerCase().includes(input2.toLowerCase()))"
                            style="width: 100%">
                        <el-table-column
                                prop="time"
                                label="出库时间">
                        </el-table-column>
                        <el-table-column
                                prop="name"
                                label="名称">
                        </el-table-column>
                        <!--<el-table-column
                                prop="handle"
                                label="手动出库">
                        </el-table-column>-->
                        <el-table-column
                                prop="sum"
                                label="出库数量">
                        </el-table-column>
                        <el-table-column
                                prop="operation_human"
                                label="操作人">
                        </el-table-column>
                    </el-table>
                </div>
            </el-tab-pane>

            <el-tab-pane label="入库流水记录">
                <div class="cus_center">
                    <el-input class="cus_seatch"
                              placeholder="请输入商品名称/操作人"
                              v-model="input2">
                        <i slot="prefix" class="el-input__icon el-icon-search"></i>
                    </el-input>
                    <el-date-picker class="cus_seatch"
                                    value-format="yyyy-MM-dd"
                                    v-model="value2"
                                    type="date"
                                    placeholder="选择日期">
                    </el-date-picker>
                </div>
                <div class="basic_inf">
                    <el-table
                            :data="myIn.filter(data => !input2 || data.name.toLowerCase().includes(input2.toLowerCase()) ||
                            data.operation_human.toLowerCase().includes(input2.toLowerCase()))"
                            style="width: 100%">
                        <el-table-column
                                prop="time"
                                label="入库时间">
                        </el-table-column>
                        <el-table-column
                                prop="name"
                                label="名称">
                        </el-table-column>
                        <el-table-column
                                prop="sum"
                                label="入库数量">
                        </el-table-column>
                        <el-table-column
                                prop="operation_human"
                                label="操作人">
                        </el-table-column>
                    </el-table>
                </div>
            </el-tab-pane>
            <el-tab-pane label="商品调仓"  v-if="false">
                <div class="cus_center">
                    <el-input class="cus_seatch"
                              placeholder="请输入商品名称"
                              v-model="input4">
                        <i slot="prefix" class="el-input__icon el-icon-search"></i>
                    </el-input>
                </div>
                <div class="basic_inf">
                    <el-table
                            :data="list2.filter(data => !input4 || data.name.toLowerCase().includes(input4.toLowerCase()) )"
                            style="width: 100%">
                        <el-table-column
                                prop="name"
                                label="名称">
                        </el-table-column>
                        <el-table-column
                                prop="stock"
                                label="剩余库存">
                        </el-table-column>
                        <el-table-column
                                label="操作">
                            <template slot-scope="scope">
                                <el-button
                                        size="mini" type="primary"
                                        @click="nowData=scope.row;d_cang_dio=true">调仓
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
            </el-tab-pane>
            <el-tab-pane label="库存盘点">

                <div class="cus_center">
                    <el-radio-group v-model="nowPos" class="store_tabs">
                        <el-radio-button label="产品"></el-radio-button>
                        <el-radio-button label="套盒"></el-radio-button>
                        <el-radio-button label="耗材"></el-radio-button>
                        <el-radio-button label="内衣"></el-radio-button>
                    </el-radio-group>
                    <el-input class="cus_seatch"
                              placeholder="请输入商品名称"
                              v-model="input3">
                        <i slot="prefix" class="el-input__icon el-icon-search"></i>
                    </el-input>
                    <span v-show="nowPos=='内衣'">
                        总库存：{{total_stock}}
                    </span>
                    <el-button type="success" class="fr" @click="getDetail">盈亏数</el-button>
                    <el-button type="primary" class="fr" style="margin-right: 10px" @click="sub">保存</el-button>
                </div>
                <div class="basic_inf">
                    <el-table v-show="nowPos=='产品'"
                              :data="goods.filter(data => !input3 || data.goods_name.toLowerCase().includes(input3.toLowerCase()) )"
                              style="width: 100%">

                        <el-table-column
                                prop="goods_name"
                                label="名称">
                        </el-table-column>
                        <el-table-column
                                prop="inventory_time"
                                label="日期">
                        </el-table-column>
                        <el-table-column
                                prop="stock"
                                label="库存数量">
                        </el-table-column>
                        <el-table-column
                                label="盘点数">
                            <template slot-scope="scope">
                                <el-input
                                        placeholder="请输入现有数量"
                                        v-model="scope.row.nowNum"
                                        clearable>
                                </el-input>
                            </template>
                        </el-table-column>
                        <el-table-column
                                label="盈亏数">
                            <template slot-scope="scope">
                                <el-input
                                        placeholder="请输入盈亏数"
                                        v-model="scope.row.pdNum"
                                        clearable>
                                </el-input>
                            </template>
                        </el-table-column>
                    </el-table>

                    <el-table v-show="nowPos=='套盒'"
                              :data="th.filter(data => !input3 || data.box_name.toLowerCase().includes(input3.toLowerCase()) )"
                              style="width: 100%">

                        <el-table-column
                                prop="box_name"
                                label="名称">
                        </el-table-column>
                        <el-table-column
                                prop="inventory_time"
                                label="日期">
                        </el-table-column>
                        <el-table-column
                                prop="stock"
                                label="库存数量">
                        </el-table-column>
                        <el-table-column
                                label="盘点数">
                            <template slot-scope="scope">
                                <el-input
                                        placeholder="请输入现有数量"
                                        v-model="scope.row.nowNum"
                                        clearable>
                                </el-input>
                            </template>
                        </el-table-column>
                        <el-table-column
                                label="盈亏数">
                            <template slot-scope="scope">
                                <el-input
                                        placeholder="请输入盈亏数"
                                        v-model="scope.row.pdNum"
                                        clearable>
                                </el-input>
                            </template>
                        </el-table-column>
                    </el-table>

                    <el-table v-show="nowPos=='耗材'"
                              :data="hc.filter(data => !input3 || data.name.toLowerCase().includes(input3.toLowerCase()) )"
                              style="width: 100%">

                        <el-table-column
                                prop="name"
                                label="名称">
                        </el-table-column>
                        <el-table-column
                                prop="inventory_time"
                                label="日期">
                        </el-table-column>
                        <el-table-column
                                prop="stock"
                                label="库存数量">
                        </el-table-column>
                        <el-table-column
                                label="盘点数">
                            <template slot-scope="scope">
                                <el-input
                                        placeholder="请输入现有数量"
                                        v-model="scope.row.nowNum"
                                        clearable>
                                </el-input>
                            </template>
                        </el-table-column>
                        <el-table-column
                                label="盈亏数">
                            <template slot-scope="scope">
                                <el-input
                                        placeholder="请输入盈亏数"
                                        v-model="scope.row.pdNum"
                                        clearable>
                                </el-input>
                            </template>
                        </el-table-column>
                    </el-table>
                    <el-table v-show="nowPos=='内衣'"
                              :data="un.filter(data => !input3 ||(data.name==null?false:data.name.toLowerCase().includes(input3.toLowerCase()) ))"
                              style="width: 100%">

                        <el-table-column
                                prop="name"
                                label="名称">
                        </el-table-column>
                        <el-table-column
                                prop="sn"
                                label="编号">
                        </el-table-column>
                        <el-table-column
                                prop="color"
                                label="颜色">
                        </el-table-column>
                        <el-table-column
                                prop="cup"
                                label="杯型">
                        </el-table-column>
                        <el-table-column
                                prop="size"
                                label="大小">
                        </el-table-column>
                        <el-table-column
                                prop="time"
                                label="日期">
                        </el-table-column>
                        <el-table-column
                                prop="sum"
                                label="库存数量">
                        </el-table-column>
                        <el-table-column
                                label="盘点数">
                            <template slot-scope="scope">
                                <el-input
                                        placeholder="请输入现有数量"
                                        v-model="scope.row.nowNum"
                                        clearable>
                                </el-input>
                            </template>
                        </el-table-column>
                        <el-table-column
                                label="盈亏数">
                            <template slot-scope="scope">
                                <el-input
                                        placeholder="请输入盈亏数"
                                        v-model="scope.row.pdNum"
                                        clearable>
                                </el-input>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
            </el-tab-pane>
        </el-tabs>
        <!--盈亏数-->
        <el-dialog title="盈亏数"
                   :visible.sync="y_k_dio"
                   width="460px"
                   center>
            <div class="cus_center">
                <el-input class="cus_seatch"
                          placeholder="请输入商品名称"
                          v-model="input2">
                    <i slot="prefix" class="el-input__icon el-icon-search"></i>
                </el-input>
            </div>
            <div class="basic_inf">
                <el-table
                        :data="logs.filter(data => !input2 || data.name.toLowerCase().includes(input2.toLowerCase()) )"
                        style="width: 100%">

                    <el-table-column
                            prop="name"
                            label="名称">
                    </el-table-column>
                    <el-table-column
                            prop="inventory_time"
                            label="日期">
                    </el-table-column>
                    <el-table-column
                            prop="num"
                            label="盈亏数量">
                    </el-table-column>
                </el-table>
            </div>
        </el-dialog>
        <!--商品调仓-->
        <el-dialog title="商品调仓"
                   :visible.sync="d_cang_dio"
                   width="460px"
                   center
                   :before-close="close2">
            <ul class="goods_edit">
                <li>
                    <span class="list_left">当前已选</span>
                    <span class="list_right">
                        {{nowData.name}}
                    </span>
                </li>
                <li>
                    <span class="list_left">当前库存</span>
                    <span class="list_right">
                    {{nowData.stock}}
                </span>
                </li>
                <li>
                    <span class="list_left">可选仓库</span>
                    <span class="list_right">
                        <el-select v-model="value" placeholder="请选择" style="width: 100%">
                        <el-option
                                v-for="item in options">
                        </el-option>
                        </el-select>
                    </span>
                </li>
                <li>
                    <span class="list_left">调拨至</span>
                    <span class="list_right">
                        <el-select v-model="value" placeholder="请选择" style="width: 100%">
                        <el-option
                                v-for="item in options">
                        </el-option>
                        </el-select>
                    </span>
                </li>
                <li>
                    <span class="list_left">调拨数量</span>
                    <span class="list_right">
                    <el-input type="number" placeholder="请输入调拨数量" v-model="input"></el-input>
                </span>
                </li>
                <li>
                    <span class="list_left">操作人</span>
                    <span class="list_right">
                    <el-input type="number" placeholder="请输入操作人" v-model="input"></el-input>
                </span>
                </li>
                <li>
                    <span class="list_left">调仓备注</span>
                    <span class="list_right">
                        <el-input
                                type="textarea"
                                :rows="3"
                                placeholder="请输入调仓备注">
                        </el-input>
                </span>
                </li>
            </ul>
            <span slot="footer" class="dialog-footer">
            <el-button @click="close2">取 消</el-button>
            <el-button type="primary" @click="into()">确 定</el-button>
          </span>
        </el-dialog>
        <!--商品入库-->
        <el-dialog title="商品入库"
                   :visible.sync="in_ware"
                   width="460px"
                   center
                   :before-close="close">
            <ul class="goods_edit">
                <li>
                    <span class="list_left">品项</span>
                    <span class="list_right">
                        {{now.type==1?'产品':now.type==2?'套盒':'耗材'}}
                    </span>
                </li>
                <li>
                    <span class="list_left">商品名称</span>
                    <span class="list_right">
                    {{now.name}}
                </span>
                </li>
                <li>
                    <span class="list_left">现有库存</span>
                    <span class="list_right">
                        {{now.stock}}
                    </span>
                </li>
                <li>
                    <span class="list_left">入库数量</span>
                    <span class="list_right">
                        <el-input type="number" placeholder="请输入入库数量" v-model="data.sum"></el-input>
                    </span>
                </li>
                <li>
                    <span class="list_left">进价</span>
                    <span class="list_right">
                    <el-input type="number" placeholder="请输入商品进价" v-model="data.price"></el-input>
                </span>
                </li>
                <li>
                    <span class="list_left">总成本</span>
                    <span class="list_right">
                    {{data.price * data.sum}}
                </span>
                </li>
                <li>
                    <span class="list_left">入库人</span>
                    <span class="list_right">
                    <el-input placeholder="请填写入库操作人" v-model="data.human"></el-input>
                </span>
                </li>
            </ul>
            <span slot="footer" class="dialog-footer">
            <el-button @click="close">取 消</el-button>
            <el-button type="primary" @click="into()">确 定</el-button>
          </span>
        </el-dialog>
        <!--商品出库-->
        <el-dialog title="商品出库"
                   :visible.sync="out_ware"
                   width="460px"
                   center
                   :before-close="close">
            <ul class="goods_edit">
                <li>
                    <span class="list_left">品项</span>
                    <span class="list_right">
                        {{now.type==1?'产品':now.type==2?'套盒':'耗材'}}
                    </span>
                </li>
                <li>
                    <span class="list_left">商品名称</span>
                    <span class="list_right">
                    {{now.name}}
                </span>
                </li>
                <li>
                    <span class="list_left">现有库存</span>
                    <span class="list_right">
                        {{now.stock}}
                    </span>
                </li>
                <li>
                    <span class="list_left">出库数量</span>
                    <span class="list_right">
                        <el-input v-model="data.sum" placeholder="请输入入库数量"></el-input>
                    </span>
                </li>
                <li>
                    <span class="list_left">出库人</span>
                    <span class="list_right">
                    <el-input placeholder="请填写出库操作人" v-model="data.human"></el-input>
                </span>
                </li>
            </ul>
            <span slot="footer" class="dialog-footer">
            <el-button @click="close">取 消</el-button>
            <el-button type="primary" @click="into('out')">确 定</el-button>
          </span>
        </el-dialog>
        <!--扫码录入-->
        <el-dialog title="扫码录入"
                   :visible.sync="scan_Dio"
                   width="260px"
                   center>
            <ul class="linr_four">
                <li class="cursor" @click="go_scan(1)">
                    <el-radio v-model="scan_type" label="1">产品</el-radio>
                </li>
                <li class="cursor" @click="go_scan(2)">
                    <el-radio v-model="scan_type" label="2">套盒</el-radio>
                </li>
                <li class="cursor" @click="go_scan(3)">
                    <el-radio v-model="scan_type" label="3">项目耗材</el-radio>
                </li>
                <li class="cursor" @click="go_scan(4)">
                    <el-radio v-model="scan_type" label="4">内衣</el-radio>
                </li>
            </ul>
        </el-dialog>
    </template>
</div>

</body>
</html>
<script src="../js/jquery.min.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/func.js"></script>
<script src="../js/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            scan_type:'1',
            scan_Dio: false,
            checkList: '',
            y_k_dio: false,
            d_cang_dio: false,
            dialogVisible: false,
            in_ware: false,
            out_ware: false,
            input: '',
            radio: '1',
            table_data: [{
                px: '产品',
                name: '补水面膜',
                stock: '15',
                pre: '0'
            }, {
                px: '套盒',
                name: '肩颈套',
                stock: '0',
                pre: '3'
            }],
            out_data: [{
                out_time: '2018-02-15',
                name: '肩颈套',
                handle: '手动出库',
                num: '3',
                do_per: '丽丽'
            }, {
                out_time: '2018-02-15',
                name: '肩颈套',
                handle: '手动出库',
                num: '3',
                do_per: '丽丽'
            }],
            options: [{
                value: '2',
                label: '男'
            }, {
                value: '1',
                label: '女'
            }],
            calss: [{
                value: 2,
                label: '农历'
            }, {
                value: 1,
                label: '阳历'
            }],
            status: [{
                value: 1,
                label: '已婚'
            }, {
                value: 2,
                label: '未婚'
            }],
            value: '',
            birth: '',

            id: 0,
            list: [],
            warning: {},
            data: {
                sum: '',
                price: '',
                human: '',
            },
            now: {},
            myIn: [],
            myOut: [],
            input2: '',
            input3: '',
            input4: '',
            value2: '',
            one:0,
            two: '',
            goods: [],
            hc: [],
            th: [],
            nowPos: '产品',
            logs: [],
            list2: [],
            nowData: '',
            total_stock: '',
            un: [],
        },
        watch: {
            value(v) {
                this.getRecord(v == null ? '' : v);
            },
            value2(v) {
                this.getRecord(v == null ? '' : v);
            },
            one(v) {
                this.radio = '1'
                this.two = ''
            },
            two(v) {
                this.radio = '2'
                this.one = ''
            },
            nowPos(v) {
                this.input3 = ''
            }
        },
        methods: {
            con(m){
                console.log(m);
                if(m==''){
                    console.log(1);
                    this.one=0
                    this.two='';
                }
            },
            go_scan(t){
                localStorage.setItem('px', t);
                location.href = './scan_code.html';
            },
            yjSet() {
                if (this.warning.start_num == '' || this.warning.end_num == '') {
                    return error('请填写整数数量')
                }
                /*if (parseInt(this.warning.start_num) > parseInt(this.warning.end_num)) {
                    return error('开始数量应该小于结束数量')
                }*/
                $.post(url(methods.goodsManager), {
                    ware: this.id, end_num: this.warning.end_num, start_num: this.warning.start_num,
                }, v => {
                    if (v['code'] == 1) {
                        success(v['Msg'])
                        this.getData()
                    } else {
                        error(v['error'])
                    }
                })
            },
            pull() {
                if (this.list.length > 0) {
                    return error('无需同步')
                }
                $.post(url(methods.warePull), {ware: this.id}, v => {
                    if (v['code'] == 1) {
                        success(v['Msg'])
                        this.getData()
                    }
                })
            },
            getRecord(day = '') {
                $.post(url(methods.getRecordDetail), {day: day, ware: this.id}, v => {
                    this.myIn = []
                    this.myOut = []
                    if(v.code==-1){
                        error(v.error)
                    }
                    if(v.res.length!=0){
                        for (let x of v.res) {
                            if (x['status'] == 1) {
                                this.myIn.push(x)
                            } else {
                                this.myOut.push(x)
                            }
                        }
                    }
                })
            },
            close() {
                this.in_ware = false
                this.out_ware = false
                this.now = {}
                this.data = {
                    sum: '',
                    price: '',
                    human: '',
                }
            },
            close2() {
                this.d_cang_dio = false
            },
            into(type = 'into') {
                if (type == 'into') {
                    if (this.data.sum == '' || this.data.human == '') {
                        return error('请填完以上内容')
                    }
                } else {
                    if (this.data.sum == '' || this.data.human == '') {
                        return error('请填完以上内容')
                    }
                }

                this.data.goods_type = this.now.type;
                $.post(url(methods.stockOperation), {
                    id: this.now.id, type: type, ware: this.id, data: type == 'into' ? this.data : {
                        sum: this.data.sum,
                        human: this.data.human,
                        goods_type: this.data.goods_type,
                    }
                }, v => {
                    if (v['code'] == 1) {
                        success(v['Msg'])
                        this.close()
                        this.getData()
                    } else {
                        error('失败')
                    }
                })
            },
            formatter(r, c) {
                if (r.type == 1) {
                    return '产品'
                }
                if (r.type == 2) {
                    return '套盒'
                }
                if (r.type == 3) {
                    return '耗材'
                }
                if (r.type == 4) {
                    return '内衣'
                }
            },
            getData() {
                $.post(url(methods.wareIntoOutDetail), {ware: this.id}, v => {
                    this.warning = v['res']['warning']
                    this.list = v['res']['res']
                })
            },
            myClick(v, v2) {
                this.myIn = []
                this.myOut = []
                if (v.index == 0) {
                    this.getData()
                } else if (v.index == 1) {
                    this.getRecord()
                } else if (v.index == 2) {
                    this.getRecord()
                } else if (v.index == 3) {
                    //this.getDc()
                    this.getCp()
                    this.getHc()
                    this.getTh()
                    this.getUn()
                } else if (v.index == 4) {
                    this.getCp()
                    this.getHc()
                    this.getTh()
                    this.getUn()
                }
                this.input2 = ''
                this.value = ''
            },
            sub() {
                let arr = []
                for (let v of this.goods) {
                    if (v.pdNum != '' && v.nowNum != '') {
                        arr.push({type: v.type, name: v.goods_name, actual_num: v.nowNum, num: v.pdNum, goods_id: v.id})
                    }
                }
                for (let v of this.th) {
                    if (v.pdNum != '' && v.nowNum != '') {
                        arr.push({type: v.type, name: v.box_name, actual_num: v.nowNum, num: v.pdNum, goods_id: v.id})
                    }
                }
                for (let v of this.hc) {
                    if (v.pdNum != '' && v.nowNum != '') {
                        arr.push({type: v.type, name: v.name, actual_num: v.nowNum, num: v.pdNum, goods_id: v.id})
                    }
                }
                for (let v of this.un) {
                    if (v.pdNum != '' && v.nowNum != '') {
                        arr.push({type: v.type, name: v.name, actual_num: v.nowNum, num: v.pdNum, goods_id: v.id})
                    }
                }
                if (arr.length == 0) {
                    return error('没有填写数据')
                }
                $.post(url(methods.pd), {data: JSON.stringify(arr)}, v => {
                    if (v.code == 0) {
                        success('盘点成功')
                        //location.reload()
                        if (this.nowPos == '产品') {
                            this.getCp()
                        } else if (this.nowPos == '套盒') {
                            this.getTh()
                        } else if (this.nowPos == '耗材') {
                            this.getHc()
                        }else if (this.nowPos == '内衣') {
                            this.getUn()
                        }
                    } else {
                        error(v['msg'])
                    }
                })
            },
            getCp() {
                $.post(url(methods.getCp), v => {
                    for (let x of v.data) {
                        x.pdNum = ''
                        x.nowNum = ''
                        x.type = 1
                    }
                    this.goods = v.data
                })
            },
            getTh() {
                $.post(url(methods.getTh), v => {
                    for (let x of v.data) {
                        x.pdNum = ''
                        x.nowNum = ''
                        x.type = 2
                    }
                    this.th = v.data
                })
            },
            getHc() {
                $.post(url(methods.getHc), v => {
                    for (let x of v.data) {
                        x.pdNum = ''
                        x.nowNum = ''
                        x.type = 3
                    }
                    this.hc = v.data
                })
            },
            getUn() {
                $.post(url(methods.getUn), v => {
                    let all_totck=0
                    for (let x of v.data) {
                        x.pdNum = '';
                        x.nowNum = '';
                        x.type = 4;
                        all_totck+=parseInt(x.sum)
                    }
                    this.total_stock=all_totck
                    this.un = v.data;
                })
            },
            getDetail() {
                this.y_k_dio = true
                $.post(url(methods.pdLogs), v => {
                    this.logs = v.data
                    /*for (let x of v.data){
                        if(x.type==1){
                            this.goods.push(x)
                        }else if(x.type==2){
                            this.th.push(x)
                        }else if(x.type==3){
                            this.hc.push(x)
                        }
                    }*/
                })
            },
            getDc() {
                $.get(url(methods.getTransferGoods), v => {
                    this.list2 = v.res
                })
            }
        },
        mounted() {
            this.$nextTick(e => {
                //初始化
                that = this;
                loginState()
                this.id = localStorage.getItem('wareId')
                this.getData()
            })
        }
    })
</script>