<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>仓库管理</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/vip_information.css">
    <style>
        .ware_list > li {
            display: flex;
        }

        .store_img {
            height: 20px;
            vertical-align: text-bottom;
            margin-right: 10px;
        }

        .click_a {
            display: inline-block;
            flex: 1;
        }

        .gr_b_d {
            border-radius: 15px;
            display: inline-block;
            padding: 3px 8px;
            line-height: 1;
            color: #fff;
            margin-right: 10px;
            background: #13ce66;
        }

        .ware_mar {
            margin-right: 20px;
        }
    </style>
</head>
<body>

<div id="app" class="customer">
    <template>
        <p class="cus_title">
            <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item><a href="home.html" target="iframe">工作台首页</a></el-breadcrumb-item>
                <el-breadcrumb-item>仓库管理</el-breadcrumb-item>
            </el-breadcrumb>
        </p>
        <div class="cus_center over_hidden">
            <!--<el-button type="success" class="fr" @click="add_ware=true"
                       style="margin-bottom: 5px;">新建仓库
            </el-button>-->
            <!--<el-button type="success" class="fr" @click="ware_merge=true"
                       style="margin-bottom: 5px;margin-right: 20px">仓库合并
            </el-button>-->
        </div>
        <ul class="ul_list ware_list">
            <li v-for="v in list" class="cursor">
                <a @click="jump(v.id)" class="c_black click_a">
                    <img src="../images/storemanage.png" alt="" class="store_img">
                    {{v.name}}（{{v.ware_status==1?'总仓':'分仓'}}）
                </a>
                <el-button class="fr" @click="now=v;edit=true;">编辑</el-button>
                <el-button type="danger" class="fr" @click="del(v)" style="margin-right: 20px">删除</el-button>
            </li>
        </ul>
        <!--仓库合并-->
        <el-dialog
                title="仓库合并"
                :visible.sync="ware_merge"
                width="400px"
                center
                :before-close="close">
            <div class="other_back linr_four">
                请选择要合并的仓库
            </div>
            <p class="linr_four">
                <el-checkbox-group v-model="checkList">
                    <el-checkbox v-for="v in list" :label="v.name"></el-checkbox>
                </el-checkbox-group>
            </p>
            <ul class="ul_list" style="border-top: 10px solid #f6f6f6;border-bottom:1px solid #ddd">
                <li>
                    <span class="list_left">
                新名称
            </span>
                    <span class="list_right">
                <div class="am-form-group">
                    <input type="text" placeholder="请输入合并后的仓库名称" v-model="name">
                </div>
            </span>
                </li>
            </ul>
            <span slot="footer" class="dialog-footer">
            <el-button @click="close">取 消</el-button>
            <el-button type="primary" @click="hb">确 定</el-button>
          </span>
        </el-dialog>
        <!--新建仓库-->
        <el-dialog
                title="新建仓库"
                :visible.sync="add_ware"
                width="400px"
                center
                :before-close="close">
            <div class="other_back linr_four">
                现有仓库
            </div>
            <p class="linr_four">
                <span class="ware_mar" v-for="v in list">
                    <i class="gr_b_d linr_four">{{v.ware_status==1?'总仓':'分仓'}}</i>{{v.name}}
                </span>
            </p>
            <ul class="ul_list" style="border-top: 10px solid #f6f6f6;border-bottom:1px solid #ddd">
                <li>
                    <span class="list_left">
                仓库名称
            </span>
                    <span class="list_right">
                <div class="am-form-group">
                            <input type="text" placeholder="请输入仓库名称" v-model="name">
                </div>
            </span>
                </li>
            </ul>
            <span slot="footer" class="dialog-footer">
            <el-button @click="close">取 消</el-button>
            <el-button type="primary" @click="add">确 定</el-button>
          </span>
        </el-dialog>
        <!--编辑仓库-->
        <el-dialog
                title="编辑仓库"
                :visible.sync="edit"
                width="400px"
                center
                :before-close="close">
            <ul class="ul_list" style="border-bottom:1px solid #ddd">
                <li>
                    <span class="list_left" style="vertical-align: bottom">仓库名称</span>
                    <span class="list_right">
                        {{now.name}}
                    </span>
                <li>
                    <span class="list_left">
                新名称
            </span>
                    <span class="list_right">
                <div class="am-form-group">
                            <input type="text" placeholder="请输入新的仓库名称" v-model="name">
                </div>
            </span>
                </li>
            </ul>
            <span slot="footer" class="dialog-footer">
            <el-button @click="close">取 消</el-button>
            <el-button type="primary" @click="editName">确 定</el-button>
          </span>
        </el-dialog>
    </template>
</div>
</template>
</body>
</html>
<script src="../js/jquery.min.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/func.js"></script>
<script src="../js/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            checkList: [],
            input: '',
            radio: '',
            add_ware: false,
            ware_merge: false,
            edit: false,
            options: [{
                value: '选项1',
                label: '美约会'
            }, {
                value: '选项2',
                label: '美约会二仓'
            },],
            value: '',

            list: [],
            now: {},
            name: '',
        },
        methods: {
            del(v){
                this.$confirm('是否删除?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    $.post(url(methods.wareSet), {id: v.id, type: 'del'}, v=>{
                        if(v['code'] == 1){
                            this.close()
                            success(v['Msg'])
                            this.getData()
                        }else{
                            error(v['error'])
                        }
                    })
                }).catch(e=>{

                })
            },
            jump(id){
                localStorage.setItem('wareId', id.toString())
                location.href = './ware_detail.html'
            },
            hb() {
                if (this.name.length == 0) {
                    return error('请输入仓库名称')
                }

            },
            add(){
                if (this.name.length == 0) {
                    return error('请输入仓库名称')
                }
                let s = 1
                this.$confirm('是否设置为主仓?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    $.post(url(methods.wareSet), {
                        name: this.name, type: "add", status: 1
                    }, v => {
                        if(v['code'] == 1){
                            this.close()
                            success(v['Msg'])
                            this.getData()
                        }else{
                            error(v['error'])
                        }
                    })
                }).catch(()=>{
                    $.post(url(methods.wareSet), {
                        name: this.name, type: "add", status: 2
                    }, v => {
                        if(v['code'] == 1){
                            this.close()
                            success(v['Msg'])
                            this.getData()
                        }else{
                            error(v['error'])
                        }
                    })
                })
            },
            editName() {
                if (this.name.length == 0) {
                    return error('请输入仓库名称')
                }
                $.post(url(methods.wareSet), {
                    id: this.now.id,
                    name: this.name, type: "modify"
                }, v => {
                    if(v['code'] == 1){
                        this.close()
                        success(v['Msg'])
                        this.getData()
                    }else{
                        error(v['error'])
                    }
                })
            },
            getData() {
                $.get(url(methods.wareList), v => {
                    this.list = v['res']
                })
            },
            close() {
                this.edit = false
                this.add_ware = false
                this.ware_merge = false
                this.name = ''
            }
        },
        mounted() {
            this.$nextTick(e => {
                //初始化
                that = this;
                loginState()
                this.getData()
            })
        }
    })
</script>