<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>仓库详情</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/vip_information.css">
    <link rel="stylesheet" type="text/css" href="../css/add_archives.css">
    <style>
        .line_input {
            width: 50px;
        }

        .line_input input {
            border: none;
            border-bottom: 1px solid #dcdfe6;
            border-radius: 0;
            background: transparent;
        }

        .li_input {
            width: 60px;
            margin: 0 10px;
        }

        .store_tabs {
            width: 70%;
            margin: 5px auto;
            display: block;
        }

        .store_tabs label {
            display: inline-block;
            width: 25%;
        }

        .store_tabs label span {
            display: inline-block;
            width: 100%;
        }
    </style>
</head>
<body class="information">

<div id="app" class="customer">
    <template>
        <p class="cus_title">
            <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item><a href="home.html" target="iframe">工作台首页</a></el-breadcrumb-item>
                <el-breadcrumb-item>仓库管理</el-breadcrumb-item>
            </el-breadcrumb>
        </p>
        <el-tabs type="card" @tab-click="myClick" class="vip_infor">
            <el-tab-pane label="出入库管理/其他设置">
                <div style="overflow: hidden">
                    <div style="overflow: hidden;margin-bottom: 10px">
                        <span class="fl" style="line-height: 40px;color:red;font-weight: bold">预警设置：</span>
                        <div class="fl" style="margin-right: 40px">
                            库存小于(x)预警：
                            <el-input v-model="warning.start_num" type="number" placeholder=""
                                      class="li_input"></el-input>
                            <i class="blue_c" @click="yjSet">修改</i>
                            <!--<el-button type="warning" class="fr" @click="scan_Dio=true">批量扫码入库</el-button>-->
                        </div>
                        <div class="fl" style="margin-right: 20px">
                            库存大于(x)预警：
                            <el-input v-model="warning.end_num" type="number" placeholder=""
                                      class="li_input"></el-input>
                            <i class="blue_c" @click="yjSet">修改</i>
                        </div>
                        <el-button type="success" class="fr" @click="pull" style="margin-left: 15px">同步商品</el-button>
                    </div>
                    <p>
                        <el-input class="cus_seatch"
                                  placeholder="请输入商品名称搜索"
                                  prefix-icon="el-icon-search"
                                  v-model="input" @keyup.native="get_search()">
                        </el-input>
                        <span>
                            按库存查找：
                            <!--                        <el-radio v-model="radio" label="1">-->
                            大于等于
                            <el-input style="width: 80px" v-model="one" type="number" placeholder=""
                                      class="line_input"></el-input>个或（≤库存≤）
                            <!--                        </el-radio>-->
                            <!--                        <el-radio v-model="radio" label="2">-->
                          小于等于
                            <el-input style="width: 80px" v-model="two" type="number" placeholder=""
                                      class="line_input"></el-input>个
                            <!--                      </el-radio>-->
                    </span>
                    </p>

                    <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span>
                        库存小于(x)预警：
                        <el-input v-model="warning.start_num" type="number" placeholder="" class="li_input"></el-input>
                        <i class="blue_c" @click="yjSet">修改</i>
                    </span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span>
                        库存大于(x)预警：
                        <el-input v-model="warning.end_num" type="number" placeholder="" class="li_input"></el-input>
                        <i class="blue_c" @click="yjSet">修改</i>
                    </span>-->
                </div>
                <!--:data="list.filter( data => (!input || data.name.toLowerCase().includes(input.toLowerCase()))
                && (one>0?data.stock>=one:true || two>0?data.stock<=two:true))"-->
                <!-- .filter( data => (!input ||(data.name==null?false:data.name.toLowerCase().includes(input.toLowerCase()))))-->
                <div class="basic_inf">
                    <el-table v-if="table_index==0" :max-height="max_data"
                              :data="list"
                              style="width: 100%">
                        <el-table-column
                                prop="type"
                                label="品项"
                                :formatter="formatter">
                        </el-table-column>
                        <el-table-column
                                prop="name"
                                label="名称">
                        </el-table-column>
                        <el-table-column
                                prop="stock"
                                label="实时库存">
                        </el-table-column>
                        <el-table-column
                                prop="beforehand_num"
                                label="已预售">
                        </el-table-column>
                        <el-table-column label="操作">
                            <template slot-scope="scope">
                                <el-button type="success" size="mini" @click="now=scope.row;in_ware=true">入库</el-button>
                                <el-button type="danger" size="mini" @click="now=scope.row;out_ware=true">出库</el-button>
                            </template>
                        </el-table-column>
                    </el-table>

                </div>
            </el-tab-pane>

            <el-tab-pane label="出库流水记录">
                <div class="cus_center">
                    <el-input class="cus_seatch" @keyup.native="get_search()"
                              placeholder="请输入商品名称/操作人"
                              v-model="input">
                        <i slot="prefix" class="el-input__icon el-icon-search"></i>
                    </el-input>
                    <el-date-picker class="cus_seatch"
                                    value-format="yyyy-MM-dd"
                                    v-model="value"
                                    type="date"
                                    placeholder="选择日期查询">
                    </el-date-picker>
                </div>
            <!--    myOut.filter(data => !input2 || data.name.toLowerCase().includes(input2.toLowerCase()) ||
                data.operation_human.toLowerCase().includes(input2.toLowerCase()))-->
                <div class="basic_inf">
                    <el-table v-if="table_index==1" :max-height="max_in_o"
                              :data="list"
                              style="width: 100%">
                        <el-table-column
                                prop="time"
                                label="出库时间">
                        </el-table-column>
                        <el-table-column
                                prop="name"
                                label="名称">
                        </el-table-column>
                        <!--<el-table-column
                                prop="handle"
                                label="手动出库">
                        </el-table-column>-->
                        <el-table-column
                                prop="sum"
                                label="出库数量">
                        </el-table-column>
                        <el-table-column
                                prop="operation_human"
                                label="操作人">
                        </el-table-column>
                    </el-table>
                </div>
            </el-tab-pane>

            <el-tab-pane label="入库流水记录">
                <div class="cus_center">
                    <el-input class="cus_seatch" @keyup.native="get_search()"
                              placeholder="请输入商品名称/操作人"
                              v-model="input">
                        <i slot="prefix" class="el-input__icon el-icon-search"></i>
                    </el-input>
                    <el-date-picker class="cus_seatch"
                                    value-format="yyyy-MM-dd"
                                    v-model="value2"
                                    type="date"
                                    placeholder="选择日期">
                    </el-date-picker>
                </div>
                <!--myIn.filter(data => !input2 || data.name.toLowerCase().includes(input2.toLowerCase()) ||
                data.operation_human.toLowerCase().includes(input2.toLowerCase()))-->
                <div class="basic_inf">
                    <el-table :max-height="max_in_o" v-if="table_index==2"
                              :data="list"
                              style="width: 100%">
                        <el-table-column
                                prop="time"
                                label="入库时间">
                        </el-table-column>
                        <el-table-column
                                prop="name"
                                label="名称">
                        </el-table-column>
                        <el-table-column
                                prop="sum"
                                label="入库数量">
                        </el-table-column>
                        <el-table-column
                                prop="operation_human"
                                label="操作人">
                        </el-table-column>
                    </el-table>
                </div>
            </el-tab-pane>
            <el-tab-pane label="库存盘点">
                <div class="cus_center">
                    <el-radio-group v-model="nowPos" class="store_tabs">
                        <el-radio-button label="产品"></el-radio-button>
                        <el-radio-button label="套盒"></el-radio-button>
                        <el-radio-button label="耗材"></el-radio-button>
                        <el-radio-button label="内衣"></el-radio-button>
                    </el-radio-group>
                    <el-input @keyup.native="get_search()" v-if="nowPos!='内衣'" class="cus_seatch"
                              placeholder="请输入商品名称"
                              v-model="input">
                        <i slot="prefix" class="el-input__icon el-icon-search"></i>
                    </el-input>
                    <el-input @keyup.native="get_search()" v-if="nowPos=='内衣'" class="cus_seatch" style="width: 350px"
                              placeholder="请输入内衣名称或内衣罩杯或尺码或编号搜索"
                              v-model="input">
                        <i slot="prefix" class="el-input__icon el-icon-search"></i>
                    </el-input>
                    <span v-show="nowPos=='内衣'">
                        总库存：{{total_stock}}
                    </span>
                    <el-button type="success" class="fr" @click="getDetail">盈亏数</el-button>
                    <el-button type="primary" class="fr" style="margin-right: 10px" @click="sub">保存</el-button>
                </div>
<!--                goods.filter(data => !input3 || data.goods_name.toLowerCase().includes(input3.toLowerCase()) )-->
                <div class="basic_inf" v-if="table_index==3">
                    <el-table v-show="nowPos=='产品'" :max-height="max_arr"
                              :data="list"
                              style="width: 100%">

                        <el-table-column
                                prop="goods_name"
                                label="名称">
                        </el-table-column>
                        <el-table-column
                                prop="inventory_time"
                                label="日期">
                        </el-table-column>
                        <el-table-column
                                prop="stock"
                                label="库存数量">
                        </el-table-column>
                        <el-table-column
                                label="盘点数">
                            <template slot-scope="scope">
                                <el-input
                                        placeholder="请输入现有数量"
                                        v-model="scope.row.nowNum"
                                        clearable>
                                </el-input>
                            </template>
                        </el-table-column>
                        <el-table-column
                                label="盈亏数">
                            <template slot-scope="scope">
                                <el-input
                                        placeholder="请输入盈亏数"
                                        v-model="scope.row.pdNum"
                                        clearable>
                                </el-input>
                            </template>
                        </el-table-column>
                    </el-table>
<!--                    th.filter(data => !input3 || data.box_name.toLowerCase().includes(input3.toLowerCase()) )-->
                    <el-table v-show="nowPos=='套盒'" :max-height="max_arr"
                              :data="list"
                              style="width: 100%">

                        <el-table-column
                                prop="box_name"
                                label="名称">
                        </el-table-column>
                        <el-table-column
                                prop="inventory_time"
                                label="日期">
                        </el-table-column>
                        <el-table-column
                                prop="stock"
                                label="库存数量">
                        </el-table-column>
                        <el-table-column
                                label="盘点数">
                            <template slot-scope="scope">
                                <el-input
                                        placeholder="请输入现有数量"
                                        v-model="scope.row.nowNum"
                                        clearable>
                                </el-input>
                            </template>
                        </el-table-column>
                        <el-table-column
                                label="盈亏数">
                            <template slot-scope="scope">
                                <el-input
                                        placeholder="请输入盈亏数"
                                        v-model="scope.row.pdNum"
                                        clearable>
                                </el-input>
                            </template>
                        </el-table-column>
                    </el-table>
<!--                    hc.filter(data => !input3 || data.name.toLowerCase().includes(input3.toLowerCase()) )-->
                    <el-table v-show="nowPos=='耗材'" :max-height="max_arr"
                              :data="list"
                              style="width: 100%">
                        <el-table-column
                                prop="name"
                                label="名称">
                        </el-table-column>
                        <el-table-column
                                prop="inventory_time"
                                label="日期">
                        </el-table-column>
                        <el-table-column
                                prop="stock"
                                label="库存数量">
                        </el-table-column>
                        <el-table-column
                                label="盘点数">
                            <template slot-scope="scope">
                                <el-input
                                        placeholder="请输入现有数量"
                                        v-model="scope.row.nowNum"
                                        clearable>
                                </el-input>
                            </template>
                        </el-table-column>
                        <el-table-column
                                label="盈亏数">
                            <template slot-scope="scope">
                                <el-input
                                        placeholder="请输入盈亏数"
                                        v-model="scope.row.pdNum"
                                        clearable>
                                </el-input>
                            </template>
                        </el-table-column>
                    </el-table>
                    <!--un.filter(data => (!input3 ||(data.name==null?false:data.name.toLowerCase().includes(input3.toLowerCase()))||(data.size==null?false:(data.size.toLowerCase()==input3.toLowerCase()?true:false))||(data.sn==null?false:data.sn.toLowerCase().includes(input3.toLowerCase()))||(data.cup==null?false:(data.cup.toLowerCase()==input3.toLowerCase()?true:false))))-->
                    <el-table v-show="nowPos=='内衣'" :max-height="max_arr"
                              :data="list"
                              style="width: 100%">

                        <el-table-column
                                prop="name"
                                label="名称">
                        </el-table-column>
                        <el-table-column
                                prop="sn"
                                label="编号">
                        </el-table-column>
                        <el-table-column
                                prop="color"
                                label="颜色">
                        </el-table-column>
                        <el-table-column
                                prop="cup"
                                label="杯型">
                        </el-table-column>
                        <el-table-column
                                prop="size"
                                label="大小">
                        </el-table-column>
                        <el-table-column
                                prop="time"
                                label="日期">
                        </el-table-column>
                        <el-table-column
                                prop="sum"
                                label="库存数量">
                        </el-table-column>
                        <el-table-column
                                label="盘点数">
                            <template slot-scope="scope">
                                <el-input
                                        placeholder="请输入现有数量"
                                        v-model="scope.row.nowNum"
                                        clearable>
                                </el-input>
                            </template>
                        </el-table-column>
                        <el-table-column
                                label="盈亏数">
                            <template slot-scope="scope">
                                <el-input
                                        placeholder="请输入盈亏数"
                                        v-model="scope.row.pdNum"
                                        clearable>
                                </el-input>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
            </el-tab-pane>
            <el-tab-pane label="商品调仓" v-if="false">
                <div class="cus_center">
                    <el-input class="cus_seatch"
                              placeholder="请输入商品名称"
                              v-model="input4">
                        <i slot="prefix" class="el-input__icon el-icon-search"></i>
                    </el-input>
                </div>
                <div class="basic_inf">
                    <el-table v-if="table_index==0"
                              :data="list2.filter(data => !input4 || data.name.toLowerCase().includes(input4.toLowerCase()) )"
                              style="width: 100%">
                        <el-table-column
                                prop="name"
                                label="名称">
                        </el-table-column>
                        <el-table-column
                                prop="stock"
                                label="剩余库存">
                        </el-table-column>
                        <el-table-column
                                label="操作">
                            <template slot-scope="scope">
                                <el-button
                                        size="mini" type="primary"
                                        @click="nowData=scope.row;d_cang_dio=true">调仓
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
            </el-tab-pane>

        </el-tabs>
        <div v-if="total>10" style="background: #fff;text-align: center;padding: 10px 0">
            <el-pagination background
                           @current-change="handleCurrentChange"
                           :current-page="currentPage"
                           :page-size="10"
                           layout="total, prev, pager, next, jumper"
                           :total="total" :pager-count="8"
                           @prev-click="prev_click" @next-click="next_click">
            </el-pagination>
        </div>
        <!--盈亏数-->
        <el-dialog title="盈亏数"
                   :visible.sync="y_k_dio"
                   width="460px"
                   center>
            <div class="cus_center">
                <el-input class="cus_seatch"
                          placeholder="请输入商品名称"
                          v-model="input2">
                    <i slot="prefix" class="el-input__icon el-icon-search"></i>
                </el-input>
            </div>
            <div class="basic_inf">
                <el-table
                        :data="logs.filter(data => !input2 || data.name.toLowerCase().includes(input2.toLowerCase()) )"
                        style="width: 100%">

                    <el-table-column
                            prop="name"
                            label="名称">
                    </el-table-column>
                    <el-table-column
                            prop="inventory_time"
                            label="日期">
                    </el-table-column>
                    <el-table-column
                            prop="num"
                            label="盈亏数量">
                    </el-table-column>
                </el-table>
            </div>
        </el-dialog>
        <!--商品调仓-->
        <el-dialog title="商品调仓"
                   :visible.sync="d_cang_dio"
                   width="460px"
                   center
                   :before-close="close2">
            <ul class="goods_edit">
                <li>
                    <span class="list_left">当前已选</span>
                    <span class="list_right">
                        {{nowData.name}}
                    </span>
                </li>
                <li>
                    <span class="list_left">当前库存</span>
                    <span class="list_right">
                    {{nowData.stock}}
                </span>
                </li>
                <li>
                    <span class="list_left">可选仓库</span>
                    <span class="list_right">
                        <el-select v-model="value" placeholder="请选择" style="width: 100%">
                        <el-option
                                v-for="item in options">
                        </el-option>
                        </el-select>
                    </span>
                </li>
                <li>
                    <span class="list_left">调拨至</span>
                    <span class="list_right">
                        <el-select v-model="value" placeholder="请选择" style="width: 100%">
                        <el-option
                                v-for="item in options">
                        </el-option>
                        </el-select>
                    </span>
                </li>
                <li>
                    <span class="list_left">调拨数量</span>
                    <span class="list_right">
                    <el-input type="number" placeholder="请输入调拨数量" v-model="input"></el-input>
                </span>
                </li>
                <li>
                    <span class="list_left">操作人</span>
                    <span class="list_right">
                    <el-input type="number" placeholder="请输入操作人" v-model="input"></el-input>
                </span>
                </li>
                <li>
                    <span class="list_left">调仓备注</span>
                    <span class="list_right">
                        <el-input
                                type="textarea"
                                :rows="3"
                                placeholder="请输入调仓备注">
                        </el-input>
                </span>
                </li>
            </ul>
            <span slot="footer" class="dialog-footer">
            <el-button @click="close2">取 消</el-button>
            <el-button type="primary" @click="into()">确 定</el-button>
          </span>
        </el-dialog>
        <!--商品入库-->
        <el-dialog title="商品入库"
                   :visible.sync="in_ware"
                   width="460px"
                   center
                   :before-close="close">
            <ul class="goods_edit">
                <li>
                    <span class="list_left">品项</span>
                    <span class="list_right">
                        {{now.type==1?'产品':now.type==2?'套盒':'耗材'}}
                    </span>
                </li>
                <li>
                    <span class="list_left">商品名称</span>
                    <span class="list_right">
                    {{now.name}}
                </span>
                </li>
                <li>
                    <span class="list_left">现有库存</span>
                    <span class="list_right">
                        {{now.stock}}
                    </span>
                </li>
                <li>
                    <span class="list_left">入库数量</span>
                    <span class="list_right">
                        <el-input type="number" placeholder="请输入入库数量" v-model="data.sum"></el-input>
                    </span>
                </li>
                <li>
                    <span class="list_left">进价</span>
                    <span class="list_right">
                    <el-input type="number" placeholder="请输入商品进价" v-model="data.price"></el-input>
                </span>
                </li>
                <li>
                    <span class="list_left">总成本</span>
                    <span class="list_right">
                    {{data.price * data.sum}}
                </span>
                </li>
                <li>
                    <span class="list_left">入库人</span>
                    <span class="list_right">
                    <el-input placeholder="请填写入库操作人" v-model="data.human"></el-input>
                </span>
                </li>
            </ul>
            <span slot="footer" class="dialog-footer">
            <el-button @click="close">取 消</el-button>
            <el-button type="primary" @click="into()">确 定</el-button>
          </span>
        </el-dialog>
        <!--商品出库-->
        <el-dialog title="商品出库"
                   :visible.sync="out_ware"
                   width="460px"
                   center
                   :before-close="close">
            <ul class="goods_edit">
                <li>
                    <span class="list_left">品项</span>
                    <span class="list_right">
                        {{now.type==1?'产品':now.type==2?'套盒':'耗材'}}
                    </span>
                </li>
                <li>
                    <span class="list_left">商品名称</span>
                    <span class="list_right">
                    {{now.name}}
                </span>
                </li>
                <li>
                    <span class="list_left">现有库存</span>
                    <span class="list_right">
                        {{now.stock}}
                    </span>
                </li>
                <li>
                    <span class="list_left">出库数量</span>
                    <span class="list_right">
                        <el-input v-model="data.sum" placeholder="请输入入库数量"></el-input>
                    </span>
                </li>
                <li>
                    <span class="list_left">出库人</span>
                    <span class="list_right">
                    <el-input placeholder="请填写出库操作人" v-model="data.human"></el-input>
                </span>
                </li>
            </ul>
            <span slot="footer" class="dialog-footer">
            <el-button @click="close">取 消</el-button>
            <el-button type="primary" @click="into('out')">确 定</el-button>
          </span>
        </el-dialog>
        <!--扫码录入-->
        <el-dialog title="扫码录入"
                   :visible.sync="scan_Dio"
                   width="260px"
                   center>
            <ul class="linr_four">
                <li class="cursor" @click="go_scan(1)">
                    <el-radio v-model="scan_type" label="1">产品</el-radio>
                </li>
                <li class="cursor" @click="go_scan(2)">
                    <el-radio v-model="scan_type" label="2">套盒</el-radio>
                </li>
                <li class="cursor" @click="go_scan(3)">
                    <el-radio v-model="scan_type" label="3">项目耗材</el-radio>
                </li>
                <li class="cursor" @click="go_scan(4)">
                    <el-radio v-model="scan_type" label="4">内衣</el-radio>
                </li>
            </ul>
        </el-dialog>
    </template>
</div>

</body>
</html>
<script src="../js/jquery.min.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/func.js"></script>
<script src="../js/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            search_list: '',
            currentPage: 1,
            page: 1,
            page_count: '',
            total: 0,
            all_list: '',
            count: '',
            max_data: 0,
            max_in_o: 0,
            max_arr: 0,
            scan_type: '1',
            scan_Dio: false,
            checkList: '',
            y_k_dio: false,
            d_cang_dio: false,
            dialogVisible: false,
            in_ware: false,
            out_ware: false,
            input: '',
            radio: '1',
            options: [{
                value: '2',
                label: '男'
            }, {
                value: '1',
                label: '女'
            }],
            value: '',
            birth: '',
            id: 0,
            list: [],
            warning: {},
            data: {
                sum: '',
                price: '',
                human: '',
            },
            now: {},
            myIn: [],
            myOut: [],
            input2: '',
            input3: '',
            input4: '',
            value2: '',
            one: '',
            two: '',
            goods: [],
            hc: [],
            th: [],
            nowPos: '产品',
            logs: [],
            list2: [],
            nowData: '',
            total_stock: '',
            un: [],
            table_index: 0
        },
        watch: {
            value(v) {
                this.getRecord(v == null ? '' : v);
            },
            value2(v) {
                this.getRecord(v == null ? '' : v);
            },
            one(v) {
                console.log(parseFloat(this.one))
                if (this.two != '' && this.one != '' && parseFloat(this.two) < parseFloat(this.one)) {
                    this.one = ''
                    error('查询范围不对额')
                } else if (this.two != '' || this.one != '') {
                    this.get_search()
                }
            },
            two(v) {
                console.log(v)
                if (this.two != '' && this.one != '' && parseFloat(this.two) < parseFloat(this.one)) {
                    let that=this
                    setTimeout(function(){
                        if( parseFloat(that.two) < parseFloat(that.one)){
                            that.two = ''
                            that.$message({
                                message:'查询范围时最大值不能比最大值小额',
                                duration:1000,
                                type: 'warning'
                            });
                        }
                    }, 2000);
                } else if (this.two != '' || this.one != '') {
                    this.get_search()
                }
            },
            input(v) {
                if (v == '') {
                    this.all_list = this.search_list
                    this.pages_fun()
                } else {
                    this.get_search()
                }
            },
            nowPos(v) {
                this.page=1;
                this.input3 = '';
                if(v=='产品'){
                    this.getCp()
                }else if(v=='耗材'){
                    this.getHc()
                }else if(v=='套盒'){
                    this.getTh()
                }else if(v=='内衣'){
                    this.getUn()
                }
                this.total = this.all_list.length
                if (this.total <= 10) {
                    this.list = this.all_list
                } else {
                    this.list = [];
                    this.pages_fun()
                }
            }
        },
        methods: {
            pages_fun() {
                this.list = [];
                let m;
                if (this.total < this.page * 10) {
                    m = this.total
                } else {
                    m = this.page * 10
                }
                for (var i = (this.page - 1) * 10; i < m; i++) {
                    this.list.push(this.all_list[i])
                }
            },
            get_search() {
                this.page=1;
                this.list = [];
                this.all_list = [];
                console.log(this.table_index)
                if (this.table_index == 0) {
                    console.log(this.input)
                    console.log(this.one)
                    console.log(this.two)
                    if (this.input != '' && this.one == '' && this.two == '') {
                        console.log('名称')
                        for (let v of this.search_list) {
                            if (v.name != null && v.name.indexOf(this.input) != -1) {
                                this.all_list.push(v);
                            }
                        }
                    } else if (this.input == '' && this.two == '' && this.one != '') {
                        console.log('小')
                        this.all_list = [];
                        for (let v of this.search_list) {
                            if (v.stock != null  && parseFloat(v.stock) >= parseFloat(this.one)) {
                                this.all_list.push(v);
                            }
                        }
                    } else if (this.input == '' && this.one == '' && this.two != '') {
                        console.log('大')
                        this.all_list = [];
                        for (let v of this.search_list) {
                            if (v.stock != null &&  parseFloat(v.stock) <= parseFloat(this.two)) {
                                this.all_list.push(v);
                            }
                        }
                    } else if (this.input != '' && this.one != '' && this.two == '') {
                        console.log('名称 小')
                        this.all_list = [];
                        for (let v of this.search_list) {
                            if ((v.name != null && v.name.indexOf(this.input) != -1) && (v.stock != null  && parseFloat(v.stock) >= parseFloat(this.one))) {
                                this.all_list.push(v);
                            }
                        }
                    }else if (this.input != '' && this.one == '' && this.two != '') {
                        console.log('名称 大')
                        this.all_list = [];
                        for (let v of this.search_list) {
                            if ((v.name != null && v.name.indexOf(this.input) != -1) && (v.stock != null  && parseFloat(v.stock) <= parseFloat(this.two))) {
                                this.all_list.push(v);
                            }
                        }
                    }else if (this.input == '' && this.one != '' && this.two != '') {
                        console.log('小 大')
                        this.all_list = [];
                        for (let v of this.search_list) {
                            if (v.stock != null && parseFloat(v.stock) >= parseFloat(this.one)&&parseFloat(v.stock) <= parseFloat(this.two)) {
                                this.all_list.push(v);
                            }
                        }
                    } else if (this.input != '' && this.one != '' && this.two != '') {
                        this.all_list = [];
                        for (let v of this.search_list) {
                            if ((v.name != null && v.name.indexOf(this.input) != -1) && (v.stock != null  && parseFloat(v.stock) >= parseFloat(this.one)) && ( parseFloat(v.stock) <= parseFloat(this.two))) {
                                this.all_list.push(v);
                            }
                        }
                        console.log(this.all_list)
                    } else if (this.input == '' && this.one == '' && this.two == '') {
                        this.all_list = this.search_list
                    }
                }else if(this.table_index==1||this.table_index==2){
                    for(let v of this.search_list) {
                        if((v.name!=null&&v.name.indexOf(this.input) != -1)||(v.operation_human!=null&&v.operation_human.indexOf(this.input) != -1)){
                            this.all_list.push(v);
                        }
                    }
                }else if(this.table_index==3&&this.nowPos=='产品'){
                    for(let v of this.search_list) {
                        if((v.goods_name!=null&&v.goods_name.indexOf(this.input) != -1)){
                            this.all_list.push(v);
                        }
                    }
                }else if(this.table_index==3&&this.nowPos=='套盒'){
                    for(let v of this.search_list) {
                        if((v.box_name!=null&&v.box_name.indexOf(this.input) != -1)){
                            this.all_list.push(v);
                        }
                    }
                }else if(this.table_index==3&&this.nowPos=='耗材'){
                    for(let v of this.search_list) {
                        if((v.name!=null&&v.name.indexOf(this.input) != -1)){
                            this.all_list.push(v);
                        }
                    }
                }else if(this.table_index==3&&this.nowPos=='内衣'){
                    for(let v of this.search_list) {
                        if((v.name!=null&&v.name.indexOf(this.input) != -1)||(v.sn!=null&&v.sn.indexOf(this.input) != -1)||(v.size!=null&&v.size.toLowerCase()==this.input.toLowerCase())||(v.cup!=null&&v.cup.toLowerCase()==this.input.toLowerCase())){
                        this.all_list.push(v);
                        }
                    }
                }
                this.total = this.all_list.length;
                if (this.total > 11) {
                    this.pages_fun()
                } else {
                    this.list = this.all_list
                }
                /*if(this.input!=''){
                    this.list=[];
                    this.all_list=[];
                    this.page=1;
                    console.log(this.table_index)
                    if(this.table_index==0){
                        console.log(this.input)
                        console.log(this.one)
                        console.log(this.two)
                        for(let v of this.search_list) {
                            if((v.name!=null&&v.name.indexOf(this.input) != -1)||(v.stock!=null&&this.one!=''&&parseFloat(v.stock)>=this.one)||(v.stock!=null&&this.two!=''&&parseFloat(v.stock)<=this.two)){
                                this.all_list.push(v);
                            }
                        }
                    }else{
                        for(let v of this.search_list) {
                            if(v.name!=null&&v.name.indexOf(this.input) != -1){
                                this.all_list.push(v);
                            }
                        }
                    }
                    this.total=this.all_list.length;
                    if(this.total>11){
                        this.pages_fun()
                    }else{
                        this.list=this.all_list
                    }
                }else{
                    this.all_list=this.search_list
                    this.total =this.all_list.length;
                    this.pages_fun()
                }*/
            },
            handleCurrentChange(val) {
                this.page = val;
                this.pages_fun()
            },
            next_click(val) {
                if (val < this.page_count) {
                    this.page++;
                    this.pages_fun()
                }
            },
            prev_click(val) {
                if (val < 2) {
                    this.page--;
                    this.pages_fun()
                }
            },
            height() {
                var height = window.innerHeight;
                this.max_data = window.innerHeight - 275;
                this.max_in_o = window.innerHeight - 212;
                this.max_arr = window.innerHeight - 285;
            },
            go_scan(t) {
                localStorage.setItem('px', t);
                location.href = './scan_code.html';
            },
            yjSet() {
                if (this.warning.start_num == '' || this.warning.end_num == '') {
                    return error('请填写整数数量')
                }
                /*if (parseInt(this.warning.start_num) > parseInt(this.warning.end_num)) {
                    return error('开始数量应该小于结束数量')
                }*/
                $.post(url(methods.goodsManager), {
                    ware: this.id, end_num: this.warning.end_num, start_num: this.warning.start_num,
                }, v => {
                    if (v['code'] == 1) {
                        success(v['Msg'])
                        this.getData()
                    } else {
                        error(v['error'])
                    }
                })
            },
            pull() {
                if (this.list.length > 0) {
                    return error('无需同步')
                }
                $.post(url(methods.warePull), {ware: this.id}, v => {
                    if (v['code'] == 1) {
                        success(v['Msg'])
                        this.getData()
                    }
                })
            },
            getRecord(day = '') {
                this.page=1;
                $.post(url(methods.getRecordDetail), {day: day, ware: this.id}, v => {
                    this.myIn = []
                    this.myOut = []
                    if (v.code == -1) {
                        error(v.error)
                    }
                    if(v.res!=null){
                        if (v.res.length != 0) {
                            for (let x of v.res) {
                                if (x['status'] == 1) {
                                    this.myIn.push(x)
                                } else {
                                    this.myOut.push(x)
                                }
                            }
                        }
                    }
                    if (this.table_index == 1) {
                        //c出
                        this.search_list = this.myOut
                        this.all_list = this.myOut
                    } else if (this.table_index == 2) {
                        this.search_list = this.myIn
                        this.all_list = this.myIn
                    }
                    this.total = this.all_list.length
                    if (this.total <= 10) {
                        this.list = this.all_list
                    } else {
                        this.list = [];
                        this.pages_fun()
                    }
                })
                if(this.input!=''){
                    this.get_search()
                }
            },
            close() {
                this.in_ware = false
                this.out_ware = false
                this.now = {}
                this.data = {
                    sum: '',
                    price: '',
                    human: '',
                }
            },
            close2() {
                this.d_cang_dio = false
            },
            into(type = 'into') {
                if (type == 'into') {
                    if (this.data.sum == '' || this.data.human == '') {
                        return error('请填完以上内容')
                    }
                } else {
                    if (this.data.sum == '' || this.data.human == '') {
                        return error('请填完以上内容')
                    }
                }

                this.data.goods_type = this.now.type;
                $.post(url(methods.stockOperation), {
                    id: this.now.id, type: type, ware: this.id, data: type == 'into' ? this.data : {
                        sum: this.data.sum,
                        human: this.data.human,
                        goods_type: this.data.goods_type,
                    }
                }, v => {
                    if (v['code'] == 1) {
                        success(v['Msg'])
                        this.close()
                        this.getData()
                    } else {
                        error('失败')
                    }
                })
            },
            formatter(r, c) {
                if (r.type == 1) {
                    return '产品'
                }
                if (r.type == 2) {
                    return '套盒'
                }
                if (r.type == 3) {
                    return '耗材'
                }
                if (r.type == 4) {
                    return '内衣'
                }
            },
            getData() {
                this.page=1;
                $.post(url(methods.wareIntoOutDetail), {ware: this.id}, v => {
                    this.warning = v['res']['warning']
                    // this.list = v['res']['res']
                    this.search_list = v['res']['res']
                    this.all_list = v['res']['res']
                    this.total = this.all_list.length
                    if (this.total <= 10) {
                        this.list = this.all_list
                    } else {
                        this.list = [];
                        this.pages_fun()
                    }
                })
                if(this.input!=''){
                    this.get_search()
                }
            },
            myClick(v, v2) {
                this.input = ''
                this.value = ''
                this.page=1;
                this.table_index = v.index
                if (v.index == 0) {
                    this.getData()
                } else if (v.index == 1) {
                    //c出
                    this.getRecord()
                } else if (v.index == 2) {
                    this.getRecord()

                } else if (v.index == 3) {
                    this.getCp()
                }
            },
            sub() {
                let arr = []
                for (let v of this.goods) {
                    if (v.pdNum != '' && v.nowNum != '') {
                        arr.push({type: v.type, name: v.goods_name, actual_num: v.nowNum, num: v.pdNum, goods_id: v.id})
                    }
                }
                for (let v of this.th) {
                    if (v.pdNum != '' && v.nowNum != '') {
                        arr.push({type: v.type, name: v.box_name, actual_num: v.nowNum, num: v.pdNum, goods_id: v.id})
                    }
                }
                for (let v of this.hc) {
                    if (v.pdNum != '' && v.nowNum != '') {
                        arr.push({type: v.type, name: v.name, actual_num: v.nowNum, num: v.pdNum, goods_id: v.id})
                    }
                }
                for (let v of this.un) {
                    if (v.pdNum != '' && v.nowNum != '') {
                        arr.push({type: v.type, name: v.name, actual_num: v.nowNum, num: v.pdNum, goods_id: v.id})
                    }
                }
                if (arr.length == 0) {
                    return error('没有填写数据')
                }
                $.post(url(methods.pd), {data: JSON.stringify(arr)}, v => {
                    if (v.code == 0) {
                        success('盘点成功')
                        //location.reload()
                        if (this.nowPos == '产品') {
                            this.getCp()
                        } else if (this.nowPos == '套盒') {
                            this.getTh()
                        } else if (this.nowPos == '耗材') {
                            this.getHc()
                        } else if (this.nowPos == '内衣') {
                            this.getUn()
                        }
                    } else {
                        error(v['msg'])
                    }
                })
            },
            getCp() {
                this.page=1;
                $.post(url(methods.getCp), v => {
                    for (let x of v.data) {
                        x.pdNum = ''
                        x.nowNum = ''
                        x.type = 1
                    }
                    this.goods = v.data
                    this.search_list = this.goods
                    this.all_list = this.goods
                    this.total = this.all_list.length
                    if (this.total <= 10) {
                        this.list = this.all_list
                    } else {
                        this.list = [];
                        this.pages_fun()
                    }
                })
                if(this.input!=''){
                    this.get_search()
                }
            },
            getTh() {
                this.page=1;
                $.post(url(methods.getTh), v => {
                    for (let x of v.data) {
                        x.pdNum = ''
                        x.nowNum = ''
                        x.type = 2
                    }
                    this.th = v.data
                    this.search_list = this.th
                    this.all_list = this.th
                    this.total = this.all_list.length
                    if (this.total <= 10) {
                        this.list = this.all_list
                    } else {
                        this.list = [];
                        this.pages_fun()
                    }
                })
                if(this.input!=''){
                    this.get_search()
                }
            },
            getHc() {
                this.page=1;
                $.post(url(methods.getHc), v => {
                    for (let x of v.data) {
                        x.pdNum = ''
                        x.nowNum = ''
                        x.type = 3
                    }
                    this.hc = v.data
                    this.search_list = this.hc
                    this.all_list = this.hc
                    this.total = this.all_list.length
                    if (this.total <= 10) {
                        this.list = this.all_list
                    } else {
                        this.list = [];
                        this.pages_fun()
                    }
                })
                if(this.input!=''){
                    this.get_search()
                }
            },
            getUn() {
                this.page=1;
                $.post(url(methods.getUn), v => {
                    let all_totck = 0
                    for (let x of v.data) {
                        x.pdNum = '';
                        x.nowNum = '';
                        x.type = 4;
                        all_totck += parseInt(x.sum)
                    }
                    this.total_stock = all_totck
                    this.un = v.data;
                    this.search_list = this.un
                    this.all_list = this.un
                    this.total = this.all_list.length
                    if (this.total <= 10) {
                        this.list = this.all_list
                    } else {
                        this.list = [];
                        this.pages_fun()
                    }
                })
                if(this.input!=''){
                    this.get_search()
                }
            },
            getDetail() {
                this.y_k_dio = true
                $.post(url(methods.pdLogs), v => {
                    this.logs = v.data
                    /*for (let x of v.data){
                        if(x.type==1){
                            this.goods.push(x)
                        }else if(x.type==2){
                            this.th.push(x)
                        }else if(x.type==3){
                            this.hc.push(x)
                        }
                    }*/
                })
            },
            getDc() {
                $.get(url(methods.getTransferGoods), v => {
                    this.list2 = v.res
                })
            }
        },
        mounted() {
            this.$nextTick(e => {
                //初始化
                that = this;
                loginState()
                this.id = localStorage.getItem('wareId')
                this.getData()
                this.height()
            })
        }
    })
</script>